<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.about_vcc')%></h3>
  <div id="description">
		<p><%=t('help_index.part1')%></p>		      
		<p><%=t('help_index.part2')%></p>
		<p><%=t('help_index.part3', :url=>signup_path)%></p>
		<span><center><img src="images/video.gif" alt="videos online" ALIGN="middle"/></center></span>		
	</div>
</div>	              

