<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.about_vcc')%></h3>
  <div id="description">
		<p><%=t('help_index.part1')%></p>		      
		<p><%=t('help_index.part2',:url=>signup_path)%></p>
 		<span><center><img src="images/video.gif" alt="videos online" ALIGN="middle"/></center></span><br>
		<p><%=t('help_index.part3', :create=>new_space_path, :space=>space_path("belief-ii")+"/events/4th-belief-international-symposium-plenary", :web_global=>"http://www.global-project.eu",:url=>signup_path)%></p>
  </div>
</div>	              

