<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.logging')%></h3>
  <div id="description">
		<p><%=t('help_logging.part1', :url=>login_path)%></p>		      
		<p><%=t('help_logging.part2')%> </p>
		<span><center><img src="/images/help/login.png" alt="register"></center></span><br>
		<p><%=t('help_logging.part3')%></p>
	</div>
</div>             
