<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_event')%></h3>
  <div id="description">
		<p><%=t('help_createevent.part1')%></p>
		<p><img src="/images/help/events.png"></p>				      
		<p><%=t('help_createevent.part2',  :url_meeting=>"newmeeting", :url_vm=>"newvirtualmeeting",:url_vc=>"newvirtualcongress")%> </p>
	</div>
</div>             
