<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_meeting')%></h3>
  <div id="description">
		<p><%=t('help_createmeeting.part1')%></p>
                <p><span><center><img src="/images/help/create_meeting.png"></center></span></p>
		<p><%=t('help_createmeeting.part2')%></p>
		<p><span><center><img src="/images/help/meeting.png"></center></span></p>
                <p><%=t('help_createmeeting.part3')%></p>
                <p><img src="/images/help/meeting_created.png" height="488" width="610"></p>

	</div>
</div>             
