<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.create_VM')%></h3>
  <div id="description">
		<p><%=t('help_createVM.part1')%></p>
                <p><span><center><img src="/images/help/create_VM.png"></center></span></p>
		<p><%=t('help_createVM.part2')%></p>
		<p><span><center><img src="/images/help/VM.png"></center></span></p>
                <p><%=t('help_createVM.part3')%></p>
                <p><img src="/images/help/VM_created.png" height="488" width="610"></p>

	</div>
</div>             
