<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.search_event')%></h3>
  <div id="description">
		<p><%=t('help_search_event.part1')%></p>		      
		<span><center><img src="/images/help/<%= I18n.locale.to_s %>/advanced_search.png" alt="space"></center></span><br>
	</div>
</div>             
