@import "definitions";
@import "compass/css3";

body.mweb_events-participants.index {

  .page-tabs {
    text-align: right;

    label {
      display: inline;
      margin: 6px 5px 0 5px;
    }

    input {
      margin: 0 5px;
      width: 50%;
    }
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .event-invite a {
    margin-top: 10px;
    margin-bottom: 5px;
  }

}
