@import "compass/css3";
@import "partials/definitions";

#sidebar-inbox {
  .message-wrapper {
    clear: both;
    margin-bottom: 10px;
    margin-top: 5px;

    .sender-logo {
      @include user-logo-in-thread; // defined in _definitions
    }

    .message-text { margin-left: 45px; }
    .message-title { display: block; }
    .message-body { display: block; }
  }
}

#webconference-room {

  .in-progress-icon {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
  }

  .webconference-footer {
    clear: both;
    margin-top: 5px;
    padding: 5px;
    background: #f6f6f6;
    @include border-radius(5px);

    .action-buttons {
      float: right;
      margin: 4px;

      .button {
        float: left;

        text-align: center;
        margin-right: 5px;
      }

      .webconf-start-link, .webconf-join-mobile-link {
        min-width: 90px;
      }
    }

    .invite-url {
      float: left;
      margin-left: 5px;

      input[type=text] {
        width: 300px;
        padding: 5px;
        margin-left: 5px;
        background: $site-bg-color;
        color: #444;
      }

      .clippy {
        margin-top: 8px;
        margin-left: -20px;
        float: right;
      }
    }
  }

}

#user-spaces {

  .action-buttons {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    background: white;
  }

  .no-spaces { text-align: center; }

  .space-list {
    margin: 0;
    margin-top: 5px;

    li {
      text-align: left;
      position: relative;
      display: block;
      margin-right: 8px;
      margin-top: 10px;
      float: left;
      width: 170px;
    }

    .space-logo-wrapper {
      float: left;
      margin-top: 2px;
      height: 32px;
      padding: 2px;
      border: 1px solid #ddd;

      img {
        //@include border-radius(5px);
        &:hover { @include box-shadow(0px 0px 5px $header-bg-color); }
      }
    }

    .description-box {
      float: left;
      margin-left: 5px;
      width: 110px;
      overflow: hidden;

      .space-title {
        font-weight: bold;
        display: block;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .content-block-footer {
    margin-top: 15px;
    padding: 10px;
  }
}

#recent-activity {
  margin-top: 20px;
}

#recent-activity-options {
  background: $site-bg-color;
  float: right;
  font-size: $font-normal;
  font-weight: normal;
  padding-right: 10px;
  padding-left: 10px;
}

#recent-activity-content {

  .interval-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
