/* ricoColorPicker */

div.ricoColorPicker {
  position:absolute;
  background-color: white;
  z-index:9999;
  left:0px;
  top:0px;
}

div.ricoColorPicker td {
  width: 12px;
  height: 12px;
  font-size: 10px;
}
