<div id="contenedor_div">
<div id="my_account">
		<p><span class="login_account"></span>Login: <%= @user.login%></p>
 		<p> <span class="email_account"></span> Email: <%= @user.email%></p>
		<p> <span class="interests_account"></span> Your Interests (Tags): <%= @user.tag_list if @user.tag_list%></p>
		<p> <span class="notifications_account"></span> Email Notifications </p>
	</div>
<div id="editar">
	<%if current_user.superuser? || @user==current_user%>	
	<%= button_to 'Edit' , edit_user_path(@user), :method => :get%>
	<%end%>
</div>
</div>