<h1 class="title">Editing profile</h1>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user) , :html => { :multipart => true } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <%= submit_tag 'Update' %>
<% end %>
