<div id="edit_profile" class="blue_title"><h3>Edit your profile</h3></div>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user) , :html => { :multipart => true } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <%= submit_tag 'Update' %>
<% end %>
