<h1 class="title">New profile</h1>

<%= error_messages_for :profile %>

<% form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>
</div>

