
<div class="main_column">
	<% rounded(:class => "tips") do %>
<%= render :partial=>'hcard'%>
<%end%>

<% rounded(:class => "tips") do %>
<h1>Your Account</h1>
<%= render :partial=>'account'%>

<%end%>

</div>
<%= render :partial=>'/shared/sidebar_profile'%>


