
<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>
<%= render :partial=>'hcard'%>
<%end%>

<%if current_user.superuser? || @user==current_user%>
<% rounded(:class => "tips") do %>
<div class="contenido_main">
<h1 class="title">My Account</h1>
<%= render :partial=>'account'%>

<%end%>
</div>
<%end%>
</div>
</div>
<%= render :partial=>'/shared/sidebar_profile'%>


