/*Estilo general del fondo y enlaces*/

body{
	
	background-color:white;
	
}

a:link, a:visited, a:hover, p{
	font-family:  arial, verdana,helvetica, sans-serif;
}

/*Div contenedor*/

#contenedor{
	/*width: 100%;
	height: 100%;*/

}

/*Estilo del logotipo*/

#logo{
	
	position:absolute;
	width:160px;
	height:140px;
	margin-top:0px;
	margin-left:20px; 
	/*background-image: url(../images/foto.jpg);*/
}

/*Estilo del div de idioma*/

#idioma{ 
	position:absolute;
	width:120px;
	height:40px;
	margin-left: 89%; 
	margin-top:5px;

}

#idioma img{ 
	border:none;
	background-color:white;
	opacity: .60;
	filter: alpha(opacity=60); 
}

#idioma a:hover img{
	opacity: 1.0;
	filter: alpha(opacity=100); 
}

/*Menu principal (títulos)*/

#menu_pcipal{
	
	
}
li.long_r{
	background-image:url(../images/long_r.gif);
	width:190px;
	height:39px;
	background-repeat:no-repeat;
	background-position:center;
	padding-top:14px;
	
}
li.short_r{
	background-image:url(../images/small_r.gif);
	width:85px;
	height:39px;
	background-repeat:no-repeat;
	background-position:center;
	padding-top:14px;
	
}
#titulos{
	
	width:40%;
	height:8%;
	text-align:center;
	margin-left:170px;
	
}

/*Menu secundario (botones, bot_pcipal, bot_administrador */

#menu_secund{
	position: absolute;
	width:80%;
	height:50px;
	margin-top:20px;
	/*left: 50%;*/
	margin-left:157px;
	text-align:center;
		
  }
 
 #botones{
	visibility:visible;
	position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    margin-top: -25px;    
    width: 60%;
    margin-left: -49%;    
	
} 

#botones ul li, #titulos ul li{
 	display:block;
	float:left;
	
 }
 
#bot_administrador{
	visibility:visible;
	position:absolute;
	
}

#bot_user{
	visibility:visible;
	position:absolute;
	
}

a.secund, a.tit_pcipal{
	
	color: #636566;
	text-decoration:none;
	text-align:center;
	font-weight:600;
}

a:hover.secund, a.tit_pcipal:hover{
	color:#36332F;
}


li.short{
	
	width:80px;
	height:39px;
	background-image:url(../images/short.gif);
	background-position:center;
	background-repeat:no-repeat;
	padding-top:14px;
	
}

li.medium{
	
	width:120px;
	height:39px;
	background-image:url(../images/medium.gif);
	background-position:center;
	background-repeat:no-repeat;
	padding-top:14px;
	
}

li.long{
	
	width:190px;
	height:39px;
	background-image:url(../images/long.gif);
	background-repeat:no-repeat;
	background-position:center;
	padding-top:14px;
}



/* Estilo de la barra superior derecha:login/logout , username*/

#login2{
	position: absolute;
	width: 400px;
	height:20px;
	margin-left: 65%;
	margin-top:-55px;
	float:left;
	display:inline;   
}

#username{
	position:absolute;
	width:50%;

}
#username p{
	margin-top:0px;
	text-align:right;
	padding-right:5px;
	color:#611427;
	font-weight:bold;
	border-right:3px solid #611427;
}

#menu_login{
	position:absolute;
	width:50%;
	margin-left:50%;
	margin-top:0px;

}

#menu_login ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
}

#menu_login ul li{
	float:right;
	padding-left:5px;
	padding-top:0px;
	
}

#menu_login a:link, #menu_login a:visited{
	color:#7D7D7D;
	text-decoration:none;

}

#menu_login a:hover{
	color:#611427;
	text-decoration:none;

}

/* Estilo del contenedor donde se mostrarán las secciones: main, superior e inferior (para los bordes sombreados) y contenido (secciones en sí) */
 
/*
 #main{
 	position:absolute;
 	margin-top: 120px;
	width:96%;
	height:72%;
	left: 50%;
	margin-left: -48%;
	 
	 
	
 }
 
.superior div{
	position:absolute;
	background: url(../images/borde_si.gif) no-repeat top left;
	
	
	
}

.superior{
	position:absolute;
	background: url(../images/borde_sd.gif) no-repeat top right;
	
	
	
}
/*
.inferior div{
	
	background: url(../images/borde_ii.gif) no-repeat bottom left;
	
	
}

.inferior {
	position:relative;
	background: url(../images/borde_id.gif) no-repeat bottom right;
	margin-top:380px;
	border:solid;
	
}
*/
/*
.superior div, .superior, .inferior, .inferior div {
	width: 100%;
	height: 330px;
}

/*
.inferior, .inferior div {
	margin-top:-220px;
}
*/
/*
#contenido{
	position:absolute;
	width:92%;
	height:50%;
	/*left: 50%;*/
	/*margin-left: -46%;*/
	/*margin-top:-305px;*/
	
	
/*	
}
.roundedcornr_box_281613 {
   background: #c0c0c0;
}
.roundedcornr_top_281613 div {
   background: url(../images/roundedcornr_281613_tl.png) no-repeat top left;
}
.roundedcornr_top_281613 {
   background: url(../images/roundedcornr_281613_tr.png) no-repeat top right;
}
.roundedcornr_bottom_281613 div {
   background: url(../images/roundedcornr_281613_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_281613 {
   background: url(../images/roundedcornr_281613_br.png) no-repeat bottom right;
}

.roundedcornr_top_281613 div, .roundedcornr_top_281613, 
.roundedcornr_bottom_281613 div, .roundedcornr_bottom_281613 {
   width: 100%;
   height: 30px;
   font-size: 1px;
}
.roundedcornr_content_281613 { margin: 0 30px; }
*/

/*
#main{
 	position:absolute;
 	
	width:96%;
	/*height:72%;*/
	/*
	 min-height: 100%;
 
  border:solid;
  border-color:red;
	left: 50%;
	margin-left: -48%;*/
	
	 
	/*
	 
	}
	


#main-content{
	position:absolute;
	
	border:solid;
  border-color:green;
	
	margin-top:15px;
	min-height:500px;
	 height:auto !important; 
	 height:500px;
	

}*/


#main{
	
	padding:20px;
	margin-top: 120px;
	
	
	
}
/*
#main, #main .sb-inner { background:white; }
#main .sb-shadow { background:black; }
#main .sb-border { background:gray; }
*/
#main-content{
	
	/*left:50%;*/
	/*margin-left:-46%;*/
	width:92%;
	
	
	
	
}


#space-span, #space_id{
	
	margin-left:550px;
	
	
}
 
 #captcha{
 	
	margin-left:35%;
 }
 .tips a:link, .tips a:visited{
 	font-size: 9pt; 
	text-decoration: none;
	color:#7D7D7D;
	}
	
	.tips a:hover{
		color:#611427;
	text-decoration:none;
	}
	.tips{
		font-size: 10pt; 
	}
 .help{
 	font-size: 10pt; 
 }
 .help a:link, .help a:visited{
 	font-size: 9pt; 
	text-decoration: none;
	color:#7D7D7D;
	 	
 }
 .help a:hover{
	color:#611427;
	text-decoration:none;

}

 
 










/* ROUNDED BOXES */
.box {
	background-repeat: repeat-y;
	margin: 11px 0 30px 0;
	padding: 0 6px;
	height: auto !important;
	height: 1px;
	text-align:center;
	}
	.box .box_top {
		position: relative;
		height: 6px;
		top: -6px;
		margin: 0 -6px -6px;
		background-repeat: no-repeat;
		font-size: 0px;
		line-height: 0px;
		}
	.box div.padded { padding:1em; }				
	.box div.no_padding {
		padding: 0 0 4px 0;
		}
	.box .box_bottom {
		background-repeat: no-repeat;
		font-size: 0px;
		height: 6px;
		line-height: 0px;
		margin: -6px -6px 0;
		position: relative;
		top: 6px;
		z-index:0;
		}	
		
		div.col_full .box {
	background-image: url(../images/column_full_middle.gif);
	}
	div.col_full .box_top {
		background-image: url(../images/column_full_top.gif);
		}
 		div.col_full .box_bottom {
		background-image: url(../images/column_full_bottom.gif);
		}
div.main_column .box {
	width:624px;
	background-image: url(../images/column_main_middle.gif);
	
	}
	div.main_column .box_top {
		background-image: url(../images/column_main_top.gif);
		}
 		div.main_column .box_bottom {
		background-image: url(../images/column_main_bottom.gif);
		}
div.sidebar .box {
		width:288px;
		background-image: url(../images/column_sidebar_middle.gif);
	}
	div.sidebar .box_top {
		background-image: url(../images/column_sidebar_top.gif);
		}
		div.sidebar .box_bottom {
		background-image: url(../images/column_sidebar_bottom.gif);
		}
