@import "definitions";

body.my.meetings.theme-mconf-com {

  #my-meetings {
    &.empty {
      #no-meetings-logo {
        @include make-row;

        margin: 80px auto 0 50px;
        float: none;
        padding: 10%;
        overflow: visible;

        background: image-url('Video_files.png') no-repeat top;
        background-size: contain;
        height: 70%;
        width: 70%;
      }
    }
  }
}
