= render_page_title t("user.resend_confirmation_email.link")

#form-wrapper
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-inline single-column' }) do |f|
    = f.input :email, :label => t('user.email_used_to_create_account'), :required => true
    = f.button :submit, t('user.request_confirmation'), :class => 'btn'
