<h1>Edit <%= BigbluebuttonServer.model_name.human %>:</h1>
<%= render 'form' %>
<br/>
<%= link_to t('back'), bigbluebutton_servers_path, :class => 'basic_button small_button pale_button' %>
<%= link_to t('show'), @server, :class => 'basic_button small_button pale_button' %>

