<div id="sources_sidebar">
  <% setup_sources(@source || Source.new).each do |source| %>
    <h3><%= source.title.present? && sanitize(source.title).to_s || t('new_source') %></h3>

    <% form_for [ space, source ] do |f| %>
      <%= f.error_messages %>

      <%= render :partial => 'form', :object => f %>

      <div class="margin-up">
        <button type="submit"><%=t("button.create")%></button>
      </div>
    <% end %>
  <% end %>
</div>
