@import "definitions";
@import "compass/css3";

body.custom_bigbluebutton_recordings.index,
body.custom_bigbluebutton_servers.recordings,
body.custom_bigbluebutton_rooms.recordings {

  table.recording-table {
    text-align: left;
    width: 100%;

    th:last-child {
      text-align: right;
      padding-right: 15px;
    }

    .access-links {
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      min-width: 120px;

      li {
        display: inline;
        margin-right: 3px;
        padding-right: 6px;
        float: right;
      }
    }

  }

}
