@import "definitions";
@import "compass/css3";

body.custom_bigbluebutton_recordings {

  #sidebar .nav-playback-links {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: block;
      margin: 0 0 5px 0;
    }
  }

  .destroy-recording {
    color: white;
    background-color: #f55;
  }

}
