.DS_Store
index
.project
.loadpath
log/*.log
*kpf
tmp/*
.tmp_*
config/ultrasphinx/*conf
public/logos
public/pdf
public/scorm
attachments/*
public/images/tmp/*
spec/reports
**/*~
**/**/*~
**/**/**/*~
**/**/**/**/*~
config/locales/log
.svn
config/initializers/mail_conf.rb
lib/tasks/vcc

