.DS_Store
index
.project
.loadpath
log/*.log
*kpf
.tmp_*
config/ultrasphinx/*conf
public/logos
attachments/*
attachment_videos/*
public/images/tmp/*
spec/reports
*~
config/locales/log
.svn
config/initializers/mail_conf.rb
public/pdf/
.bundle
db/*.sqlite3*
tmp/*
