[submodule "vendor/plugins/station"]
        path = vendor/plugins/station
        url = git@github.com:mconf/station.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/mconf/attachment_fu.git
