.DS_Store
index
.project
.loadpath
log/*.log
*kpf
.tmp_*
config/ultrasphinx/*conf
public/logos
attachments/*
attachment_videos/*
public/images/tmp/*
spec/reports
*~
config/locales/log
.svn
config/setup_conf.yml
config/deploy/conf.yml
public/pdf/
db/*.sqlite3*
tmp/*
.redcar
db/data.yml
pids/*
doc/app/*
.sass-cache/
config/analytics_conf.yml
