@import "compass/typography";
@import "definitions";

body.passwords.new, body.passwords.create {

  #form-wrapper {
    margin: 40px auto;
    width: 50%;
    @include mconf-clearfix;

    form {
      // every field is required, we don't need to show it
      abbr[title=required] { display: none; }

      .form-actions {
        border: none;
      }

      input[type=email] {
        width: 100%;
      }
    }
  }

}
