.header_image
  .subs_created

%p.header_message
  = t('.message.hello', name: @user.name).html_safe

%p.content
  = t('.message.introduction_1').html_safe

%p.content
  = t('.message.text').html_safe

%p.content
  = t('.message.end').html_safe

