@import "definitions";
@import "compass/css3";

body.join_requests.admissions {

  #join-requests {
    select, input, .label {
      vertical-align: middle;
    }

    #title-button{
      h3 {
        display: inline;
      }
      #button {
        float: right;
        margin-bottom: 8px;
      }
    }

    select {
      width: auto;
    }

    .thread .thread-actions {
      float: right;

      form {
        display: inline-block;
        margin: 0;
      }

      .separator {
        margin: 0 5px;
      }
    }

    .user-comment {
      background: $m-very-light-gray;
      padding: 5px;
      margin: 5px 0;
    }
  }

}
