@import "definitions";
@import "compass/css3";

@import "app/spaces/_sidebar";
@import "app/spaces/admin_tabs";

body.join_requests.invite {

  #space-invitation {

    .type-options {
      float: right;
      margin-bottom: 5px;

      .input {
        float: right;
        margin-right: 25px;

        input[type=radio] {
          margin-right: 0;
        }

        label {
          display: inline;
        }
      }
    }

  }

}
