@import "definitions";
@import "compass/css3";

@import "app/spaces/_sidebar";
@import "app/spaces/admin_tabs";

body.join_requests.new {

  #new-join-request {
    margin: 0 auto;
    width: $m-contents-width * 0.8;
  }

}
