@import "definitions";
@import "compass/css3";

@import "app/spaces/_sidebar";
@import "app/spaces/admin_tabs";

body.join_requests.show {

  select, input, .label {
    vertical-align: baseline;
  }

  select {
    width: auto;
  }

  .thread .thread-actions {
    float: right;

    form {
      display: inline-block;
      margin: 0;
    }

    .separator {
      margin: 0 5px;
    }
  }

  .thread-text {
    margin-top: 10px;
    clear: both;
  }

  .user-comment {
    background: $very-light-gray;
    padding: 5px;
    margin: 5px 0;
  }

}
