@import "definitions";
@import "compass/css3";

@import "app/spaces/title";

body.join_requests.show {

  #join-requests-show {
    max-width: $m-contents-width/2;
    margin: 0 auto;

    h3 {
      text-align: center;
    }

    .invitation-comment {
      text-align: center;
      margin: 20px;

      .content {
        padding: 10px;
        margin: 10px auto;
        background: $m-light-gray;
        @include border-radius($m-border-radius-base);
        max-width: 300px;
      }
    }

    .action-buttons {
      text-align: center;
      margin: 20px;

      form {
        display: inline-block;

        select {
          width: auto;
        }
      }

      select, input, .label {
        vertical-align: baseline;
      }

      .option-accept, .option-decline {
        display: inline-block;
        margin: 0 15px;
      }
    }

  }

}
