@import "definitions";
@import "compass/css3";

@import "app/spaces/_sidebar";
@import "app/spaces/admin_tabs";

body.join_requests.show {

  #join-requests-show {
    max-width: $contents-width/2;
    margin: 0 auto;

    h3 {
      text-align: center;
    }

    .invitation-comment {
      text-align: center;
      margin: 20px;

      .content {
        padding: 10px;
        margin: 10px auto;
        background: $light-gray;
        @include border-radius(4px);
        max-width: 300px;
      }
    }

    .action-buttons {
      text-align: center;
      margin: 20px;

      form {
        display: inline-block;
        margin: 0 20px;
      }
    }

  }

}
