@import "definitions";
@import "compass/css3";

body.manage.recordings {

  .page-tabs {
    .search-words {
      text-align: left;

      label {
        margin: 3px 7px;
      }

      input {
        margin: 0 5px;
        width: 75%;
      }
    }
  }

  .search-filters {
      margin-top: 10px;

      .search-filter-option {
        float: left;
        width: 20%;
      }

      .checkbox {
        text-align: right;
        margin: 0 5px;
        float: left;
        padding: 0;
      }
    }


  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread {
    .recording-name, .recording-description {
      display: block;
    }

    .recording-description {
      margin-left: 3px;
    }
  }

  .playback-types {
    display: none;
  }

  .icon-awesome {
    display:inline-block;
    line-height: 27px;
    text-align: center;
    vertical-align: bottom;
  }

  .recording-not-available-name {
    background: #fcfcfc;
    a {
      color: #888;
    }
  }

}
