@import "definitions";
@import "compass/css3";

body.manage.spaces {

  .page-tabs {
    .search-words {
      text-align: left;

      label {
        margin: 3px 7px;
      }

      input {
        margin: 0 5px;
        width: 75%;
      }
    }

    .btn-new-space {
      float: right;
    }
  }

  .space-disabled {
    color: #888;
    background: $very-light-gray;

    .logo-in-thread {
      opacity: 0.5;
    }
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread {
    .space-name, .space-description {
      display: block;
    }

    .space-description {
      margin-left: 60px;
    }
  }

}
