@import "definitions";
@import "compass/css3";

body.manage.spaces {

  .page-tabs {
    text-align: right;

    label {
      display: inline;
      margin: 6px 5px 0 5px;
    }

    input {
      margin: 0 5px;
      width: 50%;
    }
  }

  .space-disabled {
    color: #888;
    background: $very-light-gray;

    .logo-in-thread {
      opacity: 0.5;
    }
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread {
    .space-name, .space-description {
      display: block;
    }
  }

}