@import "definitions";
@import "compass/css3";

body.manage.spam {

  .spam_posts, .spam_events {
    border-bottom: solid 1px #ccc;
    padding-top: 5px;
    height: 40px;
  }

  .spam_title {
    height: 40px;
    float: left;
    padding-top: 5px;
  }

  .group_links {
    float: right;
    padding-top: 8px;
  }

}
