@import "definitions";
@import "compass/css3";
@import "compass/typography/links";

body.manage.spam {

  .spam-item {
    @include mconf-clearfix;
    clear: both;
  }

  .spam-body {
    float: left;
    width: $m-contents-width - 80px;
  }

  .spam-buttons {
    float: right;
    width: 60px;
    padding-left: 10px;
  }

}
