@import "definitions";
@import "compass/css3";
@import "compass/typography/links";

@import "app/events/event_logo";

body.manage.spam {

  .spam-item {
    @include mconf-clearfix;
    clear: both;
  }

  .spam-body {
    float: left;
    width: $contents-width - 80px;
  }

  .spam-buttons {
    float: right;
    width: 60px;
    padding-left: 10px;
  }

  // hide event dates, make the view a bit simpler
  .event-image {
    display: none;
  }

}
