@import "definitions";
@import "compass/css3";

body.manage.statistics, body.manage.statistics_filter {

  .title {
    font-size: 20px;
    color: #004956;
    font-weight: bold;
    margin: 8px 0;
  }

  .text {
    font-size: 15px;
    margin: 0 15px;
  }

  .page-tools-menu {
    padding-bottom: 5px;
    margin-bottom: 10px;

    .search-words {
      input { width: 100%; }
    }

    .search-filters {
      margin-top: 10px;

      .search-filter-option {
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }

  .starts-at-wrapper {
    margin-bottom: 16px;

    .btn-group {
      white-space: nowrap;
      display: table-cell;
      width: 1%;

      > .btn {
        float: none;

        &:last-child {
          margin-left: -5px;
        }
      }
    }

    .form-group {
      display: table-cell;
      width: 100%;
      padding-left: 8px;
    }
  }
}
