@import "definitions";
@import "compass/css3";

body.manage.users {

  .btn-new-user {
    margin-bottom: 10px;
    float: right;
  }

  .page-tools-menu {
    padding-bottom: 5px;
    @include make-row;

    .search-words {
      @include make-xs-column(12);
    }

    .search-filters {
      margin-top: 10px;
      @include make-xs-column(12);

      .search-filter-option {
        float: left;
        margin-right: 15px;
        padding-right: 5px;
        border-right: 1px solid $m-border-color-normal;

        &:last-child {
          border: 0;
        }
      }

      .checkbox {
        float: left;
      }

      label {
        float: left;
        margin: 2px 10px 0 5px;
      }
    }
  }

  #filter-total {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    background: $m-light-gray;
    padding: 3px 10px;
  }

  .user-disabled {
    color: #888;
    background: $m-very-light-gray;

    .logo-in-thread {
      opacity: 0.5;
    }
  }

  .user-unapproved {
    color: $m-yellow;
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread {
    .user-name, .user-email {
      display: inline-block;
    }

    .user-category {
      display: block;
    }
  }

}
