@import "definitions";
@import "compass/css3";

body.manage.users {

  .checkbox {
    text-align: right;
    margin: 0 5px 0 0;
    float: left;
  }

  .page-tabs {
    text-align: right;

    label {
      display: inline;
      margin: 6px 5px 0 5px;
    }

    input {
      margin: 0 5px;
      width: 50%;
    }

    .btn-new-user {
      float: left;
    }
  }

  .user-disabled {
    color: #888;
    background: $very-light-gray;

    .logo-in-thread {
      opacity: 0.5;
    }
  }

  .user-unapproved {
    color: $yellow;
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread {
    .user-name, .user-email {
      display: inline-block;
    }

    .user-category {
      display: block;
    }
  }

}
