@import "definitions";
@import "compass/css3";

body.manage.users {

  .page-tabs {

    .search-words {
      text-align: left;

      label {
        margin: 3px 7px;
      }

      input {
        margin: 0 5px;
        width: 75%;
      }
    }

    .search-filters {
      margin-top: 10px;

      .search-filter-option {
        float: left;
        width: 20%;
      }

      .checkbox {
        text-align: right;
        margin: 0 5px;
        float: left;
        padding: 0;
      }
    }

    .btn-new-user {
      float: right;
    }
  }

  .user-disabled {
    color: #888;
    background: $very-light-gray;

    .logo-in-thread {
      opacity: 0.5;
    }
  }

  .user-unapproved {
    color: $yellow;
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread {
    .user-name, .user-email {
      display: inline-block;
      white-space: nowrap;
    }

    .user-category {
      display: block;
    }
  }

}
