@import "compass/css3";
@import "definitions";

body.invoices.index {
  table {
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #eee;
      border-radius: 0;
    }

    tr:last-of-type {
      border: 0;
    }

    td {
      text-align: left;
      padding: 20px 0;
    }

  }

  #invoices-wrapper {
    margin: 40px auto;

    @include mconf-clearfix;
    @include make-xs-column(12);
    @include make-sm-column(10);
    @include make-sm-column-offset(2);

    .resource-card {
      width: 100%;
      max-width: 1000px;
      margin: 24px auto 40px auto;

      .card-title {
        font-size: $m-font-fields;
        font-weight: $m-font-weight-bold;
        color: $m-titles;
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }

    .container-fluid {
      background: $m-site-content-bg-color;
      max-width: 570px;
      margin: 0 0;
      border-radius: 10px;
      box-shadow: 0px 0px 12px 0px rgba(43,45,66, 0.15);
      text-align: center;
      overflow: visible;
      display: block;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 30px;
    }

    .invoice-date-col {
      font-weight: $m-font-weight-bold;
    }

  }
}