@import "compass/css3";
@import "definitions";

body.invoices.show {
	h1 {
    text-align: center;
  }

  #invoice-wrapper {
    margin: 40px auto;
    @include mconf-clearfix;

    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-sm-column-offset(2);

    .resource-card {
      width: 100%;
      max-width: 1000px;
      margin: 24px auto 40px auto;

      .resource-data {
        padding-left: 40px;
        width: calc(100% - 290px);
        float: left;
        text-align: left;
      }

      .field {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;

        .price {
          color: $orange;
          font-weight: bold;
        }
        .discount {
          color: $green;
          font-weight: bold;
        }
        .pay-btn {
          float: right;
          margin-top: 20px;
        }

        span {
          display: block;
        }

        &:last-child {
          border: 0;
        }
      }

      .field-title {
        font-size: $m-font-small;
        color: $m-font-light;
      }

      .field-value {
        margin-left: 12px;
      }
    }
  }
}