@import "compass/css3";
@import "definitions";

body.invoices.index {
	h1 {
    text-align: center;
  }

  h3 {
    font-weight: $m-font-weight-bold;
    font-size: $m-font-fields;
  }

  #invoice-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 24px auto 20px auto;

    .btn-default {
      padding-left: 0;
    }

    .field {
      margin-bottom: 8px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      font-size: $m-font-fields;

      .total, .data {
        color: $m-color-primary;
        font-weight: bold;
      }
      .price {
        color: $m-color-primary-soft;
        font-weight: bold;
      }
      .discount {
        color: $m-green-soft;
        font-weight: bold;
      }
      .discount-text {
        color: $m-green-soft;
      }
      span {
        display: block;
      }

      &.buttons {
        padding-top: 30px;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 30px;
      }
    }

    .field-title {
      font-size: $m-font-fields;
      color: $m-font-light;
    }
  }
}
