<% rounded(:class => "tips") do %>

<% if @articles.length == 0 %>
	No Posts Found
<% else%>
	
	<%for article in @articles%>
	   
	  <div class="contenido_main">
    	<%=show_article(article.entry,@space,"edit","destroy")%> 
		</div> 
	
	   
    <%end%>	
<%end%>
<%end%>