
<h2 class="title separador"> Posts</h2>

<div class="contenido_search">
	
	<br/>
	<% if @articles.length == 0 %>
		<p class="red">No posts found</p>
		<br/>
	<% else%>
		<%for article in @articles%>
	   		<div class="contenido_main">
    			<%=show_article(article.entry,@space,"edit","destroy")%> 
			</div> 
	<%end%>	
<%end%>
</div>
