
<h2 class="title separador"> Posts</h2>

<div class="contenido_search">
	
	<br/>
		<%if @posts == []%>
	     	<p class="red">No posts found</p>
	    <%else%> 
			<%if @posts.size == 1%>	   
	     		<h3 class="red">1 post was found</h3>
		 		<br/>
	     		<% @posts.each do |post| %>
	       			<%if post%>
	         			<%=show_post(post.entry,@space,"edit","destroy")%> 
	       			<%end%>
         		<%end%>
	   		<%else%>
         		<h3 class="red"><%=@posts.size%> post was found</h3>
		 		<br/>	
	     		<% @posts.each do |post| %>
	       			<%if post%>
	         			<%=show_post(post.entry,@space,"edit","destroy")%> 
	       			<%end%>
         		<%end%>
			<%end%>
		<%end%>	
</div>
