
<h2 class="title separador"> Posts</h2>

<div class="contenido_search">
	
	<br/>
		<%if @articles == []%>
	     	<p class="red">No posts found</p>
	    <%else%> 
			<%if @articles.size == 1%>	   
	     		<h3 class="red">1 post was found</h3>
		 		<br/>
	     		<% @articles.each do |article| %>
	       			<%if article%>
	         			<%=show_article(article.entry,@space,"edit","destroy")%> 
	       			<%end%>
         		<%end%>
	   		<%else%>
         		<h3 class="red"><%=@articles.size%> post was found</h3>
		 		<br/>	
	     		<% @articles.each do |article| %>
	       			<%if article%>
	         			<%=show_article(article.entry,@space,"edit","destroy")%> 
	       			<%end%>
         		<%end%>
			<%end%>
		<%end%>	
</div>
