<% rounded(:class => "tips") do %>

<% if @entries.length == 0 %>
	No Posts Found
<% else%>
	
	<%for entry in @entries%>
	   
	  <div class="contenido_main">
    	<%=show_article(entry,@space,"edit","destroy")%> 
		</div> 
	
	   
    <%end%>	
<%end%>
<%end%>