
<div class="event_search">    
  <%if @events == []%>
		<h3 class="empty">Events: No events found</h3>
	<% elsif @events.size == 1%>
		<h3>Events: 1 event was found</h3>
		<% @events.each do |event| %>  
			<%= render :partial => event %>
		<% end %>
	<%else%>
		<h3>Events: <%= @events.size%> events were found</h3>
	  <% @events.each do |event| %>  
      <%= render :partial => event %>
		<% end %>
	<%end%>
</div>
