<% rounded(:class => "tips") do %>

    
	<% if @events == nil %>
		Please insert something in the search box
	<% else%>
		<h3> <%= @events.size%> events were found</h3>
    		<%if @events.size != 0%>
			<!--genera la tabla de eventos-->
       		<%=generate_event_table%>	
	   
	  		<% @events.each do |event| %>  
					<%=show_event(event)%> <!--muestra cada uno de los eventos-->
			<% end %>
			<% end %>
	<%end%>   
    		
<%end%>


<div id="show_event">
	
		</div>