<% content_for :javascript do  %>
	title = "<%=escape_javascript(t('search.dots'))%>"
	  $("#search_text_field").click(function(){
	  if(this.value == title){
	    this.value="";
	  }
	});
	
	  $("#search_text_field").blur(function(){
	  if(this.value == ""){
	    this.value= title;
	  }
	});  

<%end%>

<% form_tag(@space.nil? ? search_all_path : space_search_all_path(@space), :method => 'get') do %>
  <%= text_field_tag 'query',(params[:query] ? params[:query] :  t('search.dots') ), :id => 'search_text_field'%>
  <button type="submit" class="blue_button basic_button"><%=t("button.go")%></button>
	<div id="advanced">
    <%= link_to t('advanced'), @space.nil? ? search_all_path(:advanced => true) : space_search_all_path(@space, :advanced => true) %>
  </div>
<% end %>
