

<div>
	<br/>
	
	<%if @users == []%>
		<h3>No users found</h3>
	<%else%>
	 	
		<%if @users.size == 1%>
	  	<h3 class="red">1 user found</h3>
		<%else%>
		  <h3 class="red"><%=@users.size%> users found</h3>
		<%end%>
		<%for user in @users do%>		
				<%= render :partial => 'users/detailed_user', :object => user %>
	  <%end%> 								   		   	
	<%end%>	
</div>
<br/>

