<div id="yui-main">
<div class="yui-b main_column">


<h2> Search Results</h2>
<% rounded(:class => "tips") do %>
<br/>

<%= render :partial =>'events'%>

<%= render :partial =>'users'%>

<%= render :partial =>'articles'%>

<%end%>	
<div id="show_event">
		</div>
</div>
</div>
		 
		 <%= render :partial =>'shared/sidebar'%>