<% menu(:events) %>
<% content_for :javascript do %>
	$("#query").click(function(){
	  if(this.value == "Search Events..."){
		  this.value="";
		}
	});
<% end %>

<% content_for :search do  %>
  <% form_tag(search_events_path(@space), :method => 'get') do %>
      <%= text_field_tag 'query',(params[:query] ? params[:query] :  "Search Events...")%>
    <%= image_submit_tag "buttons/search.png"%>
  <% end %>
	<div id="advanced">
	     <%= link_to 'Advanced', advanced_search_events_path(@space) %>
   </div>
<% end %>

<%= render :partial =>'events'%>


