<% menu(:home) %>

<% if params[:advanced]%>
  <h2 class="search-results blue"><%= t('search.advanced') %></h2>
  <%= render :partial =>'advanced_form'%>
  <br />
<%end%>

<%if (params[:start_date].present? && params[:end_date].present?) || (params[:query].present? && params[:query].length > 2) %>
  <h2 class="search-results blue"><%= t('search.results') %></h2>

  <%=
  case params[:type]
    when "spaces"
      render :partial =>'found_group', :locals => {:elements => @spaces, :type => 'space',:paginate => true, :per_page => 10}
    when "events"
      render :partial =>'found_group', :locals => {:elements => @events, :type => 'event',:paginate => true, :per_page => 15}
    when "videos"
      render :partial =>'found_group', :locals => {:elements => @videos, :type => 'video',:paginate => true, :per_page => 10}
    when "posts"
      render :partial =>'found_group', :locals => {:elements => @posts, :type => 'post',:paginate => true, :per_page => 20}
    when "users"
      render :partial =>'users'
    when "attachments"
      render :partial => 'attachments'
    else
      (@space.nil? ? render( :partial =>'users') +
      render( :partial =>'found_group', :locals => {:elements => @videos, :type => 'video'}) +
      render( :partial =>'found_group', :locals => {:elements => @events, :type => 'event'}) +
      render( :partial =>'found_group', :locals => {:elements => @spaces, :type => 'space'}) : "") +
      render( :partial =>'found_group', :locals => {:elements => @posts, :type => 'post'}) +
      render( :partial =>'attachments')
  end
%>
<%end%>
