<div id="yui-main">
<div class="yui-b main_column">

	
<% rounded(:class => "tips") do %>

<% if @users.length == 0 %>
	No Users Found
<% else%>
	<% i = 0%>	
	<%for user in @users%>
	    <div id='d<%=i%>'><%= user.login %><%i=i+1%></div>
    <%end%>	
<%end%>
<%end%>

	 
	 </div>
	 	 </div>
		 
		 <%= render :partial =>'shared/sidebar_users'%>