<h1>Listing logotypes</h1>

<table>
  <tr>
  </tr>

<% for logotype in @logotypes %>
  <tr>
    <td><%= link_to 'Show', logotype %></td>
    <td><%= link_to 'Edit', edit_logotype_path(logotype) %></td>
    <td><%= link_to 'Destroy', logotype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New logotype', new_logotype_path %>
