<h1>Edit <%= BigbluebuttonRoom.model_name.human %>:</h1>
<%= render 'form' %>

<%= link_to 'Show', bigbluebutton_server_room_path(@server, @room) %> |
<%= link_to 'Back', bigbluebutton_server_rooms_path %>

