@import "compass/css3";
@import "compass/typography/links";
@import "definitions";
@import "bootstrap/mixins";

// for the partials/modals used in this page
@import "app/users/user_spaces";
@import "app/users/recent_activity";

// home and activity use some partials to show information of meetings, and they include
// some styles defined in the partial below
@import "app/shared/recording_list";

@import "app/shared/webconference_join";

@import "app/spaces/_list_item";
@import "app/join_requests/_list_item";

body.my.home, body.my.activity, body.my.meetings {

  $second-content-bg-color: darken($m-light-gray, 2);

  #webconference-room {
    margin-top: 20px;
  }

  #user-meetings-recordings {
    h1 {
      margin-top: 0;
      text-align: center;
      color: $m-titles;
    }

    &.empty {
      h1 {
        color: $m-titles;
        font-weight: $m-font-weight-bold;
        margin-bottom: 46px;
      }

      h2 {
        font-weight: $m-font-weight-thin;
        color: $m-titles;
        text-align: center;
        max-width: 40%;
        margin: 0 auto;
        line-height: 1.4;
        font-size: $m-font-title;
      }

      #empty-home-logo {
        @include make-row;

        margin: 60px auto 0 auto;
        float: none;
        padding: 6%;
        overflow: visible;

        background: image-url('logos/Play_webconference.png') no-repeat top;
        background-size: contain;
        height: 70%;
        width: 70%;
      }
    }
  }
}
