@import "compass/css3";
@import "compass/typography/links";
@import "definitions";
@import "bootstrap/mixins";

// for the partials/modals used in this page
@import "app/users/user_spaces";
@import "app/users/recent_activity";

// home and activity use some partials to show information of recordings, and they include
// some styles defined in the partial below
@import "app/shared/recording_list";

@import "app/shared/user_sidebar";

@import "app/shared/webconference_join";

body.my.home, body.my.activity, body.my.recordings {

  $second-content-bg-color: darken($m-light-gray, 2);
  $m-page-header-right-width: 500px;

  #webconference-room {
    margin-top: 20px;
  }

  #main-sidebar-menu {
    @include vertical-menu;
  }

}
