@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

// for the partials/modals used in this page
@import "app/users/user_spaces";
@import "app/users/recent_activity";

// home and activity use some partials to show information of recordings, and they include
// some styles defined in the partial below
@import "app/shared/recording_list";

body.my.home, body.my.activity, body.my.recordings {

  // slightly wider sidebar
  @include set-sidebar-width($sidebar-width + 100px);

  // reduced spacing between items in the list of recent activities and my spaces
  .list-text .thread {
    margin: 0;
    padding: 10px 4px;
  }


  $second-content-bg-color: darken($light-gray, 2);
  $page-header-right-width: 500px;

  #page-header {
    padding: 20px 0 10px 0;

    .left-column {
      float: left;
      width: $contents-width - $page-header-right-width - 10px;
    }

    .right-column {
      float: right;
      width: $page-header-right-width - 10px;
      margin-right: 10px;
    }
  }

  #user-info {
    // darker links since the background is darker
    a {
      @include link-colors(darken($link-color, 15), $link-color-hover, $link-color-active);
    }

    .user-avatar {
      position: relative;
      float: left;
      border: 1px solid darken($light-gray, 20);
      @include border-radius(3px);
      padding: 3px;
      height: 96px;
      width: 96px;
      background: white;
      @include broken-img-parent;

      img {
        width: 96px;
        height: 96px;
      }

      .icon-awesome.icon-mconf-superuser {
        position: absolute;
        bottom: 3px;
        left: 3px;
        @include font-size($font-mini);
        width: 14px;
        height: 14px;
        color: white;
        background: lighten($red, 10);
        padding: 3px 1px 0px 3px;
        @include border-radius(4px);
      }
    }

    .user-data {
      @include mconf-clearfix;
      padding-left: 10px;

      a, span {
        display: block;
        margin-bottom: 3px;
      }

      .user-name {
        @include font-size($font-big);
        font-weight: bold;
      }

      .user-email, .user-organization {
        min-height: $font-big + 2px;
      }
    }

    .user-links {
      @include mconf-clearfix;
      margin-top: 5px;
      padding-left: 5px;

      ul {
        margin: 0;

        li {
          float: left;
          border: 0;
          padding: 0 10px;
        }
      }

      .icon { float: none; }
    }
  }

  #sidebar-inbox {
    .content-block-header a {
      float: left;
      width: $sidebar-width - 60px;
    }
  }

  #webconference-room {
    @include mconf-clearfix;
    overflow: visible;

    .header {
      @include mconf-clearfix;

      h3 {
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        margin-right: 10px;
        float: right;
      }

      .in-progress-icon {
        margin-right: 10px;
        float: right;
      }

    }

    .invite-url {
      float: right;
      position: relative;

      label {
        float: left;
        margin: 8px 5px;
      }

      input[type=text] {
        float: left;
        cursor: text;
        width: $page-header-right-width - 130px - 100px; // - main-action-buttons - 100
        background: $site-bg-color;
        color: #444;
        &:focus {
          border-color: $second-color;
        }
      }
    }

    ul.action-buttons {
      clear: both;
      margin: 0;
      margin-top: 5px;
      > li {
        float: right;
        margin: 0;
        border: 0;
        padding: 0 0 0 10px;
      }
    }
  }

  #recent-activity {
    margin-top: 20px;
  }

  #recent-activity-options {
    background: $site-bg-color;
    float: right;
    @include font-size($font-normal);
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
  }

  #user-space-list {
    .content-block-footer .btn {
      float: left;
    }
  }
}
