@import "compass/css3";
@import "compass/typography/links";
@import "definitions";
@import "bootstrap/mixins";

// for the partials/modals used in this page
@import "app/users/user_spaces";
@import "app/users/recent_activity";

// home and activity use some partials to show information of recordings, and they include
// some styles defined in the partial below
@import "app/shared/recording_list";

@import "app/shared/user_sidebar";

@import "app/shared/webconference_join";

body.my.home, body.my.activity, body.my.recordings {

  // TODO: move to base
  #navbar {
    a {
      //font-weight: bold;
      @include link-on-menus;
    }
  }


  #user-meetings-recordings {
    padding: 10px 20px;
  }

  #webconference-room {
    margin-top: 20px;
  }








  $second-content-bg-color: darken($m-light-gray, 2);
  $m-page-header-right-width: 500px;

  #page-header {
    padding: 20px 0 10px 0;

    .left-column {
      float: left;
      width: $m-contents-width - $m-page-header-right-width - 10px;
    }

    .right-column {
      float: right;
      width: $m-page-header-right-width - 10px;
      margin-right: 10px;
    }
  }

  #sidebar-inbox {
    .content-block-header a {
      float: left;
      width: $m-sidebar-width - 60px;
    }
  }

  #webconference-room {
    @include mconf-clearfix;
    overflow: visible;

    .header {
      @include mconf-clearfix;

      h3 {
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        margin-right: 10px;
        float: right;
      }

      .in-progress-icon {
        margin-right: 10px;
        float: right;
      }

    }

    .invite-url {
      float: right;
      position: relative;

      label {
        float: left;
        margin: 8px 5px;
      }

      input[type=text] {
        float: left;
        cursor: text;
        width: $m-page-header-right-width - 130px - 100px; // - main-action-buttons - 100
        background: $m-site-bg-color;
        color: #444;
        &:focus {
          border-color: $m-second-color;
        }
      }
    }

    ul.action-buttons {
      clear: both;
      margin: 0;
      margin-top: 5px;
      > li {
        float: right;
        margin: 0;
        border: 0;
        padding: 0 0 0 10px;
      }
    }
  }

  #recent-activity {
    margin-top: 20px;
  }

  #recent-activity-options {
    background: $m-site-bg-color;
    float: right;
    @include font-size($m-font-normal);
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
  }

}