@import "compass/css3";
@import "definitions";

@import "app/shared/recording_list";

body.my.meetings {

  #sidebar {
    margin-top: $m-content-vertical-padding + 50px + 30px + ($m-font-normal * $m-font-h1-multiplier) + 5px;
  }

  #my-meetings {
    &.empty {
      h2 {
        font-weight: $m-font-weight-thin;
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
        line-height: 1.4;
        margin-top: 200px;
        color: $m-titles;
        font-size: 25px;
      }

      #no-meetings-logo {
        @include make-row;

        margin: 60px auto 0 auto;
        float: none;
        padding: 8%;
        overflow: visible;

        background: image-url('logos/Video_files.png') no-repeat top;
        background-size: contain;
        height: 70%;
        width: 70%;
      }
    }
  }

}
