@import "compass/css3";
@import "definitions";

@import "app/shared/recording_list";

body.my.meetings {

  #my-meetings {
    h1 {
      margin-bottom: 90px;
    }

    &.empty {
      h2 {
        font-weight: $m-font-weight-light;
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
        line-height: 1.4;
        margin-top: 200px;
      }
    }
  }

}
