@import "compass/css3";
@import "definitions";

@import "app/shared/recording_list";

body.my.recordings {

  #my-webconference-recordings-fetch {
    float: left;
    margin: 2px 0 0 10px;
    padding-left: 5px;
    border-left: 5px solid darken($light-gray, 5);

    // all divs for the status start hidden
    > * {
      display: none;
    }

    .icon-awesome {
      margin-top: 2px;
    }
  }

}