<%= content_for :search do  %>
  <%= render :partial => 'search/form' %>
<%end%>

<div id="webconference-rooms">
  <div class="my-webconference-rooms">
    <h3><%= t('recordings.title') %></h3>
    <%= render :partial => 'recordings/recording_list', :locals => {:recordings => @recordings} %>
  </div>
</div>
