<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.jivesoftware.openfire.plugin.VccRoomsPlugin</class>
   <name>Vcc Chat Rooms Creator</name>
   <description>Load event information before creating a event chat room.</description>
   <author>Diego Moreno</author>
   <version>1.0.0</version>
   <date>7/4/2010</date>
   <minServerVersion>3.6.4</minServerVersion>
</plugin>
