input[type=password], input[type=text], textarea, ul.token-input-list-facebook {
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 3px;
}

input[type=password]:focus, input[type=text]:focus, textarea:focus, ul.token-input-list-facebook:focus {
  border: 1px solid #275b8a;
}

input[type=checkbox] {
  margin: 5px 2px 0 2px;
}


/*** Styles that should be reviewed  ***/

button,input[type=button]{padding:3px 7px 3px 6px;overflow:visible;width:auto;margin-right:5px;}

.cloud_button{background: url(asset_path("orange-cloud.png", image)) no-repeat center 9%;}
.cloud_button:hover{background: url(asset_path("orange-cloud.png", image)) no-repeat center 93%;}
.cloud_button{
        font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
  font-weight:bold;
  text-align:center;
        display: block;
  float: left;
  text-decoration: none;
  outline:none;
  padding:20px 40px 25px;
        color:#fff;
}

.cloud_button:hover{text-decoration:none;outline: none;}

.big_button,button,input[type=button],input[type=submit]{
        font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
        font-weight:bold;
        text-align:center;
}
.big_button{
  display: block;
        float: left;
        text-decoration: none;
        outline:none;
        }

.big_button:hover{text-decoration:none;outline: none; /* hide dotted outline in Firefox */}

.big_button span{
    display: block;}

.big_button span:hover{
    outline: none; /* hide dotted outline in Firefox */}

.big_button,button.big_button{
        -webkit-border-radius:5px;-moz-border-radius:5px;
    font-size:120%;
    line-height:150%;
    margin-right: 6px;
        cursor:pointer;
}
.big_button span{
        -webkit-border-radius:5px;-moz-border-radius:5px;
    line-height: 18px;
        width:202px;
    padding: 5px 18px 5px 18px;
}

button.big_button{padding:3px 18px 3px 18px;width:230px;}
button#change_logo{float:left;}
.separator{color:#ccc;padding:4px 1px;float:left;margin-right:4px;}
.grey_bar #feeds_link{margin-right:6px;}

/*** Styles that should be reviewed  ***/















/********** NEW STYLES ***********/


input[type=submit].basic_button, button.basic_button, a.basic_button {
  padding: 2px 5px;
  font-weight:bold;
  font-size:1em;
  line-height:1.4em;
  color:#555;
  background:url(asset_path("buttons/grey-button.png", image)) repeat-x scroll 0 4%;
  border:1px solid #999;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  cursor:pointer;
}

input[type=submit].basic_button:hover, button.basic_button:hover, a.basic_button:hover {
  background:url(asset_path("buttons/grey-button.png", image)) repeat-x scroll 0 100%;
  color:#222;
  text-decoration: none;
}

/* BLUE */
input[type=submit].blue_button, button.blue_button, a.blue_button {
  background:#275b8a;
  border:1px solid #244974;
  color: white;
}
input[type=submit].blue_button:hover, button.blue_button:hover, a.blue_button:hover {
  background: #3b6f9f;
  color: white;
}

/* ORANGE */
input[type=submit].orange_button, button.orange_button, a.orange_button {
  background: transparent url(asset_path("buttons/fondo-join-space.png", image));
  color: white;
  border-bottom:1px #C18500 solid;
  border-top:1px #FFC14A solid;
  border-left:1px #FFC14A solid;
  border-right:1px #FFC14A solid;
}
input[type=submit].orange_button:hover, button.orange_button:hover, a.orange_button:hover {
  background:url(asset_path("buttons/fondo-join-space2.png", image));
  color: white;
}

/* PALE */
input[type=submit].pale_button, button.pale_button, a.pale_button {
  background: #F0F6F9;
  border: 1px solid #BDD8EB;
}
input[type=submit].pale_button:hover, button.pale_button:hover, a.pale_button:hover {
  background: #BDD8EB;
}

/* ORANGE PALE */
input[type=submit].orange_pale_button, button.orange_pale_button, a.orange_pale_button {
  background: #ffe8bd;
  border: 1px solid #ffd27c;
}
input[type=submit].orange_pale_button:hover, button.orange_pale_button:hover, a.orange_pale_button:hover {
  background: #ffd27c;
}

/* RED PALE */
input[type=submit].red_pale_button, button.red_pale_button, a.red_pale_button {
  background: #f6d6d6;
  border: 1px solid #f3b2b2;
}
input[type=submit].red_pale_button:hover, button.red_pale_button:hover, a.red_pale_button:hover {
  background: #f3b2b2;
}

/* RED */
input[type=submit].red_button, button.red_button, a.red_button {
  background: url(asset_path("buttons/leave-space-notext3.png", image));
  color: white;
  border-bottom:1px #a2042b solid;
  border-top:1px #d60337 solid;
  border-left:1px #d60337 solid;
  border-right:1px #d60337 solid;
}
input[type=submit].red_button:hover, button.red_button:hover, a.red_button:hover {
  background:url(asset_path("buttons/leave-space-notext4.png", image));
  color: white;
}

input[type=submit].disabled_button, button.disabled_button, a.disabled_button {
  opacity:0.6;
}

/* SMALL */
input[type=submit].small_button, button.small_button, a.small_button {
  font-size:0.8em;
  line-height:1;
}

/* MEDIUM */
input[type=submit].medium_button, button.medium_button, a.medium_button {
  padding: 2px 5px;
  font-size: 1em;
  line-height: 1.4em;
}

#passwords dl {
  position: relative;
  width: 350px;
}
#passwords dt {
  clear: both;
  float:left;
  width: 130px;
  padding: 4px 0 2px 0;
  text-align: left;
}
#passwords dd {
  float: left;
  margin: 0 0 8px 0;
  padding-left: 6px;
}

.float_right_icon {
  float: right;
  margin-right: 5px;
}

/* GENERAL STYLES */

.hide { display: none; }

.float_right { float: right; }

.float_left { float: left; }

.field { margin-bottom: 5px; }
