<%= error_messages_for 'article' %>

<!--[form:article]-->

<p><label for="article_description">Body</label><br/>
<%= fckeditor_textarea(:content, :body, :toolbarSet => 'Simple', :width => '50%', :height => '200px') %> 