@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links";
@import "definitions";

//
// General tags
//

body {
  background-color: $site-bg-color;
}

p {
  margin-bottom: 0.4em;
}

ul {
  list-style: none;
}

form {
  margin: 0;
}

@include set-sidebar-width($sidebar-width);

//
// Components used site-wide, in any layout
//

.webconf-join-group {
  // adjust make the 'fast start' icon
  .btn i.icon-awesome {
    float: none;
    margin: 0;
    padding: 0;
    @include font-size($font-small);
    color: white;
    &:hover { color: white; }
  }
  .btn-small i.icon-awesome {
    @include font-size($font-small);
  }
}

// user logos in a thread with several snippets
// e.g. list of posts, list of recent users, etc.
.logo-in-thread {
  @include logo-in-thread; // in _definitions
}

.clearfix {
  @include mconf-clearfix; // in _definitions
}

.danger-text {
  @include danger-text;
}

#notification-flashs {
  top: $navbar-height;
}

// Unified style for threads: posts, news, attachments
.thread {
  clear: both;
  padding: 20px 4px 8px 4px;
  margin: 1px 0;
  @include mconf-clearfix;
  //border-bottom: 1px solid #eee;

  // so .thread-action-links is correctly positioned
  position: relative;

  .thread-title {

    .icon-awesome {
      margin: 1px 5px 0px 0px;
    }

    // usually seen inside .resource-visibility
    .small > .icon-awesome {
      margin-right: 1px;
    }

    h2 .icon-awesome {
      margin: 7px 6px 0 0;
    }
  }

  &.thread-no-logo {
    .thread-content {
      margin-left: 0;
    }
  }

  .thread-content {
    margin-left: 55px;

    &.thread-content-full {
      margin-left: 0;
    }
  }

  .thread-title {
    overflow: hidden;

    h2 { margin-bottom: 0; }
  }

  .thread-subtitle {
    margin: 2px 0;
    //line-height: $font-normal + 6px; // less that in .thread-title

    i {
      margin: 0px 3px 0px 0px;
      float: none;
    }

    &.thread-subtitle-nested {
      margin-left: 6px;
    }
  }

  .thread-updated-at {
    @include small-date;
    padding: 2px 0;
  }

  .thread-action-links {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    @include mconf-clearfix;
    @include border-radius(4px);
    background: $very-light-gray;
    border: 1px solid #e0e0e0;

    li {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      margin-left: 10px;
      &:last-child {
        margin-right: 10px;
      }
    }

  }

  .thread-observation {
    color: #666;
    font-style: italic;
    float: right;
  }

  // playback links for recordings inside threads
  .thread-recording-playback {
    list-style-type: none;
    margin: 0 0 0 13px;
    padding: 0;

    .thread-playback-link {
      white-space: nowrap;
    }

    .thread-playback-unavailable {
      color: mix($link-color, #888, 70%); // a grayer link
    }

    .thread-playback-processing {
      color: darken($yellow, 10);
    }
  }

}

// Blocks that can be automatically expanded/collapsed
.block-expanded { display: none; }
.block-collapsed { }

// Blocks that will only be visible on hover
.visible-on-hover { display: none; }

// Wrapper around information about a user
// See users/_simple_user and users/_detailed_user
.user-wrapper {
  clear: both;
  @include mconf-clearfix;

  &.user-simple {
    margin: 5px 0;
    .user-text { margin-left: 45px; }
    .user-name { display: block; }
    .user-organization { display: block; }
  }

  &.user-detailed {
    .user-text { float: left; }
    .user-divider { float: left; margin-left: 5px; margin-right: 5px; color: $gray; }
    .user-name { display: block; clear: both; float: left; }
    .user-mail { display: block; clear: both; }
    .user-info-prefix { color: $font-color-gray; float: left; margin-right: 5px; }
    .user-organization { float: left; }
    .user-location { float: left; }
  }
}

//
// Page containers, redefined in the layouts
// Here we define the basic styles used in all layouts
//

#site {
  background-color: $site-bg-color;
  margin: 0px auto;
  width: 100%;
}

#navbar-wrapper {
  margin: 0;
  padding: 0 10px;
  background: $navbar-bg-color-dark;
  @include background(linear-gradient(bottom, $navbar-bg-color-light, $navbar-bg-color-dark));
}

#navbar {
  width: $contents-width;
  margin: 0 auto;
  padding: 0;
  height: $navbar-height;
  color: $navbar-font-color;
  @include font-size(12px);
}

#content-wrapper {
  padding-bottom: 20px;
  margin: 0;
}

#footer-wrapper {
  border-top: 1px solid darken($footer-bg-color, 10);
  background: $footer-bg-color;
  color: #444;
  clear: both;
  padding: 10px 0;
  margin-top: 20px;
}

#footer {
  @include mconf-clearfix;
  width: $contents-width;
  margin: 0 auto;
  padding: 0;
  color: #666;

  a {
    @include link-colors($link-color, $link-color-hover, $link-color-active);
    text-decoration: none;
  }

  h3 {
    @include font-size($font-normal);
    color: #888;
    margin-bottom: 7px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid darken($footer-bg-color, 8);
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: block;
      position: relative;
      margin-bottom: 5px;
    }
  }

  .link-group {
    float: left;
    margin-right: 35px;
    margin-top: 5px;
  }

  .footer-sponsors {
    width: 200px;
    float: right;
    margin-right: 0;
    margin-left: 20px;
    text-align: right;
    h3 { text-align: right; }
    li { margin-bottom: 15px; }
    img {
      float: right;
      margin-left: 10px;
    }
  }

  .footer-languages {
    img { margin-top: -4px; }
    ul { float: left; margin-right: 20px; }
    .icon-awesome { float: right; }
  }

  .current-version {
    clear: both;
    text-align: right;
    @include font-size($font-small);
  }
}

/* Simplified version */
#footer-wrapper.simple-footer {
  background: none;
  border: 0;
  @include box-shadow(none);

  #footer {
    h3 {
      float: left;
      border: 0;
      margin: 0 15px 0 0;
    }

    .languages {
      margin: 40px 0 0 0;
      float: right;
      ul {
        float: right;
        margin: 0;
        li {
          display: inline;
          float: left;
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

#footer-logo {
  float: left;
  color: #888;
  float: left;
  margin-right: 35px;

  a { @include link-colors(#bbb, $link-color-hover, $link-color-active); }

  .title {
    font-weight: bold;
    @include font-size($font-gigantic);
  }

  span { display: block; }
}

ul#navbar-left-links {
  list-style-type: none;
  float: left;
  margin: 0 10px;

  a, .icon-awesome {
    @include link-colors($navbar-font-color, $navbar-font-color-hover, $navbar-font-color-hover);
  }

  .icon-awesome {
    margin: 3px 3px 0px 0px;
    @include font-size($font-normal);
  }

  li {
    display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;

    &:first-child { border: 0 }

    .label { margin-left: 3px; }
  }
}

#navbar #navbar-right-links {
  @extend ul#navbar-left-links;
  float: right;
  margin-right: 10px;

  li {
    margin-left: 10px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0;
  }

  .user-info-dropdown {
    margin: 0;
    padding: 4px 10px 3px 10px;
  }

  // small user info in the navbar
  .user-info {

    .user-name {
      padding: 4px 10px 4px 5px;
      float: right;
      display: block;
    }

    .user-avatar {
      position: relative;
      float: right;
      padding: 2px;
      height: 22px;
      width: 22px;
      background: lighten($navbar-bg-color-dark, 10);
      @include border-radius(3px);
      @include broken-img-parent;

      img.logo-user {
        height: 22px;
        width: 22px;
      }
    }
  }

  // dropdown menu with the user information
  // it needs some adjustments over the default style
  .dropdown {
    &.open {
      $color: lighten-or-darken($navbar-menu-open-bg, $navbar-font-color, 10, 40);
      $color-hover: lighten($color, 15);

      background: $navbar-menu-open-bg;
      color: $color;
      .caret {
        border-top-color: $color;
      }
      .user-info {
        color: $color;
      }
      a { @include link-colors($color, $color-hover, $color-hover, $color); }
    }

    .caret {
      border-top-color: $navbar-font-color;
      margin-top: 11px;
      margin-right: 4px;
    }

    .dropdown-menu {
      color: lighten-or-darken($navbar-menu-open-bg, $navbar-font-color, 10, 30);
      background: $navbar-menu-open-bg;
      top: $navbar-height - 2px;
      right: -1px;
      left: auto;
      min-width: 300px;
      width: 300px;
      border: 1px solid #ccc;
      border-top: 0;
      padding: 10px;
      @include border-radius(4px, 0);
      //&.arrow-right:after { border-bottom-color: white; }

      a {
        @include link-colors($navbar-menu-open-link, $navbar-menu-open-link-hover, $navbar-menu-open-link-hover, $navbar-menu-open-link);
        padding: 0;
        &:hover {
          @include text-shadow(none);
          background-color: $transparent;
          background-image: none;
        }
      }
    }
  }

  // big user info shown in the dropdown clicking in the navbar
  .user-info-big {
    @include mconf-clearfix;

    .user-data {
      @include mconf-clearfix;
      padding-left: 7px;
      a, span {
        display: block;
        float: left;
        clear: left;
        margin-bottom: 3px;
      }
    }

    .user-name {
      padding: 4px 10px 4px 5px;
      float: right;
      display: block;
    }

    .user-avatar {
      position: relative;
      float: left;
      border: 1px solid darken($navbar-menu-open-bg, 10);
      padding: 1px;
      height: 64px;
      width: 64px;
      background: white;
      @include border-radius(3px);
      @include broken-img-parent;

      img.logo-user {
        height: 64px;
        width: 64px;
      }
    }
  }

  // user links shown in the dropdown clicking in the navbar
  .user-links {
    @include mconf-clearfix;
    clear: both;
    margin-top: 10px;
    background: darken($navbar-menu-open-bg, 5);
    padding: 2px;
    @include border-radius(4px);
    border: 1px solid darken($navbar-menu-open-bg, 10);

    ul {
      margin: 0;
      li {
        float: right;
        margin: 0;
        border: 0;
        padding: 0 10px;
        white-space: nowrap;
        a {
          clear: none;
          float: none;
          display: inline;
        }
      }
    }
  }

}

#main-logo {
  float: left;
  white-space: nowrap;
  margin-top: 2px;
  margin-right: 5px;
  @include mconf-clearfix;

  .title {
    @include link-colors($navbar-font-color, $navbar-font-color-hover, $navbar-font-color-hover, $navbar-font-color);
    @include font-size($font-bigger);
    float: left;
  }
}

#page-header-wrapper {
  border-bottom: 1px solid darken($light-gray, 7);
  background: $light-gray;
  padding: 0;
}

#page-header {
  width: $contents-width;
  margin: 0 auto;
  @include mconf-clearfix;
  overflow: visible;
  padding: 25px 0 20px 0;
  clear: both;
  word-break: break-all;

  > a, .current-page-extra > a {
    @include link-colors($page-header-link-color, $page-header-link-color-hover, $page-header-link-color-hover, $page-header-link-color);
  }

  h1 {
    margin: 0;
    border: 0;
  }

  .current-page-logo {
    float: left;
    border: 1px #ccc solid;
    padding: 1px;
    width: 84px;
    height: 64px;
    @include broken-img-parent;

    &.clean { border: 0; }

    // default size for spaces logos
    img {
      width: 84px;
      height: 64px;
    }
  }

  .current-page-title {
    float: left;
    margin-left: 10px;
    color: $page-title-color;

    // minus the logo and some padding/margin
    max-width: $contents-width - 120px;

    .main-title {

      @include font-size($font-section-title);
      line-height: 1.0;
      font-weight: bold;
      color: $page-title-color;
      margin-bottom: 5px;

      a {
        $c: $page-title-color;
        @include link-colors($c, lighten($c, 10), lighten($c, 10));
      }

      // when the title is too big the font is reduced a bit
      &.small-title {
        @include font-size($font-section-title - 10px);
        margin-top: 5px;
      }
    }
    a.main-title {
      @include link-colors($page-title-color, $link-color-hover, $link-color-active);
    }

    .sub-title {
      @include font-size($font-normal);
      display: block;
      font-weight: normal;
      color: lighten($page-title-color, 10);
    }

    // some tweaks for the titles in pages of spaces
    &.space-page {
      margin-top: 0;

      // the text that shows the visibility of spaces
      .resource-visibility {
        color: $dark-gray;
      }

      // the text that shows when a user is a member of the space
      .user-is-member {
        color: $dark-gray;
      }
    }
  }

  .current-page-extra {
    float: right;
    margin: 0 10px 0 0;
    text-align: right;
  }
}

#content {
  width: $contents-width;
  margin: 0 auto;
  padding: 20px 10px 0 0;

  // best way found to use mconf-clearfix and still get the element
  // centralized and with the correct margins/paddings
  @include mconf-clearfix;
  overflow: visible;
}

#sidebar, .sidebar {
  float: right;

  .content-block-wrapper {
    padding: 4px;
    @include border-radius(5px);
    background: $light-gray;
    margin-bottom: 10px;
    clear: both;
    @include block-wrapper-active;
  }

  .content-block {
    clear: both;
    padding: 10px;
    border: 1px solid #ddd;
    @include border-radius(5px);
    background: $site-bg-color;
  }

  .content-block-middle {
    clear: both;
  }

  .content-block-footer {
    text-align: right;
    margin-top: 10px;
    padding-top: 2px;
    padding-right: 5px;
    clear: both;
  }

  .content-block-header {
    @include mconf-clearfix;
    h3, h4 {
      float: left;
      margin-top: 0;
      img { margin-bottom: -3px; }
    }
  }

  .sidebar-top-action-button {
    @include mconf-clearfix;
    text-align: center;
    padding: 0 10px 10px 10px;

    /* reduce the buttons a bit */
    .btn-large {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  .toolbar {
    margin-bottom: 10px;
    padding: 5px 10px;
    background: $light-gray;
    @include border-radius(4px);
    clear: both;
    text-align: center;
  }

  /* To make buttons that ocuppy all width in the sidebar, usualy at the top,
     look a bit better */
  .btn-block-wrapper {
    padding: 0 5px;
    margin-bottom: 10px;
    @include mconf-clearfix;

    .btn-block {
      float: left;
    }
  }

  /* navbars in the sidebar */
  .nav {
    width: $sidebar-width - 12px; // all width minus spaces and borders
  }
}

#content-middle {
  float: left;
  @include mconf-clearfix;
  overflow: visible;

  h3 {
    color: #404040;
    margin-bottom: 5px;

    // horitontal line in the title
    &.horizontal-line {
      height: 13px;
      border-bottom: 3px solid #eee;
      margin-bottom: 15px;
      span {
        background: white;
        padding-right: 15px;
      }
    }
  }

  @mixin content-block-pagination {
    // adapt bootstrap's .pagination
    @include mconf-clearfix;
    .pagination {
      height: auto;
      margin: 2px 0;
      float: right;
      ul {
        margin: 0;
        background-color: white;
      }
      a {
        padding: 0 12px;
        line-height: 30px;
      }
      span {
        padding: 0;
        border: 0;
        line-height: 30px;
      }
    }
  }

  .content-block-wrapper {
    @include block-wrapper-active;
  }

  .content-block {
    clear: both;
    margin-bottom: 20px;
  }

  .content-block-footer {
    padding: 4px 10px;
    text-align: right;
    clear: both;

    &.content-block-footer-fancy {
      background: $light-gray;
      border-top: 1px solid #eee;
    }

    @include content-block-pagination;
  }

  .content-block-middle {
    padding: 10px 5px;
    clear: both;
  }

  .content-block-header {
    @include mconf-clearfix;
    img { float: left; }
    h3, h4 {
      float: left;
      margin: 0 4px;
    }

    .toolbar {
      float: right;

      a { margin-right: 10px; }
    }

    @include content-block-pagination;
  }
}

#page-menu {
  margin-bottom: -21px; // #page-header's bottom margin -2px
  padding-top: 15px;
  clear: both;

  > ul {
    margin: 0;

    > li {
      display: inline-block;
      margin-left: 10px;
      padding: 5px 10px 3px 10px;
      font-weight: bold;
      @include font-size($font-medium);

      &.selected {
        @include border-top-radius(4px);
        /* border-bottom: 3px solid $bright-blue; */
        border: 1px solid darken($site-bg-color, 20);
        border-bottom-color: $site-bg-color;
        background: $site-bg-color;
        > a {
          $normal: darken($page-menu-font-color, 20);
          $hover: lighten($page-menu-font-color, 10);
          @include link-colors($normal, $hover, $hover, $normal);
        }
      }

      > a {
        display: inline-block;
        margin-bottom: 0px;
        $normal: $page-menu-font-color;
        $hover: lighten($page-menu-font-color, 10);
        @include link-colors($normal, $hover, $hover, $normal);
        &.danger-text {
          @include danger-text;
          @include opacity(0.8);
          &.selected { @include opacity(1); }
        }
      }

      .caret-container {
        padding: 0 5px;
        display: block;
      }

      .caret {
        border-top-color: #888;
        margin-top: 6px;
      }

      .dropdown-menu {
        left: -8px;
      }
    }
  }
}

// A list of tabs inside of a page, to access subpages of it or to include
// additional functionality (e.g. search box)
#content .page-tabs {
  float: left;
  clear: both;
  margin-bottom: 20px;

  // when the div should be shown in fill width
  &.page-tabs-full {
    float: none;
    background: $very-light-gray;
    $border-color: darken($very-light-gray, 8);
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    padding: 10px;
    @include mconf-clearfix;
  }
}

// the upcoming events are shown in spaces/show and my/home
#sidebar-upcoming-events {
  .event-timezone {
    //float: left;
    //margin-bottom: 5px;
    color: #777;
    @include font-size($font-small);
  }

  .event-wrapper {
    clear: both;
    margin: 5px 0 10px 0;

    .event-title {
      display: block;
    }

    .event-date {
      display: block;
      @include font-size($font-small);
      color: #777;
    }
  }

  .event-category {
    clear: both;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
}

// To emphasize events that are hapenning now. Used in the pages that show events
// and in spaces.
.events-hapenning-now {
  .thread {
    background: $light-gray;
    border-left: 5px solid $bright-blue;
  }
}

// for elements highlighted using rails' highlight() view helper.
strong.highlight {
  background: $highlight-bg;
}

// for elements that might contain long words that can break the layout
.break-word {
  word-break: break-all;
}

// visibility of a resource: private space, public space, private event, etc.
.resource-visibility {
  display: block;

  .icon-awesome {
    float: none;
    margin-right: 2px;
  }

  &.small {
    @include font-size($font-small);

    .icon-awesome {
      @include font-size($font-small);
      width: $font-small;
      height: $font-small;
      line-height: $font-small;
      margin: 0;
    }
  }
}

// for small date/time texts
.small-date {
  @include small-date;
}

// resources waiting moderation
.user-waiting-moderation, .space-waiting-moderation {
  color: $font-color-gray;
}


// tablets/mobiles
@media (max-width: 767px) {
  body.responsive {
    padding-left: 0;
    padding-right: 0;

    #page-header {
      width: 100%;
    }

    #content-wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media (max-width: 979px) {
  body.responsive {
    #page-header {
      width: 100%;
    }
  }
}
