@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links";
@import "definitions";

//
// General tags
//

body {
  background-color: $m-site-bg-color;
}

p {
  margin-bottom: 0.4em;
}

ul {
  list-style: none;
}

form {
  margin: 0;
}

@include set-sidebar-width($m-sidebar-width);

//
// Components used site-wide, in any layout
//

.webconf-join-group {
  // adjust make the 'fast start' icon
  .btn i.icon-awesome {
    float: none;
    margin: 0;
    padding: 0;
    @include font-size($m-font-small);
    color: white;
    &:hover { color: white; }
  }
  .btn-small i.icon-awesome {
    @include font-size($m-font-small);
  }
}

// user logos in a thread with several snippets
// e.g. list of posts, list of recent users, etc.
.logo-in-thread {
  @include logo-in-thread; // in _definitions
}

.clearfix {
  @include mconf-clearfix; // in _definitions
}

.danger-text, a.danger-text {
  @include danger-text;
}

#notification-flashs {
  top: $m-navbar-height;
}

// Unified style for threads: posts, attachments
.thread {
  clear: both;
  padding: 10px 4px 8px 4px;
  margin: 1px 0;
  @include mconf-clearfix;
  //border-bottom: 1px solid #eee;

  // so .thread-action-links is correctly positioned
  position: relative;

  .thread-title {

    // usually seen inside .resource-visibility
    .small > .icon-awesome {
      margin-right: 1px;
    }

    h2 .icon-awesome {
      margin: 7px 6px 0 0;
    }
  }

  &.thread-no-logo {
    .thread-content {
      margin-left: 0;
    }
  }

  .thread-content {
    margin-top: 3px;
    margin-left: 65px;

    &.thread-content-full {
      margin-left: 0;
    }
  }

  .thread-title {
    overflow: hidden;

    h2 { margin-bottom: 0; }
  }

  .thread-subtitle {
    margin: 2px 0;
    //line-height: $m-font-normal + 6px; // less that in .thread-title

    i {
      margin: 0px 3px 0px 0px;
      float: none;
    }

    &.thread-subtitle-nested {
      margin-left: 6px;
    }
  }

  .thread-updated-at {
    @include small-date;
  }

  .thread-action-links {
    margin: 5px 0 5px 0;
    padding: 3px 0 3px 10px;
    @include mconf-clearfix;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    li {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      margin-right: 15px;
    }
  }

  .thread-observation {
    color: #666;
    font-style: italic;
    float: right;
  }

  // playback links for recordings inside threads
  .thread-recording-playback {
    list-style-type: none;
    margin: 0 0 0 13px;
    padding: 0;

    .thread-playback-link {
      white-space: nowrap;
    }

    .thread-playback-unavailable {
      color: mix($link-color, #888, 70%); // a grayer link
    }

    .thread-playback-processing {
      color: darken($m-yellow, 10);
    }
  }

}

// Blocks that can be automatically expanded/collapsed
.block-expanded { display: none; }
.block-collapsed { }

// Blocks that will only be visible on hover
.visible-on-hover { display: none; }

// Wrapper around information about a user
// See users/_simple_user and users/_detailed_user
.user-information {
  clear: both;
  @include mconf-clearfix;

  &.user-simple {
    margin: 5px 0;
    .user-text { margin-left: 45px; }
    .user-name {
      display: inline-block;
      /* @include text-truncate; */
    }
    .user-organization {
      display: block;
      /* @include text-truncate; */
    }
  }

  &.user-detailed {
    @include make-row;
    padding: 10px 0;

    .user-information-logo {
      @include make-xs-column(2);
      padding: 0;
      text-align: center;
      max-width: 64px;
    }
    .user-information-data {
      padding: 0;
      @include make-xs-column(9);
    }

    img.logo-user {
      width: 100%;
      height: 100%;
      max-width: 64px;
      max-height: 64px;
    }
    .user-name {
      display: inline;
      @include text-truncate;
    }
    .user-mail {
      display: inline;
      @include text-truncate;
    }
    .user-organization {
      display: block;
      @include text-truncate;
    }
    .user-location {
      display: block;
      @include text-truncate;
    }
  }
}

//
// Page containers, redefined in the layouts
// Here we define the basic styles used in all layouts
//

#site {
  background-color: $m-site-bg-color;
  /* margin: 0px auto; */
  /* width: 100%; */
  padding: 0;
}

#navbar-wrapper {
  margin: 0;
  padding: 0 10px;
  background: $m-navbar-bg-color-dark;
  @include background(linear-gradient(to top, $m-navbar-bg-color-light, $m-navbar-bg-color-dark));
  border-bottom: 1px solid $m-navbar-border-color;
  @include font-for-titles;
}

@mixin navbar-lists {
  ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      float: left;
      padding: 11px 10px 0 10px;
      height: $m-navbar-height + 1px; // + the border

      &:first-child { border: 0 }

      .label { margin-left: 3px; }

      &.notification {
        //background: lighten($m-navbar-bg-color-light, 5);
        margin: 0 10px 0 0;

        .badge {
          background-color: $brand-success;
          color: white;
          margin-right: 5px;
        }
      }
    }
  }

  a, .icon-awesome {
    @include link-colors($m-navbar-font-color, $m-navbar-font-color-hover, $m-navbar-font-color-hover);
  }

  .icon-awesome {
    margin: 3px 3px 0px 0px;
    @include font-size($m-font-normal);
  }
}

#navbar {
  @include make-row(0);
  height: $m-navbar-height;
  color: $m-navbar-font-color;
  @include font-size($m-font-medium);

  a {
    @include link-on-menus;
  }

  #navbar-left {
    @include make-sm-column(6);
    @include navbar-lists;
  }

  #navbar-right {
    @include make-sm-column(5);
    @include navbar-lists;

    ul {
      float: right;
      margin-right: 10px;

      li {
        margin-left: 10px;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }

  #navbar-logo {
    @include make-sm-column(1);
    float: left;
    white-space: nowrap;
    margin-top: 4px;
    @include mconf-clearfix;

    .title {
      @include link-colors($m-navbar-font-color, $m-navbar-font-color-hover, $m-navbar-font-color-hover, $m-navbar-font-color);
      @include font-size($m-font-bigger);
      float: left;
    }
  }

}

#footer-wrapper {
  clear: both;
  color: $m-footer-font-color;
  //margin-top: 30px;
  background: $m-footer-bg-color;
}

#footer, #footer-mconf {
  @include mconf-clearfix;
  @include make-row;
  margin: 0 auto;
  padding: 10px 0 0 0;
  border-top: 1px dotted darken($m-footer-border-color, 15);

  a {
    @include link-colors($m-footer-link-color, $m-footer-link-color-hover, $m-footer-link-color-active);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    @include mconf-clearfix;

    li {
      float: left;
      margin: 5px 10px;
    }
  }

  #footer-powered {
    clear: both;
    margin-left: 8px;
    margin-top: 5px;
    text-align: left;
    @include font-size($m-font-small);
  }

  #footer-left {
    text-align: left;
    @include make-xs-column(7);
  }

  #footer-right {
    //margin-top: 7px;
    text-align: right;
    @include make-xs-column(5);

    ul { float: right; }
  }

  /* .current-version { */
  /*   clear: both; */
  /*   text-align: right; */
  /*   @include font-size($m-font-small); */
  /* } */
}

#footer-logo {
  float: left;
  color: #888;
  float: left;
  margin-right: 35px;

  a { @include link-colors(#bbb, $m-link-color-hover, $m-link-color-active); }

  .title {
    font-weight: bold;
    @include font-size($m-font-gigantic);
  }

  span { display: block; }
}

#page-header-wrapper {
  //border-bottom: 1px solid $m-page-border-color;
  //background: $m-page-title-bg;
  padding: 0 20px;
}

#page-header {
  @include make-row;
  @include mconf-clearfix;
  overflow: visible;
  padding: 25px 10px 15px 10px;
  clear: both;
  word-break: break-all;

  &.without-menu {
    border-bottom: 1px solid $m-border-color-normal;
  }

  > a {
    @include link-colors($m-page-header-link-color, $m-page-header-link-color-hover, $m-page-header-link-color-hover, $m-page-header-link-color);
  }
  /* .current-page-extra > a { */
  /*   @include link-colors($m-page-header-link-color, $m-page-header-link-color-hover, $m-page-header-link-color-hover, $m-page-header-link-color); */
  /* } */


  h1 {
    margin: 0;
    border: 0;
  }

  .current-page-logo {
    @include make-xs-column(3);
    max-width: 250px;
    min-width: 150px;

    .current-page-logo-content {
      border: 1px #ccc solid;
      padding: 2px;
      @include broken-img-parent;
      margin-top: 5px;

      &.clean { border: 0; }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .current-page-title {
    color: $m-page-title-color;

    @include make-xs-column(9);

    .main-title {

      @include font-size($m-font-section-title);
      font-weight: bold;
      color: $m-page-title-color;
      margin-bottom: 5px;
      @include link-style(2);
      @include text-truncate;
     }

    .sub-title {
      display: block;
      font-weight: normal;
      margin-top: 10px;
    }

    // some tweaks for the titles in pages of spaces
    &.space-page {
      margin-top: 0;

      // the text that shows the visibility of spaces
      .resource-visibility {
        color: $m-dark-gray;
      }

      // the text that shows when a user is a member of the space
      .user-is-member {
        color: $m-dark-gray;
      }
    }
  }

  .current-page-extra {
    float: right;
    margin: 0 10px 0 0;
    text-align: right;
  }
}

#content {
  @include make-sm-container-height;
  width: 100%;
  background-color: $m-site-bg-color;

  margin: 20px auto 20px auto;

  // best way found to use mconf-clearfix and still get the element
  // centralized and with the correct margins/paddings
  @include mconf-clearfix;
  overflow: visible;
}

#content-row {
  @include make-sm-row-height;
  @include make-row;
}

#main-sidebar {
  @include make-xs-column(12);
  @include make-sm-column(3);
  @include make-sm-column-height;
  background: $m-sidebar-bg-color;
  border-right: 1px solid $m-sidebar-border;
  padding-right: 25px;
  padding-bottom: 30px;
  min-width: 300px;
}

#sidebar, .sidebar {
  @include make-xs-column(12);
  @include make-sm-column(3);

  .content-block-wrapper {
    padding: 4px;
    @include border-radius(5px);
    background: $m-light-gray;
    margin-bottom: 10px;
    clear: both;
    @include block-wrapper-active;
  }

  .content-block {
    clear: both;
    padding: 10px;
    border: 1px solid #ddd;
    @include border-radius(5px);
    background: $m-site-bg-color;
  }

  .content-block-middle {
    clear: both;
  }

  .content-block-footer {
    text-align: right;
    margin-top: 10px;
    padding-top: 2px;
    padding-right: 5px;
    clear: both;
  }

  .content-block-header {
    @include mconf-clearfix;
    h3, h4 {
      float: left;
      margin-top: 0;
      img { margin-bottom: -3px; }
    }
  }

  .sidebar-top-action-button {
    @include mconf-clearfix;
    text-align: center;
    padding: 0 10px 10px 10px;

    /* reduce the buttons a bit */
    .btn-large {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  .toolbar {
    margin-bottom: 10px;
    padding: 5px 10px;
    background: $m-light-gray;
    @include border-radius(4px);
    clear: both;
    text-align: center;
  }

  /* To make buttons that ocuppy all width in the sidebar, usualy at the top,
     look a bit better */
  .btn-block-wrapper {
    padding: 0 5px;
    margin-bottom: 10px;
    @include mconf-clearfix;

    .btn-block {
      float: left;
    }
  }

  /* navbars in the sidebar */
  .nav {
    width: $m-sidebar-width - 12px; // all width minus spaces and borders
  }
}

#content-middle {
  @include make-xs-column(12);
  @include make-sm-column(9);
  @include make-sm-column-height;
  background-color: $m-site-bg-color;
  @include mconf-clearfix;
  overflow: visible;
  padding-left: 25px;

  h3 {
    color: #404040;
    margin-bottom: 5px;

    // horitontal line in the title
    &.horizontal-line {
      height: 13px;
      border-bottom: 3px solid #eee;
      margin-bottom: 15px;
      span {
        background: white;
        padding-right: 15px;
      }
    }
  }

  @mixin content-block-pagination {
    // adapt bootstrap's .pagination
    @include mconf-clearfix;
    .pagination {
      height: auto;
      margin: 2px 0;
      float: right;
      ul {
        margin: 0;
        background-color: white;
      }
      a {
        padding: 0 12px;
        line-height: 30px;
      }
      span {
        padding: 0;
        border: 0;
        line-height: 30px;
      }
    }
  }

  .content-block-wrapper {
    @include block-wrapper-active;
  }

  .content-block {
    clear: both;
    margin: 10px 0 30px 0;
  }

  .content-block-footer {
    text-align: right;
    clear: both;
    margin: 5px 0;

    &.content-block-footer-fancy {
      //background: $m-light-gray;
      border-top: 1px solid darken($m-light-gray, 5);
    }

    .content-block-footer-middle {
      margin-top: -12px;
      background: white;
      float: right;
      padding: 0 10px;
    }

    @include content-block-pagination;
  }

  .content-block-middle {
    padding: 5px 0;
    clear: both;
  }

  .content-block-header {
    @include mconf-clearfix;
    margin: 5px 0;

    img { float: left; }
    h3, h4 {
      float: left;
      margin: 0;
    }

    .toolbar {
      float: right;

      a { margin-right: 10px; }
    }

    @include content-block-pagination;
  }
}

#page-menu {
  margin: 0;
  clear: both;
  @include mconf-clearfix;
  padding: 0 15px;

  > ul {
    // margin: 0 0 -2px 0; // -2 so selected items border gets over the default menu border
    margin: 0;
    padding: 0;
    border-bottom: 1px solid darken($m-site-bg-color, 10);

    > li {
      margin: 0 15px -2px 0; // -2 so selected items border gets over the default menu border
      display: inline-block;
      // margin-right: 15px;
      padding: 5px 15px 3px 15px;
      font-weight: bold;
      @include font-size($m-font-medium);

      // use link-style(2) but with a lighter default color
      @include link-style(2);
      > a:not(.btn) {
        color: $m-page-menu-font-color;
        &:visited { color: $m-page-menu-font-color; }
        &.danger-text {
          @include danger-text;
        }
      }

      &.active {
        border-bottom: 3px solid $m-second-color;
        a {
          $normal: darken($m-page-menu-font-color, 20);
          $hover: lighten($m-page-menu-font-color, 10);
          @include link-colors($normal, $hover, $hover, $normal);
        }
      }

      .caret-container {
        padding: 0 5px;
        display: block;
      }

      .caret {
        border-top-color: #888;
        margin-top: 6px;
      }

      .dropdown-menu {
        left: -8px;
      }
    }
  }
}

// A list of tabs inside of a page, to access subpages of it or to include
// additional functionality (e.g. search box)
#page-sub-menu.page-sub-menu {
  clear: both;
  margin: 0;
  @include mconf-clearfix;
  float: none;
  background: $m-very-light-gray;
  $border-color: darken($m-very-light-gray, 8);
  border-bottom: 1px solid $border-color;
  // border-top: 1px solid $border-color;
  padding: 15px 25px 0 15px;

  // use link-style(2) but with a lighter default color
  @include link-style(2);
  > a:not(.btn) {
    $normal: $m-page-menu-font-color;
    $hover: $m-second-color;
    color: $normal;
    @include link-colors($normal, $hover, $hover, $normal);

    padding: 6px 10px;
    display: inline-block;
    margin: -1px 0px; // -1 to go over the external element's border

    /* &.danger-text { @include danger-text; } */

    &.active {
      font-weight: bold;
      background: white;
      @include border-radius(0, 5px);
      border-top: 1px solid $border-color;
      border-bottom: 1px solid white;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      $normal: darken($m-second-color, 20); //darken($m-page-menu-font-color, 20);
      $hover: darken($m-second-color, 20); //lighten($m-page-menu-font-color, 10);
      @include link-colors($normal, $hover, $hover, $normal);
    }
  }
}

// the upcoming events are shown in spaces/show and my/home
#sidebar-upcoming-events {
  .event-timezone {
    //float: left;
    //margin-bottom: 5px;
    color: #777;
    @include font-size($m-font-small);
  }

  .event-wrapper {
    clear: both;
    margin: 5px 0 10px 0;

    .event-title {
      display: block;
    }

    .event-date {
      display: block;
      @include font-size($m-font-small);
      color: #777;
    }
  }

  .event-category {
    clear: both;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
}

// To emphasize events that are hapenning now. Used in the pages that show events
// and in spaces.
.events-hapenning-now {
  .thread {
    background: $m-light-gray;
    border-left: 5px solid $m-bright-blue;
  }
}

// for elements highlighted using rails' highlight() view helper.
strong.highlight {
  background: $m-highlight-bg;
}

// for elements that might contain long words that can break the layout
.break-word {
  word-break: break-all;
}

// visibility of a resource: private space, public space, private event, etc.
.resource-visibility {
  display: block;

  .icon-awesome {
    float: none;
    margin-right: 2px;
  }

  &.small {
    @include font-size($m-font-small);

    .icon-awesome {
      @include font-size($m-font-small);
      width: $m-font-small;
      height: $m-font-small;
      line-height: $m-font-small;
      margin: 0;
    }
  }
}

// for small date/time texts
.small-date {
  @include small-date;
}

// resources waiting moderation
.user-waiting-moderation, .space-waiting-moderation {
  color: $m-font-color-gray;
}

// The fake input we use to disable autocomplete in other inputs
.input-disable-autocomplete {
  display: none;
}

// tablets/mobiles
@media (max-width: 767px) {
  body.responsive {
    padding-left: 0;
    padding-right: 0;

    #page-header {
      width: 100%;
    }

    #content-wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media (max-width: 979px) {
  body.responsive {
    #page-header {
      width: 100%;
    }
  }
}

// We override this because the lib bootstrap-modal also does it and it doesn't really
// work well with boostrap 3's new markup, that includes .modal-dialog and .modal-content
.modal {
  background: inherit;
  border: 0;
  box-shadow: none;
}

#confirmation-dialog {
  .modal-body {
    text-align: center;
  }

  .modal-body {
    @include font-size($m-font-medium);
    padding: 30px;
  }

  .modal-footer {
    // wider space between footer buttons and links
    .btn, a {
      margin: 0 3px;
    }
  }
}
