@import "compass/css3";
@import "definitions";

.copyable-field {
  .icon-awesome {
    margin-top: 0;
  }
}

#copy-to-clipboard-modal {

  input {
    width: 95%;
    text-align: center;
  }

  &.success {
    .modal-header {
      background: $m-alert-success-bg;
    }
  }

  #copy-to-clipboard-message {
    display: none;
    color: $m-alert-success-font;
  }

}
