@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

$dropdown-border-color: #aaa;
$dropdown-bg-color: white;

// the container that has the link (.dropdown-toggle)
// and the menu (.dropdown-menu)
.dropdown {
  position: relative;

  .dropdown-toggle { cursor: pointer; }

  // emphasize the caret on hover and active
  &:hover, &.open {
    .caret { @include opacity(1); }
  }

  // show the menu when the dropdown is open
  &.open .dropdown-menu { display: block; }
}

// the arrow in the top of the dropdown menu
@mixin dropdown-menu-arrow($orientation: left) {
  &:before {
    display: inline-block;
    content: '';
    border-left: 7px solid $transparent;
    border-right: 7px solid $transparent;
    border-bottom: 7px solid $dropdown-border-color;
    border-bottom-color: $dropdown-border-color;
    position: absolute;
    top: -7px;
    @if $orientation == left {
      left: 9px;
    } @else {
      right: 9px;
    }
  }
  &:after {
    content: '';
    display: inline-block;
    border-left: 6px solid $transparent;
    border-right: 6px solid $transparent;
    border-bottom: 6px solid $dropdown-bg-color;
    position: absolute;
    top: -6px;
    @if $orientation == left {
      left: 10px;
    } @else {
      right: 10px;
    }
  }
}

// the menu itself
ul.dropdown-menu {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 2px;
    display: block;

    a {
      display: block;
      padding: 6px 12px;

      &:hover {
        background: $light-gray;
        @include link-colors(#808080, $link-color-hover, $link-color-active);
      }
    }
  }

  &.arrow-left { @include dropdown-menu-arrow; }
  &.arrow-right { @include dropdown-menu-arrow(right); }
}
