@import "definitions";

// overrides the height because this footer is simpler and smaller
// for more details see footer.css.scss

$m-footer-height: 90px;
$m-footer-total-height: $m-footer-height + 41px; // + padding + border + margin

#site {
  margin: 0 auto $m-footer-total-height*-1;
}

#footer-pusher {
  height: $m-footer-total-height;
}

#footer-wrapper {
  height: $m-footer-height;
}
