@import "definitions";

// heights are needed to make it stick to the bottom
$footer-total-height: $footer-height + 41px; // + padding + border + margin

html, body {
  /* The html and body elements cannot have any padding or margin for sticky footer. */
  height: 100%;
}

#site {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto $footer-total-height*-1;
}

#footer-pusher {
  height: $footer-total-height;
}

#footer-wrapper {
  height: $footer-height;
  clear: both;
}
