@import "definitions";

// overrides the height because this footer is simpler and smaller
// for more details see footer.css.scss

$footer-height: 90px;
$footer-total-height: $footer-height + 41px; // + padding + border + margin

#site {
  margin: 0 auto $footer-total-height*-1;
}

#footer-pusher {
  height: $footer-total-height;
}

#footer-wrapper {
  height: $footer-height;
}
