@import "definitions";

// heights are needed to make it stick to the bottom
$m-footer-total-height: $m-footer-height + 1px; // + padding + border + margin

html, body {
  /* The html and body elements cannot have any padding or margin for sticky footer. */
  height: 100%;
}

#site {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto $m-footer-total-height*-1;
}

#footer-pusher {
  height: $m-footer-total-height;
}

#footer {
  //height: $m-footer-height;
  height: $m-footer-height;
}
