@import "definitions";

form.in-place-edit {

  .in-place-edit-indicator {
    display: none;
    position: absolute;
    right: 0;
    top: 0;

    &.in-progress {
      width: 16px;
      height: 16px;
      color: $alert-font;
      /* TODO use font-awesome */
      /*background: url(asset_path("icons/in-progress-green-16x16.gif", image)) no-repeat left top;*/
    }

    &.success {
      color: $alert-success-font;
    }

    &.error {
      color: $alert-danger-font;
    }
  }

  &.in-progress .in-place-edit-indicator.in-progress { display: block; }
  &.success .in-place-edit-indicator.success { display: block; }
  &.error .in-place-edit-indicator.error { display: block; }
}
