@import "compass/css3";
@import "definitions";

.list-container {
  padding: 0;

  .list-item-header {
    border-top-width: 1px;
    background: $m-light-gray;
    padding: 3px 0;
    text-align: center;
    border-top: 1px solid $m-border-color-medium;
  }

  .list-item {
    border-top: 1px solid $m-border-color-medium;
    clear: both;
    @include mconf-clearfix;
    padding: 12px 4px 12px 4px;

    &:first-child {
      border-top-width: 2px;
      margin-top: 0;
    }

    &:hover, &.active {
      background-color: $m-light-gray;
    }

    &.list-item-disabled {
      color: $m-background-recording-disabled;
      background: $m-very-light-gray;
      opacity: 0.8;

      .logo-in-thread {
        opacity: 0.7;
      }

      .label {
        opacity: 0.5;
      }
    }

    .list-text-title {
      margin-bottom: 4px;
      @include mconf-clearfix;

      > a {
        float: left;
      }
    }

    .list-text-subtitle {
      margin-bottom: 4px;
    }

    .list-text-description {
      color: $m-font-light;
    }

    .list-actions {
      text-align: right;

      /* because they are always just icons */
      a:hover, a:focus {
        text-decoration: none;
      }
    }
  }

  .list-item-logo {
    text-align: center;
    @include logo-container;
  }
}

table, .table {
  margin: 0;
  border-spacing: 0px 20px;
  border-collapse: separate;

  th {
    font-size: $m-font-mini;
    font-weight: $m-font-weight-bold;
  }

  thead:first-child > tr:first-child > th { /* very specific to override bootstrap */
    color: $m-titles;
    border: 0;
  }

  tbody {
    tr {
      padding: 12px 0;
      border-top: 12px solid $m-site-bg-color;
      border: 0;

      &.shadowed {
        box-shadow: 0px 0px 12px 0px rgba(43,45,66, 0.15);
      }

      td {
        padding: 16px 12px;
        vertical-align: middle;
        border: 0;
        .dropdown-toggle {
          background: $m-site-bg-color;
        }
      }

      &:hover {
        background: $m-light-gray;
      }

      &:last-child {
        td {
          /* border-bottom: 30px solid $m-site-content-bg-color; */
        }
      }
    }
  }

  td:first-child, th:first-child {
    border-top-left-radius: $m-border-radius-large;
    border-bottom-left-radius: $m-border-radius-large;
    /* border-left: 30px solid $m-site-content-bg-color; */
  }

  td:last-child, th:last-child {
    border-top-right-radius: $m-border-radius-large;
    border-bottom-right-radius: $m-border-radius-large;
    /* border-right: 30px solid $m-site-content-bg-color; */
                 }

  td.thin {
    font-weight: $m-font-weight-thin;
  }
}

/* .table-wrapper { */
/*   background: transparent; */
/* } */

/* table, .table { */
/*   tbody { */
/*     tr { */
/*       background: $m-very-light-gray; */
/*       border-radius: 10%; */
/*     } */

/*     tr { */
/*       border-top: 12px solid $m-site-bg-color; */
/*     } */
/*   } */
/* } */
