@import "compass/css3";
@import "definitions";

ul.list-thumbnails {
  margin: 0;
  padding: 0;
  clear: both;
  @include mconf-clearfix;

  .list-thumbnail-wrapper {
    float: left;
    background: $light-gray;
    padding: 5px;
    margin: 0px 10px 5px 0px;
    @include border-radius(4px);
    @include mconf-clearfix;
    width: 47%;
    @include block-wrapper-active;

    &.selected {
      .list-thumbnail {
        border-color: $second-color;
        @include box-shadow(0 0 5px lighten($second-color, 10));
      }
    }
  }

  .list-thumbnail {
    @include mconf-clearfix;
    border: 1px solid darken($light-gray, 12);
    @include border-radius(4px);
    background: white;

    .list-logo {
      float: left;
      width: 84px;
      height: 64px;
      @include broken-img-parent;
      border-right: 1px solid darken($light-gray, 12);

      img {
        width: 84px;
        height: 64px;
      }
    }

    .list-description {
      margin: 3px 10px 1px 10px;
      overflow: hidden;
      float: left;

      .list-title {
        display: block;
        white-space: nowrap;
      }
    }
  }

}

.list-texts {
  margin: 0;
  pading: 0;

  .thread {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  &.selected .thread {
    border-right: 5px solid #aaa;
    padding-right: 0;
  }

  .thread-title {
    @include font-size($font-medium);
  }
}
