@import "definitions";

.modal .modal-header {
  padding: 50px;
  border-bottom: 0;
  text-align: center;

  h1, h2, h3, h4, h5 {
    color: $m-titles;
    margin: 0;
    font-size: $m-font-big;
    font-weight: $m-font-weight-bold;
    line-height: 1;
  }

  .close {
    margin: -15px 0px;
    opacity: 0.5;

    &:hover, &:focus, &:active {
      opacity: 0.8;
    }
  }
}

.modal-body {
  padding: 0 60px;
}

// make the background of modals darker
.modal-scrollable {
  background: rgba(0,0,0,0.4);
}
.modal-open .modal {
  background: none;
}

// for modals that don't open, show an error
.modal .modal-error {
  background: $m-alert-danger-font;
  color: #fff;
  @include font-size($m-font-double);
  text-align: center;
  padding: 40px;
}

// for some reason it stays on top of modals if not resetting the z-index
.input-group .form-control {
  z-index: auto;
}

.modal-content {
  background: $m-modal-bg;
  border: 0;
  box-shadow: none;
}

.modal-footer {
  border-top: 0;
  margin: 0 40px;
  padding-bottom: 30px;
}
