@import "compass/css3";
@import "definitions";

.modal-small {
  width: 400px;
  left: 60%;
}

@media (max-width: 979px) {
  .modal-small {
    left: 1%; // as done in bootstrap
  }
}

.modal-body {
  // prevent horizontal scrollbars
  overflow-x: hidden;
}
