@import "compass/css3";
@import "definitions";

.modal-small {
  width: 400px;
  left: 60%;
}

.xhr-error {

  .status {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
    font-size: 200%;
    i {
      padding-right: 20px;
      font-size: 300%;
    }
  }

}

@media (max-width: 979px) {
  .modal-small {
    left: 1%; // as done in bootstrap
  }
}

.modal-body {
  // prevent horizontal scrollbars
  overflow-x: hidden;
}

// By default, .form-actions is used on the bottom of forms and has its own style.
// In modal footers, however, it should look cleaner and tighter.
.modal-footer .form-actions {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}
