@import "compass/css3";
@import "definitions";

#notification-flashs {
  display: none;
}

.noty_bar .noty_close {
  top: 9px;
  right: 20px;
  background-image: image-url('jquery/noty/closelabel.png');
}

.noty_bar .noty_message {
  font-size: $font-medium;
  padding: 10px 30px 10px 10px;
}

.noty_bar.top {
  border-bottom-width: 0px;
}

$notif-success-bg: #3AA900;
$notif-notice-bg: #fde073;
$notif-error-bg: #D14836;

.noty_bar.alert {
  background-color: $notif-notice-bg;
  color: #222;
  @include box-shadow(0 1px 5px 0 darken($notif-notice-bg, 15));
}
.noty_bar.error {
  background-color: $notif-error-bg;
  color: #fff;
  @include box-shadow(0 1px 5px 0 darken($notif-error-bg, 15));
}
.noty_bar.success {
  background-color: $notif-success-bg;
  color: #111;
  @include box-shadow(0 1px 5px 0 darken($notif-success-bg, 15));
}
