@import "compass/css3";
@import "definitions";

#notification-flashs {
  display: none;
}

#toast-container {

  &.toast-top-full-width {
    right: 0px;
    left: 0px;
    top: 0px;
    width: auto;

    > div {
      width: auto;
      @include border-radius(0);
    }

    .toast-message {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &.toast-top-center {
    > div { width: 60%; }
  }

  &.toast-top-right {
    top: 10px;
    right: 10px;
  }

  &.toast-right-navbar {
    right: 60px;
    top: $m-navbar-height * 1.3;
    width: 720px;

    > div {
      width: auto;
      @include border-radius(0);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      vertical-align: top;
      font-size: $m-font-icon;
    }

    .toast-message {
      padding-top: 5px;
      padding-bottom: 5px;
      display: inline-block;
      max-width: 80%;
      text-align: left;
    }
  }

  > .toast-error, > .toast-warning, > .toast-success {
    background-image: none !important;
  }

  div {
    opacity: 1;
    @include box-shadow(none);
    @include border-radius(0);
    padding: 10px;
    text-align: center;
  }

  .toast {
    cursor: pointer;
    @include border-radius(5px);
  }

  > :hover {
    @include box-shadow(none);
  }

  .toast-close-button {
    top: 0;
    right: 0;
    padding: 1px 10px 3px 10px;
    @include border-radius(3px);
  }

  .toast-message {
    cursor: pointer;
  }

  .toast-warning {
    background-color: $orange;
  }

  .toast-success {
    background-color: $m-success-notification;
    /*border-bottom: $m-success-notification-border;*/
  }

  .toast-error {
    background-color: $m-error-notification;
    /*border-bottom: $m-error-notification-border;*/
  }
}
