@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

// small adjustments in the height of the inputs - they are shorter in our app than
// they are by default in bootstrap-select2
.select2-container {
  .select2-choice {
    height: 28px;
  }
}
.select2-container-multi .select2-choices .select2-search-field input {
  height: auto;
  padding: 4px 4px;
}

// a select2 inside a form and an .input, should behave just like any other input
// does when inside a form
.simple_form .input .select2-container {
  margin-bottom: 10px;
}
.simple_form.form-inline .input .select2-container {
  margin-bottom: 0;
  text-align: left;
}

// the button to remove the current selection was not properly positioned
.select2-container .select2-choice abbr {
  top: 8px;
}

// selected itens should have the appropriate placing inside the input
.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 4px;
  background: $tags-bg-color;
  color: $tags-font-color;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

// adjust the borders of the input when inside a .btn-group
.btn-group .select2-container .select2-choice {
  border-left-width: 0;
  border-right-width: 0;
}
.btn-group .select2-container:last-child .select2-choice {
  border-right-width: 1px;
}
.btn-group .select2-container:first-child .select2-choice {
  border-left-width: 1px;
}
