// When included, will set a maximum width to the website. It will still be responsive,
// but after this maximum width it becomes static.

@import "definitions";

#content {
  @include set-max-site-width;
}

#navbar {
  @include set-max-site-width;
}

#footer-content {
  @include set-max-site-width;
}

#page-header, #page-menu, #page-sub-menu {
  @include set-max-site-width;
}


/* // We have to add a fake element covering all the left side of the screen to extend */
/* // the background color used in the sidebar. */
/* // Only for >= sm, should not appear on xs. */
/* @media (min-width: 768px) { */
/*   #site:before { */
/*     position: fixed; */
/*     top: 0px; */
/*     left: 0px; */
/*     width: 50%; */
/*     height: 100%; */
/*     //background: $m-light-gray; */
/*     z-index: -1; */
/*   } */

/*   #site { */
/*     // remove the bg color otherwise it will be over our fake element */
/*     background: none; */
/*   } */
/* } */

#site {
  z-index: 10;
}

#footer-wrapper {
  z-index: 1;
}

#navbar-wrapper {
  z-index: 1;
}
