// the 'Show?' checkbox and text
.simple_form .input input[type=checkbox].showable_password_show {
  display: inline;
  margin-left: 5px;
  margin-top: -4px;
}
.simple_form .input label.showable_password_show_label {
  display: inline;
  margin-left: 3px;
}
