// the 'Show?' checkbox and text
.simple_form .input {
  input[type=checkbox].showable_password_show {
    display: inline;
    margin-left: 5px;
    margin-top: -4px;
  }

  label.showable_password_show_label {
    display: inline;
    margin-left: 0;
  }

  // remove the padding in this label, there's no hint beside it
  &.field_with_hint .showable_password_show_label {
    padding-left: 0;
  }
}
