@import "compass/css3";
@import "definitions";

.simple_form {
  position: relative;

  .form-group {

    // limit the height of a textarea by default
    textarea {
      max-height: 250px;
      resize: vertical;
    }

    .help-block {
      display: none;
    }

    &.has-hint {
      .icon-mconf-help {
        margin-left: 4px;
        cursor: pointer;
      }
    }

    &.showable_password {
      > div {
        position: relative;
      }

      .showable_password_show, .showable_password_hide {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
      }

      .showable_password_hide {
        display: none;
      }
    }
  }

  abbr {
    border: 0;
    margin: 0;
    color: red;
  }

  .form-actions {
    clear: both;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid $m-border-color-normal;
    text-align: right;

    // wider space between form buttons and links
    .btn, a {
      margin: 0 3px;
    }
  }

  .has-error {
    .error-block {
      display: block;
      text-align: right;
      margin-right: 20px;
      /* margin-left: 5px; */
      color: $m-red;
      font-style: italic;
    }
  }

  // forms with a single column, where no information can be
  // shown at the side of an input
  &.single-column {
    .field_with_errors .error {
      display: block;
      text-align: right;
    }

    input.string, input.password, input.numeric, input.fake, textarea, select {
      width: 100%
    }
    select.datetime {
      width: 13%;
    }
  }

  &.form-horizontal {
    label:not(.checkbox) {
      text-align: right;
      padding-top: 6px;
    }
  }
}

.modal .modal-footer .form-actions {
  margin: 0;
  padding: 0;
  border: 0;
}
