@import "compass/css3";
@import "definitions";

.simple_form {
  /* overflow: display; */
  position: relative;

  .form-group {
    /* margin-top: 5px; */
    /* margin-bottom: 10px; */
    /* position: relative; */

    /* label { */
    /*   cursor: pointer; */

    /*   &.collection_radio_buttons { */
    /*     display: inline; */
    /*     margin-left: 5px; */
    /*     margin-right: 10px; */
    /*   } */
    /* } */

    abbr {
      border: 0;
      margin: 0;
      color: red;
    }

    input[type="checkbox"].showable_password_show {
      margin: 0 3px;
      display: inline;
    }

    // limit the height of a textarea by default
    textarea {
      max-height: 150px;
    }

    .help-block {
      display: none;
    }

    // add a nice icon to fields that have a hint
    &.has-hint {

      label.control-label {
        //&:hover, &:focus { color: darken($m-alert-info-font, 20); }
        cursor: pointer;
        padding-left: 18px;

        background: url("/assets/icons/question-sign-13x13.png") no-repeat left 4px;
        background-width: 13px;
        background-height: 13px;

        &.checkbox {
          padding-left: 38px;
        }
      }
    }
  }

  .form-actions {
    clear: both;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $m-border-color-normal;
    text-align: right;

    // wider space between form buttons and links
    .btn, a {
      margin: 0 3px;
    }
  }

  .has-error {
    .error-block {
      display: block;
      text-align: right;
      margin-right: 20px;
      /* margin-left: 5px; */
      color: $m-red;
      font-style: italic;
    }
  }

  // forms with a single column, where no information can be
  // shown at the side of an input
  &.single-column {
    .field_with_errors .error {
      display: block;
      text-align: right;
    }

    input.string, input.password, input.numeric, textarea, select {
      width: 97%
    }
    input.showable_password {
      width: 78%;
      display: inline-block;
    }
    select.datetime {
      width: 13%;
    }
  }

  &.form-horizontal {
    .error-block {
    }
  }
}

.modal .modal-footer .form-actions {
  margin: 0;
  padding: 0;
  border: 0;
}
