@import "compass/css3";
@import "definitions";

.simple_form {
  overflow: display;

  .input {
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;

    label {
      cursor: pointer;

      &.collection_radio_buttons {
        display: inline;
        margin-left: 5px;
        margin-right: 10px;
      }
    }

    abbr {
      border: 0;
      margin: 0;
      color: red;
    }

    // hints
    $hint-border-color: #222; //darken($alert-bg, 25);
    .hint {
      font-size: $font-normal;
      border: 1px solid $hint-border-color;
      @include border-radius(3px);
      padding: 3px 8px;
      z-index: $z-index-tooltip;
      position: absolute;
      display: none;
      color: #eee;
      background: #222;
    }
    .hint::before {
      display: inline-block;
      content: '';
      border-left: 7px solid $transparent;
      border-right: 7px solid $transparent;
      border-bottom: 7px solid $hint-border-color;
      border-bottom-color: $hint-border-color;
      position: absolute;
      top: -8px;
      left: 5px;
    }
    // focusing or hovering shows the hint
    &:hover .hint, *:focus ~ .hint { display: block; }

    // add a nice icon to fields that have a hint
    &.field_with_hint {
      &:hover, &:focus { color: darken($alert-info-font, 20); }
      cursor: pointer;
      background: url("/assets/icons/help-16x16.png") no-repeat left top;
      background-position: -16px 0;
      label {
        margin-left: 20px;
      }
    }
  }

  .field_with_errors {
    input, textarea { border-color: $red; }

    .error {
      margin-left: 5px;
      color: $red;
      font-style: italic;
    }
  }

  // forms with a single column, where no information can be
  // shown at the side of an input
  &.single-column {
    .field_with_errors .error {
      display: block;
      text-align: right;
    }

    input.string, input.password, textarea.text, select {
      width: 97%
    }
    input.showable_password {
      width: 78%
    }
  }

  .input-prepend .add-on, .input-prepend .btn {
    margin-right: -4px;
  }

  div.controls {
    display: inline;
  }

}
