// TODO: this is here for future references, we're not using jquery-ui's tabs yet

@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

// Mconf's custom classes for jQuery UI Tabs

// basic styles from jquery-ui for the tabs to work properly
.ui-tabs { position: relative; padding: 0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
//.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
//.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
//.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
//.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
//.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
//.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

// TODO: almost the same as #page-menu, can be unified
// our custom style
.ui-tabs-nav {
  @include mconf-clearfix;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #DDD;
  clear: both;

  li {
    display: inline-block;
    padding-left: 10px;

    a {
      display: inline-block;
      margin-bottom: -5px;
      @include link-colors(#808080, $link-color-hover, $link-color-active);
      padding: 5px 10px;
      font-weight: bold;
      font-size: 14px;
    }

    &.ui-tabs-selected a {
      color: $blue;
      @include border-top-radius(5px);
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid white;
      background: $site-bg-color;
    }
  }
}