@import "compass/css3";
@import "definitions";

.label.label-tag {
  background-color: #BBB;
  a {
    color: white;
  }
}

.label.label-tag:hover {
  background-color: #DDD;
}

.label.label-tag-more {
  background-color: #8BB;
  a {
    color: white;
  }
}

.label.label-tag-more:hover {
  background-color: #8DD;
}

.label.label-tag-less {
  background-color: #8BB;
  a {
    color: white;
  }
}

.label.label-tag-less:hover {
  background-color: #8DD;
}

.more-tags { }
