@import "compass/css3";
@import "definitions";

.label {

  &.label-tag, &.label-tag-more, &.label-tag-less {
    background: none;
    text-shadow: none;
    font-size: 95%;
    font-weight: 300;
    padding: 3px;
    margin: 3px 5px 3px 0;
    background: $m-tags-bg-color;

    a {
      padding: 2px 4px;
      display: inline-block;
      color: $m-tags-font-color;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background-color: $m-tags-bg-color-hover;
    }
  }

  &.label-tag-more, &.label-tag-less {
    background: none;

    &:hover {
      color: lighten($m-tags-font-color, 10);
      background: none;
    }
  }
}
