@import "compass/css3";
@import "definitions";

.label {

  &.label-tag, &.label-tag-more, &.label-tag-less {
    background: none;
    text-shadow: none;
    font-size: 95%;
    font-weight: 300;
    padding: 0;
    margin: 0 4px 4px 0;
    background: $m-tags-bg-color;
    display: inline-block;

    a {
      padding: 5px 7px;
      display: inline-block;
      color: $m-tags-font-color;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background-color: $m-tags-bg-color-hover;
    }
  }

  &.label-tag-more, &.label-tag-less {
    background: none;
    padding: 0;

    a {
      padding: 0;
    }

    &:hover {
      color: lighten($m-tags-font-color, 10);
      background: none;
    }
  }
}

/*
 * For when there are tags inside the title on lists
 */
.list-container {
  .list-item {
    .list-text-title {
      .tag-list {
        float: right;
        font-size: $m-font-normal;
      }
      @include breakpoint(md-down) {
        .tag-list {
          margin-top: 4px;
          float: left;
        }
      }
    }
  }
}
