@import "compass/css3";
@import "definitions";

.label {

  &.label-tag, &.label-tag-more, &.label-tag-less {
    background: none;
    text-shadow: none;
    font-size: 95%;
    font-weight: 300;
    padding: 0;
    margin-bottom: 3px;
    background: $tags-bg-color;

    a {
      padding: 2px 4px;
      display: inline-block;
      color: $tags-font-color;
    }

    &:hover {
      background-color: $tags-bg-color-hover;
    }
  }

  &.label-tag-more, &.label-tag-less {
    background: none;

    &:hover {
      color: lighten($tags-font-color, 10);
      background: none;
    }
  }
}
