@import "compass/css3";
@import "definitions";

.tooltipped {
  cursor: pointer;
}

/* Without this some tooltips will be shown in a single line, and if its
   text is too big it won't show the entire text. Also, when inside another element
   they shouldn't take the text format of that element.  */
.tooltip-inner {
  white-space: normal;
  min-width: 150px;
  font-weight: normal;
  @include text-shadow(none);
}

.ui-tooltip-mconf {
  z-index: 9999;
  font-weight: normal;

  .ui-tooltip-content {
    font-size: $font-normal;
    text-align: center;
    line-height: 1.3em;
    font-weight: normal;
  }
}

.ui-tooltip-mconf-label {
  z-index: 9999;
  font-weight: normal;

  .ui-tooltip-content {
    font-size: $font-medium;
    text-align: center;
    font-weight: normal;
  }
}
