@import "definitions";

.tooltipped {
  cursor: pointer;
}

.ui-tooltip-mconf {
  z-index: 9999;
  .ui-tooltip-content {
    font-size: $font-normal;
    text-align: center;
    line-height: 1.3em;
    font-weight: normal;
  }
}

.ui-tooltip-mconf-label {
  z-index: 9999;
  .ui-tooltip-content {
    font-size: $font-medium;
    text-align: center;
    font-weight: normal;
  }
}
