@import "compass/css3";
@import "definitions";

.tooltipped {
  cursor: pointer;
}

.tooltip {
  z-index: $z-index-tooltip;
}

/* Without this some tooltips will be shown in a single line, and if its
   text is too big it won't show the entire text. */
.tooltip-inner {
  white-space: normal;
  font-weight: normal;
}

.ui-tooltip-mconf {
  z-index: $z-index-tooltip;
  font-weight: normal;

  .ui-tooltip-content {
    font-size: $font-normal;
    text-align: center;
    line-height: 1.3em;
    font-weight: normal;
  }
}

.ui-tooltip-mconf-label {
  z-index: $z-index-tooltip;
  font-weight: normal;

  .ui-tooltip-content {
    font-size: $font-medium;
    text-align: center;
    font-weight: normal;
  }
}
