@import "compass/typography/links/link-colors";
@import "compass/css3";
@import "definitions";

html {
  font-size: 100%;
}

body {
  @include font-size($m-font-normal);
  font-family: $m-font-family;
  line-height: $m-base-line-height;
  color: $m-font-color;
}

body,
input,
select,
textarea {
  font-family: $m-font-family;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-style: normal;
  @include font-for-titles;
  @include link-style(2);
}

h1, .h1 {
  @include font-size($m-font-normal*2.6667);
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h2, .h2 {
  @include font-size($m-font-normal*2);
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h3, .h3 {
  @include font-size($m-font-normal*1.3333);
  margin: 1em 0 0.5em;
  line-height: 1.3;
}

h4, .h4 {
  @include font-size($m-font-normal*1.16667);
  margin: 1em 0 0.5em;
  line-height: 1.3;
}

h5, .h5 {
  @include font-size($m-font-normal);
  margin: 1em 0 0.5em;
  line-height: 1.3;
  color: lighten($m-font-color, 10);
}

h6, .h6 {
  @include font-size($m-font-normal);
  margin: 1em 0 0.5em;
  line-height: 1.3;
  color: lighten($m-font-color, 20);
}

p {
  @extend %baseSpacing;
}

pre,
code {
  @include font-for-code;
}

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

a:not(.btn) {
  @include link-colors($m-link-color, $m-link-color-hover, $m-link-color-active, $m-link-color);
  @include transition(all 0.1s ease-in);
  text-decoration: none;
  &:hover, &:active, &:focus { text-decoration: underline; }
  &:focus { color: lighten($m-link-color-active, 7); }
}

.label {
  font-family: $m-font-family2;
}
