@import "compass/typography/links/link-colors";
@import "compass/css3";
@import "definitions";

html {
  font-size: 100%;
}

body {
  @include font-size($font-normal);
  font-family: $font-family;
  line-height: $base-line-height;
  color: $font-color;
}

body,
input,
select,
textarea {
  font-family: $font-family;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-style: normal;
}

h1, .h1 {
  @include font-size($font-normal*2.6667);
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h2, .h2 {
  @include font-size($font-normal*2);
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h3, .h3 {
  @include font-size($font-normal*1.3333);
  margin: 1em 0 0.5em;
  line-height: 1.3;
}

h4, .h4 {
  @include font-size($font-normal*1.16667);
  margin: 1em 0 0.5em;
  line-height: 1.3;
}

h5, .h5 {
  @include font-size($font-normal);
  margin: 1em 0 0.5em;
  line-height: 1.3;
  color: lighten($font-color, 10);
}

h6, .h6 {
  @include font-size($font-normal);
  margin: 1em 0 0.5em;
  line-height: 1.3;
  color: lighten($font-color, 20);
}

p {
  @extend %baseSpacing;
}

pre,
code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
}

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

a {
  @include link-colors($link-color, $link-color-hover, $link-color-active);
  @include transition(all 0.1s ease-in);
  text-decoration: none;
  &:hover, &:active, &:focus { text-decoration: none; }
  &:focus { color: lighten($link-color-active, 7); }
}
