@import "compass/typography/links/link-colors";
@import "compass/css3";
@import "definitions";

html {
  font-size: 100%;
}

body {
  font-size: $m-font-normal;
  font-family: $m-font-family;
  line-height: $m-base-line-height;
  color: $m-font-color;
}

body,
input,
select,
textarea {
  font-family: $m-font-family;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $m-font-h-color;
  font-style: normal;
  font-family: $m-font-family-h;

  a:not(.btn) {
    @include link-colors($m-font-h-color, $m-font-h-color-hover, $m-font-h-color-active, $m-font-h-color);
    text-decoration: $m-link-decoration;
  }
}

h1, .h1 {
  font-size: $m-font-normal * $m-font-h1-multiplier;
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h2, .h2 {
  font-size: $m-font-normal * $m-font-h2-multiplier;
  margin: 1em 0 0.5em;
  line-height: 1.1;
}

h3, .h3 {
  font-size: $m-font-normal * $m-font-h3-multiplier;
  margin: 1em 0 0.5em;
  line-height: 1.3;
}

h4, .h4 {
  font-size: $m-font-normal * $m-font-h4-multiplier;
  margin: 1em 0 0.5em;
  line-height: 1.3;
}

h5, .h5 {
  font-size: $m-font-normal * $m-font-h5-multiplier;
  margin: 1em 0 0.5em;
  line-height: 1.3;
  color: lighten($m-font-color, 10);
}

h6, .h6 {
  font-size: $m-font-normal * $m-font-h6-multiplier;
  margin: 1em 0 0.5em;
  line-height: 1.3;
  color: lighten($m-font-color, 20);
}

p {
  /* @extend %baseSpacing; */
}

pre,
code {
  font-family: $m-font-family-mono;
}

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

a:not(.btn) {
  @include link-colors($m-link-color, $m-link-color-hover, $m-link-color-active, $m-link-color);
  @include transition(all 0.1s ease-in);
  text-decoration: $m-link-decoration;
  &:hover, &:active, &:focus { text-decoration: $m-link-decoration-hover; }
  &:focus { color: lighten($m-link-color-active, 7); }
}

.label {
  font-family: $m-font-family-label;
}
