@import "compass/typography/links/link-colors";

body {
  font-size: 75%;
  color: #222;
  background-color: #f8f9f9;
  font-family: "Lucida Grande", Helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

@mixin headers_base {
  font-weight: normal;
  color: #111;
}
h1 {
  @include headers_base;
  text-align: left;
  font-size: 2.6666em;
  line-height: 1.125;
  color: $h-font-color;
  margin-top: 10px;
  margin-bottom: 15px;
}
h2 {
  @include headers_base;
  font-size: 2em;
  text-align: left;
  color: $h-font-color;
}
h3 {
  @include headers_base;
  font-size: 1.5em;
  line-height: 1.3846;
  text-align: left;
  color: $h-font-color;

  img {
    margin-bottom: -4px;
  }
}
h5 {
  @include headers_base;
  font-size: 0.9166em;
  line-height: 1.6363;
  margin-bottom: 0.75em;
  font-weight: bold;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

strong {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}
dfn {
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0 1.5em;
}
ul, ol {
  margin: 0 1.5em 1.5em 1.5em;
}

a {
  @include link-colors($site-link, $site-link-hover, $site-link-active);
  text-decoration:none;
}
