    <h3>Hello </h3>
     
    <p>
    You have recieved a message from "<%= @mail_info["from_name"] %>" asking for more machines
    </p>
     
    <br/>
    His message reads thus:
    <br/>
   <p>
   <%= @mail_info["message"] %>
   <p>
   Please consider it and reply to </p>
<p>   VCC User Email <%= @mail_info["user_email"] %></p> 
  <p>Email used in contact form:  <%= @mail_info["from_email"] %></p> 
   <br/>

