<html>
  <body>
    <%if @invitation.candidate!=nil%>
      <%@invitation.comment = @invitation.comment.gsub('\'' + t('name.one') + '\'',@invitation.candidate.login)%>
    <%else%>
      <%@invitation.comment = @invitation.comment.gsub('\'' + t('name.one') + '\'',@invitation.email[0,@invitation.email.index('@')])%>
    <%end%>
    <%@invitation.comment = @invitation.comment.gsub('\'' + t('url_plain') + '\'', "<a href=\"" + invitation_url(@invitation) + "\">" + invitation_url(@invitation) + "</a>") %>
    <%if @invitation.comment == ""%>
      <%= t('invitation.to_event', :username => @user.login,:eventname => @invitation.group.name, :space => @space.name) %><br/><br/>
    <%else%>
      <%=@invitation.comment%><br/><br/>
    <%end%>
  </body>
</html>
