<html>
  <body>
    <%=
      t('event.notification_message',
       :name => @receiver.full_name,
       :event_name => @event.name,
       :space => @event.space.name,
       :event_date => @event.start_date.strftime("%A %B %d at %H:%M:%S"),
       :event_url => space_event_url(@event.space,@event),
       :username => @sender.full_name,
       :useremail => @sender.email,
       :userorg => @sender.organization
      ).html_safe
    %>
  </body>
</html>
