<html>
<body>

<%if @invitation.candidate!=nil%>
  <%@invitation.comment = @invitation.comment.gsub('\'name\'',@invitation.candidate.login)%>
<%else%>
  <%@invitation.comment = @invitation.comment.gsub('\'name\'',@invitation.email[0,@invitation.email.index('@')])%>
<%end%>

<%@invitation.comment = @invitation.comment.gsub('\'url\'', "http://" + Site.current.domain + "/event_invitations/" + @invitation.code) %>
<%@invitation.comment = @invitation.comment.gsub('\'event_url\'', space_event_url(@invitation.group, @invitation.event)) %>

<%if @invitation.comment == ""%>
  <%= t('invitation.to_event', :space => @space.name) %><br/>
<%else%>
  <%=@invitation.comment%><br/>
<%end%>

<%= t('invitation.copy_link',:url => "http://" + Site.current.domain + "/event_invitations/" + @invitation.code) %><br/>

</body>
</html>