

<%=@name%> <%=@lastname%> has invited  you to the space: <%=@space%>  in the SIR application, please visit the following URL:
 
http://<%=Site.current.domain%>/spaces/<%= @space%>/register/   in order to accept the invitation.
