<html>
  <body>
    <%if @invitation.candidate!=nil%>
      <%@invitation.comment = @invitation.comment.gsub('\'' + t('name.one') + '\'',@invitation.candidate.full_name)%>
    <%else%>
      <%@invitation.comment = @invitation.comment.gsub('\'' + t('name.one') + '\'',@invitation.email[0,@invitation.email.index('@')])%>
    <%end%>
    <%@invitation.comment = @invitation.comment.gsub('\'' + t('url_plain') + '\'', "<a href=\"" + invitation_url(@invitation) + "\">" + invitation_url(@invitation) + "</a>") %>
    <%=@invitation.comment%><br/><br/>
  </body>
</html>
