<html>
  <body>
    
    <%if @join_request.candidate != Anonymous.current%>
      <%= 
        t('join_request.asked_full', 
        :candidate => @join_request.candidate.full_name, 
        :space => @join_request.group.name, 
        :comment => @join_request.comment, 
        :url => space_admissions_url(@join_request.group.name), 
        :contact => Site.current.email, 
        :feedback => new_feedback_url(), 
        :signature => Site.current.signature_in_html
        ).html_safe 
      %>
    <%else%>
      <%= 
        t('join_request.asked_anonymous_full', 
        :space => @join_request.group.name, 
        :comment => @join_request.comment, 
        :url => space_admissions_url(@join_request.group.name), 
        :contact => Site.current.email, 
        :feedback => new_feedback_url(), 
        :signature => Site.current.signature_in_html
        ).html_safe 
      %>
    <%end%>

  </body>
</html>
