<html>
<body>

<%= t('join_request.asked', :candidate => @candidate.name, :space => @space.name) %><br/><br/>

<%= t('join_request.to_accept', :url => space_admissions_url(@space, :host => Site.current.domain)) %><br/><br/>

<%= @signature %><br/>

</body>
</html>
