<html>
  <body>

    <p><%= @invitation.introducer.full_name + ',' %></p>

    <p><%= t('e-mail.invitation_result.admin_side',:name=>@invitation.candidate.full_name, :action => @action, :spacename =>@space.name)%>.</p>

    <p><%= t('invitation.info_users', :users_url => space_users_url(@space))%></p>

    <p><%= @signature %></p>

  </body>
</html>
