<html>
<body>
<%= t('spam.reported', :name => @user, :email => @user.email, :sitename => @sitename)%>.<br/><br/>


<%= @text %><br/><br/>

"<%= @user_message %>"<br/><br/>

<%= @signature %><br/>

</body>
</html>
