<html>
  <body>
    <%= t('invite.message', :sender => @sender, :name => @room_name, :invite_url => @room_url).html_safe %>
    <br/><br/>
    "<i><%= @message %></i>"
    <br/><br/>
    <%= @signature %>
  </body>
</html>

