@import "definitions";
@import "compass/css3";

body.sites {

  form {
    width: 100%;
  }

  form textarea {
    resize: none;
  }

  label.required abbr {
    display: none;
  }

  $column-width: (($contents-width) / 2) - 30px;
  .right-column {
    float: right;
    width: $column-width;
    padding-right: 2px; // so inputs' box-shadow aren't cut
  }
  .left-column {
    float: left;
    width: $column-width;
    padding-left: 2px; // so inputs' box-shadow aren't cut}
  }

  #shib-principal-name-warning {
    display: none;
    margin-bottom: 15px;
  }
}
