@import "definitions";
@import "compass/css3";

body.sites {

  $sidebar-width: 100px;
  #sidebar {
    width: $sidebar-width;
  }
  #content-middle {
    width: $contents-width - $sidebar-width - 20px; // less right-margin
  }

  form {
    width: 100%;
  }

  form textarea {
    resize: none;
  }

  label.required abbr {
    display: none;
  }

  $column-width: (($contents-width - $sidebar-width) / 2) - 30px;
  .right-column {
    float: right;
    width: $column-width;
    padding-right: 2px; // so inputs' box-shadow aren't cut
  }
  .left-column {
    float: left;
    width: $column-width;
    padding-left: 2px; // so inputs' box-shadow aren't cut}
  }

  .affix {
    width: $sidebar-width;
    top: 20px;
  }
}
