<p>
  <b>Permissions</b><br />
  
  <%if @content.class == Article || @content.class == Attachment%>
  		<%= f.check_box :public_read %><%= "Public Post" %>
  <%else%>
    	<%= f.check_box :public_read %><%= "Public #{ @content.class.to_s.humanize }" %>
  <%end%>
</p>
