#page-header {
  .current-page-title {
    float: none;
    max-width: 100%;
  }

  .main-title {
    text-align: center;
  }
}

#content-middle {
  margin-top: 40px;
  text-align: center;

  .content-block-header h3 {
    float: none;
    text-align: center;
  }
}