@import "app/spaces/title";

body.attachments.index {

  #space-attachments-tabs {
    @include mconf-clearfix;
    margin-bottom: 15px;
  }

  #space-attachments {
    clear: both;
  }

  #space-attachments-create {
    float: right;
  }

  #space-attachments-selected {
    margin-left: 5px;
  }

}
