@import "app/spaces/sidebar";

body.attachments.index {

  #space-attachments-tabs {
    @include mconf-clearfix;
  }

  #space-attachments {
    clear: both;
  }

  #space-attachments-create {
    float: right;
    @include mconf-clearfix;
  }

  #space-attachments-selected {
    margin-left: 5px;
  }

}
