@import "compass/css3";
@import "definitions";

body.attachments.modal-open {

  #attachments-uploader {
    text-align: center;
    margin: 20px 0;

    .drag-files {
      margin: 20px;
      background: $m-light-gray;
      padding: 10px 5px 5px 5px;
    }
  }

  .upload-button {
    margin-top: 10px;
  }

  .upload-drag-and-drop {
    font-size: 400%;
    color: white;
    background: none repeat scroll 0% 0% rgba(80, 197, 80, 0.9);
    padding-bottom: 5px;
  }

}
