// @import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links/link-colors";
@import "definitions";
// @import "fancy-buttons";
// @import "partials/typography";


// TODO:
// Replicated things from base that are being used together with the old
// css files. In the future only base.scss should be used and this file
// will be removed.

.ui-tooltip-mconf {
  .ui-tooltip-content {
    font-size: $font-normal;
    text-align: center;
    line-height: 1.3em;
  }
}

#page-header-wrapper {
  width: 960px;
  margin: 0 auto;
  clear: both;
  height: 68px;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: visible !important;
}

#content-wrapper {
  width: 960px;
  margin: 0 auto;
  clear: both;
  background-color: #E1EEF5;
  padding: 15px;
}

#content {
  float: left;
  width: 660px;
  margin-right: 15px;
  background-color: white;
  padding: 10px;
  overflow: hidden;
}


