#new-user-approved-email
.header_image
  .app_by_admin

%p
  .header_message
    = t('.hello', name: @user.name).html_safe
%p= t('.message').html_safe
%p= t('.click_here', url: my_home_url(host: Site.current.domain)).html_safe
