#new-user-approved-email
.header_image
  =image_tag "mailer/approved_by_admin.png", size: '494x263'
%p
  .header_message
    = t('.hello', name: @user.name).html_safe
%p= t('.message').html_safe
%p= t('.click_here', url: my_home_url(host: Site.current.domain)).html_safe
