.centralized
  %h1.title= t('_other.hi_name', name: @recipient.first_name)
  .subtitle= t('.subject')

%p= t('.message', name: @user.name, email: @user.email)
%p= t('.click_here', url: manage_users_url(host: Site.current.domain, q: @user_email)).html_safe
