@import "compass/css3";
@import "definitions";

.user-spaces {
  clear: both;
  @include mconf-clearfix;

  .user-space-wrapper {
    background: $light-gray;
    padding: 5px;
    margin: 10px 10px 0 0;
    @include border-radius(4px);
    @include mconf-clearfix;
    float: left;

    .user-space {
      border: 1px solid darken($light-gray, 12);
      @include border-radius(4px);
      background: white;
      width: 120px;
      text-align: center;

      .space-logo {
        background: darken($light-gray, 7);
        padding: 10px;

        img {
          @include border-radius(4px);
          border: 1px solid darken($light-gray, 12);
        }
      }

      .description-box {
        margin: 5px;
        overflow: hidden;

        .space-title {
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
}
