@import "definitions";
@import "compass/css3";
@import "compass/typography/links";

@import "app/shibboleth/info";

body.users.edit, body.users.update {

  $column-width: ($contents-width / 2) - 20px;

  .left-column {
    float: left;
    width: $column-width;
    padding-left: 2px; // so inputs' box-shadow aren't cut
  }

  .right-column {
    float: right;
    width: $column-width;
  }

  input[type=password], input[type=email], input[type=text], select {
    width: 100%;
  }

  #page-header .current-page-extra {
    a, span { display: block; }
  }

  #account-info, #change-password {
    margin-bottom: 25px;
    clear: both;
  }

  #account-preferences {
    @include mconf-clearfix;
  }

  #user-federated-info {
    span.title {
      @include font-size($font-medium);
      font-weight: bold;
      margin-bottom: 5px;
    }
    span { display: block; }
  }

  #management-options {
    clear: both;
    padding: 5px 10px;
    h3 {
      margin: 5px 0 10px 0;
    }
  }

  #cancel-account {
    clear: both;
    text-align: center;
    span { margin: 0 10px; }
  }
}