@import "definitions";
@import "compass/css3";
@import "compass/typography/links";

@import "app/shibboleth/info";

body.users.edit, body.users.update {

  #user-account-panel-1 {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include mconf-clearfix;
  }

  #user-account-panel-2 {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include mconf-clearfix;
  }

  #user-account-info, #user-change-password {
    margin-bottom: 35px;
    clear: both;
  }

  #user-account-preferences {
    @include mconf-clearfix;

    select {
      display: block;
      width: 100%;
    }
  }

  #user-federated-info {
    span.title {
      @include font-size($m-font-medium);
      font-weight: bold;
      margin-bottom: 5px;
    }
    span { display: block; }
  }

  #user-management-options {
    clear: both;
  }

  #user-cancel-account {
    @include make-xs-column(12);
    clear: both;
    margin-top: 25px;
    .btn { margin-left: 5px; }
  }

}
