@import "definitions";
@import "compass/css3";

body.users.edit, body.users.update {

  $column-width: ($contents-width / 2) - 20px;

  .left-column {
    float: left;
    width: $column-width;
    padding-left: 2px; // so inputs' box-shadow aren't cut
  }

  .right-column {
    float: right;
    width: $column-width;
  }

  input[type=password], input[type=email], input[type=text], select {
    width: 100%;
  }

  #page-header .current-page-extra {
    a, span { display: block; }
  }

  #account-info, #change-password {
    margin-bottom: 25px;
    clear: both;
  }

  #account-preferences {
    @include mconf-clearfix;
  }

  #cancel-account {
    clear: both;
    text-align: center;
    span { margin-right: 15px; }
  }

  #user-federated-info {
    margin-bottom: 15px;
    padding: 10px;
    background: $alert-info-bg;
    @include border-radius(5px);

    span.title {
      font-size: 12px;
      font-weight: bold;
    }

    span { display: block; }

    .more-information { float: right; }
  }

  form input[type=submit] {
    float: right;
    clear: both;
    margin-top: 10px;
  }

}