@import "definitions";
@import "compass/css3";

body.users.edit, body.users.update {

  $column-width: ($contents-width / 2) - 20px;

  .left-column {
    float: left;
    width: $column-width;
  }

  .right-column {
    float: right;
    width: $column-width;
  }

  #user-federated-info {
    margin-bottom: 15px;
    padding: 10px;
    background: $light-blue2;
    @include border-radius(5px);

    span.title {
      font-size: 12px;
      font-weight: bold;
    }

    span { display: block; }

    .more-information { float: right; }
  }

}