@import "compass/css3";
@import "definitions";

// spaces uses partials, and they include
// some styles defined in the partial below
@import "app/spaces/_list_item";

body.users.show {

  .profile-info {
    @include make-xs-column(12);
    @include make-md-column(6);
    border-right: 1px solid $m-border-color-normal;
  }

  .profile-spaces {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  .resource-card {
    width: 100%;
    max-width: 800px;
    margin: 24px auto 40px auto;

    .resource-logo {
      width: 250px;
      float: left;
      text-align: right;
    }

    .resource-data {
      padding-left: 40px;
      width: calc(100% - 290px);
      float: left;
      text-align: left;
    }

    .field {
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #eee;

      span {
        display: block;
      }

      &:last-child {
        border: 0;
      }
    }

    .field-title {
      font-size: $m-font-small;
      color: $m-font-light;
    }
  }

  #user-spaces {
    width: 100%;
    max-width: 700px;
    margin: 24px auto;

    .list-container .list-item:first-child {
      border-top-width: 1px;
    }
  }
}
