@import "compass/css3";
@import "definitions";

body.users.show {

  // the default areas are a little bit different in this page
  #main-sidebar {
    border: 0;
    padding-right: 0;
  }
  #page-header {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 20px;
  }

  #user-profile {
    background: $m-light-gray;
    padding: 20px 10px 10px 10px;
    @include border-radius(4px);
    text-align: center;

    .profile-logo {
      margin: 10px 0;
      border: 1px solid darken($m-light-gray, 10);
      padding: 3px;
      background: $m-site-bg-color;
    }

    ul {
      margin: 5px 0;
      padding: 0;
    }

    .profile-hcard {
      text-align: left;
      margin: 10px 8px 30px 8px;

      .hcard-content {
        .sub-section {
          font-weight: bold;
          margin-top: 10px;
        }

        .key {
          color: lighten($m-font-color, 20);
        }
      }
    }

  }

}
