@import "compass/css3";
@import "definitions";

// spaces uses partials, and they include
// some styles defined in the partial below
@import "app/spaces/_list_item";

body.users.show {

  .profile-info {
    @include make-xs-column(12);
    @include make-md-column(6);
    border-right: 1px solid $m-border-color-normal;
  }

  .profile-spaces {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  .container-fluid {
    background: $m-site-content-bg-color;
    max-width: 40%;
    margin: 149px 0 0 177px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(43,45,66, 0.15);
    text-align: center;

    #profile-logo {
      margin: -35% auto 0 auto;
      padding: 36%;
      overflow: visible;

      background: image-url('logos/Picture.png') no-repeat left top;
      background-size: contain;
      height: 70%;
      width: 100px;
    }

    .resource-card {
      width: 100%;
      max-width: 800px;
      margin: 24px auto 40px auto;
      text-align: left;

      .resource-data {
        @include make-row;
        padding-left: 40px;
        width: 100%;
        float: left;
        text-align: center;
      }

      .field {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;

        .field-value {
          color: $m-font-color-default;
          font-size: 22px;
          margin-bottom: 10%;

          &.name {
            font-weight: bold;
          }
        }

        span {
          display: block;
        }

        &:last-child {
          border: 0;
        }
      }

      .field-title {
        font-size: $m-font-small;
        color: $m-font-light;
      }
    }
  }

  #user-spaces {
    width: 100%;
    max-width: 700px;
    margin: 24px auto;

    .list-container .list-item:first-child {
      border-top-width: 1px;
    }
  }
}
