@import "compass/css3";
@import "definitions";

// spaces uses partials, and they include
// some styles defined in the partial below
@import "app/spaces/_list_item";

body.users.show, body.users.edit_data, body.users.password_edit,
body.users.update {

  .profile-info {
    @include make-xs-column(12);
    @include make-md-column(6);
    border-right: 1px solid $m-border-color-normal;
  }

  .profile-spaces {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  #content-strip {
    margin: 140px auto 0 auto;
    text-align: center;
    overflow: visible !important;
    display: block !important;

    h3 {
      text-align: center;
      font-weight: $m-font-weight-bold;
    }

    .logo-image-container {
      margin-top: -50%;
      height: 250px;
    }

    .logo-user {
      height: 250px;
      width: 250px;
      border-radius: 50%;
      border: 10px solid $m-logo-border;//espessura da borda
      margin: 0 auto;

      &.logo-initials {
        padding: 90px 0;
        font-size: 80px;
      }
    }

    .logo-image-controls {
      height: 250px;
      width: 250px;
      background: rgba(10, 23, 55, 0.5);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 auto;
      border: 10px solid $m-logo-border;
    }

    .logo-image-text  {
      color: white;
      margin-top: 30%;
      img {
        height: 85px;
        width: 110px;
      }
    }

    .dropdown-toggle {
      background: none;
    }

    .dropdown-menu-right {
      margin: 1px 84px 0;
      text-align: center;
      transform: translate(-60%, 0);

      .file-uploader-logo {
        position: relative;

        .upload-button {
          background: $m-site-content-bg-color;
          color: $m-font-strong;

          &:hover {
            background: $m-color-primary;
            color: $m-site-content-bg-color;
          }
        }
      }
    }

    .user-profile {
      @include mconf-clearfix;
      text-align: center;
      margin-top: 10px;

      a, span {
        display: block;
        margin-bottom: 3px;
      }

      .name {
        font-weight: $m-font-weight-bold;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .description {
        margin: 20px 0;
        white-space: normal;
      }

      .profile-options {
        padding-top: 20px;
        border-top: 2px solid #eee;
      }
    }

    form {
      text-align: left;

      h3 {
        text-align: center;
        font-weight: $m-font-weight-bold;
        margin-top: 50px;
      }
    }
  }

  #user-spaces {
    width: 100%;
    max-width: 700px;
    margin: 24px auto;

    .list-container .list-item:first-child {
      border-top-width: 1px;
    }
  }
}
