<div id="admin_tabs">
	<ul class="group_links">
		<li><%=link_to "People", edit_space_path(@space) %></li>
		<li><%=link_to "Groups", space_groups_path(@space, :admin => true)%></li>
		<li><%=link_to "Admissions", space_admissions_path(@space) %></li>
	</ul>
	<%=link_to "News", space_news_index_path(@space) %>

</div>