<p>
  <label for="name">Name</label><br/>
  <%= f.text_field :name %>
</p>

<p>
  <label for="description">Description</label><br/>
  <%= fckeditor_textarea(:space, :description, :toolbarSet => 'Simple', :width => '685px', :height => '400px') %>
</p>

<%= f.logotype %>

<p>
  <label for="public">Public Access</label> 
  <%= check_box("space", "public")%>
</p>
