#latest-users.content-block
  .content-block-header
    = icon_users()
    %h3
      = link_to t('user.recent_join'), space_users_path(@space)

  .content-block-middle
    - for user in @latest_users
      = render :partial => 'users/simple_user', :locals => { :user => user }

  .content-block-footer.content-block-footer-fancy
    = link_to t('read_more'), space_users_path(@space) if can?(:show, @space)
