#latest-users.content-block
  .content-block-header
    = image_tag("icons/user.png")
    %h3
      = link_to t('user.recent_join'), space_users_path(@space)

  .content-block-middle
    - for user in @lastest_users
      = render :partial => 'users/detailed_user', :locals => { :user => user }

  .content-block-footer
    = link_to t('read_more'), space_users_path(@space) if can?(:read, space)
