#spaces.content-block
  .content-block-middle.clearfix
    %ul.list-texts
      - if @objects.count > 0
        - @objects.each do |space|
          - is_member = @user_spaces && @user_spaces.include?(space)
          %li.list-text{:name => space.permalink}
            = render "spaces/unified_space", :space => space, :is_member => is_member
      - else
        = t(".no_spaces")
