<div id="login_on_create_form" >
	<%fields_for :user do |user|%>
      <div>
      	<label for="email"><%= t('e-mail.one') %></label><br/>
		<%= user.text_field :email %>
	  </div>
      <div>
      	<label for="Password"><%= t('password.one') %></label><br/>
		<%= user.password_field 'password' %>
	  </div>
    <% end %>
</div>
