<div id="login_on_create_form" >
	<%fields_for :user do |user|%>
      <div>
      	<label for="email">Email</label><br/>
		<%= user.text_field :email %>
	  </div>
      <div>
      	<label for="Password">Password</label><br/>
		<%= user.password_field 'password' %>
	  </div>
    <% end %>
</div>