#sidebar-leave-space
  - link = permission_path(@space.stage_permissions.find_by_user_id(current_user))
  = link_to t('space.leave'), link, :method => :delete, :title => t("tooltip.leave_space"), :confirm => t('space.confirm'), :class => 'tooltipped upwards btn btn-mini btn-danger'
