#sidebar-leave-space
  - link = leave_space_path(@space)
  - params = { :method => :post,
               :confirm => t('space.confirm'),
               :class => 'btn btn-mini btn-danger'}
  = link_to t('space.leave.leave_this_space'), link, options_for_tooltip(t("tooltip.leave_space"), params)
