- opt = 0
- if !logged_in?
  - opt = 1
- elsif !space.users.include?(current_user)
  - opt = 2
- elsif space.pending_join_requests_for?(current_user)
  - opt = 3

- unless opt == 0
  .sidebar-top-action-button
    - case opt
    - when 1
      = link_to t('register.one'), signup_path(), :class => "button orange big"
    - when 2
      = link_to t('space.join'), new_space_join_request_path(space), :class => "button orange big"
    - when 3
      %span.button.orange.big.disabled.tooltipped.upwards{ :title => t("space.join_pending") }
        = t('space.join')
    = render_clearer
