-# locals:
-#  spaces (array of Space)
-#  show_join_request (boolean): show link to a join request (if it exists)

- show_join_request ||= false

%ul.list-thumbnails
  - if spaces.exists?
    - spaces.each do |space|
      %li.list-thumbnail-wrapper{ :name => space.permalink }
        = render "spaces/space_thumbnail", :space => space, :show_join_request => show_join_request
  - else
    = t(".no_spaces")
