#space-webconference-tabs.page-sub-menu
  = link_to t('.access'), webconference_space_path(@space), spaces_webconference_menu_select_if(:access)
  = link_to t('.recordings'), recordings_space_path(@space), spaces_webconference_menu_select_if(:recordings)
