#space-webconference-tabs.page-tabs
  .btn-group{ :"data-toggle" => "buttons-radio" }
    = link_to t('.access'), webconference_space_path(@space), spaces_webconference_menu_select_if(:access, :class => "btn btn-small")
    = link_to t('.recordings'), recordings_space_path(@space), spaces_webconference_menu_select_if(:recordings, :class => "btn btn-small")
