= content_for :page_sub_menu do
  %ul
    %li{ spaces_webconference_menu_select_if(:access) }
      = link_to t('.access'), webconference_space_path(@space)
    %li{ spaces_webconference_menu_select_if(:recordings) }
      = link_to t('.recordings'), recordings_space_path(@space)
