<% @page_title = "Add users to the space"%>

    <SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
    function MoveOption(objSourceElement, objTargetElement)
    {
        var aryTempSourceOptions = new Array();
        var x = 0;
        
        //looping through source element to find selected options
        for (var i = 0; i < objSourceElement.length; i++) {
            if (objSourceElement.options[i].selected) {
                //need to move this option to target element
                var intTargetLen = objTargetElement.length++;
                objTargetElement.options[intTargetLen].text = objSourceElement.options[i].text;
                objTargetElement.options[intTargetLen].value = objSourceElement.options[i].value;
            }
            else {
                //storing options that stay to recreate select element
                var objTempValues = new Object();
                objTempValues.text = objSourceElement.options[i].text;
                objTempValues.value = objSourceElement.options[i].value;
                aryTempSourceOptions[x] = objTempValues;
                x++;
            }
        }
        
        //resetting length of source
        objSourceElement.length = aryTempSourceOptions.length;
        //looping through temp array to recreate source select element
        for (var i = 0; i < aryTempSourceOptions.length; i++) {
            objSourceElement.options[i].text = aryTempSourceOptions[i].text;
            objSourceElement.options[i].value = aryTempSourceOptions[i].value;
            objSourceElement.options[i].selected = false;
        }
    }
    </SCRIPT>


<p><font face="Arial,Helvetica,sans-serif"><b>Add users to the space</b></font></p>
<p><font face="Arial,Helvetica,sans-serif">Select one or several users and add it to the space</font></p>
<% form_for @space, :url => space_path(@space.id), :html => {:method => :put} do |f| -%>
<table>
<tr>
   <td align="center"><font face="Arial,Helvetica,sans-serif" size="2"><b>All Users</b></font></td>
   <td><p>&nbsp;</p></td>
   <td align="center"><font face="Arial,Helvetica,sans-serif" size="2"><b>Space Users</b></font></td>
</tr>
<tr>
    <td>    
	<%=select("user", "user_id", User.find(:all).collect {|p| [ p.login, p.id ] },{ :include_blank => false }, {:multiple => true, :size => 10, :style=>"width: 200px;" }) %>	
    </td>
 <td>
    <input type="button" name="add" value="&nbsp;&nbsp;&nbsp; Add -&gt; " style="width: 100px;" onClick="MoveOption(this.form.user_user_id, this.form.space_id)"><br>
    <br>
    <input type="button" name="remove" value=" &lt;- Remove &nbsp;&nbsp;&nbsp;" style="width: 100px;" onClick="MoveOption(this.form.space_id, this.form.user_user_id)"><br>
    </td>
 <td>
 	<%=f.select("id", @space.users.collect {|p| [ p.login, p.id ] },{ :include_blank => false }, {:multiple => true, :size => 10, :style=>"width: 200px;" }) %>
    </td>
</tr>
<tr>
	<td align="center">
	<%= submit_tag 'Confirm' %>
	</td>
	<td>
    <input type="button" name="Back" value="Back" style="width: 100px;" onClick=document.location="/spaces">
	</td>
</tr>
</table>
<% end %>
