<h1>Editing space</h1>
<%= error_messages_for :space %>

<% form_for @space, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= submit_tag 'Update' %>
  </p>

<% end %>

