<% menu :admin %>
<% content_for :sidebar do %>
  <%= render :partial => 'edit_space' %>
<% end %>

<%= render :partial => 'admin_tabs' %>

<div>
	<% for performance in @performances -%>
    <%= render :partial => 'edit_performance', :locals => {:performance => performance, :user => performance.agent} %>    
  <% end -%>
</div>
