<% content_for :sidebar do  %>
  <%= link_to "New Space", new_space_path()%>
<% end %>

<% @page_title = "Spaces"-%>

<h1>Spaces</h1>

<% @spaces.each do |space| %>
<div>
  <%= link_to sanitize(space.name), space %> <%= "<strong>Private</strong>" unless space.authorizes?(:read, :to => current_agent) %><br />
  <%= sanitize(space.description) if space.description.present? %>
</div>
<% end %>

