

<% content_for :sidebar do  %>
  <%= link_to "New Space", new_space_path(), :id => "new_space_link22"%>
<% end %>

<% @page_title = "Spaces"-%>

<h1>Spaces</h1>

<% @spaces.each do |space| %>
<div id = "spaces_list">
  <%= link_to sanitize(space.name), space %>
  <% unless space.authorizes?(:read, :to => current_agent) %>
    <strong>Private</strong>
    <% form_for [ space, JoinRequest.new ] do |f| %>
      <%= f.submit "Join Request" %>
    <% end if authenticated? %>
  <% end %>
  <br />
  <%= sanitize(space.description) if space.description.present? %>
</div>
<% end %>

