<h1>New Space</h1>

<%= error_messages_for :space %>

<% form_for @space,:html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', spaces_path%>
