- spaces_menu_at :admin
= render :partial => 'spaces/menu'

- spaces_admin_menu_at :users
= render :partial => 'admin_tabs'

- for permission in @permissions
  = render :partial => 'edit_user_permission', :locals => {:permission => permission, :user => permission.user}
