<div align=center id="contenedor2">
	
<h3>Forgot Password</h3>

<% form_tag url_for(:action => 'forgot_password') do %>
    What is the email address used to create your account?<br />
    <%= text_field_tag :email, "", :size => 50 %><br />
   <p><%= submit_tag 'Request Password' %>&nbsp;&nbsp;&nbsp;&nbsp;<input onclick=document.location="/" type="button" value="Back" />   </p>
<% end %>
</div>