@import "compass/css3";
@import "definitions";

#content-middle {
  min-height: 450px;
}

#space-filter-wrapper {
  margin-bottom: 20px;
  padding: 10px 5px;
  background: #f6f6f6;
  @include border-radius(5px);
  text-align: center;

  .action-button {
    float: right;
    margin-top: 1px;
    margin-right: 10px;
  }

  label { margin-right: 15px; }
}

#space-description-wrapper {
  width: 230px;

  .content-block-middle {
    .space-logo {
      text-align: center;
      img {
        padding: 20px;
        background: #f6f6f6;
      }
    }
  }

  .details {
    font-style: italic;
    color: #888;
    span { display: block; }
    .is_member {
      color: #509F00;
      float: right;
      font-style: normal;
    }
  }

  .action-links {
    text-align: right;
  }
}

#public-spaces, #private-spaces {

  .space-item {
    float: left;
    padding: 2px;
    margin: 5px;
    border: 1px solid #ccc;
    height: 64px;
    @include border-radius(2px);

    &.selected {
      border: 1px solid $orange;
      background: lighten($orange, 35);
      @include box-shadow(0 0 15px $orange);
    }
  }

}
