$("#lightbox_content").children().remove();
$("#lightbox_content").append("<%=escape_javascript(render :partial => "new.html.erb") %>");
$("<a href=\"#lightbox_content\"></a>").fancybox({
  'hideOnContentClick' : false
}).click();
