/*Estilo general del fondo y enlaces*/

body{	
	background-color:white;	
}

a:link, a:visited, a:hover, p{
	font-family:  arial, verdana,helvetica, sans-serif;
}

/* HEADER */
div#hd {
	background:#ffffff no-repeat bottom left;
	display:block;
	height:115px;	
	*height:1%;
}

/*Estilo del logotipo*/

#logo{
	position:absolute;
	width:160px;
	height:85px;
	margin-top:0px;
	margin-left:0px; 
	background-image: url(../images/sir_logo.jpeg);
}


/*Menu secundario (botones, bot_pcipal, bot_administrador */

#menu_tabs{
	position: absolute;
	width:700px;
	height:55px;
	margin-top:50px;
	/*left: 50%;*/
	margin-left:160px;
	text-align:center;
	display:block;	
  }

#botones{  	
	position: absolute;
	width:700px;
	height:35px;
	margin-top:0px;
	/*left: 50%;*/
	margin-left:0px;
	text-align:center;
	display:block;	
} 


#botones ul li, #titulos ul li{ 	
	float:left;	
 }
 
#bot_administrador{
	visibility:visible;
	position:absolute;
	
}

#bot_user{
	visibility:visible;
	position:absolute;
	
}

a.secund, a.tit_pcipal{
	
	color: #636566;
	text-decoration:none;
	text-align:center;
	font-weight:600;
}

a:hover.secund, a.tit_pcipal:hover{
	color:#36332F;
}


/* Botonera secundaria, bajo la barra de tabs */
#secondary_buttons{
	position: absolute;
	width:950px;
	height:17px;
	margin-top:84px;
	/*left: 50%;*/
	margin-left:0px;
	text-align:center;
	display:block;
	background:#C9C6BF		
}

/* Estilo de la barra superior derecha:login/logout , username*/

#login2{
	position: absolute;
	width: 350px;
	height:30px;
	margin-left: 600px;
	margin-top:5px;
	float:left;
	display:inline;   
}


#space-span {
	margin-left: 0%;
	width: 50%;
}
#user_logout{
	position: relative;
	margin-left: 50%;
	width: 50%;
	margin-top:0px;
}
#report-feedback{
	position: relative;
	margin-left: -50%;
	width: 50%;
	margin-top:0px;
}
#username{
	width:25%;
	margin-left:61%;
	display:inline;   
}
#username p{
	margin-top:0px;
	text-align:right;
	padding-right:5px;
	color:#611427;
	font-weight:bold;
	border-right:3px solid #611427;
}
#username, a:link, #username a:visited{
	color:#611427;
	text-decoration:none;
}

#menu_login{
	width:40%;
	margin-left:60%;
	margin-top:0px;

}

#menu_login ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
}

#menu_login ul li{
	float:right;
	padding-left:5px;
	padding-top:0px;
	
}

#menu_login a:link, #menu_login a:visited{
	color:#7D7D7D;
	text-decoration:none;

}

#menu_login a:hover{
	color:#611427;
	text-decoration:none;
}

#menu_logout{
	width:15%;
	margin-left:85%;
	margin-top:0px;
	display:inline;   
	float:left;
}

#menu_logout ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
}

#menu_logout ul li{
	float:right;
	padding-left:5px;
	padding-top:0px;
	
}

#menu_logout a:link, #menu_login a:visited{
	color:#7D7D7D;
	text-decoration:none;

}

#menu_logout a:hover{
	color:#611427;
	text-decoration:none;
}




/* GLOBAL NAVIGATION */
ul#nav {
	z-index: 1000;
}

ul#nav li {
    display: inline;
    float: left;
}

ul#nav a {
    cursor: pointer;
    float: left;
    white-space: nowrap;
    background: url(../images/nav/nav_tab2.gif);
    border-right: 1px solid #74736A;
}

ul#nav a span {
    padding: 10px 15px 12px 15px;
    height: 12px;
    color: #727272;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}

ul#nav a:hover {
    background-position: top left;
    text-decoration: none;
}

ul#nav a:hover span {
    color: #191919;
}

ul#nav li.current a {
    color: #191919;
    background: #C9C6BF;
}

ul#nav li.current a span {
    color: #191919;
}

ul#nav li.current a:hover span {
    color: #8A2C2C;
}

ul#nav a:hover span {
    background-position: right top;
}

ul.sidebar_posts {
    list-style: none;
    padding: 0;
}

ul.sidebar_posts li {
    line-height: 1em;
    margin: 1em 0 0 0;
}


/* BODY */
div#bd {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:10px;
	min-height: 800px;
}


/*add_users*/
#add_usuarios {
	display:block;
	width:650px;
	height:250px;
	
}

#users_id {
	position: absolute;
	width: 150px;
	margin-left:-30px;
	margin-top:10px;
}

#buttons_register {
	position: absolute;
	margin-left:200px;
	margin-top:-180px;
	width: 200px;
	
}


#buttons_remove {
	position: absolute;
	margin-left:0px;
	margin-top:210px;
	width: 200px;
	
}

.select_users {
	width: 150px;
	height:200px;
}

#search_in_add_users {
	position: absolute;
	margin-left:200px;
	margin-top:-110px;
	width: 300px;
}

#space_users {
	width: 650px;
	height: 240px;
	margin-top:10px;
}

#admin_users {
	position: absolute;
	width: 200px;
	margin-top:0px;
	margin-left:-30px;
}

#users_users {
	position: absolute;
	width: 200px;
	margin-top:0px;
	margin-left:170px;
}

#invited_users {
	position: absolute;
	width: 200px;
	margin-top:0px;
	margin-left:370px;
}

.contains_event {
  height:22px;
  text-align: center;
  background-color:E0E0E0;
  color:000000; 
  border-style:solid; 
  border-bottom-width:1; 
  border-top-width:1; 
  border-left-width:1;
  border-right-width:1; 
  border-collapse: collapse;
  border-color:A3A3A3;
}

/* FOOT */
div#ft {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:10px;
	text-align:center;
	border-top: 1px solid #ccc;
	height: 35px;
}
