#captcha{
 	
	margin-left:35%;
 }
 .tips a:link, .tips a:visited{
 	font-size: 9pt; 
	text-decoration: none;
	color:#7D7D7D;
	}
	
	.tips a:hover{
		color:#611427;
	text-decoration:none;
	}
	.tips{
		font-size: 10pt; 
	}
 .help{
 	font-size: 10pt; 
 }
 .help a:link, .help a:visited{
 	font-size: 9pt; 
	text-decoration: none;
	color:#7D7D7D;
	 	
 }
 .help a:hover{
	color:#611427;
	text-decoration:none;

}

 .bot_right {
 	margin-left:85%;
 }
 

/* TAG CLOUD */

.nube1 {font-size: 0.8em;color:#7D7D7D; }
.nube2 {font-size: 1.2em; text-decoration: none;color:#7D7D7D;}
.nube3 {font-size: 1.7em; text-decoration: none;color:#7D7D7D;}
.nube4 {font-size: 2.2em; text-decoration: none;color:#7D7D7D;}
.nube5 {font-size: 2.7em; text-decoration: none;color:#7D7D7D;}
.nube6 {font-size: 3.2em; text-decoration: none;color:#7D7D7D;}






/* ROUNDED BOXES */
.box {
	background-repeat: repeat-y;
	margin: 11px 0 30px 0;
	padding: 0 6px;
	height: auto !important;
	height: 1px;
	text-align:center;
	}
	.box .box_top {
		position: relative;
		height: 6px;
		top: -6px;
		margin: 0 -6px -6px;
		background-repeat: no-repeat;
		font-size: 0px;
		line-height: 0px;
		}
	.box div.padded { padding:1em; }				
	.box div.no_padding {
		padding: 0 0 4px 0;
		}
	.box .box_bottom {
		background-repeat: no-repeat;
		font-size: 0px;
		height: 6px;
		line-height: 0px;
		margin: -6px -6px 0;
		position: relative;
		top: 6px;
		z-index:0;
		}	
		
		div.col_full .box {
	background-image: url(../images/column_full_middle.gif);
	}
	div.col_full .box_top {
		background-image: url(../images/column_full_top.gif);
		}
 		div.col_full .box_bottom {
		background-image: url(../images/column_full_bottom.gif);
		}
div.main_column .box {
	width:755px;
	background-image: url(../images/column_main_middle_777.gif);
	
	}
	div.main_column .box_top {
		background-image: url(../images/column_main_top_777.gif);
		}
 		div.main_column .box_bottom {
		background-image: url(../images/column_main_bottom_777.gif);
		}
div.sidebar .box {
		width:190px;
		background-image: url(../images/column_sidebar_middle_202.gif);
	}
	div.sidebar .box_top {
		background-image: url(../images/column_sidebar_top_202.gif);
		}
		div.sidebar .box_bottom {
		background-image: url(../images/column_sidebar_bottom_202.gif);
		}
