/*Estilo general del fondo y enlaces*/

body{	
	background-color:white;	
}

a:link, a:visited, a:hover, p{
	font-family:  arial, verdana,helvetica, sans-serif;
}

/* HEADER */
div#hd {
	background:#ffffff no-repeat bottom left;
	display:block;
	height:135px;	
	*height:1%;
}

/*Estilo del logotipo*/

#logo{
	position:absolute;
	width:160px;
	height:115px;
	margin-top:0px;
	margin-left:0px; 
	background-image: url(../images/sir_logo.jpeg);
}


/*Menu secundario (botones, bot_pcipal, bot_administrador */

#menu_tabs{
	position: absolute;
	width:700px;
	height:55px;
	margin-top:80px;
	/*left: 50%;*/
	margin-left:160px;
	text-align:center;
	display:block;	
  }

#botones{  	
	position: absolute;
	width:700px;
	height:35px;
	margin-top:0px;
	/*left: 50%;*/
	margin-left:0px;
	text-align:center;
	display:block;	
} 


#botones ul li, #titulos ul li{ 	
	float:left;	
 }
 
#bot_administrador{
	visibility:visible;
	position:absolute;
	
}

#bot_user{
	visibility:visible;
	position:absolute;
	
}

a.secund, a.tit_pcipal{
	
	color: #636566;
	text-decoration:none;
	text-align:center;
	font-weight:600;
}

a:hover.secund, a.tit_pcipal:hover{
	color:#36332F;
}


/* Botonera secundaria, bajo la barra de tabs */
#secondary_buttons{
	position: absolute;
	width:950px;
	height:17px;
	margin-top:114px;
	/*left: 50%;*/
	margin-left:0px;
	text-align:center;
	display:block;
	background:#C9C6BF		
}

/* Estilo de la barra superior derecha:login/logout , username*/

#login2{
	position: absolute;
	width: 350px;
	height:20px;
	margin-left: 600px;
	margin-top:5px;
	float:left;
	display:inline;   
}

#username{
	position:absolute;
	width:25%;
	margin-left:60%;

}
#username p{
	margin-top:0px;
	text-align:right;
	padding-right:5px;
	color:#611427;
	font-weight:bold;
	border-right:3px solid #611427;
}
#username, a:link, #username a:visited{
	color:#611427;
	text-decoration:none;
}

#menu_login{
	position:absolute;
	width:40%;
	margin-left:60%;
	margin-top:0px;

}

#menu_login ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
}

#menu_login ul li{
	float:right;
	padding-left:5px;
	padding-top:0px;
	
}

#menu_login a:link, #menu_login a:visited{
	color:#7D7D7D;
	text-decoration:none;

}

#menu_login a:hover{
	color:#611427;
	text-decoration:none;
}

#menu_logout{
	position:absolute;
	width:15%;
	margin-left:85%;
	margin-top:0px;

}

#menu_logout ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
}

#menu_logout ul li{
	float:right;
	padding-left:5px;
	padding-top:0px;
	
}

#menu_logout a:link, #menu_login a:visited{
	color:#7D7D7D;
	text-decoration:none;

}

#menu_logout a:hover{
	color:#611427;
	text-decoration:none;
}


#space-span {
	margin-left: 20%;
}


/* GLOBAL NAVIGATION */
ul#nav {
	z-index: 1000;
}

ul#nav li {
    display: inline;
    float: left;
}

ul#nav a {
    cursor: pointer;
    float: left;
    white-space: nowrap;
    background: url(../images/nav/nav_tab2.gif);
    border-right: 1px solid #74736A;
}

ul#nav a span {
    padding: 10px 15px 12px 15px;
    height: 12px;
    color: #727272;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}

ul#nav a:hover {
    background-position: top left;
    text-decoration: none;
}

ul#nav a:hover span {
    color: #191919;
}

ul#nav li.current a {
    color: #191919;
    background: #C9C6BF;
}

ul#nav li.current a span {
    color: #191919;
}

ul#nav li.current a:hover span {
    color: #8A2C2C;
}

ul#nav a:hover span {
    background-position: right top;
}

ul.sidebar_posts {
    list-style: none;
    padding: 0;
}

ul.sidebar_posts li {
    line-height: 1em;
    margin: 1em 0 0 0;
}


/* BODY */
div#bd {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:10px;
	min-height: 600px;
}

/* FOOT */
div#ft {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:10px;
	text-align:center;
	border-top: 1px solid #ccc;
	height: 35px;
}
