/* ESTILO GENERAL DEL FONDO Y ENLACES */

body{	
	background-color:white;	
}
a:link, a:visited, a:hover, p{
	font-family:  arial, verdana,helvetica, sans-serif;
}

/* HEADER */

#hd {
	background:#ffffff no-repeat bottom left;
	height:115px;	
}

/* LOGOTIPO */

#logo{
	position:absolute;
	width:160px;
	height:85px;
	margin-top:0px;
	margin-left:0px; 
	background-image: url(../images/sir_logo.jpeg);
}

/* MENUES*/

/* Botones principales y secundarios */

#menu_tabs{
	position: absolute;
	width:700px;
	height:55px;
	margin-top:50px;
	margin-left:160px;
	text-align:center;
	display:block;	
}

#buttons{  	
	position: absolute;
	width:700px;
	height:35px;
	margin-top:0px;
	margin-left:0px;
	text-align:center;
	display:block;	
} 

