/*kikeCSS */
.blue_title h3{margin-bottom:7px;padding:8px 0.75em 7px 0.75em;background:#bdd8eb;}

div#fancy_div {
	background: #fff;
	color: #FFF;
	height: 100%;
	width: 100%;
	z-index: 100;
}

div#fancy_ajax .area{height:8.3333em;margin-bottom:0.5em;width:75%;overflow:hidden;}
div#captcha,.form div{margin-bottom:0.75em;} 
.options ul{list-style-type:none;margin:0;display:inline-block;}
/*lost pswwd*/
.form input#email{margin:0.5em 0;}

