#fancy_ajax, #fancy_div{background:#ebebeb;}
#lightbox-logo {font-family:Trebuchet;font-size:1.1666em;line-height:1.2857;font-weight:bold;/*text-shadow:#000 1px 1px 1px;color:#333;*/}
#lightbox-logo{padding:12px 9px;border-bottom:1px #fefefe solid;background:#c0dceb;}
#lightbox-logo img{margin:0 4px -4px 0;}
.form{padding:1em 1.5em 0 1.5em;position:relative;overflow:hidden;}
div#captcha,.form div{margin-bottom:0.75em;}
#captcha #simple_captcha .simple_captcha_field input,#captcha #simple_captcha .simple_captcha_field{background:#fff;}
#openid_form h3{clear:left;}
div.button span{margin-left:1.5em;}
#openid_label input#openid_identifier{width:30%;margin-left:0.75em;margin-right:0.75em;}
div.options ul{list-style-type:none;margin:0;}
div.options ul li{display:inline;}
div.options ul li.title,span.title{font-size:1.1666em;line-height:1.2857;margin-right:0.5em;font-weight:bold;color:#244974;}
#login_on_create_form input[type="text"],#login_on_create_form input[type="password"],input#feedback_subject{width:75%;margin-right:10px;}
input#space_name{width:90%;}
textarea#space_description{height:8.3333em;margin-bottom:0.5em;width:90%;overflow:auto;}
textarea#feedback_body{height:8.3333em;margin-bottom:0.5em;width:75%;overflow:auto;}
#fancy_ajax a.selected{text-decoration:none;color:#111;font-weight:bold;}
.person_title{font-weight:bold;font-size:1.0833em;line-height:1.3846;color:#244974;}

/*
 * Feedback
 */
.note{color:#244974;font-size:1.0833em;line-height:1.3846;background:#f0f0f0;border:1px #ccc solid;margin-right:1.5em;padding:5px;}
textarea#spam_textarea {height:8.3333em;margin-bottom:0.5em;width:60%;overflow:auto;}
textarea#feedback_textarea{height:12em;margin-bottom:0.5em;width:65%;overflow:auto;}
input#subject,input#from,input#feedback_form,input#feedback_subject,input#spam_form{width:65%;}
div#feedback_form,div#join_form,div#text_form{margin-left:1.5em;padding-top:1em;}
#spam_form{margin-left:1.5em;padding-top:2em;}
div#feedback_form p label,div#text_form p label{float:left;display:block;width:20%;padding-top:0.25em;}
div#spam_form p label{float:left;display:block;width:20%;}
div#spam_form p strong{line-height:1.5;}
div#feedback_form button[type="submit"],div#spam_form button[type="submit"]{margin-left:20%;}
h3#feedback_no_lightbox{margin:0;padding:5px 5px 3px;background:#bdd8eb; color:#244974;}

/*
 * Crop
 */
#crop-avatar-lightbox-content,#crop-logo-lightbox-content{text-align: center;margin-top:5px;}
#avatar_submit, #logo_submit {
  margin-top: 5px;
  border:none;
  font-family:"Lucida Grande";
  font-size:95%;
  line-height:135%;
  text-decoration:none;
  font-weight:bold;
  background:#275b8a;
  color:#FFF;
  margin-right:4px;
  cursor:pointer;
  -webkit-border-radius:7px;-moz-border-radius:7px;
}

/*
 * New posts
 */ 
#new_thread_big{width:760px;}
#new_thread_big div#post-buttons{margin-bottom:0.75em;}
#news_big{width:700px;}


/*kikeCSS */
.blue_title h3{color:#244974;margin-bottom:7px;padding:8px 0.75em 7px 0.75em;background:#bdd8eb;}

div#fancy_div {
	background: #fff;
	color: #FFF;
	height: 100%;
	width: 100%;
	z-index: 100;
}

div#left{float:left;width:265px;}
div#right{float:left;width:200px;}
div#left{padding-right:5px;border-right:1px #fff solid;margin-right:18px;}
div#openid-logo h3{background:none;padding:0;}
div#openid-logo span{margin-left:10px;}
div#openid-logo img{border:1px #ccc solid;}
div#openid-logo img:hover{border-color:#bbb;}








/*
ul.options {list-style-type:none;margin:0 0 0 0.5em;display:inline-block;float:left;}
div.options{text-align:right;position:relative;}

/*ul.options li{display:inline;margin-right:0.5em;}*/
/*.button {float:left;}*/
/*lost pswwd*/
.form input#email{margin:0.5em 0;}

