/* reset.css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}

/* typography.css */
body{font-size:75%;color:#222;background:#F5F5F5;font-family:"Lucida Grande",Helvetica,Arial,Helvetica,sans-serif;}
h1,h2,h3,h5{font-weight:normal;color:#111;}
h1{font-size:2.6666em;line-height:1.125;background:#f00;}
h2{font-size:2em;margin-bottom:0.75em;}
h3{font-size:1.0833em;line-height:1.3846;margin:0.666em 0 0.666em 0;font-weight:bold;}
h3 img{margin-bottom:-3px;}
h5{font-size:0.9166em;line-height:1.6363;margin-bottom:0.75em;font-weight:bold;}
p{margin:0 0 1.5em;}
a:focus,a:hover{color:#1F488F;}
a{color:#0476D9;text-decoration:underline;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
button{width:auto;overflow:visible;padding:4px 7px 5px 6px;}
*:first-child+html button[type]{padding:4px 7px 5px 6px;}
.small-font{font-size:0.9166em;line-height:1.6363;color:#555;}
.updated{font-size:0.9166em;line-height:1.6363;font-style:italic;color:#111;}
a.button, button, #sidebar input[type=submit] {
  border:none;
  background-color:#AAA;
  font-family:"Lucida Grande";
  font-size:95%;
  line-height:135%;
  text-decoration:none;
  font-weight:bold;
  color:#FFF;
  cursor:pointer;
  -webkit-border-radius:7px;-moz-border-radius:7px;
}

/* forms.css */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.file_1{color:#888;font-size:0.9166em;background:#FFF;margin-right:5px;}

/* grid.css */
/*body{background:url(/images/grid.png);}*/
body{min-width:960px;}
body .icon{margin-bottom:-3px;}
#global,#space,#footer{width:950px;margin:0 auto;}
#global-wrapper{background:#1E2B38;border-bottom:2px solid #000;}
#global{padding:0.5em 0;}
#global a{color:#EEE;text-decoration:none;}
#global-logo{position:absolute;font-family:Trebuchet;font-weight:bold;text-shadow:#000 1px 1px 1px;}
#global-logo img{margin:0 4px -4px 0;}
#feedback{margin-left:160px;}
#feedback a{font-weight:normal;font-size:0.8333em;text-decoration:underline;}
#header{margin-top:1em;height:68px;margin-bottom:1em;}
#logo,#search{float:left;}
#logo{width:128px;}
#logo img.logo{width:100%;}
#search{margin-top:1.25em;margin-left:32px;}
#search input{font-size:1em;width:150px;}
#prefs{font-size:0.9166em;line-height:1.6363;text-align:right;}
#prefs ul{list-style-type:none;margin:0;}
#prefs li{margin-left:12px;display:inline;}
#prefs a{color:#333;}
#prefs .new{font-weight:bold;color:#A52A2A;}
#prefs a:hover{text-decoration:underline;}
#content{clear:left;}
#selector, #main{float:left;}
#selector{width:150px;margin-right:10px;}
#main{width:510px;margin-right:50px;}
#sidebar{float:left;width:230px;}
#selector h5{color:#888;margin-bottom:0.75em;}
#selector ul{font-size:0.8333em;line-height:1.8;list-style-type:none;margin:0 0 2em 0;white-space:nowrap;overflow:hidden;color:#999;}
#selector .selected{text-decoration:none;color:#000;font-weight:bold;}
#menu{background:url(../images/dot.png) bottom repeat-x;margin-bottom:1em;}
#menu ul{list-style-type:none;margin:0;font-size:0.9166em;line-height:1.6363;}
#menu li{display:inline;margin-right:2px;}
#menu li a{display:inline-block;background:#D8D8D8;padding:0.25em 1em;border:1px solid #999;border-bottom:1px solid #999;text-decoration:none;color:#333;}
#menu li .selected{background:#FFF;border-bottom:1px solid #FFF;}
#menu li .admin{background:#1E2B38;border-color:#353B41;color:#FFF;}
#menu li a:hover{background:#EEE;}
#menu li .selected:hover{background:#FFF;}
#menu li .admin:hover{background:#2C3746;border:1px solid #2C3746;}
.thread-wrapper ul{list-style-type:none;}
.thread{margin:0.5em 0;}
.thread h3 {float:left;}
.thread ul{text-align:right;font-size:0.9166em;line-height:3.2726;margin:0;padding:0;}
.thread ul li{display:inline;margin:0 0 0 5px;}

/*view of the people and groups*/
div.group{float:left;width:510px;padding-bottom:0.5em;}
#main span.selected{font-weight:bold;margin-left:0.5em;margin-right:0.5em;}
#main #list_by_groups_selected a{margin-left:0.5em;}
div.user{position:relative;float:left;background:#eaeaea;width:510px;border-top:1px #CCC solid;padding:8px 0 0 0.75em;}
.user ul,ul.group_links{list-style-type:none;}
.user ul{margin:0 0 0 0.5em;}
.odd,.even{padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.odd{background:#E6EFC2;border-color:#C6D880;}
.even{background:#FBE3E4;border-color:#FBC2C4;}
.group_links{float:right;}
.group_links ul{margin:0.75em 0 0.666em 0.5em;}
.group_links ul li{display:inline-block;}
.group_links ul.edit-post{padding-top:3px;margin:0.75em 0.75em 0.666em 0.5em;}
.thread-title,.post-title{float:left;}
.post-title{margin-left:0.75em;}
.user ul.user-actions{float:right;margin-right:0.5em;}
.user ul.user-actions li{font-size:0.9166em;line-height:1.6363;}
.user div{float:left;}

#posts h3{}
#posts h3 a{color:#111;text-decoration:none;}
#posts h3 a:hover{text-decoration:underline;}
#posts h3 .updated{color:#666;font-weight:normal;}
.post{background:#eaeaea;clear:both;font-size:0.9166em;line-height:1.6363;overflow:hidden;position:relative;border-top:1px #CCC solid;}
.post:hover,div.user:hover{background:#e5e5e5;}
.post p{margin:0.75em 0 0.75em 0.75em;}
.post img.logo{width:22px;height:22px;}
ul.edit-post{text-align:right;}
ul.edit-post li{list-style-type:none;}
#latest_posts{margin-bottom:1.5em;}
#latest_users p,#inc-events p,#Create_new_group #new_group p{margin-bottom:0;}
#sidebar h3{margin-bottom:0.75em;}
#sidebar input[type="submit"]{margin-top:0.75em;}
#sidebar p img{margin-right:5px;}
.space-desc p{margin-bottom:0;}
#inc-events,.space-desc{width:230px;float:left;/*padding-left:10px;*/}
#inc-events{margin-top:0.75em;}
#inc-events ul{list-style-type:none;margin:0;}
li.event {position:relative;}
li.event:hover {text-decoration:underline;}
li.event h5{margin-bottom:0;}
a.box-link{position:absolute;display:block;text-indent:-9999em;top:-1px;left:-2px;width:100%;height:100%;background:none;}
#sidebar input[type="text"],#sidebar input[type="date"],#sidebar input[type="time"]{width:92%;}
#new_thread,#new_reply,#edit_reply,#edit_thread,#Create_new_group,#new-priv-msg, #change-event{background:#DDD;padding:0 0 10px 10px;float:left;margin-top:1.5em;}
#new_thread,#new_reply,#edit_reply,#edit_thread,#Create_new_group,#new-priv-msg,#change-event{-webkit-border-radius:7px;-moz-border-radius:7px;}
#new_thread h3,#new_reply h3,#edit_reply h3,#edit_thread h3,#Create_new_group h3,#new-priv-msg,#change-event h3{margin-top:0;padding-top:0.75em;}
#new_thread textarea,#new_reply textarea,#edit_reply textarea,#edit_thread textarea,#new-priv-msg textarea,#change-event textarea{width:92%;}
#new_thread textarea,#new_reply textarea,#edit_reply textarea,#edit_thread textarea,#new-priv-msg textarea,#change-event textarea{height:8.3333em;margin-bottom:0.5em;}
.actions{font-size:0.9166em;line-height:1.6363;}
.actions ul,.no_javascript ul{list-style-type:none;margin:0;}
.actions li{display:inline;margin-right:8px;}
.actions li a.selected{text-decoration:none;font-weight:bold;}
.actions li a{text-decoration:none;color:#111;text-decoration:underline;}
.no_javascript ul{margin-right:1.5em;}
#new_photo_form,#new_doc_form{margin-top:0.75em;}
#sidebar #caption{margin-top:0.75em;}

.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix{display:block;}
#footer{clear:left;font-size:0.9166em;line-height:1.6363;color:#666;padding-top:1.5em;}
