/* reset.css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}

/* typography.css */
body{font-size:75%;color:#222;background:#F5F5F5;font-family:"Lucida Grande",Helvetica,Arial,Helvetica,sans-serif;}
h1,h2,h3,h5{font-weight:normal;color:#111;}
h1{font-size:2.6666em;line-height:1.125;background:#f00;}
h2{font-size:2em;margin-bottom:0.75em;}
h3{font-size:1.0833em;line-height:1.3846;margin:0.75em 0 0.666em 0;font-weight:bold;}
h3 img{margin-bottom:-3px;}
h5{font-size:0.9166em;line-height:1.6363;margin-bottom:0.75em;font-weight:bold;}
p{margin:0 0 1.5em;}
a:focus,a:hover{color:#1F488F;}
a{color:#0476D9;text-decoration:underline;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
button{width:auto;overflow:visible;padding:4px 7px 5px 6px;}
*:first-child+html button[type]{padding:4px 7px 5px 6px;}
a.button, button {
  border:none;
  background-color:#AAA;
  font-family:"Lucida Grande";
  font-size:95%;
  line-height:135%;
  text-decoration:none;
  font-weight:bold;
  color:#FFF;
  cursor:pointer;
  -webkit-border-radius:7px;-moz-border-radius:7px;
}

/* grid.css */
body{min-width:960px;}
body .icon{margin-bottom:-3px;}
/*body{background:url(/images/grid.png);}*/
/*.showgrid{background:url(/images/grid.png);}*/
#global,#space,#footer{width:950px;margin:0 auto;}
#global-wrapper{background:#1E2B38;border-bottom:2px solid #000;}
#global{padding:0.5em 0;}
#global a{color:#EEE;text-decoration:none;}
#global-logo {position:absolute;font-family:Trebuchet;font-weight:bold;text-shadow:#000 1px 1px 1px;}
#global-logo img{margin:0 4px -4px 0;}
#feedback{margin-left:160px;}
#feedback a{font-weight:normal;font-size:0.8333em;text-decoration:underline;}
#header{margin-top:1em;height:68px;margin-bottom:1em;}
#logo, #search{float:left;}
#logo{width:160px;}
#search{margin-top:1.25em;}
#search input{font-size:1em;width:150px;}
#prefs{font-size:0.9166em;line-height:1.6363;text-align:right;}
#prefs ul{list-style-type:none;margin:0;}
#prefs li{margin-left:12px;display:inline;}
#prefs a{color:#333;}
#prefs .new{font-weight:bold;color:#A52A2A;}
#prefs a:hover{text-decoration:underline;}
#content{clear:left;}
#selector, #main{float:left;}
#selector{width:150px;margin-right:10px;}
#main{width:510px;margin-right:50px;}
#sidebar{float:left;width:230px;}
#selector h5{color:#888;margin-bottom:0.75em;}
#selector ul{font-size:0.8333em;line-height:1.8;list-style-type:none;margin:0 0 2em 0.5em;color:#999;}
#selector .selected{text-decoration:none;color:#000;font-weight:bold;}
#menu{background:url(../images/dot.png) bottom repeat-x;margin-bottom:1em;}
#menu ul{list-style-type:none;margin:0;font-size:0.9166em;line-height:1.6363;}
#menu li{display:inline;margin-right:2px;}
#menu li a{display:inline-block;background:#D8D8D8;padding:0.25em 1em;border:1px solid #999;border-bottom:1px solid #999;text-decoration:none;color:#333;}
#menu li .selected{background:#FFF;border-bottom:1px solid #FFF;}
#menu li .admin{background:#1E2B38;border-color:#353B41;color:#FFF;}
#menu li a:hover{background:#EEE;}
#menu li .selected:hover{background:#FFF;}
#menu li .admin:hover{background:#2C3746;border:1px solid #2C3746;}
.thread-wrapper ul{list-style-type:none;}
.thread{margin:0.5em 0;}
.thread h3 {float:left;}
.thread ul{text-align:right;font-size:0.9166em;line-height:3.2726;margin:0;padding:0;}
.thread ul li{display:inline;margin:0 0 0 5px;}
.new-thread {background:#DDD;padding-top:0.5em;}
.new-thread h3{margin-bottom:0.75em;}
.new-thread h3,.new-thread form {margin-left:12px;}
.new-thread input {margin-top:0;margin-bottom:11px;}
.new-thread input[type="text"]{width:92%;}
.new-thread textarea{width:94%;}
.post{clear:both;font-size:0.9166em;line-height:1.6363;overflow:hidden;}
.post p{margin-bottom:1em;}
.post img{width:16px;height:16px;}
.updated{font-size:0.9166em;line-height:1.6363;font-style:italic;color:#111;}
#latest_posts p,#latest_users p{margin-bottom:0;}
#sidebar h3{margin-bottom:0.75em;}
#sidebar p img{margin-right:5px;}
#sidebar #latest_users ul{list-style-type:none;margin:0;}
.actions{font-size:0.9166em;line-height:1.6363;}
.actions ul{list-style-type:none;margin:0;}
.actions li{display:inline;margin-right:8px;}
.actions li a.selected{text-decoration:none;font-weight:bold;}
.actions li a{text-decoration:none;color:#111;text-decoration:underline;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix{display:block;}
#footer{clear:left;font-size:0.9166em;line-height:1.6363;color:#666;padding-top:1.5em;}