/* reset.css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}

/* typography.css */
body{font-size:75%;color:#222;font-family:"Lucida Grande",Helvetica,Arial,Helvetica,sans-serif;}
h1,h2,h3,h5{font-weight:normal;color:#111;}
h1{font-size:2.6666em;line-height:1.125;background:#f00;}
h2{font-size:2em;margin-bottom:0.75em;}
h2 img{margin-right:5px;}
h3{font-size:1.0833em;line-height:1.3846;margin:0.666em 0 0.666em 0;font-weight:bold;}
h3 img{margin-bottom:-3px;}
h5{font-size:0.9166em;line-height:1.6363;margin-bottom:0.75em;font-weight:bold;}
p{margin:0 0 1.5em;}
a:focus,a:hover{color:#1F488F;}
a{color:#0476D9;text-decoration:underline;}
a.read_more_link{text-decoration:none;}
a.read_more_link:hover{text-decoration:underline;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
button{width:auto;overflow:visible;padding:4px 7px 5px 6px;}
*:first-child+html button[type]{padding:4px 7px 5px 6px;}
.item_title{color:#244974;}
.person_title{}
.sidebar_title{}
.selector_title{color:#999;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}/**/
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}/**/
.small-font{font-size:0.9166em;line-height:1.6363;color:#555;}
.updated{font-size:0.9166em;line-height:1.6363;font-style:italic;color:#111;}
a.button, button, #sidebar input[type=submit] {
  border:none;
  font-family:"Lucida Grande";
  font-size:95%;
  line-height:135%;
  text-decoration:none;
  font-weight:bold;
  background:#275b8a;
  color:#FFF;
  margin-right:4px;
  cursor:pointer;
  -webkit-border-radius:7px;-moz-border-radius:7px;
}
/* forms.css */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
/*File upload button*/
.file_1{color:#888;font-size:0.9166em;background:#FFF;margin-right:5px;}

/*----------------------- grid.css ---------------------------*/
/*body{background:url(/images/grid.png);}*/
.margin-up{margin-top:0.75em;}

/*all css for the header and the navigation part(tabs, search,etc*/
body{min-width:960px;background-color:white;}
body .icon{margin-bottom:-2px;}
#header{background-color:#fff;}
#global,#space,#content,#footer{width:960px;margin:0 auto;display:block;}
#space{background-color:#f0f6f9;}
#content{clear:left;min-height:600px;padding-top:1em;}
#global-wrapper{background:#244974;border-bottom:2px solid #244974;}
#global{padding:0.5em 0;}
#global a{color:#EEE;text-decoration:none;}
#global-logo{position:absolute;font-family:Trebuchet;font-weight:bold;text-shadow:#000 1px 1px 1px;}
#global-logo img{margin:0 4px -4px 0;}
#feedback{margin-left:260px;}
#feedback a{font-weight:normal;font-size:0.8333em;text-decoration:underline;}
#header{padding-top:1em;height:68px;padding-bottom:1em;}
#logo,#vcc-logo,#search{float:left;}
#vcc-logo{height:68px;}
#logo{height:64px;padding:1px;border:1px #dedede solid;}
#logo:hover{border-color:#c0c0c0;}
#logo img.logo{width:100%;}
#search{margin-top:1.25em;margin-left:32px;}
#search input[type="text"]{font-size:1em;width:150px;}
#search a img,#search input[type="image"]{margin-bottom:-7px;}
#prefs{font-size:0.9166em;line-height:1.6363;text-align:right;}
#prefs ul{list-style-type:none;float:right;margin-top:-17px;}
#prefs li{margin-left:12px;display:inline;}
#prefs a{color:white;}
#prefs .new{font-weight:bold;color:#A52A2A;}
#prefs a:hover{text-decoration:underline;}

#main{width:510px;margin-right:40px;margin-bottom:1.5em;background-color:#fff;}
#sidebar{float:left;width:230px;padding-right:10px;}
div.space-desc h3, div.space-desc p{color:#244974;}
#inc-events h3{color:#8B0425;}
#inc-events ul li.event p{color:#8B0425;}

#selector, #main{float:left;/*background-color:#f0f0f0*/;}
#selector{width:150px;margin-right:10px;padding-left:10px;}
#selector h5{color:#888;margin-bottom:0.75em;}
#selector ul{font-size:0.9em;line-height:1.666;list-style-type:none;margin:0 0 2em 0;white-space:nowrap;overflow:hidden;color:#999;}
#selector ul li{padding-left:0.5em;margin-top:3px;}
#selector ul li a{text-decoration:none;color:#244974;}
#selector ul li.selected {background-color:#ffa903; }
#selector ul li.selected a{color:white;}
#selector ul li:hover {background-color:#ffa903; }
#selector .selected{text-decoration:none;font-weight:bold; }
h3.selector_title{color:#244974}
#menu{background:#f0f6f9;margin-bottom:1em;}
#menu ul{list-style-type:none;margin:0;font-size:1em;line-height:1.5;font-weight:bold;}
#menu li{display:inline;margin-right:-3px;}
#menu li a{display:inline-block;padding:0.5em 1.5em;border-right:1px solid #d3e8f6;text-decoration:none;background:#244974; color:white}
#menu li .selected{background:white; color:#244974}
#menu li .admin{background:#ffa903;color:#FFF;}
#menu li a:hover{background:white;color:#244974;border-right-color:#d3e8f6;}
#menu li .selected:hover{background:white; color:#244974}
#menu li .admin:hover{background:white;color:#ffa903;}
#wrapper{padding:0 10px 10px 10px;}

/*users and groups*/
div.group{float:left;width:490px;;padding-bottom:0.5em;margin-top:2px;}
.group h3{padding:8px 0.75em 7px 0.75em;background:#d2e5f1;}
.group ul{margin:0;padding:9px 0.5em 0 0;}
#main span.selected{font-weight:bold;margin-left:0.5em;margin-right:0.5em;}
#main #list_by_groups_selected a{margin-left:0.5em;}
#list_by_names_selected,#list_by_groups_selected{padding:9px 0.5em 0 0;}
#results_count h3,.group h3{margin:0;}
#results_count{padding:9px 0.75em 8px 0.75em;background:#bdd8eb;}
div.user,div.read_more{position:relative;clear:both;overflow:hidden;}
div.user{background-color:white;border-bottom:1px #CCC solid;padding:10px 0.5em 7px 0.75em;}
.user ul,ul.group_links{list-style-type:none;}
.user ul{margin:0 0 0 0.5em;}
.user ul.user-actions{float:right;margin-right:0.5em;}
.user ul.user-actions li{font-size:0.9166em;line-height:1.6363;}
.user div{float:left; }
.user div.selected_groups{margin-left:0.5em;}
.user .clearboth{margin-left:0.5em;}

/*threads and posts (colors and boxes)*/
.odd_thread,.even_thread{padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.odd_thread{background:#E6EFC2;border-color:#C6D880;}
.even_thread{background:#FFF6BF;border-color:#FFD324;}
.odd_thread .thread-title{background:#accf28;}/*verde*/
.even_thread .thread-title{background:#f2cc1f;}/*amarillo*/
.odd_thread .post{background:#d4e39a;border-top:none;margin-top:2px;}/*verde*/
.even_thread .post{background:#faec96;border-top:none;margin-top:2px;}/*amarillo*/
.odd_thread .post:hover{background:#cce07e;}/*verde*/
.even_thread .post:hover{background:#f5df51;}/*amarillo*/
.odd_thread .post_i{border-top-color:#C6D880;}
.even_thread .post_i{border-top-color:#FFD324;}
/*main format at threads and posts for the titles and divs */
#posts h2{margin-bottom:0;font-size:1.666em;line-height:1.333;}
#posts h3 a,#posts h2 a{color:#111;text-decoration:none;}
#posts h3 a:hover,#posts h2 a:hover{text-decoration:underline;}
#posts .updated{color:#666;font-weight:normal;font-size:0.555em;line-height:1.8;}
.post{background:white;clear:both;font-size:0.9166em;line-height:1.6363;overflow:hidden;position:relative;/*border-bottom:1px #CCC solid;*/}
.post:hover,div.user:hover{background:#f0f6f9;}
.post p{margin:0.75em 0 0.75em 0.75em;}
.post img.logo{width:22px;height:22px;}
.post_i{clear:both;font-size:0.9166em;line-height:1.6363;border-top:1px #CCC solid;}
.thread-title{padding:0.5em 0;margin:0.25em 0;}
.post-title{float:left;}
.post-title{margin-left:0.75em;}
/*options links for posts, threads, people..*/
.thread_options ul{list-style-type:none;text-align:right;margin:0;}
.thread_options ul li{display:inline-block;}
.group_links{float:right;}
.group_links ul{margin:0.75em 0 0.666em 0.5em;}
.group_links ul li,ul.group_links li{display:inline-block;}
.group_links ul.edit-post{padding-top:3px;margin:0.75em 0.75em 0.666em 0.5em;}
ul.edit-post{text-align:right;}
ul.edit-post li{list-style-type:none;}
#admin_tabs ul.group_links{margin:0;}
#admin_tabs{padding:0.375em 0.5em 0.375em 0.5em;margin-bottom:2px;background:#bdd8eb;}
#admin_tabs,#latest_posts h3,#latest_users h3,#latest_posts .read_more,#latest_users .read_more,#events h3,#incoming_events h3,#past_events h3{border-right:1px #b0cadb solid;border-bottom:1px #a8c0d1 solid;}
/*space home, latest users,posts and events*/
#latest_posts{margin-bottom:1.5em;}
#latest_posts h3,#latest_users h3{margin:0;padding:5px 5px 3px;background:#bdd8eb; color:#244974;}
#latest_posts .read_more,#latest_users .read_more{padding:5px 0.75em;background:#bdd8eb;}
div.user li.u_name{color:#605E5E;}
div.post{color:#605E5E;}
div.post a:hover{height:100%; width:100%;}
span.updated{color:#666;}
a.read_more_link{color:#244974;}
#latest_users p,#inc-events p,#Create_new_group #new_group p{margin-bottom:0;}
#sidebar h3{margin-bottom:0.75em;}
#sidebar input[type="submit"]{margin-top:0.75em;}
#sidebar p img{margin-right:5px;}
#inc-events,.space-desc{width:230px;float:left;/*padding-left:10px;*/}
#inc-events h3,.space-desc h3{padding-bottom:0.75em;border-bottom:1px #ccc solid;}
.space-desc p{margin-bottom:0;}
#inc-events{margin-top:0.75em;}
#inc-events ul{list-style-type:none;margin:0;}
li.event {position:relative;}
li.event:hover {text-decoration:underline;}
li.event h5{margin-bottom:0;}
a.box-link{position:absolute;display:block;text-indent:-9999em;top:-1px;left:-2px;width:100%;height:100%;background:none;}
/*events*/
#events_content h3{margin:0;padding:8px 0.75em 7px 0.75em;background:#bdd8eb; color:#244974;}
#events_links{padding:7px 0.5em 0 0;}
#events_links a{text-decoration:none;color:#244974;}
#events_links a:hover{background-color:#244974;color:white;}
div.single_event{position:relative;clear:both;overflow:hidden;}
div.single_event{border-bottom:1px #CCC solid;padding:10px 0.5em 7px 0.75em;}
div.single_event:hover{background:#f0f6f9;}
.single_event ul{list-style-type:none;margin:0;}
.single_event p{margin-bottom:0;}
.date{color:#8B0425;font-weight:bold;}
.author{color:#244974;font-weight:bold;}
#change-event ul li{font-weight:bold;}
/*sidebar style: size and position od the divs. Different cases:new-htread,new-reply, edit...*/
#sidebar .join{background:#bdd8eb;-webkit-border-radius:7px;-moz-border-radius:7px;padding:0 10px 10px 10px;text-align:center;color:#244974;border: solid 2px #244974;margin-top:10px;}
.join h2{margin-bottom:0;margin-top:2px;color:#244974;}
#sidebar input[type="text"]{width:92%;}
#sidebar input[type="date"],#sidebar input[type="time"]{width:30%;margin-right:10px;}

#new_thread,#new_reply,#edit_reply,#edit_thread,#Create_new_group,#priv-msg, #change-event,#space-conf,#news_sidebar{background:#bdd8eb;padding:0 0 10px 10px;float:left;margin-top:1.5em;}
#new_thread,#new_reply,#edit_reply,#edit_thread,#Create_new_group,#priv-msg,#change-event,#space-conf,#news_sidebar{-webkit-border-radius:7px;-moz-border-radius:7px;border-right:2px #b0cadb solid;border-bottom:2px #a8c0d1 solid;}
#new_thread h3,#new_reply h3,#edit_reply h3,#edit_thread h3,#Create_new_group h3,#priv-msg,#change-event h3,#space-conf h3,#news_sidebar h3{margin-top:0;padding-top:0.75em;}
#new_thread textarea,#new_reply textarea,#edit_reply textarea,#edit_thread textarea,#priv-msg textarea,#change-event textarea,#news_sidebar textarea,#space-conf textarea{width:92%;overflow:hidden;}
#new_thread textarea,#new_reply textarea,#edit_reply textarea,#edit_thread textarea,#priv-msg textarea,#change-event textarea,#news_sidebar textarea,#space-conf textarea{height:8.3333em;margin-bottom:0.5em;}

/*Actions of the sidebar: comment, photo and doc*/
.actions{font-size:0.9166em;line-height:1.6363;}
.actions ul,.no_javascript ul{list-style-type:none;margin:0;}
.actions li{display:inline;margin-right:8px;}
.actions li a.selected{text-decoration:none;font-weight:bold;}
.actions li a{text-decoraperracation:none;color:#111;text-decoration:underline;}
.no_javascript ul{margin-right:1.5em;}
#new_photo_form,#new_doc_form{margin-top:0.75em;}
#sidebar #caption{margin-top:0.75em;}
#sidebar .float{float:left;}
#sidebar .float a{padding-left:5px;}
#sidebar div.checkbox_event{padding:0.25em 0;margin:2px 10px 2px 0;}

/*admin*/
#sidebar #space-conf div{padding-bottom:0.75em;}

/*Profile*/
.profile-box{background:#bdd8eb;margin-bottom:1.5em;-webkit-border-radius:7px;-moz-border-radius:7px;border-right:1px #b0cadb solid;border-bottom:1px #a8c0d1 solid;clear:both;overflow:hidden;position:relative;}
.profile-box #title{padding:9px 0 8px 0.75em;border-bottom:1px #a8c0d1 solid;}
h3.item_title{margin:0;}
h3.item_title span{font-size:1.25em;line-height:1.2;}
.profile-box #profile_content{background:#f0f6f9;padding:9px;clear:both;overflow:hidden;position:relative;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;}
#profile_content div{float:left;}
#profile_content .post{background:none;border-bottom:1px #a8c0d1 solid;}
#profile_content .post:hover{background:#fafafa;}
#profile_content .post p#topic{font-size:1.0833em;line-height:1.3846;color:#244974;font-weight:bold;}
.vcard ul{list-style-type:none;}



/*footer*/
.clearboth{clear:left;display:block;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix{display:block;}
#footer{clear:left;background:#fff;font-size:0.9166em;line-height:1.6363;color:#666;padding-top:1.5em;}
#footer ul{list-style-type:none;margin:0 0.75em; }
#footer ul li{display:inline-block;margin-right:0.5em;}
#footer ul li#trade_mark{font-weight:bold;color:#111;}
#footer a{color:#666;}
#footer a:hover{color:#444;}
#footer .icon,#global .icon{margin-bottom:-4px;}


/*davidCSS Temporal - */

/*index de spaces*/
#space_filter{padding:0.5em;background:#bdd8eb;}
#space_filter input[type="text"]{color:#777;}
#private_spaces,#public_spaces{padding:0.5em;}
.space_item {display:inline-block;margin-bottom:4px;margin-right:3px;width:52px;}
.space_item img{padding:1px;border:1px #ccc solid;}
.space_item img:hover {border:1px #bbb solid;}
.space_item form{display:inline;}
.space_item form div{display:inline;}

/*kikeCSS */
#login_div h3{margin-bottom:7px;padding:8px 0.75em 7px 0.75em;background:#bdd8eb;}
