body {background-color:#c3e8f0;}



body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #666; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 1px;
  background-color: #67A54B;
  display: table;
}
#contenedor{
	border: 2px ridge green;
	background-color: #CCFF80;
padding: 1em;
	width: 304px;
	margin: auto;
	margin-top: 75px;
	text-align: center;
}
#contenedor2{
	border: 2px ridge green;
	background-color: #CCFF80;
padding: 1em;
	width: 420px;
	margin: auto;
	margin-top: 120px;
	text-align: center;
}
#errorExplanation {
  width: 30%;
  border: 2px ridge #67A54B;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-left: 37%;
  margin-top: 1%;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #67A54B;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


.ListTitle {
  color: #244;
  font-weight: bold;
  font-size: larger;
}

.ListActions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}

.ListLine0 {
  height:22px;
  background-color:6dbaf0;
  color:000000; 
  border-style:solid; 
  border-bottom-width:0; 
  border-top-width:0; 
  border-left-width:0;
  border-right-width:0;  
  border-color:302C21; 
  font-family: verdana,arial;
  font-size:12;
}

.ListLine1 {
  height:22px;
  background-color:1b8dd4;
  color:000000; 
  border-style:solid; 
  border-bottom-width:0; 
  border-top-width:0; 
  border-left-width:0;
  border-right-width:0; 
  border-color:302C21; 
  font-family: verdana,arial;
  font-size:12;
}


.ListUser0 {
  height:22px;
  background-color:6dbaf0;
  color:000000; 
  border-style:solid; 
  border-bottom-width:0; 
  border-top-width:0; 
  border-left-width:0;
  border-right-width:0;  
  border-color:302C21; 
  font-family: verdana,arial;
  font-size:14;
}

.ListUser1 {
  height:22px;
  background-color:1b8dd4;
  color:000000; 
  border-style:solid; 
  border-bottom-width:0; 
  border-top-width:0; 
  border-left-width:0;
  border-right-width:0; 
  border-color:302C21; 
  font-family: verdana,arial;
  font-size:14;
  
}


.ListLine_hour0 {
  height:22px;
  background-color:6dbaf0;
  color:000000; 
  border-style:solid; 
  border-bottom-width:0; 
  border-top-width:0; 
  border-left-width:0;
  border-right-width:1;  
  border-color:302C21; 
  font-family: verdana,arial;
  font-size:12;
  text-align: center;
}

.ListLine_hour1 {
  height:22px;
  background-color:1b8dd4;
  color:000000; 
  border-style:solid; 
  border-bottom-width:0; 
  border-top-width:0; 
  border-left-width:0;
  border-right-width:1; 
  border-color:302C21; 
  font-family: verdana,arial;
  font-size:12;
  text-align: center;
}

.contains_event {
  height:22px;
  text-align: center;
  background-color:99CCFF;
  color:000000; 
  border-style:solid; 
  border-bottom-width:1; 
  border-top-width:1; 
  border-left-width:1;
  border-right-width:1; 
  border-collapse: collapse;
  border-color:0000CC;
}

.user_info {
  background-color:99CCFF;  
  margin:5px;
  padding:5px;
}

.resources_info {
  
  background-color:#99CCFF;
  margin:5px;
  padding:5px;
}

.resources_title {
  font-weight: bold;
  font-family: verdana,arial;
}

.Border {
  text-align: center;
  width:15px;
}

#banner {
background: #6dbaf0;
padding-top: 0px;
padding-bottom: 0px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: #282;
text-align: center;
}

#banner img {
float: left;
}


.pagetitle {
 background: #6dbaf0;
 padding-top: 6px;
 padding-bottom: 6px;
 font: small-caps 40px/40px "Times New Roman", serif;
 color: #67A54B;
 text-align: center;
}

.td_login {
 text-align: center;
}

.whole_table {
 padding:0;
 margin:0;
}

#notice {

border: 2px ridge green;
padding: 1em;
margin-left: 37%;
margin-right: 37%;
margin-bottom: 2em;
background-color: #f0f0f0;
font-weight: bold; 
font-family: sans-serif;
}

.copyright { 
border-style:solid; 
border-width:1; 
border-color:302C21;
background-color: #c3e8f0; 
}

.login {
border-style:solid; 
border-width:1; 
border-color:302C21;
background-color: #c3e8f0;
}

.Event { 
border-style:solid; 
border-width:1; 
border-color:302C21;
background-color: #6dbaf0 
}

.fieldEvent { 
font-family:tahoma,verdana,arial;
font-size:10pt;
}

.headerDay  { 
font-weight:bold; 
height: 25px;
color: #003399;
background-color: #6dbaf0;
font-family:tahoma,verdana;
font-size:13pt; 
position: relative;
}

.filter_view {
text-align: center;
height: 15px;
padding: 7px;
}

.remove_field {
text-align: center;
}

.time_summary_up {
 border-style:solid;
 border-top-width:1;
 border-bottom-width:0;
 border-left-width:0;
 border-right-width:0; 
 border-color:000000;
 border-collapse: collapse;
}

.time_summary_down {
 border-style:solid;
 border-bottom-width:1;
 border-top-width:0;
 border-left-width:0;
 border-right-width:0; 
 border-color:000000; 
 border-collapse: collapse;
}

.time_line {
 height: 8px;
 font-size:8pt;
}

#event_summary {
 float: right; 
 margin-left: 1em; 
 margin-bottom: 1em;
}

#calendar-container {
 float: right; 
 margin-left: 1em; 
 margin-bottom: 1em;
}

.solo_centrar {
text-align: center;
}

#solo_centrar {
text-align: center;
}

.bold_center {
font-weight:bold;
text-align: center;
}

#bold_center {
font-weight:bold;
text-align: center; 
}

#forgot_password {
text-align: center;
font-family:tahoma,verdana;
font-size:9pt;
}

#right_align {
text-align: right;
}

.special { background-color: #99CCFF; color: #fff; }
.button {
background-color: #67A54B;
border-width: 2px;
color: #ffffff;
font-size: 8pt;
font-family: Georgia;;
font-weight: bold; 
}

.vcard {
	background-image: url(/images/vcardfill.png);
	background-repeat: no-repeat;
	color: #666;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: 28em;
}

.fn {
	background-image: url(/images/topright.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 2em;
	font-weight: bold;
	font-size: 1.1em;
}
.telecommunications {
	background-image: url(/images/bottom-left.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-bottom: 2em;
}
.vcard img {
	float: right;
	padding-right: 1em;
	margin-top: -1em
}
.vcard p {
	margin-left: 1em;
}

p.email {
	color: #FF0000;
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-bottom: 2em;
	
}
.nube1 {font-size: 1.0em; }
.nube2 {font-size: 1.5em; }
.nube3 {font-size: 2em; }
.nube4 {font-size: 2.5em; }
.nube5 {font-size: 3em; }
.nube6 {font-size: 3.5em; }
#tagcloud{
	padding-top: 1em;

 margin-bottom: 1em;
 

}
#search{

	padding-left: 3em;
}