/*Estilo general del fondo y enlaces*/

body{	
	background-color:white;	
}

a:link, a:visited, a:hover, p{
	font-family: Tahoma,Verdana,Arial, helvetica, sans-serif;
}
.main_title{
	color:#3b54a6;
	font-weight:bold;
}
/* HEADER */

#hd {
	position:relative;
	background:#ffffff no-repeat bottom left;
    height:140px;	
	*height:1%;
}

/*Estilo del logotipo*/

#logo{
	position:absolute;
	width:114px;
	height:60px;
}
#logo_text{
	width:425px;
	margin-left:30%;
	margin-top:40px;
}
#logo_text p{
	font-size:1.5em;
}
/*Linea que atraviesa el logo*/

#linea{
	width:100%;
	height:1px;
	margin-top:35px;
	position:absolute;
	border-bottom:solid;
	border-bottom-color:#004f9e;
}

/* Login y registro de usuarios. Username */

#login-users{
	position: absolute;
	right:0px;
	top:10px;
	border:solid;
}

#menu_login ul, #menu_logout ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
}

#menu_login ul li, #menu_logout ul li{
	text-align:right;
	float:left;
	padding-left:5px;
	padding-top:0px;
}

#menu_login a:link, #menu_login a:visited, a.logout {
	color:#7D7D7D;
	text-decoration:none;
}

#menu_login a:hover, a:hover.logout{
	color:#611427;
	text-decoration:none;
}

.username{
	color:#611427;
	text-decoration:none;
	font-weight:bold;
	border-right:solid;
	padding-right:5px;
}


/* Estilo del menu principal (superior) */

#menu_tabs{
	position: absolute;
	height:34px;
	margin-top:75px;
	margin-left:240px;
	text-align:center;
	display:block;
	padding-right:14px;
	
	
}

ul#nav {
	z-index:10;
}

ul#nav li {
	display: inline;
    float: left;
}

ul#nav a {
    cursor: pointer;
    float: left;
    white-space: nowrap;
    background-image: url(../images/g44_gradient.png);
    border: 1px solid #004f9e;
	border-bottom:none;
	margin-right:0px;
	text-decoration: none;
}

ul#nav a span {
    padding: 10px 15px 12px 15px;
    height: 12px;
    color: #004f9e;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}

ul#nav a:hover {
    background-position: top left;
    text-decoration: none;
	
}

ul#nav a:hover span {
   	color:white;
}

ul#nav li.current a{
	color: #191919;
	background-image: url(../images/gg_gradient.png);
	background-repeat:repeat-x;
	border: 1px solid #74736A;
	
}

ul#nav li.current a span {
   	color:#2c4130;
}

ul#nav li.current a:hover span {
    color:#466d4e;
}

ul#nav a:hover span {
    background-position: right top;
}

ul.sidebar_posts {
    list-style: none;
    padding: 0;
}

ul.sidebar_posts li {
    line-height: 1em;
    margin: 1em 0 0 0;
}

/* Botonera secundaria, bajo la barra de tabs */

#secondary_buttons{
	position: absolute;
	width:100%;
	height:24px;
	margin-top:35px;
	margin-left:0px;
	text-align:center;
	display:block;
	padding-top:4px;
	background-image:url(../images/g3_gradient.png);
	background-repeat:repeat-x;
}

#border{
	width:11px;
	height:28px;
	position:absolute;
	margin-top:35px;	
	margin-left:-11px;
	background-image:url(../images/g_border1.png);
}
#border2{
	width:15px;
	height:28px;
	position:absolute;
	margin-top:35px;	
	margin-left:0px;
	right:0px;
	background-image:url(../images/g_border2.png);
	z-index:10;
}

#secondary_buttons a{
   	color:#2c4130;
	text-decoration:underline;
}

#secondary_buttons a:hover{
    color:#466d4e;	
}
ul#nav2 li{
	display:inline;
}
ul#nav2 li.current a {
	color:#611427;
	font-weight:bold;
	
}

/* Selector de espacios */

#space-span {
	position:absolute;
	margin-top:80px;
	margin-left:100px;
	
}

#space_logo{
	position:absolute;
	width:100px;
	background-image:url(../images/space2.png);
	background-repeat:no-repeat;
	height:40px;
	margin-top:70px;
}

select{
	color:#611427;
	border:none;
	scrollbar-arrow-color:red;
	background-color:white;
	text-align:center;
	
}
.elegido{
	font-weight:bold;
}
.noelegido{
	font-weight:normal;
}
.contenido_main{
	
	width:95%;
	
}
/* BODY */

div#bd {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:20px;
	min-height: 800px;
	
	
}

#search_container{
	margin-top:10px;
	height:68px;
	
	
}
#search_container2{
	margin-top:10px;
	height:146px;
	
	
}
#search_container3{
	margin-top:10px;
	height:95px;
	
	
	
}

#search_container img{
	margin-left:-70px;
	margin-top:-3px;
	position:absolute;
	
}

input#query {
	border:solid 1px #c0c0c0;
}
.go, .go2 {
	position:absolute;
	margin-top:20px;
	width:32px;
	left:50%;
	margin-left:-16px;
	padding-top:5px;
}
.go2{
	margin-top:28px;

}
.title{
	color:#611427;
	padding-bottom:5px;
}
.advanced{
	position:relative;
	
	margin-bottom:0px;
}
/*add_users*/
#add_usuarios {
	display:block;
	width:650px;
	height:250px;
	
}

#users_id {
	position: absolute;
	width: 150px;
	margin-left:-30px;
	margin-top:10px;
}

#buttons_register {
	position: absolute;
	margin-left:200px;
	margin-top:-180px;
	width: 200px;
	
}


#buttons_remove {
	position: absolute;
	margin-left:0px;
	margin-top:210px;
	width: 200px;
	
}

.select_users {
	width: 150px;
	height:200px;
}

#search_in_add_users {
	position: absolute;
	margin-left:200px;
	margin-top:-110px;
	width: 300px;
}

#space_users {
	width: 650px;
	height: 240px;
	margin-top:10px;
}

#admin_users {
	position: absolute;
	width: 200px;
	margin-top:0px;
	margin-left:-30px;
}

#users_users {
	position: absolute;
	width: 200px;
	margin-top:0px;
	margin-left:170px;
}

#invited_users {
	position: absolute;
	width: 200px;
	margin-top:0px;
	margin-left:370px;
}

.contains_event {
  height:22px;
  text-align: center;
  background-color:E0E0E0;
  color:000000; 
  border-style:solid; 
  border-bottom-width:1; 
  border-top-width:1; 
  border-left-width:1;
  border-right-width:1; 
  border-collapse: collapse;
  border-color:A3A3A3;
}

/* FOOT */
div#ft {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:10px;
	text-align:center;
	border-top: 1px solid #ccc;
	height: 35px;
}

#ft a{
	color:#7D7D7D;
	
}
#ft a:hover{
	color:#611427;
}
span.first_Column{
	position: relative;
	display: inline-block;
	left: 10px; 
	width: 130px;

}
span.tags_column{
	color: green;
}
.second_Column{
	position: relative;
	display: inline-block;
	left: 5px; 
	width: 440px;

}
span.second_Column a{
	font-weight: bold;
}
span.second_Column p{
	display: inline;
	font-weight: normal;
}

span.third_Column{
	position: relative;
	display: inline-block;
	left: 10px;
	width: 50px;

}
.post{
	text-align :left;
	width: 700px;

}

span.mini_image{
	position:relative;
	left: 7px;
	width:21px;
	display: inline-block;
}
span.clip{
	position:relative;
	left: 7px;
	width:16px;
	display: inline-block;
}

.pagination{
	position:relative;
	left:-100px;
	display:inline-block;
	width:200px;
}
.paginate{
	width:150px;
	position:relative;
	left:-80px;
	display:inline-block;
	text-align: left;
}

.expand{
	width:100px;
	position:relative;
	left:-80px;
	display:inline-block;
	text-align: left;
}
