body{	
	background-color:white;	
}

a:link, a:visited, a:hover, p{
	font-family: Tahoma;
}

.main_title, .title, .title_sidebar{
	color:#3b54a6;
	font-weight:bold;
	text-align:center;
		
}
.gris{
	color:#5a5a5a;
}
#notice {
	
}

/* HEADER */

#hd{
	position:relative;
	width:100%;
	height:160px;
	margin-top:3px;
	
}

/*Estilo del logotipo*/

#logo{
	position:absolute;
	width:150px;
	height:150px;
	margin-top:8px;
	margin-left:30px;
	
}

#logo_text{
	position:absolute;
	width:500px;
	margin-left:192px;
	margin-top:30px;
}

#logo_text p{
	font-size:1.6em;http://www.google.es/firefox?client=firefox-a&rls=com.ubuntu:en-US:official
	
}
#logo_fondo{
	position:absolute;
	width:745px;
	margin-left:220px;
	height:150px;
	background-image:url(../images/global2.png);
	background-repeat:no-repeat;
	margin-top:12px;
	
}
/* Login y registro de usuarios. Username */

#login-users{
	position: absolute;
	right:0px;
	margin-top:2px;
	padding-bottom:2px;
	border-bottom:solid 1px #3b54a6;
	background-color:white;
}

#menu_login ul, #menu_logout ul{
	margin-top:0px;
	list-style:none;
	padding-left:0px;
	
}

#menu_login ul li, #menu_logout ul li{
	text-align:right;
	float:left;
	padding-left:2px;
	padding-top:0px;
	border-right:solid 1px #3b54a6;
	padding-right:2px;
	
}

#menu_login a:link, #menu_login a:visited, #menu_logout a:link, #menu_logout a:visited {
	text-decoration:none;
	font-size:0.85em;
	
}

#menu_login a:hover, #menu_logout a:hover{
	color:#5a5a5a;
	text-decoration:none;
	
}

.username{
	color:#466d4e; 
	text-decoration:none;
	font-weight:bold;
	padding-right:5px;
}

/* Estilo del menu principal (superior) */

#menu_tabs{
	position: absolute;
	z-index:0;
	width:725px;
	margin-top:86px;
	margin-left:213px;
	text-align:center;
	display:block;
	
}

ul#nav {
	z-index:10;
	margin-top:3px;
}

ul#nav li {
	
	display: inline;
    float: left;
	/*padding-left:5px;*/
	margin-left:5px;
}

ul#nav a {
	
	cursor: pointer;
    float: left;
    white-space: nowrap;
   	text-decoration: none;
	outline-style:none;
}

ul#nav a span {
    
	padding:5px 5px 6px 5px;
	height: 12px;
    color: #3b54a6;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
	
}

ul#nav a:hover {
    background-position: top left;
    text-decoration: none;
}

ul#nav li.current a span {
   	color:white;
}

ul#nav a:hover span {
    background-position: right top;
}
#space_logo{
	width:50px;
	height:25px;
}

#space_p .sb-inner{
	background-color:white;
}

#round_button .sb-inner, #round_button2 .sb-inner, #round_button3 .sb-inner, #round_button4 .sb-inner,  #round_button5 .sb-inner,  #round_button6 .sb-inner,  #round_button7 .sb-inner { 
background:white;
}
#round_button .sb-border, #space_p .sb-border, #round_button2 .sb-border, #round_button3 .sb-border, #round_button4 .sb-border, #round_button5 .sb-border, #round_button6 .sb-border, #round_button7 .sb-border{ 
background: #3b54a6;
}


ul#nav li:hover .sb-inner{
	background-color:#8cccf2;
}
ul#nav li:hover .sb-border{
	
}

ul#nav li.current .sb-inner{
	background-color:#3b54a6;
	
}

/* Selector de espacios */

#space-span {
	position:absolute;
	right:4px;
	margin-top:89px;
	display:inline;
	z-index:10;
}
#space_p{
	width:55px;
	height:21px;
	float:left;
	border-right:solid 1px #3b54a6;
}
#space-span p{
	display:inline;
	float: left;
	margin-top:2px;
	margin-left:4px;
	
}

select{
	color:#3b54a6;
	border:solid 1px #3b54a6;
	background-color:white;
	text-align:center;
	margin-left:3px;
}

.elegido{
	font-weight:bold;
	color: #3b54a6;
	
}
.noelegido{
	font-weight:normal;
	color: #3b54a6;
}

/*Linea de separacion cabecera*/

#line{
	width:100%;
	border:solid 1px #3b54a6;
	margin-top:26px;
	margin-left:5px;
	 
}
/* Botonera secundaria, bajo la barra de tabs */

#secondary_buttons{
	position: absolute;
	width:100%;
	height:24px;
	margin-left:0px;
	text-align:right;
	display:block;
	padding-top:2px;
	
}

#secondary_buttons a{
   	color:#466d4e;
	text-decoration:underline;
}

#secondary_buttons a:hover{
    color:#2c4130;	
}

ul#nav2 li{
	display:inline;
}
ul#nav2 li.current a {
	color:#466d4e;
	font-weight:bold;
}


/* BODY */

div#bd {
	background:#ffffff noto_article_link(name_format(entry.content.title.to_s,25,""),space,entry)-repeat bottom left;
	display:block;
	min-height: 550px;
	
}

/*Laterales*/

ul.sidebar_posts {
    list-style: none;
    padding: 0;
}

ul.sidebar_posts li {
    line-height: 1em;
    margin: 1em 0 0 0;
}
.contenido_main{
	margin-right:5px;
	text-align:left;
	color:#5a5a5a;
}

/*coloco el div de my_account centrado*/

#my_account {
	
	/*display:block;
	position: relative;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: left;*/
	margin-top: 10px;
	position: relative;
	margin-left:280px;
	}

#editar {
	margin-top: 10px;
}

.login_account {
	
	background: url("/images/key_go.png") no-repeat;
	padding:2px 0 2px 20px;	
}

.email_account {
	background: url(/images/email.png) no-repeat left center;
	padding:2px 0 2px 20px;	
}

.interests_account {
	background: url("/images/favorites.png") no-repeat left center;
	padding:2px 0 2px 20px;	
}

.notifications_account {
	background: url("/images/email.png") no-repeat left center;
	padding:2px 0 2px 20px;	
}
#search_container h4 , #calendar-container h4{
	padding-top:5px;
	padding-bottom:10px;
}
#advanced {
	margin-top:5px;
}
#tag_cloud h2{
	padding-top:5px;
	padding-bottom:10px;
}

.logo_sidebar{
	margin-left:3px;
	padding-top:10px;
	
}
.bandera{
	width:150px;
	height:100px;
	border:none;
	background-image:url(../images/europ_flag.gif);
	margin-top:10px;
    margin-left:20px;
}
.rss{
	width:16px;
	height:16px;
	float:right;
}

#sidebar_events, #sidebar_news{
	text-align:left;
	color:#7d7d7d;
}
#sidebar_news a{
	color:#3b54a6;
	}

#sidebar_events a:link, #sidebar_news a:link{
	color:#3b54a6;
	
	
}
.sidebar_news_description p{
	color:#5a5a5a;
	
}
/*SPACES*/
.mini_logo{
	width:22px;
	height:22px;
	float:left;
	margin-left:10px;
	background-image:url(../images/foto.png);
}

div.space_name_title{
	float:left;
	width:170px;
	text-align:left;
	margin-left:10px;
	
}
.space_name_title{
	margin-left:10px;
	margin-top:10px;
}
.action, .mini_logo{
	margin-top:7px;
	text-align:left;
}
div.action{
	float:left;
	width:200px;
	
}
/* FOOT */

div#ft {
	background:#ffffff no-repeat bottom left;
	display:block;
	margin-top:10px;
	text-align:center;
	border-top: 1px solid #3b54a6;
	height: 35px;
}

#ft a{
	color:#3b54a6;
	
}
#ft a:hover{
	color:#466d4e;
}

span.tags_column{
	color: #699d8c;
	font-weight:bold;
}http://www.google.es/firefox?client=firefox-a&rls=com.ubuntu:en-US:official
p.post{
	display:inline;
}
span.first_Column{
	
	float:left;
	
	margin-left: 10px; 
	width: 130px;

}
.second_Column{
	position: relative;
	float:left;
	width: 450px;
	text-align:left;
	
}

span.second_Column p{
	display: inline;
	
}
#post_title_list a:visited, #post_title_list a:link{
	color:#3b54a6;
	font-weight:bold;
}
span.third_Column{
	position: relative;
	display: inline-block;
	left: 10px;
	width: 50px;

}
.post{
	text-align :left;
	width: 700px;

}

span.mini_image{
	position:relative;
	left: 7px;
	width:21px;
	display: inline-block;
}
span.clip{
	position:relative;
	left: 7px;
	width:16px;
	display: inline-block;
}

.pagination{
	position:relative;
	left:-100px;
	display:inline-block;
	width:200px;
}
/*Post de Public (antes del login*/

.paginate{
	
	display:inline;
	
}

.paginate h1{
	float:left;
	margin-left:10px;
}

.expand{
	width:100px;
	position:relative;
	left:-90px;
	display:inline-block;
	text-align: left;
}
.links_paginate{
	width:100px;
	float:right;
	border:solid 1px;
}
#paginata {
	float:left;
	margin-left:260px;
}
#paginata2 {
	float:right;
	margin-right:0px;
}



div.image_logo{
	width:200px;
	position:relative;
	left:-250px;
	display:inline-block;
	text-align: left;
}
/*PEOPLE*/

div.col_public {
	display:inline;
	color: #3b54a6;
	font-weight:bold;
}

div.user_public{
	display:inline;
}
div.col_public div, div.user_public div{
	margin-top:8px;
	float:left;
	padding-left:50px;
}

div.name{
	width:195px;
}

div.organization{
	width:95px;
}
div.interests{
	width:85px;
}
div.members{
	width:85px;
}

/* APARTADO DE EVENTOS*/

span.event_title{
	width:150px;
	position:relative;
	left:0px;
	display:inline-block;
	text-align: left;
}
span.event_description{
	width:200px;
	position:relative;
	left: 5px;
	display:inline-block;
	text-align: left;
}
span.event_start_date{
	width:100px;
	position:relative;
	left:10px;
	display:inline-block;
	text-align: left;
}
span.event_actions{
	width:150px;
	position:relative;
	left:10px;
	display:inline-block;
	text-align: left;
}
.event_tags{
	width:100px;
	position:relative;
	left:15px;
	display:inline-block;
	text-align: left;
}
span.event_tags a:link, span.event_tags a:visited{
	color:green;
}
.event_div_title{
	color:#3b54a6;
	margin-top:10px;
	font-variant:small-caps;
}


/*Agenda de eventos*/
/*tr.contenido{
	
	border-bottom:solid 1px #3b54a6;
	
}
tr.contenido a{padding-left:10px;}

tr.contenido td{
	padding:8px;
}

#action{
margin-left:80px;	
}
.weee{
	text-align:right;
}


#hour_event_table{
	background-repeat:no-repeat;
}

#events_table{
	width:100%;
	text-align:right;
	
}
.celda_evento{
	border:solid;
	
}

#hours td{
	border:solid;
}
*/

/*Fondo de curvas azules del título*/
#event_date{
	background-image:url(../images/global3.jpg);
}
#event_date span{
	background-color:white;
}
#event_date img{
	margin-top:5px;
}
.fondo_blanco{
	padding-top:5px;
}
/*Tabla con las horas y los eventos del día*/
#hour_event_table{
	
	width:100%;
	
	
}
#columna_horas{
width:45px;
}
#hours{
	
	margin-left:0px;
	text-align:right;
	color:#5a5a5a;
	
}
#hour_event_table td{
	padding:8px 0 8px 0;
	border-bottom: solid 1px #5a5a5a;
	}
td.largo{
	
}
.border_bottom0{
	width:100%;
	
}
#maldita{
	
}
#contenido_evento{
	width:100px;
	height:22px;
	
}
.summary{
	
}
#contenido_evento img{
	
	}

.event_actions img{
	padding-left:5px;
}
#event_table_summary{
	margin-top:15px;
	width:100%;
	border:solid 1px #3b54a6;
}
.summary_title{
	background-color:#3b54a6;
	font-weight:bold;
	color:white;
	text-align:center;
}

.subtitulo_summary{
	color:#3b54a6;
	width:70px;
	text-align:right;
	padding-right:5px;
}


p.summary{
	color:#5a5a5a;
}
.centrar{
	text-align:center;
}

#event_form{
	margin-top:20px;
	text-align:left;
	
}
/* Estilo del profile (hCard) */

#card{
	margin-top:20px;
	width:400px;
	padding:10px 10px 10px 20px;
	margin-left:145px;
	
}
.fn{
top:10px;	
}
.adr{
	margin-top:15px;
	color:#464242;
}
.telecommunications{
	text-align:left;
	margin-top:35px;	
}

#card .sb-inner{
	background-image:url(../images/grd_vcard.png);
	background-repeat:repeat-x;
	background-color:#b7dff6;
}

#card img{
	width:120px;
	height:120px;
	float:left;
	
}

/*SECCIÓN PEOPLE*/

#people_table{
	width:96%;
	margin-left:1.5%;
	
}
.cabecera{
	color:#3b54a6;
	font-variant:small-caps;
	padding:0 5px 0 5px;
	text-align:center;
	border-bottom: solid 1px #3b54a6;
	
	
}
td.first1 {

	border-left: solid 1px #3b54a6;
}
td.last{
	border-right: solid 1px #3b54a6;
}
td.ListUser1,td.ListUser0 {
	border-right:solid 1px #3b54a6;
	padding:5px;
	border-bottom:solid 1px #3b54a6;
}
.lateral{
	border-right:none;
	padding:5px;
	border-bottom:solid 1px #3b54a6;
	
}
.first{
	border-top:solid 1px #3b54a6;
}
