#header {
  background: #DDD url('../images/ui/header-bg.png');
  color:#fff;
}

#header #general {
  margin-top: -2px;
}

#header #project-name {
  font-family: "Trebuchet MS", "MS Trebuchet" sans-serif; font-size:1.1em;
  margin-right: 10px;
}

#header #user-account {
  color: #AAA;
  font-style:italic;
  font-weight: bold;
  text-shadow: #111 1px 1px 1px;
}

#header #prefs a {
  color:#fff;
  text-decoration: none;
  font-style: italic;
}

#header #prefs li { margin-left: 10px; }

#header #prefs li span {
  color: #111;
  font-weight: bold;
  background: #fff;
  display: inline;
  padding: 0 4px;
  margin-left: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}