#header #logo {
  position: absolute;
  display: block;
  height: 200px;
}

#header #prefs {
  float: right;
}

#header ul {
  margin: 0;
}

#header #prefs li {
  display: inline;
  margin-left: 10px;
}

#navigation {
  background-color: #DDD;
}

#navigation li {
  display: inline;
}

#sidebar li{
  display: inline;	
}
