/*CABECERA: logo + preferencias*/
#header #logo {
  position: absolute;
  display: block;
  
}

#header #prefs {
  float: right;
  
}

#header ul {
  margin: 0;
}

#header #prefs li {
  display: inline;
  margin-left: 10px;
}

/*NAVEGACIÓN: selector de espacios + tabs + buscador*/

#spaces_select{
	display:inline;
}

#navigation {
  background-color: #DDD;
  margin-top:40px;
}

#nav_bar{
	display:inline;
}

#navigation ul, #nav_bar ul{
	display:inline;
}

#navigation li, #nav_bar li {
  display: inline;
  padding-right:10px;

}

#search{
	position:absolute;
	margin-left:320px;
	display:inline;
}

/**/
#sidebar li{
  display: inline;	
}

#thread_title {
  float:right;
  margin-right:10px;	
}

#reply {
  float:right;	
}
#main{
	margin-top:20px;
}

#sidebar{
	margin-top:20px;
	
}

