body {
  font-size: 75%;
  color: #222;
  background-color: #f8f9f9;
  font-family: "Lucida Grande", Helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.4; }

h1 {
  font-weight: normal;
  color: #111;
  font-size: 2.6666em;
  line-height: 1.125;
  color: #244974; }

h2 {
  font-weight: normal;
  color: #111;
  font-size: 2em;
  color: #244974; }

h3 {
  font-weight: normal;
  color: #111;
  font-size: 1.5em;
  line-height: 1.3846;
  text-align: center;
  color: #244974; }
  h3 img {
    margin-bottom: -4px; }

h5 {
  font-weight: normal;
  color: #111;
  font-size: 0.9166em;
  line-height: 1.6363;
  margin-bottom: 0.75em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0 1.5em; }

ul, ol {
  margin: 0 1.5em 1.5em 1.5em; }

a {
  color: #1f488f;
  text-decoration: none; }
  a:visited {
    color: #1f488f; }
  a:focus {
    color: #1f488f; }
  a:hover {
    color: #1f488f; }
  a:active {
    color: #1f488f; }
  a:hover, a:focus {
    text-decoration: underline; }
