= simple_form_for [@event, @participant], :html => { :class => "single-column" } do |f|
  .form-inputs
    = f.input :email, :readonly => current_user.present?, :autofocus => true
  = f.button :submit, t(".submit"), :class => "btn btn-primary"
