@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

@import "app/application/footer_simple";

$navbar-height: auto;
$ufrgs-link-barra: #BBDCEA;
$docs-width: $contents-width / 2 - 140px - 20px;
$login-width: $contents-width - ($docs-width + 140px + 20px);

#navbar-wrapper {
  background: $ufrgs-blue-dark;
  margin: 0;
  padding: 0;
}

#navbar {
  background: none;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  height: $navbar-height;
  @include clearfix;
}

#barra-brasil {
  background: url(image_path('ufrgs/barra-brasil-v3-bgx.png')) no-repeat scroll center bottom $ufrgs-blue-dark;
  min-width: $contents-width;
  overflow: hidden;

  .barra {
    height: 28px;
    margin: 0 auto;
    background: url(image_path('ufrgs/barra-brasil-v3-bgx.gif')) repeat-x scroll 0px bottom transparent;
    width: $contents-width;

    ul {
      float: right;
      width: 320px;
      margin: 0;
      padding: 0;

      li {
        float: left;
        padding-left: 25px;
        list-style-type: none;
      }
    }
  }

  .ai {
    background: url(image_path('ufrgs/ai.png')) no-repeat scroll 0px 4px $ufrgs-blue-dark;
    display: block;
    width: 161px;
    height: 28px;
    text-indent: -1000px;
  }

  .brasilgov {
    background: url(image_path('ufrgs/brasil.png')) no-repeat scroll 0px 4px $ufrgs-blue-dark;
    display: block;
    width: 108px;
    height: 28px;
  }
}

#barra-wrapper {
  background: $ufrgs-blue-dark;
  height: 32px;
  background-image: url(image_path('ufrgs/barra_fundo.jpg'));

  #barra {
    width: $contents-width;
    margin: 0 auto;

    #barra-chama {
      float: left;
      width: 50px;
      height: 32px;
      background-image: url(image_path('ufrgs/barra_chama.jpg'));
    }
  }

  #barra-links {
    float: left;

    a {
      @include link-colors($ufrgs-link-barra, $ufrgs-link-barra, $ufrgs-link-barra, $ufrgs-link-barra);
      line-height: 32px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#page-header-wrapper {
  background: white;
  border: 0;

  #page-header {
    padding: 0;
  }
}

#content {
  #content-title {
    background: url(image_path('ufrgs/titulo.jpg')) no-repeat scroll 0% 0% transparent;
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 7px 0 0 10px;
    @include font-size($font-gigantic);
    padding: 10px;
  }
}

#login {
  float: left;
  width: $login-width;
  padding: 100px 0;
  text-align: center;

  #login-button {
    min-width: 300px;
  }

  .observation {
    color: #666;
    padding-top: 30px;
  }
}

#documentation {
  float: left;
  width: $docs-width;
  padding: 20px;
  margin: 50px;
  background: #eee;
  @include border-radius(5px);
  @include font-size($font-medium);

  h3 {
    color: #244974;
    text-align: center;
    margin-top: 0;
  }

  ul {
    list-style-type: disc;
    margin-top: 5px;

    li {
      margin: 3px 0;
    }
  }
}

#footer-wrapper.simple-footer {
  background: $ufrgs-blue-dark;
  padding-bottom: 0;
  height: 101px;

  #footer {
    background-image: url(image_path('ufrgs/rodape.jpg'));
    background-repeat: no-repeat;
    height: 101px;

    &, h3 { color: $ufrgs-link-barra; }

    a {
      @include link-colors($ufrgs-link-barra, $ufrgs-link-barra, $ufrgs-link-barra, $ufrgs-link-barra);
      &:hover {
        text-decoration: underline;
      }
    }

    .link-group.languages {
      float: left;
    }

    .logo-mconf {
      float: right;
      max-width: 200px;
      text-align: center;

      img {
        margin-bottom: 5px;
      }

      span {
        display: block;
        @include font-size($font-small);
      }
    }

  }

  #footer-logo {
    display: none;
  }
}
