@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

$m-navbar-height: auto;

body.frontpage.show {

  #navbar {
    background: none;
    margin: 0 auto;
    padding: 20px 0 30px 0;
    height: $m-navbar-height;
    @include clearfix;

    #navbar-logo {
      width: 240px;
      margin: 40px auto 30px auto;
      padding: 0;
      float: none;
      overflow: visible;

      img {
        width: 231px;
        height: 120px;
      }
    }

  }

  #page-header {
    text-align: center;
    @include font-size($m-font-big);
  }

  .form-area {
    form {
      float: right;
    }

    .form-group {
      // hide the '*' for required fields
      abbr { display: none; }
    }

    .form-actions {
      border: 0;
      margin: 0;
    }
  }

  #login-box {
    @include make-xs-column(12);
    @include make-sm-column(5);

    .action-links {
      float: right;
      margin-top: 15px;
      clear: both;
      text-align: right;
    }

    input[type=submit] {
      float: right;
    }

    .remember-me {
      float: right;
      padding-right: 20px;

      input[type=checkbox] {
        margin-right: 5px;
      }
    }
  }

  #registration-box {
    @include make-xs-column(12);
    //@include make-sm-column-push(1);
    @include make-sm-column(7);

    // it's an input with an addon, make it the size of the others
    .user_username .input-group {
      padding: 0 14px;
    }
  }

  h2 {
    //padding-left: 20px;
    text-align: center;
    margin: 10px 0 30px 0;
    color: $m-font-h-color;
  }

}
