@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

@import "app/application/footer_simple";

$navbar-height: auto;
$login-box-width: $contents-width / 2 - 40px; // looks better if smaller than half the page
$registration-box-width: $contents-width - $login-box-width - 40px;
$bg-normal: darken($green-logo, 3);

#navbar-wrapper {
  background: $bg-normal;
  @include box-shadow(0 5px 11px rgba(0, 0, 0, 0.25));
  @include background(linear-gradient(bottom, lighten($bg-normal, 2), $bg-normal));
}

#navbar {
  background: none;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  height: $navbar-height;
  @include clearfix;
}

#page-header {
  text-align: center;
  @include font-size($font-medium);
}

#main-logo {
  width: 240px;
  margin: 30px auto;
  padding: 0;
  float: none;
  overflow: visible;

  img {
    width: 231px;
    height: 120px;
  }
}

.form-area {
  form {
    float: right;
  }

  .input {
    clear: both;

    label {
      @include font-size($font-medium);
    }

    input[type=text], input[type=password], input[type=email] {
      width: 250px;
    }

    // hide the '*' for required fields
    abbr { display: none; }

    .hint {
      float: right;
      max-width: 310px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .add-on {
    @include font-size($font-normal);
  }

  .form-actions {
    background: white;
    border: 0;
    margin: 0;
    padding-right: 0;
  }
}

#login-box {
  float: right;
  width: $login-box-width;

  .action-links {
    float: right;
    margin-top: 15px;
    clear: both;
    text-align: right;
  }

  input[type=submit] {
    float: right;
  }

  .remember-me {
    float: right;

    input[type=checkbox] {
      margin-right: 5px;
    }
  }

  .ldap-authentication {
    float: right;
  }
}

#registration-box {
  float: right;
  width: $registration-box-width;
  margin-right: 20px;

  input[type=submit] {
    float: right;
    clear: both;
  }

  input[type=text], input[type=password], input[type=email] {
    width: 290px;
  }
}

#content {
  width: $contents-width;
  margin: 0 auto;
  padding-top: 50px;

  h2 {
    text-align: right;
    margin: 0 20px 10px 0;
    color: $font-h-color;
  }
}

.captcha {
  float: right;
}
