@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

$navbar-height: auto;
$login-box-width: 400px;
$registration-box-width: $contents-width - $login-box-width - 40px;
$bg-normal: darken($green-logo, 3);

#navbar-wrapper {
  background: $bg-normal;
  @include box-shadow(0 5px 11px rgba(0, 0, 0, 0.25));
  @include background(linear-gradient(bottom, lighten($bg-normal, 2), $bg-normal));
}

#navbar {
  background: none;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  height: $navbar-height;
  @include clearfix;
}

#page-header {
  text-align: center;
  font-size: $font-medium;
}

#main-logo {
  width: 240px;
  margin: 30px auto;
  padding: 0;
  float: none;
  overflow: visible;

  img {
    width: 231px;
    height: 120px;
  }
}

.form-area {
  form {
    float: right;
  }

  .input {
    clear: both;

    label {
      font-size: 14px;
    }

    input[type=text], input[type=password], input[type=email] {
      width: 250px;
    }

    abbr[title=required] { display: none; }

    .hint {
      float: right;
      max-width: 310px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}

#login-box {
  float: left;
  width: $login-box-width;

  .action-links {
    float: right;
    margin-top: 15px;
    clear: both;
    text-align: right;
  }

  .shibboleth_login {
    border-left: 1px solid #888;
    padding-left: 7px;
    margin-left: 5px;
  }

  input[type=submit] {
    float: right;
  }

  .remember-me {
    float: right;

    input[type=checkbox] {
      margin-right: 5px;
    }
  }
}

#registration-box {
  float: right;
  width: $registration-box-width;
  margin-right: 20px;

  .simple_captcha {
    float: right;
    padding: 0 !important;
    margin: 10px 0;

    div { display: inline; }

    .simple_captcha_field {
      text-align: center;
    }

    .simple_captcha_image {
      background: white;
      margin-right: 5px;
    }
  }

  input[type=submit] {
    float: right;
    clear: both;
  }
}

#content {
  width: $contents-width;
  margin: 0 auto;
  padding-top: 50px;

  h2 {
    text-align: right;
    margin: 0 20px 10px 0;
    color: $green-logo;
  }
}

#upper-footer {
  margin-top: 30px;

  h3 {
    border-bottom: 1px solid lighten($bg-normal, 4);
  }
}
