@import "compass/typography";
@import "definitions";

body.confirmations.new, body.confirmations.create {

  #form-wrapper {
    @include make-sm-column(12);
    @include make-md-column(4);
    @include make-sm-column-offset(0);
    @include make-md-column-offset(4);
    @include mconf-clearfix;

    margin: 0 auto;

    form {
      // every field is required, we don't need to show it
      abbr[title=required] { display: none; }

      .form-actions {
        border: none;

        .btn {
          width: 100%;
          text-align: center;
        }
      }

      input[type=email] {
        width: 100%;
        background: $m-site-content-bg-color;
        margin-top: 20px;
      }
      .control-label {
        color: $m-font-color-default;
        font-size: $m-font-title;
        text-align: center;
      }
    }
  }

  .observation {
    width: 60%;
    max-width: 700px;
    min-width: 200px;
    margin: 48px auto;
    padding: 24px 0;
    border-bottom: 1px solid $m-navbar-internal-border-color;
    border-top: 1px solid $m-navbar-internal-border-color;
    font-size: $m-font-medium;
    text-align: center;
  }
}
