@import "compass/typography";
@import "definitions";

body.confirmations.new, body.confirmations.create {

  #form-wrapper {
    @include make-sm-column(12);
    @include make-md-column(4);
    @include make-sm-column-offset(0);
    @include make-md-column-offset(4);
    @include mconf-clearfix;

    margin: 0 auto;

    form {
      // every field is required, we don't need to show it
      abbr[title=required] { display: none; }

      .form-actions {
        border: none;

        .btn {
          width: 100%;
          text-align: center;
        }
      }

      input[type=email] {
        width: 100%;
        background: $m-site-content-bg-color;
        margin-top: 20px;
      }
      .control-label {
        color: $m-font-color-default;
        font-size: 25px;
        text-align: center;
      }
    }
  }

}
