    <div>
      <div>	
	    Group Name <%= text_field_tag "group_name", @group.name%>
	  </div>	
		<div>Users in the group</div>
		<div>
			<%= select 'group_users',
			           'id',
			           @group.users.collect { |u| [ u.login, u.id ] },
			           {:include_blank => false},
			           { :multiple => true,
			             :size     => 10,
						 :style => "width: 170px" } %>
			
		<div>
			<%= link_to_function "Remove","remove_from_group()"%><br/><br/>
		</div>
			  <%=submit_tag%>
      </div>

	</div>
	