@import "definitions";

body.subscriptions.new, body.subscriptions.create,
body.subscriptions.index {
  h1 {
    text-align: center;
  }

  #subscription-wrapper {
    margin: 40px auto;
    width: 80%;
    @include mconf-clearfix;
    @include make-xs-column(12);
    @include make-sm-column(9);
    @include make-sm-column-offset(1);

    .container-fluid {
      background: $m-site-content-bg-color;
      margin: 0 0;
      border-radius: 3px;
      box-shadow: 0px 0px 12px 0px rgba(43,45,66, 0.15);
      text-align: center;
      overflow: visible !important;
      display: block !important;

      .header {
        background: $m-com-purple;
        border-radius: 3px 3px 0 0;
        padding: 50px 10% 10px 10%;
        box-shadow: 0px 0px 12px 0px rgba(43,45,66, 0.15);
        margin-left: -15px;
        margin-right: -15px;
        color: $m-com-white;

        .resource-card {
          width: 100%;
          max-width: 1000px;
          margin: -40px auto 40px auto;

          .card-title {
            font-size: $m-font-fields;
            font-weight: $m-font-weight-bold;
            margin-bottom: 20px;
            margin-top: 40px;
          }
        }

        #subscription-rules {
          font-size: $m-font-medium;
          text-align: justify;

          .rule-title {
            font-weight: $m-font-weight-bold;
          }

          .attention {
            font-weight: $m-font-weight-bolder;
          }

          p {
            margin-bottom: 8px;
          }

          ul {
            list-style-type: disc;
          }

          .rule-block {
            margin-bottom: 32px;
          }
        }
      }
    }

    form {
      .form-accept-terms {
        float: right;
        margin-right: 5px;
      }
      .form-actions {
        border: none;
        margin: 1% 30px 7% 0;
        padding-top: 0px;
      }
    }

    .field-group {
      padding-bottom: 16px;
      clear: both;

      .control-label {
        float: left;
        font-size: $m-font-medium;
        padding-right: 20%;
        padding-left: 8%;
      }

      .form-control {
        max-width: 85%;
        margin-left: 42px;
        font-size: $m-font-normal;
      }

      h3 {
        margin-bottom: 6%;
        margin-top: 8%;
      }
    }

    .alert {
      text-align: center;
      margin-left: 40px;
      max-width: 85%;

      .icon-mconf-info {
        color: $m-yellow;
        &:hover, &:focus { color: $m-yellow; }
      }
    }
  }
}

