@import "compass/css3";
@import "definitions";

body.subscriptions.show {
	h1 {
    text-align: center;
  }

  #subscription-wrapper {
    margin: 40px auto;

    @include mconf-clearfix;
    @include make-xs-column(12);
    @include make-sm-column(10);
    @include make-sm-column-offset(2);

    h3 {
      margin-bottom: 16px;
    }

    .container-fluid {
      background: $m-site-content-bg-color;
      max-width: 570px;
      margin: 0 0;
      border-radius: 10px;
      box-shadow: 0px 0px 12px 0px rgba(43,45,66, 0.15);
      text-align: center;
      overflow: visible !important;
      display: block !important;

      .resource-card {
        width: 100%;
        max-width: 1000px;
        margin: 30px auto 40px auto;

        .card-title {
          font-size: 22px;
          font-weight: $m-font-weight-bold;
          color: $m-titles;
          margin-bottom: 40px;
          margin-top: 40px;
        }

        .resource-logo {
          width: 250px;
          float: left;
          text-align: right;
        }

        .resource-data {
          padding-left: 40px;
          padding-right: 40px;
          width: 100%;
          float: left;
          text-align: left;
        }

        .field {
          margin-bottom: 20px;
          padding-bottom: 8px;
          border-bottom: 1px solid #eee;
          padding-left: 10px;

          .field-value {
            font-size: 22px;
            margin-left: 12px;
            color: $m-text;
          }

          span {
            display: block;
          }

          &:last-child {
            border: 0;
          }
        }

        .field-title {
          font-size: 18px;
          font-weight: $m-font-weight-bold;
          color: $m-text;
        }

        .delete-link {
          margin-bottom: 20px;
        }
      }
    }
  }
}
