		<div id="Edit_group">
			<h3>Edit group</h3>
			<% form_for [@space,group] do |f| -%>
				<p>
	    		<label for="Name">Name</label><br/>
	    		<%= f.text_field :name, :size => 25 %>
	  			</p>
				<p>
				<% for user in @users -%>
						<%= check_box_tag "group[user_ids][]", user.id, group.user_ids.include?(user.id) %><%= label("checkbox",user.name + " " + user.lastname)%><br />
				<%end%>
				</p>
				<%= submit_tag "Update" %>
			<% end -%>
	    </div>
