	<div id="results_count">
		<h3><%= t('user.results_count', :users_size => @users.size, :count => @users.size)%></h3>	
	</div>
	<% for user in @users -%>
		<%= render :partial => 'users/detailed_user', :object => user %>		
	<% end -%>