<div id="login_div"  class="blue_title">
  <div class="form">
  <%= form_tag url_for(:action => 'lost_password') do %>
    <span class="info"><%=t('user.email_used_to_create_account')%></span></br>
    <%= text_field_tag :email, "", :size => 30 %>
    <button id="missing_pswd" type="submit" class="basic_button blue_button"><%=t('user.request_password')%></button>
  <% end %>
  </div>
</div>
