<div id="login_div">
  <h3>Lost Password</h3>
	<% form_tag url_for(:action => 'lost_password') do %>
	    Enter the email address used to create your account<br />
	    <%= text_field_tag :email, "", :size => 25 %><br />
	   <p><%= submit_tag 'Request Password' %>&nbsp;&nbsp;&nbsp;&nbsp;<input onclick=document.location="/" type="button" value="Back" />   </p>
	<% end %>
<p>
	<%= link_to 'Log in', login_path, :class => "login_lightbox_link" %><br />
  <%= link_to 'Register now', signup_path, :class => "login_lightbox_link" %><br />
</p>
</div>