-# locals:
-#   content (array of models)
-#   items_per_page (integer)
-#   paginate (boolean)
-#   title (boolean)

- paginate = set_default(local_assigns, :paginate, true)
- title = set_default(local_assigns, :title, true)

#users-recent-activity.content-block

  - if title
    .content-block-header
      %h3= t('recent.activity')
      = icon_info t('recent_activity.tooltip')

  #users-recent-activity-content.content-block-middle
    = render "users/recent_activity_content", :content => content, :paginate => false

  - if not content.empty? and paginate
    - nav = page_navigation_links content
    - unless nav.nil?
      .content-block-footer= nav
