- paginate = true if paginate.nil?

-# locals:
-#   content (array of models)
-#   items_per_page (integer)
-#   paginate (boolean)

-# To be prettyfied and completed soon
- for activity in content
  .activity{ :id => activity.trackable_type.downcase }
    = link_to activity.owner.name, activity.owner if activity.owner
    = activity.key
    = activity.parameters[:name]