- paginate = true if paginate.nil?

-# locals:
-#   content (array of models)
-#   items_per_page (integer)
-#   paginate (boolean)

-# To be prettyfied and completed soon
- for activity in content
  .activity{ :id => activity.trackable_type.downcase }
    = activity.trackable_type.downcase
    = render :partial => "public_activity/#{activity.trackable_type.downcase}", :locals => { :activity => activity }