<div id="search">
	<h4> Search</h4> 
	
  <% form_tag({:controller=> 'users',:action => :search_users}, :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_to_remote 'Search', 'Search', :url=>{:controller=> 'users',:action => :search_users}%>
  
   <% end %>
   
   
 </div> 
 
 