
	<div class="yui-b sidebar">

<% rounded(:class => "tips") do %>	
	 <div id="search_container3">


	<img src="/images/magnify2.png"></img><h4 class="title"> Search Users</h4>
	 <% form_tag(search_users_path(@space)) do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_tag 'Search'%>
        
  
 <% end %>
    <% end %>
	</div>
   </div>
    
 