<div class="user">
  <div><%= link_logo(simple_user, :size => 32) %></div>
  <div>
	<ul>
	  <li><strong><%=sanitize(simple_user.full_name) %></strong></li>
	  <li class="small-font"><%=sanitize(simple_user.organization) %></li>	
	</ul>
  </div>
</div>
