<div class="user">
	  <div><%= link_logo(simple_user, :size => 32, :url => user_profile_path(simple_user), :title=>simple_user.name) %></div>
	
  <div class="user_data">
	<ul>
	  <li>
	    <span class="unified_user"><%=link_to(simple_user.full_name, user_profile_path(simple_user),:class=>"unified_user") %></span>

	  </li>
	  <li class="small-font main_text"><%=sanitize(simple_user.organization) %></li>	
	</ul>
  </div>
</div>
