-# locals:
-#  user (User)
-#  spaces (array of Space)

- if spaces.empty?
  %p= t('home.no_spaces', :link => spaces_path).html_safe
- else
  = render "spaces/thumbnail_view", :spaces => spaces, :user_spaces => spaces
