<div class="user disabled">
  <div class="links">
    <%=link_to image_tag("icons/accept.png", :alt => t('enable'), :title => t('user.enable')), enable_user_path(user), :method => :post%>
  </div>
    <%=user.name%>
</div>