<div class="user enabled">
  <div class="links">
    <%=link_to image_tag("icons/cancel.png", :alt => "Disable", :title => "Disable space"), space_path(space), :confirm => 'Are you sure?', :method => :delete%>
  </div>
    <%=link_to space.name, space_path(space)%>
</div>