<div class="user enabled">
  <div class="links">
    <%=link_to image_tag("icons/cancel.png", :alt => t('disable'), :title => t('space.disable')), space_path(space), :confirm => t('are_you_sure'), :method => :delete%>
  </div>
    <%=link_to space.name, space_path(space)%>
</div>
