	<div id="inbox-wrapper">
		
	<ul id="inbox">
		<li><%=link_to t('site.up'), site_path, :class => "#{'selected' if params[:controller] == 'sites'}"%></li>
		<li><%=link_to t('space.up.other'), manage_spaces_path, :class => "#{'selected' if params[:controller] == 'manage' && params[:action] == 'spaces'}"%></li>
		<li><%=link_to t('user.up.other'), manage_users_path, :class => "#{'selected' if params[:controller] == 'manage' && params[:action] == 'users'}"%></li> 
		<li><%=link_to t('spam.up'), manage_spam_path, :class => "#{'selected' if params[:controller] == 'manage' && params[:action] == 'spam'}"%></li> 
	</ul>
	</div>
	
