= render :partial => 'menu'

#manage

  = link_to t('.new_space'), new_space_path, class: 'btn btn-primary btn-sm btn-new-space'

  .page-tools-menu
    .search-words
      = text_field_tag :spaces_filter_text, params[:q], :placeholder => t('.filter_name'), :'data-load-url' => manage_spaces_path, :'data-target' => '#space-list', :'data-filter' => '#filter-total', :class => 'form-control resource-filter'

  #space-list
    = render :partial => 'spaces_list', :locals => { :spaces => @spaces }
