<%content_for :search do%>
  <div id="management-title">
	<span>MANAGEMENT</span>
  </div>
<%end%>


  
  <%= render :partial => 'menu' %>
<div id="manage">  
  <div "spaces">
    <%for space in @spaces%>
      <div class="user">
        <div class="links">
          <%=link_to image_tag("icons/cancel.png", :alt => "Delete", :title => "Delete space"), space_path(space), :confirm => 'Are you sure?', :method => :delete%>
        </div>
          <%=link_to space.name, space_path(space)%>
      </div>
    <%end%> 
  </div>

</div>