#manage

.page-tools-menu
  .search-words
    = text_field_tag :statistics_filter_text, params[:q], placeholder: t('.filter.initial_text'), 'data-load-url' =>  manage_statistics_path, :'data-target' => '#statistics-list', :'data-filter' => '#filter-total', class: 'form-control resource-filter'

  #statistics-list
    = render partial: 'statistics_list'
