<%content_for :search do%>
  <div id="management-title">
	<span>MANAGEMENT</span>
  </div>
<%end%>


	
  <%= render :partial => 'menu' %>
<div id="manage">	
	<div "users">
	  <%for user in @users%>
		  <div class="user">
	      <div class="links">
	        <%=link_to image_tag("icons/cancel.png", :alt => "Delete", :title => "Delete user"), user_path(user), :confirm => 'Are you sure?', :method => :delete%>
	      </div>
	        <%=link_to user.name, user_profile_path(user)%>
		  </div>
		<%end%>	
	</div>
</div>