<%content_for :search do%>
  <div id="management-title">
	<span>MANAGEMENT</span>
  </div>
<%end%>


	
  <%= render :partial => 'menu' %>
<div id="manage">	
	<div "users">
	  <%for user in @users%>
		  <%if user.disabled?%>
        <%= render :partial => 'disabled_user', :locals => {:user => user}  %>
      <%else%>
        <%= render :partial => 'enabled_user', :locals => {:user => user} %>
      <%end%>
		<%end%>	
	</div>
</div>