= render :partial => 'menu'

#manage
  #users
    - for user in @users
      - if user.disabled?
        = render :partial => 'disabled_user', :locals => { :user => user }
      - else
        = render :partial => 'enabled_user', :locals => { :user => user }

- nav = page_navigation_links @users
- unless nav.nil?
  .content-block-footer= nav
