@import "definitions";

body.private_messages.index {

  .thread {
    border-left: 5px solid $m-transparent;

    &.unread {
      border-left: 5px solid $m-second-color;
      .thread-text {
        font-weight: bold;
      }
    }
  }

}
