@import "compass/css3";
@import "definitions";

body.private_messages.show {

  .message-body {
    margin-top: 15px;
    clear: both;
  }

  #private-message-reply {

    textarea {
      resize: vertical;
      height: 200px;
    }
    input[type=text], textarea {
      width: 95%;
    }

  }

  /* Larger sidebar with the form to reply to the message */
  $sidebar-width: 350px;
  #sidebar {
    width: $sidebar-width;
  }
  #content-middle {
    width: $contents-width - $sidebar-width - 20px; // less right-margin
  }
}
