#event-confirmation-email
  %p= t('.header', email: @email)

  %p.link
    - url = participant_confirmation_url(token: @pc.to_param, host: Site.current.domain)
    = t('.message', event: @event, url: url).html_safe

  %p.cancel
    - url = cancel_participant_confirmation_url(token: @pc.to_param, host: Site.current.domain)
    = t('.cancel', url: url).html_safe
