-# Renders some links to perform actions in an event (e.g. invite people)
-# Locals:
-#   event (Event)

- if event.future? || event.is_happening_now?
  .content-block
    .content-block-header
      %h3= t(".title")
    .content-block-middle
      = link_to t('.invite'), inviteroom_invite_path(:type => "event", :event => event.id), :class => 'open-modal btn btn-small'
      = link_to t('.notify_attendees'), sendnotification_invite_path(:event_id => event.id), :class => 'btn btn-small'
