-# Locals:
-#   events_group (Array of MwebEvents::Event)
-#   message (string): message if there are no events

%div
  - if events_group.empty?
    %p= message
  - else
    .list-texts
      - for event in events_group
        = render :partial => "events/unified_event", :locals => { :event => event }
    .content-block-footer.content-block-footer-fancy
      = page_navigation_links events_group
