-# TODO: works with ssl?
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-inline' }) do |f|
  -# = f.error_notification
  = render :partial => 'form_fields', :locals => { :f => f }
  = f.button :submit, t('register.one'), :class => "btn"

  -# = f.text_field :special_event_id, :style => 'display:none'
  -# %div{ :class => @user.errors[:captcha].empty? ? 'captcha' : 'captcha field_with_errors' }
  -#   = show_simple_captcha(:object => :user)
  -# = f.button :submit, t('register.one'), :class => "btn"
