.header_image
  #trial_ended
.header_message
  = t('_other.hi_name', name: @user.first_name)

%p= t('.line1').html_safe
%p
  .button
    = link_to t('.know_here'), t('.pricing')
%p= t('_other.mailers.unsubscribe', link: edit_user_url(@user)).html_safe
