@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

// otherwise we can get line breaks in titles or descriptions
body.participants {
  .current-page-title {
    width: 100%;
  }

  .captcha {
    float: right;
    margin-bottom: 10px;
  }
}
