<%if @events ==  nil %>
<%= "No Coming events" %>
<%else %>
	<%if @events.size != 0%>
       		<%=generate_event_table%> 
			<% @events.each do |event| %>
				<div class="summary">
    				<%=show_event(event)%> 
				</div>
			<%end %>
	<%end %>
<%end %>