<% @space.container_posts.first(5).each do |post| -%>
  <p>
    <%= link_to sanitize(post.title), container_post_path(:space, @space.id,post) %>
    <%= post.content.class %>
  </p>
<% end -%>
<% if @space.id == 1%>
<% @public_posts.each do |post|%>
<p>
    <%= link_to sanitize(post.title), post_path(post) %>
    <%= post.content.class %>
  </p>
<% end -%>
<% end -%>

