-# Locals:
-#   recording (BigbluebuttonRecording)
-#   show_invisible (boolean): show all playback types, even if not configured as visible

- show_invisible = set_default(local_assigns, "show_invisible", false)

- if recording.published? && recording.available
  - if recording.playback_formats.size > 0
    %ul.recording-playback-links
      - recording.playback_formats.sort_by{|e| e[:playback_type_id]}.each do |playback|
        - if playback.visible? || show_invisible
          %li
            = link_to_playback(recording, playback)
