
<div id="search_container">


	<img src="/images/magnify2.png"></img><h4 class="title"> Search Users</h4>
		

  <% form_tag(search_users_path(@space.id), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	 <%= image_submit_tag "go2.ico", :class=>'go'%>
  
    <% end %>
	
	</div>