



	<h4> Search Users</h4> </span>
		<br>	

 <span> <% form_tag({:controller=> 'users',:action => :search_users}, :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	  <%= submit_tag 'Search'%>
  </span>
    <% end %>
	
	