
<div id="search_container">


	<h4 class="title_sidebar"><%= t('search.users') %></h4>
		

  <%= form_tag(search_users_path(@space), :method => 'get') do %>
      <%= text_field_tag :query, params[:query] %>
	 <%= image_submit_tag "magnify2.png", :class=>'go'%>
	 
     <% end %>
	
	
	
	</div>
