<div class="yui-b sidebar">

<% rounded(:class => "tips") do %>	
	<%= render :partial=> 'shared/search'%>
	<%end%>
	

	
	<% rounded() do %>	
	<h2>Tag Cloud</h2>
	<%= render :partial=>'shared/tag_cloud'%>
	<%end%>
	
</div>
