#doc_table.main_text
  - interactive = interactive.nil? ? true : interactive

  - if @attachments.empty?
    %table
      %tbody
        %tr
          %td
            = t('.no_attachments')

  - else
    = @attachments
