<h3>Document table</h3>
<%for attachment in @attachments%>
  <p>Filename: <%=attachment.filename%><br />
	   Logo: <%=logo(attachment)%><br />
		 Download: <%= link_to( t('download_file') , space_attachment_path(@space,attachment, :format => attachment.format))%>
  </p>
<%end%>