<h3>Document table</h3>
  <%expand_versions=(params[:expand_versions].present? ? params[:expand_versions].split(",").map(&:to_i) : Array.new) %>
  <%=collection_table(version_attachment(@attachments,expand_versions)) do |t|

      t.header :name, sortable_header(t('name.one'),'filename')
      t.header :author, sortable_header(t('author'),'author')
      t.header :updated, sortable_header(t('updated'),'updated_at')
      t.header :type, sortable_header(t('type'),'type')
      t.header :actions, t('actions')

      t.rows.each do |row, object, index|
        if object.instance_of?(Attachment)
          attachment=object

          row.name           "#{link_to "+",space_attachments_path(@space,:order=>params[:order], :direction=>params[:direction],:expand_versions => (expand_versions + [attachment.id]).uniq.join(",")) if attachment.version>1} #{link_to attachment.filename,space_attachment_path(@space,attachment, :format => attachment.format)} (#{attachment.get_size.strip!})"
          row.author         link_to attachment.author.name, user_profile_path(attachment.author)
          row.updated        attachment.updated_at.to_date.to_formatted_s(:rfc822)
          row.type           "#{image_tag(attachment.logo_image_path_without_thumbnails, :alt => "")} #{attachment.content_type.split("/").last.upcase}"
          row.actions        table_actions(attachment)

        elsif object.instance_of?(Version)
          attachment=object.versioned
          attachment.revert_to(object.version)

          row.name           "#{link_to "-",space_attachments_path(@space,:order=>params[:order], :direction=>params[:direction],:expand_versions => (expand_versions - [attachment.id]).uniq.join(",")) if attachment.version==attachment.versions.size} #{attachment.version} #{link_to attachment.filename,space_attachment_path(@space,attachment, :format => attachment.format,:version => attachment.version)} (#{attachment.get_size.strip!})"
          row.author         link_to attachment.author.name, user_profile_path(attachment.author)
          row.updated        attachment.updated_at.to_date.to_formatted_s(:rfc822)
          row.type           "#{image_tag(attachment.logo_image_path_without_thumbnails, :alt => "")} #{attachment.content_type.split("/").last.upcase}"
          row.actions        table_actions(attachment)

        else
          
        end
      end
    end
  %>

<br />
<%for attachment in @attachments%>
  <p>Filename: <%=attachment.filename%><br />
	   Logo: <%=logo(attachment)%><br />
		 Download: <%= link_to( t('download_file') , space_attachment_path(@space,attachment, :format => attachment.format))%>
  </p>
<%end%>