  <!--las 3 líneas del if mirar con más detalle si son prescindibles  -->
  <p>
	<%if @content.id != nil%>
	<%@post = CMS::Post.find(:first , :conditions => {:content_id => @content.id,:content_type => "CMS::AttachmentFu"})%>
	<%end%>
    <b>Text</b><br />
<%= fckeditor_textarea(:post, :description, :toolbarSet => 'Simple', :width => '685px', :height => '400px') %> 
 <%= render :partial => 'attachments/attach' %>
 <div>
 <%content_type = get_attachment_content_type(@post)%>
<%image = get_attachment_image(content_type)%>
	<p>Attachment:<%= image_tag(image)%><%=@post.content.size/1024%> Kb</p>
 </div>
    </p>


