<%content_for :javascript do%>
	$("#tag_filter").show();
	
	add_tag = function (){
	  tags_array = tags_array();
	  if($.queryString(document.location.href).tags != tags_array.join(",")){
	    hide_table();
	    location.href=$.queryString(document.location.href, { "tags" : tags_array.join(",")});
	  }
	};
	
	rm_tag = function (item){
	  tags_array = tags_array();
	  tags_array.splice(tags_array.indexOf(item._value), 1);
	  if($.queryString(document.location.href).tags != tags_array.join(",")){
	    hide_table();
	    location.href=$.queryString(document.location.href, { "tags" : tags_array.join(",")});
	  }
	};
	
	tags_array = function(){
	  array = new Array($("#attachment_tags_filter option.selected").size());
	  i = 0
	  $("#attachment_tags_filter option.selected").each(function(){
	    array[i] = this.value;
	    i++;
	  });
	  return array;
	};
	
	hide_table = function(){
	  $("#tag_filter").parent().html("<%=escape_javascript(t('repository.loading'))%>");
	}
	
	$("#attachment_tags_filter").fcbkcomplete({
	  cache: true,
	  filter_case: false,
	  filter_hide: true,
	  firstselected: true,
	  filter_selected: true,
	  maxshownitems: 4,
	  newel: false,
	  complete_opts: true,
	  onremove: "rm_tag",
	  onselect: "add_tag"
	  
	 });
	 
	 $(".add_tag_filter").click(function(){
	   hide_table();
	 });
<%end%>

<div id="tag_filter" style="display:none">
  <label><%=@tags.present? ? t('tag.selected', :count => @tags.size) : t('tag.filter')%></label>
  <select id="attachment_tags_filter" multiple="multiple" name="tags[]">
    <%=options_for_fcbkcomplete(@space.tags,:id,:name,@tags)%>
  </select>
  <!--<label>Other tags:</label>
  <%(@space.tags - @tags).each do |t|%>
    <%=link_to t.name, path_for_attachments({:add_tag => t.id}), :class => "add_tag_filter"%>
  <%end%>-->
</div>