.modal-header
  = modal_close_button
  %h3= t(".title")

.modal_body
  #attachments-uploader
    .file-uploader{:'data-endpoint' => space_attachments_path(@space, :format => :json), :'data-max-size' => max_upload_size }
