- spaces_menu_at :repository

= render :partial => 'spaces/menu'

= content_for :sidebar do
  #doc_action

#doc_repository{:'data-url' => space_attachments_path(@space), :'data-auth-token' => form_authenticity_token}

  = render 'multiple_actions'

  = render 'doc_table'