- spaces_menu_at :repository

= render :partial => 'spaces/menu'

= content_for :sidebar do
  .tag_filter_wrapper
  #doc_action

#doc_repository
  = render :partial => 'multiple_actions'

  - @attachments.each do |attachment|
    %p
      = attachment.attachment_identifier
