@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links/link-colors";
@import "partials/definitions";
// @import "fancy-buttons";
// @import "partials/typography";


// TODO:
// Replicated things from base that are being used together with the old
// css files. In the future only base.scss should be used and this file
// will be removed.

#footer {
  border-top: 1px dashed darken($footer-bg-color, 10);
  @include background(linear-gradient(top, $footer-bg-color, $footer-bg-color 30%, $site-bg-color));

  margin-top: 20px;
  color: #444;
  clear: both;
}

#footer-content {
  width: $contents-width;
  margin: 0 auto;
  padding: 20px 5px 0 5px;

  // a { @include link-colors(#666); }

  h3 {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid darken($footer-bg-color, 15);
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: block;
      position: relative;
      margin-bottom: 5px;
    }
  }

  .link-group {
    float: left;
    margin-right: 50px;
  }

  .link-group2 {
    @extend .link-group;
    float: right;
    margin-right: 0;
    margin-left: 20px;
    text-align: right;
    h3 { text-align: right; }
  }

  .footer-sponsors {
    width: 200px;
    li { margin-bottom: 15px; }
    img {
      float: right;
      margin-left: 10px;
    }
  }

  .languages ul {
    float: left; margin-right: 20px;
  }

  .copyright {
    margin-top: 10px;
    padding-top: 10px;
    text-align: left;
    float: left;
  }
}

#footer-bottom {
  background: $site-bg-color;
  clear: both;
  margin-bottom: 15px;
}

#footer-bottom-content {
  @extend #footer-content;
  width: $contents-width;
  padding: 5px 5px 0 5px;

  .version-info { margin-top: 10px; }
}

#footer-logo {
  width: 250px;
  clear: left;

  a { @include link-colors(#555); text-decoration: none;}

  .title {
    font-weight: bold;
    font-size: 28px;
    @include text-shadow(darken($footer-bg-color, 30) 1px 1px 4px);
    &:hover { color: #333; }
  }
}
