#space-join-request-mail
  .header
    = t('.message.header', :candidate => @join_request.candidate.full_name, :space => @join_request.group.name).html_safe

  - unless @join_request.comment.blank?
    .invite-message= @join_request.comment

  .link
    = t('.message.link', :url => space_join_requests_url(@join_request.group, @join_request, :host => Site.current.domain)).html_safe