#space-processed-join-request-mail
  - if @join_request.accepted?
    .header
      = t('.message.header.accepted', :space => @join_request.group.name).html_safe

    .link
      = t('.message.link.accepted', :space => @join_request.group.name, :space_url => space_url(@join_request.group)).html_safe
  - else
    .header
      = t('.message.header.rejected', :space => @join_request.group.name).html_safe

    .link
      = t('.message.link.rejected', :space => @join_request.group.name, :space_url => space_url(@join_request.group)).html_safe