#space-processed-invitation-mail
  %p= t('.message.header', name: @candidate.name, action: @action, space: @space.name).html_safe
  %p= t('.message.link', users_url: space_users_url(@space, host: Site.current.domain)).html_safe
