@import "compass/css3";
@import "definitions";

#profile-in-sidebar {
  background: $m-light-gray;
  padding: 20px 10px 10px 10px;
  @include border-radius(4px);
  text-align: center;

  #edit-profile-current-logo {
    @include broken-img-parent(none);
  }

  .profile-logo {
    border: 1px solid darken($m-light-gray, 10);
    padding: 3px;
    background: $m-site-bg-color;
    width: 90%;
    height: 90%;
    max-width: 300px;
    max-height: 300px;
  }

  .profile-links-extra {
    margin-top: 15px;
  }
}
