@import "definitions";

body.profiles.edit, body.profiles.update {

  $edit-area-width: ($contents-width - $sidebar-width - 20px) / 2 - 10px;
  .left-column {
    float: left;
    width: $edit-area-width;
  }
  .right-column {
    float: right;
    width: $edit-area-width;
  }

  input[type=submit] {
    float: right;
    clear: both;
    margin-top: 10px;
  }

  #edit-public-profile {
    @include mconf-clearfix;
    float: left;

    input, textarea { width: $edit-area-width - 20px; }
  }

  #edit-private-profile {
    @include mconf-clearfix;
    float: right;
    margin-left: 10px;

    input { width: $edit-area-width - 20px; }
    input[type=radio] { width: auto; }
  }

  .visibility-options {

    // each options is wrapped by a span
    span {
      @include mconf-clearfix;
      display: block;
      clear: both;
      margin-bottom: 5px;

      // radio buttons
      input { float: left; }
      // labels at the right
      label {
        width: $edit-area-width - 60px;
        float: left;
        margin-left: 5px;
      }
    }
  }

}