@import "compass/css3";
@import "definitions";

@import "app/profiles/_profile_in_sidebar";

body.profiles.edit, body.profiles.update {

  // the default areas are a little bit different in this page
  #main-sidebar {
    border: 0;
    padding-right: 0;
  }
  #page-header {
    padding-left: 20px;

    form {
      display: inline;

      .profile_vcard {
        display: none;
        label, input { display: none; }
      }
      #profile-vcard-submit { display: none; }
    }
  }

  #edit-public-profile {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  #edit-private-profile {
    @include make-xs-column(12);
    @include make-md-column(6);
  }

  #profile-logo-uploader {
    margin: 20px 0 10px 0;
  }

}
