var theselect = "<%=escape_javascript(select_tag "ndays", options_for_select({ "1" => "1", "2" => "2", "3" => "3", "4" => "4", "5" => "5" },@event_to_edit.present? ? @event_to_edit.days.to_s : "1"))%>";

$(".no_javascript").after(
  "<div class='javascript'><label><%=escape_javascript(t('date.start'))%></label> "  
	+ "<label><%=escape_javascript(t('days'))%></label><br/>"
	+ "<input type='date' id='start_datepicker' name='event[start_date]' class= 'datepicker small-font' value='<%=escape_javascript( @event_to_edit.present? ? @event_to_edit.start_date.strftime("%d %b %Y") : DateTime.now.strftime("%d %b %Y")) %>'>"
	+ theselect + "<br/>"
);
$(".no_javascript").remove();

/*
 * Timepicker and datepicker configuration
 */


$("#start_datepicker").datepicker({
   dateFormat: 'd M yy'
});


$('.timepicker').timeEntry({show24Hours: true, showSeconds: false, spinnerImage: '../../images/up-down.png', 
    spinnerSize: [15, 16, 0], spinnerBigSize: [30, 32, 0], spinnerIncDecOnly: true, show24Hours: true }
 );

start_timepicker_setTime = function(){
  $("#start_timepicker").timeEntry('setTime');
};


/*
 * Timepicker and datepicker launch functions
 */


start_datepicker_setdate = function(){
  $("#start_datepicker").datepicker('show');
};


/*
 * Jquery timepicker calls to set timepicker clicking time
 */

$("#start_timepicker").click(function(){
  if($(this).val()==""){
    start_timepicker_setTime();
	}
});


