<div id="yui-main">
  <div  class="yui-b main_column">
    <% rounded(:class => "tips") do %>
      <%if (!@events || @events.empty?)%> 
        <%= "No events this day" %>
      <%else %>
        <%=generate_event_table%> 
	    <h2>Events of the day</h2>
	    <% @events.each do |event| %>
	    <div class="summary">
          <%=show_event(event)%> <!--muestra cada uno de los eventos-->
	    </div>
	    <%end %>
      <%end %>
      <div id="show_event"></div>
	<%end%>	
  </div>
</div>
<%= render :partial =>'shared/calendar'%>	