-# Locals:
-#   events_group (Array of Event)
-#   message (string): message if there are no events

%div
  - if events_group.empty?
    %p= message
  - else
    - for event in events_group
      = render :partial => "event", :locals => { :event => event }
    .content-block-footer
      = page_navigation_links events_group
