<div>
  <%if events_group.empty?%>
    <p><%= message %></p>
  <%else%>
    <%for event in events_group%>
      <%= render :partial => event %>
    <%end%>
		<div id="paginate">
    	<%= will_paginate events_group%>
    </div>
  <%end%>	    
</div>