<script type="text/javascript" src="/javascripts/jscalendar/calendar.js"></script>
<script type="text/javascript" src="/javascripts/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/jscalendar/calendar-setup.js"></script>
  
  <%= javascript_include_tag("calendar_config") %>
	 
	 <script>
     function serialize_fields(indice){           
            var fields = new Array();
            fields.push("indice=" + document.form_event.los_indices.value);
			hora_inicio=document.form_event.start_date<%=@indice.to_s%>.value;
			hora_fin=document.form_event.end_date<%=@indice.to_s%>.value;
            fields.push("date_start_day=" +  hora_inicio);
            fields.push("date_end_day=" +  hora_fin);
            return fields.join('&');
        }
   </script>
	<label for="event_start_date">Start date:</label>
   	<input type="text" name="event[start_date]" id="start_date"/>
	<img src="/images/img.gif" id="f_trigger<%=@indice.to_s%>"
	     style="cursor: pointer; border: 1px solid red;"
	     title="Date selector"
	     onmouseover="this.style.background='red';"
	     onmouseout="this.style.background=''" />
	<script type="text/javascript">
			     Calendar.setup({
			        inputField     :    "start_date",
			        ifFormat       :    "%B %e, %Y %H:%M",
			        button         :    "f_trigger",
					showsTime      :    true,
			        align          :    "Tl",
			        singleClick    :    false
			     });
	</script>
	<br/>			 
	<label for="event_end_date">End date:</label></TD>         
	<input type="text" name="event[end_date]" id="end_date"/>
    <img src="/images/img.gif" id="f_trigger_c" 
		 style="cursor: pointer; border: 1px solid red;"
		 title="Date selector"
		 onmouseover="this.style.background='red';"
		 onmouseout="this.style.background=''" />
	<script type="text/javascript">
			     Calendar.setup({
			        inputField     :    "end_date",
			        ifFormat       :    "%B %e, %Y %H:%M",
			        button         :    "f_trigger_c",
					showsTime      :    true,
			        align          :    "Tl",
			        singleClick    :    false
			     });
	</script>  
 
        
        
   