<%if (!@future_events || @future_events.empty?)%> 
  <%= "No Future events" %>
<%else %>
  <%=generate_event_table%> 
	<h2>Future Events</h2>
		<% @future_events.each do |event| %>
		  <div class="summary">
    	    <%=show_event(event)%> <!--muestra cada uno de los eventos-->
		  </div>
		<%end %>
<%end %>