-# locals:
-#  events (array of MwebEvents::Event)
-#  user_events (array of MwebEvents::Event): the events in which the user will participate

- user_events = [] unless user_events

%ul.list-texts
  - if events.count > 0
    - events.each do |event|
      - is_participant = user_events.include?(event)
      %li.list-text{:name => event.permalink}
        = render "unified_event", :event => event, :is_participant => is_participant
  - else
    = t(".no_events")
