<%if (!@past_events || @past_events.empty?)%> 
  <%= "No Past events" %>
<%else %>
  <%=generate_event_table%> 
	<h2>Past Events</h2>
		<% @past_events.each do |event| %>
		  <div class="summary">
    	    <%=show_event(event)%> <!--muestra cada uno de los eventos-->
		  </div>
		<%end %>
<%end %>