


<div id="yui-main">
	<div  class="yui-b main_column">
		
		
		<% rounded(:class => "tips") do %>

<%= render :partial => 'time_table'%>
<%end%>


<div id="show_event">
		</div>
		
		</div>
</div>

<%= render :partial =>'shared/calendar'%>
