<TABLE CELLSPACING=0 CELLPADDING=0 WIDTH=50px>
<% @odd_or_even_hour = 0 
   for i in 0..23
     @odd_or_even_hour = 1 - @odd_or_even_hour
-%>
<TR><TD class="ListLine_hour<%= @odd_or_even_hour %>" ><%= i.to_s + ":00"%></TD></TR>
<%end-%>
</TABLE>