#events-upcoming.content-block
  .content-block-header
    %h3= t('.title')
  .content-block-middle
    = render :partial => 'events_group', :locals => {:events_group => @upcoming_events, :message => t(".none")}
