<div id="news_sidebar">

<%=link_to "+",  new_space_news_path(@space), :id => "big_new_news", :class => "extract_form" %>

<h3>Publish news at home</h3>

<% form_for(:new, :url => space_news_index_path(@space)) do |f| %>
  
  <p>
    <label for="title">Title:</label><%= f.text_field :title, :class => "small_news_title" %>
  </p>
  
    <label for="text">Description:</label><br/>
    <%= f.text_area :text, :class => "small_news_text"%>

  <div class="margin-up">
	<%= image_submit_tag "buttons/create.png" %>
  </div>

<% end %>

</div>