- if expanded
  = sanitize(private_message.title)
- else
  = link_to sanitize(private_message.title), message_path(private_message)


- if Time.now.to_date == private_message.created_at.to_date
  = time_to_be_shown private_message.created_at, time_ago_in_words(private_message.created_at)
- else
  = time_to_be_shown private_message.created_at, private_message.created_at.strftime("%d %b")