

<h1>Listing private_messages</h1>

<table>
  <tr>
  </tr>

<% for private_message in @private_messages %>
  <tr>
    <td><%= link_to 'Show', private_message %></td>
    <td><%= link_to 'Edit', edit_private_message_path(private_message) %></td>
    <td><%= link_to 'Destroy', private_message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New private_message', new_user_message_path(current_user) %>
