- private_messages_menu_at(:compose)

= render_page_title t('.title')
= render :partial => 'private_messages/menu'

- if current_user.fellows.empty?
  = t("message.private.cant")
- else
  #priv-msg
    = render :partial => 'form'
