<% if logged_in? %>
  <% join_link = join_space_room_path(space, @bbb_room) %>
<% else %>
  <% join_link = invite_space_room_path(space, @bbb_room) %>
<% end %>

<div class="sidebar-top-action-button">
  <%= link_to ("<span>" + t('button.join_webconference') + "</span>").html_safe, join_link, :class => 'webconf-start-link btn btn-large btn-info' %>
</div>

<% if logged_in? %>
  <div class="sidebar-top-action-button">
  <%= link_to t('button.join_webconference_mobile'), join_mobile_space_room_path(space, @bbb_room), :class => 'webconf-join-mobile-link btn btn-large' %>
  </div>
<% end %>
