<script type="text/javascript">
  $(document).ready(function () {
    $("#home_members_tokens").tokenInput("/home/invite_room.json", { 
      crossDomain: false,
      theme: 'facebook',
      preventDuplicates: true
    });
  });
</script>

<%= link_to ("<span>" + t('button.join_webconference') + "</span>").html_safe, space_join_room_path(space, @bbb_room),
      :class => 'big_button orange_button bigbluebutton_button' %>

