@import "definitions";

$font-base: $font-gigantic;

.event-image {
  display: inline-block;
  float: left;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  width: 64px;
  color: $font-color;

  .event-image-day {
    font-size: $font-base;
    line-height: $font-base;
    margin-bottom: 4px;
    white-space: nowrap;
  }

  .event-image-month {
    font-size: $font-base * 0.8;
    line-height: $font-base * 0.8;
    margin-bottom: 6px;
    white-space: nowrap;
  }

  .event-image-hour {
    font-size: $font-base / 2;
    line-height: $font-base / 2;
    white-space: nowrap;
  }
}

a.event-image {
  @include link-colors($font-color, lighten($font-color, 15), $link-color-active);
}
