// prevent these rules from being applied to other pages other than the ones
// below on events
body.space_events.new,
body.space_events.create,
body.space_events.edit,
body.space_events.update {

  form .input {
    input {
      width: 95%;
    }

    textarea {
      width: 95%;
      height: 100px;
      resize: vertical;
      max-height: none;
    }

    select {
      width: 15%;
    }
  }

}