@import "app/events/_unified_event";

body.space_events.index {

  #events-toolbar {
    float: right;
    margin-bottom: 15px;
  }

  #events-past-menu {
    float: right;
    padding: 0 6px 4px 6px;
    background: $m-light-gray;
    @include border-radius($m-border-radius-base);

    span {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }

    .icon-awesome {
      padding: 3px;
    }

    .selected-ordering .icon-awesome {
      background: #666;
      color: white;
      @include border-radius($m-border-radius-base);
    }
  }

  .event-block {
    clear: both;
    margin-bottom: 20px;
  }

}
