.centralized
  %h1.title= t('.hello', name: @user.first_name)
  .subtitle= t('.subject')

%p= t('.message', url: Site.current.domain, site: Site.current.name).html_safe
%p= t('_other.mailers.contact', mail: Site.current.smtp_receiver).html_safe
