#registration_by_admin_notification_email
.header_image
  =image_tag URI.join(root_url, "assets/mailer/registration_by_admin.png"), size: '544x263'
.header_message
  =t('.hello', name: @user_name)
%p= t('.message', url: root_url(host: Site.current.domain), site: Site.current.name).html_safe
%p= t('.click_here', url: my_home_url(host: Site.current.domain)).html_safe
