#registration_by_admin_notification_email
.header_image
  .reg_by_admin

.header_message
  =t('.hello', name: @user.name)
%p= t('.message', url: root_url(host: Site.current.domain), site: Site.current.name).html_safe
%p= t('.click_here', url: my_home_url(host: Site.current.domain)).html_safe
