#registration-notification-email
  - unless Site.current.require_registration_approval?
    .header
      = @subject

    %p= t('.message', :name => @user_name)

    %p.link
      = t('.click_here', :url => my_home_url(:host => Site.current.domain)).html_safe
  - else
    %p= t('.confirmation_pending')
