@import "compass/css3";
@import "definitions";

.recording-list {
  margin-top: 10px;

  .recording-playback-links {
    margin: 0;
    padding: 0;
  }

  .rec-not-recorded-col {
    color: $m-font-color-gray;
  }

  .recording-playback-links li {
    float: left;
    margin: 0 4px;
  }
}
