@import "compass/css3";
@import "definitions";

#my-webconference-recordings, #space-recordings {
  .recording-description {
    font-weight: bold;
  }

  .thread {
    .thread-title {
      .thread-updated-at {
        float: left;
        margin-left: 5px;
        padding: 0;
      }

      .recording-description {
        float: left;
        margin-top: -3px;
      }
    }

    .recording-date, .recording-duration {
      display: inline-block;
    }
    .recording-duration {
      padding-left: 3px;
    }

    .playback-link {
      white-space: nowrap;
      @include border-radius(3px);
      background: $light-gray;
      border: 1px solid darken($light-gray, 5);
      padding: 0 5px;
    }

    &.thread-odd {
      .playback-link {
        background: darken($light-gray, 5);
        border-color: 1px solid darken($light-gray, 10);
      }
    }

    .playback-unavailable {
      color: mix($link-color, #888, 70%); // a grayer link
    }

    .playback-processing {
      color: darken($yellow, 10);
    }
  }
}