@import "compass/css3";
@import "definitions";

.recording-list {
  margin-top: -70px;

  .icon {
    font-size: 40px;
  }

  table, .table {
    thead:first-child > tr:first-child > th {
      .col-sm-2.rec-playback-col {
        text-align: center;
      }
    }
  }

  .recording-playback-links {
    margin: 0;
    padding: 0;
    float: right;
  }

  .rec-not-recorded-col {
    color: $m-font-color-gray;
  }

  .recording-playback-links li {
    float: left;
    margin: 0 4px;
  }

  .meeting-date-column, .meeting-time-column, .rec-duration-column {
    background: $m-green-soft;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

  .meeting-date, .duration {
    margin: 20% 0;
  }

  .rec-description-column, .rec-status-column, .rec-playback-column, .options-column {
    background: #fff;
    font-size: 22px;

    .dropdown-toggle {
      background: transparent;
    }
  }

  .rec-description-not-recorded {
    background: $m-medium-light-gray;
    font-size: 22px;
    color: $m-dark-gray;
  }

  .options-col {
    text-align: right;

    .recording-playback-options {
      display: inline-block;
      float: right;
    }
  }

  .recording-playback-links, .recording-playback-options {
    i {
      font-size: 30px;
      color: $m-green-soft;
      width: 20px;
      height: 20px;
      margin: 0 3px;
    }
  }

  .recording-playback-options i {
    color: #bbb;
    float: right;
  }
}
