@import "definitions";

#main-sidebar-menu {
  margin: 0;
  padding: 0;

  li {
    @include font-size($m-font-medium);

    a {
      margin: 6px 0;
      padding: 2px;
      display: block;
    }
  }

  @include link-style(2);
}

#user-info {
  border-bottom: 1px solid darken($m-light-gray, 10);
  padding: 10px 0 20px 0;
  margin-bottom: 20px;

  // darker links since the background is darker
  a {
    @include link-colors(darken($m-link-color, 15), $m-link-color-hover, $m-link-color-active);
  }

  .user-avatar {
    position: relative;
    @include broken-img-parent;
    margin: 0 auto;
    width: 85%;
    height: 85%;
    max-width: 200px;
    max-height: 200px;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid darken($m-light-gray, 10);
      padding: 3px;
      background: $m-site-bg-color;
    }

    .icon-awesome.icon-mconf-superuser {
      position: absolute;
      bottom: 10px;
      right: 10px;
      @include font-size($m-font-medium);
      padding: 6px 5px;
      @include border-radius($m-border-radius-small);
      color: white;
      background: $m-red;
    }
  }

  .user-data {
    @include mconf-clearfix;
    text-align: center;
    margin-top: 10px;

    a, span {
      display: block;
      margin-bottom: 3px;
    }

    .user-name {
      @include font-size($m-font-big);
      font-weight: bold;
      @include text-truncate;
    }

    .user-email, .user-organization {
      min-height: $m-font-big + 2px;
      @include text-truncate;
    }
  }

  .user-links {
    @include mconf-clearfix;
    margin-top: 5px;
    padding-left: 5px;

    ul {
      margin: 0;

      li {
        float: left;
        border: 0;
        padding: 0 10px;
      }
    }

    .icon { float: none; }
  }
}

#user-spaces {
  margin-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid darken($m-light-gray, 10);
  @include mconf-clearfix;
  @include link-style(3);

  // TODO: temp adaptation for this div only
  .list-texts {
    padding: 0;

    .thread-title {
      @include font-for-titles;
    }

    .space-description {
      font-family: $m-font-family;
    }
  }

  // reduced spacing between items in the list of recent activities and my spaces
  .thread {
    margin: 0;
    padding: 5px;
  }

  .btn {
    margin-top: 10px;
  }
}
