@import "compass/css3";
@import "definitions";

@import "app/custom_bigbluebutton_rooms/invitation_form";
@import "app/custom_bigbluebutton_rooms/user_edit";

#webconference-room {

  #webconference-room-url {

    #invite-url-text {
      cursor: text;
      background: $m-very-light-gray;
    }

    .form-group {
      // a bit less space at the bottom
      margin-bottom: 10px;
    }

  }

  #webconference-start {
    @include make-row;
    padding: 10px 0;
    margin: 0;
    background: $m-light-gray;
    @include border-radius($m-border-radius-base);
    border: 1px solid darken($m-light-gray, 7);
    position: relative;

    .webconference-label {
      position: absolute;
      left: 0;
      right: 0;
      top: 1px;
      text-align: center;

      span {
        background: lighten($m-green, 50);
        @include border-radius(0 0 4px 4px);
        padding: 3px 10px;
        border: 1px solid $m-green;
      }

      i {
        //color: #fff;
        margin-right: 5px;
      }
    }

    .webconference-status {
      @include make-xs-column(12);
      @include make-sm-column(6);
      text-align: right;

      span {
        @include font-size($m-font-medium);
        margin: 5px;
      }
    }

    .webconference-buttons {
      @include make-xs-column(12);
      @include make-sm-column(6);
      text-align: left;
      padding: 0 0 0 5px;

      .btn {
        // bit more horizontal spacing
        margin: 0 0 0 5px;
      }
    }

    &.in-progress {
      border-color: $m-green;

      .webconference-status {
        .icon-mconf-in-progress { margin-right: 5px; }
      }
    }
  }



  .webconference-types {
    margin-bottom: 10px;
  }

  .webconference-type {
    padding: 20px;
    @include border-radius($m-border-radius-base);
    background: $m-light-gray;
    text-align: center;
    position: relative;
    border: 2px solid $m-light-gray;

    .title {
      font-weight: bold;
    }

    .webconference-icon {
      @include font-size($m-font-gigantic);
      color: $m-second-color;
      width: 60px;
      height: 60px;
    }

    &.selected {
      border-color: $m-second-color;
      .icon-selected {
        display: block;
      }
    }

    .icon-selected {
      display: none;
      position: absolute;
      top: 2px;
      left: 2px;
      @include font-size($m-font-bigger);
      color: $m-green;
    }

    .configuration-options {
      position: absolute;
      bottom: -10px;
      right: 0;
      left: 0;
    }
  }

  h3 .observation {
    @include font-size($m-font-normal);
  }
}
