<div id="agenda_tabs">
  <ul>
    <%for i in (1..@event.days)%>
      <li id="date<%=i%>" class="date"><%=(@event.start_date+(i-1).day).strftime("%A %d %b")%></li>
    <%end%>
  </ul>
</div>

<%if @event.days==0%>
  aqui se mete una linea para cerrar el cuadro porque no hay tabs
<%end%>

<div id="agenda_pages">
  <%@days= params[:show_day] ? [params[:show_day].to_i]:[1]%>
  <%=render :partial=> "agendas/show"%>
</div>
  

