  <%for day in @days%>
	  <div id="agenda_page<%=day%>" class="agenda_tab" style="display:none">
	    <%entries_and_dividers = @event.agenda.contents_for_day(day)%>
		<%if entries_and_dividers.empty?%>
		  <div id="no_entries" class="main_text">
		  	<%=t("event.agenda.no_entries")%>		  
		  </div>
		<%else%>  
		  <%for entry in entries_and_dividers%>
 			<%if entry.class==AgendaEntry%>
			  <%=render :partial =>"agenda_entries/show", :locals =>{:agenda_entry => entry, :expanded => true, :day=>day }%>
			<%else%>
			  <%=render :partial =>"agenda_dividers/show", :locals =>{:agenda_divider => entry, :day=>day }%>
			<%end%>
	      <%end%>      
		<%end%>
		
	  </div>  
  <%end%>	