<VirtualHost YOUR_IP:443>
  ServerName      YOUR_HOST
  ServerSignature Off

  SSLEngine               on
  SSLCertificateFile      /etc/ssl/certs/YOUR_CERT.crt
  SSLCertificateKeyFile   /etc/ssl/private/YOUR_CERT_KEY.key

  #ShibURLScheme https

  # Shows the maintenance page if it exists
  ErrorDocument 503 /system/maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !\.(css|gif|jpg|png)$
  RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$  -  [redirect=503,last]

  DocumentRoot /somewhere/public
  <Directory /somewhere/public>
    AllowOverride all
    Options -MultiViews
  </Directory>

  <Location /secure>
    AuthType shibboleth
    ShibRequireSession On
    require valid-user
    Order allow,deny
    allow from all
  </Location>

</VirtualHost>
