defaults: &defaults
  server: 'http://demo.bigbluebutton.org/bigbluebutton/api'
  salt: '1234567890abcdefghijklmnopqrstuvx'
  version: '0.7'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults