# mysql2 for all environments

development:
  adapter: mysql2
  database: mconf_development         # mysql database name
  username: mconf                     # mysql database user
  password: secret-pass               # mysql database password
  socket: /var/run/mysqld/mysqld.sock

test:
  adapter: mysql2
  database: mconf_test                # mysql database name
  username: mconf                     # mysql database user
  password: secret-pass               # mysql database password
  socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  database: mconf_production           # MySQL database name
  username: mconf                      # MySQL database user
  password: secret-pass                # MySQL database password
  socket: /var/run/mysqld/mysqld.sock
