# Default configurations
# The values defined here will be used as default for all environments (development, test,
# production). You can also define specific configurations for each environment to override
# the defaults. To do that, copy the parameters you want to override and paste them inside
# the environment you want. These environments are commented in the end of this file.
default:

  # Admin account
  # You can change the password after the initial setup from within the application.
  admin_login: "mconf"                             # Admin user login (e.g. mconf)
  admin_fullname: "Mconf Admin"                    # Admin user full name
  admin_email: "my-email@server.com"               # Admin user email
  admin_password: "admin"                          # Admin user password

  # BigBlueButton default server configuration
  # This server will be your first and default server
  bbb_server_name: "Default Server"                                 # BBB server name
  bbb_server_url: "http://my-development-server/bigbluebutton/api"  # BBB server url in the format http://<server>/bigbluebutton/api
  bbb_server_salt: "my-secret-salt"                                 # BBB server salt
  bbb_server_version: "0.7"                                         # BBB version

  # Email account used to send all emails from within the application (invitations,
  # registrations confirmations, etc). For now you have to use a Gmail account.
  # See config/initializers/mail_conf.rb
  sendmail_username: "my-username@gmail.com"      # Gmail account username
  sendmail_password: "my-password"                # Gmail account password

  # Website default configuration
  # The information will be used to create the Site object, that defines your website.
  # They can be altered after the initial setup using the management area in the application.
  site_name: "Mconf Dev"                          # Website name
  site_description: "Mconf Development Website"   # Website description
  site_email: "my-email@server.com"               # Website contact email
  site_locale: "en"                               # This will be the default locale for the application
  site_domain: "localhost"                        # Your server's IP or name address
  site_signature: "Mconf"                         # To sign emails

  # Default space: it will be created as a default public space, something like
  # "a space for all members of this website"
  default_space_name: "Mconf-Web Space"                    # Space's name
  default_space_description: "Mconf-Web users space"       # Space's description

  # Notifies when an exception occurs. The feature is disabled by default.
  # This will only work in the PRODUCTION environment. To enable it, go to the
  # production section below and change the property "enabled" to "true".
  exception_notification_enabled: "false"                                          # Change to true to enable, don't use quotation marks
  exception_notification_prefix: "[mconf-web error] "                              # Prefix added in the email subject
  exception_notification_recipients: "my-email@server.com my-email2@server.com"    # Space-separated list of emails

  # Google Analytics identifier. Use the format: "UA-12345678-9". Leave it empty to disable.
  analytics_code: ""                       # Google Analytics tracking code. Leave it empty to disable.

# Configurations for each environment
# You can find below the sections for each environment available.
# Uncomment the lines from one of them to define specific configurations for that environment.
# You can copy any of the parameters from the default section and override them here.
# Remember to copy the entire sections: if you want to override "site_email" and
# "default_space_name", you must do something like:
#
# development:
#   site_email: "override the email"
#   default_space_name: "new name"
#
# Also remember to maintain the file indented with 2 spaces. The YML file must be well
# formatted to be valid.


# Development configurations
#development:
#  bbb_server_url: "http://dev-server/bigbluebutton/api"
#  bbb_server_salt: "dev-server-salt"
#  bbb_server_version: "0.7"

# Production configurations
#production:
#  bbb_server_url: "http://production-server/bigbluebutton/api"
#  bbb_server_salt: "production-server-salt"
#  bbb_server_version: "0.7"
#  exception_notification_enabled: "true"
#  analytics_code: ""

# Test configurations
#test:
#  bbb_server_url: "http://test-server/bigbluebutton/api"
#  bbb_server_salt: "test-server-salt"
#  bbb_server_version: "0.7"

