# Application configurations.
# The values defined here will be used to create the seed data on the database (see db/seeds.rb).
# The section 'default' contain the configurations for all environments (development, test,
# production). If you need you can define specific sections for the environments you want,
# and these configurations will override the ones in the default section.

default:

  #
  # Configurations that are read at every startup.
  #

  # Redis server. Defaults to 'localhost:6379' if you leave the block commented.
  # redis:
  #   host: 'localhost'
  #   port: '6379'
  #   db: 1
  #   password: '1234567890'


  #
  # Configurations that are used only by db:seeds.
  # These can be changed later on in the website's management interface.
  #

  # The first admin you will use to login and setup the application.
  admin:
    username: "admin"
    email: "admin@default.com"
    password: "admin"

  # The first, only and default Site model with general configurations for the website.
  site:
    name: "Mconf"
    # description: "Mconf Website"
    # smtp_login: "my-email@server.com"
    # smtp_password: "my-password"
    # locale: "en"
    # domain: "localhost"
    # signature: "Mconf"
    # ssl: false

  # The first and default webconference server.
  # Note: set these parameters even if you don't have a server yet, you can edit it later on.
  webconf_server:
    name: "Default Server"
    url: "http://my-development-server/bigbluebutton/api"
    secret: "my-secret-salt"

#
# Specific configurations for each environment. Optional.
#

# development:
#   redis:
#     host: "dev-redis.my-domain"

# production:
#   redis:
#     ...

# test:
#   redis:
#     ...
