<VirtualHost YOUR_IP:443>
  ServerName      YOUR_HOST
  ServerSignature Off

  SSLEngine               on
  SSLCertificateFile      /etc/ssl/certs/YOUR_CERT.crt
  SSLCertificateKeyFile   /etc/ssl/private/YOUR_CERT.key

  # Shows the maintenance page if it exists
  ErrorDocument 503 /system/maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !\.(css|gif|jpg|png)$
  RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$  -  [redirect=503,last]

  DocumentRoot /YOUR_MCONF_WEB/public
  <Directory /YOUR_MCONF_WEB/public>
    AllowOverride all
    Options -MultiViews
  </Directory>

</VirtualHost>
