# Add this to your application's configuration file, right before the closing
# </VirtualHost> tag

<Location /secure>
  AuthType shibboleth
  ShibRequireSession On
  require valid-user
  Order allow,deny
  allow from all
</Location>
