<div id="logo">
	<ul>
		<li id="name_app">global-project</li>
		<li id="user_account">user@account.com</li>
	</ul>
</div>

<div id="prefs">
	<ul>
		    <li><%= link_to "Inbox(3)"%></li>
		    <li><%= link_to "Profile" %></li>
		    <li><%= link_to "Preferences" %></li>
		    <li><%= link_to "Logout" %></li>	
	</ul>
</div>