<div id="logo">
	<h1>Logo</h1>
</div>

<div id="prefs">
	<ul>
		    <li><%= link_to "marze@tuenti.com" %></li>
		    <li><%= link_to "Inbox (2)" %></li>
		    <li><%= link_to "Preferences" %></li>
		    <li><%= link_to "Logout" %></li>	
	</ul>
</div>