<div id="general">
	<ul>
		<li id="project-name">global-project</li>
		<li id="user-account">user@account.com</li>
	</ul>
</div>

<div id="prefs">
	<ul>
	  <li><%= link_to "Inbox <span>3</span>"%></li>
		<li><%= link_to "Profile" %></li>
		<li><%= link_to "Preferences" %></li>
		<li><%= link_to "Logout" %></li>	
	</ul>
</div>