<div id="logo_app">
	<%=image_tag("ui/global-logo.png")%>
</div>
<div id="name_app">
<ul>
	<li id="title"> global</li>
	<li id="subtitle">Event Management</li>
</ul>
</div>
<div id="search">
  <%= text_field_tag :search %>
</div>
