@import "definitions";

@import "app/spaces/sidebar";

body.posts.index {

  #space-posts-create {
    margin-top: 5px;
    float: left;
  }

  #posts-navigation-top {
    float: right;

    .pagination {
      margin: 0;
    }
  }

}
