/*
 *= require ../../../../../vendor/assets/stylesheets/fcbkcomplete
 */

@import "app/spaces/sidebar";

body.posts.index {

  #new_post {
    text-align: center;
    button {
      margin-left: 73%;
    }
  }

  #post_title {
    width: 90%;
  }

  #new_post_text {
    display: none;

    textarea {
      width: 90%;
      height: 100px;
      resize: none;
    }
  }
}