@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

$navbar-height: auto;
$login-box-width: 440px;
$registration-box-width: $contents-width - $login-box-width - 20px;

body {
  background: adjust-color($green-logo, $red: -15, $blue: -15, $green: -15);
}

#navbar-wrapper {
  background: darken($green-logo, 3);
}

#site {
  background: none;
  @include box-shadow(none);
}

#navbar {
  background: none;
  width: $contents-width;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  height: $navbar-height;
  @include clearfix;
}

#main-logo {
  width: 240px;
  margin: 30px auto;
  padding: 0;
  float: none;

  img {
    width: 231px;
    height: 120px;
  }
}

.form-area {
  padding: 0;
  margin: 0;
  color: #eee;
  text-align: right;
  vertical-align: top;
  float: left;

  a { @include link-colors(#bbb, white, $site-link-active); }

  label {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 7px;
    color: #eee;
  }

  input[type=text], input[type=password], input[type=email] {
    width: 260px;
    clear: both;
    background: #eee;
    @include background(linear-gradient(top, #ccc, #eee));

    &:focus {
      background: #fff;
    }
  }

  abbr[title=required] { display: none; }
}

#login-box {
  width: $login-box-width;

  .action-links {
    float: right;
    margin-top: 15px;
    clear: both;
  }

  .shibboleth_login {
    border-left: 1px solid #888;
    padding-left: 7px;
    margin-left: 5px;
  }

  input[type=submit] {
    float: right;
  }

  .remember-me {
    float: right;

    input[type=checkbox] {
      margin-top: -5px;
      margin-right: 5px;
    }
  }
}

#registration-box {
  width: $registration-box-width;

  .simple_captcha {
    float: right;
    padding: 0 !important;
    margin: 10px 0;

    div { display: inline; }

    .simple_captcha_field {
      text-align: center;
    }

    .simple_captcha_image {
      background: white;
      margin-right: 5px;
    }
  }

  input[type=submit] {
    float: right;
    clear: both;
  }
}

#content {
  width: $contents-width;
  margin: 0 auto;
  padding-top: 50px;

  h2 {
    text-align: right;
    margin: 0 0 10px 0;
    color: #ddd;
    @include text-shadow(darken($green-logo, 5) 1px 1px 4px);
  }
}
