@import "definitions";

// For the 'navbar_bg' layout

#navbar {
  border-bottom: 1px solid $m-navbar-internal-border-color;
}

#site, #content-middle, #footer {
  background: $m-navbar-bg-color-dark;
  border-color: $m-navbar-bg-color-dark;
  color: $m-navbar-font-color;

  label {
    color: $m-navbar-font-color;
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $m-navbar-font-color;
  }

  .form-control {
    background: $m-navbar-internal-border-color;
    border-color: darken($m-navbar-bg-color-dark, 3);
    color: $m-navbar-font-color;

    &:focus {
      border-color: $m-color-secondary;
    }
  }

  .has-error .form-control {
    border-color: $m-red;
  }

  .input-group-addon {
    background: darken($m-navbar-bg-color-dark, 3);
    color: $m-navbar-font-color;
    border-color: darken($m-navbar-bg-color-dark, 3);
  }
}

#content-middle, #footer {
  a:not(.btn) {
    $normal: $m-link-color-hover;
    $hover: lighten($normal, 8);
    @include link-colors($normal, $hover, $hover, $normal);
  }
}

#footer {
  color: $m-navbar-font-color;
}

#footer-powered img {
  display: none;
}

#content-middle {
  > h1 {
    text-align: center;
  }
}
