.logo
  %a.title{:href => home_path}= image_tag 'logos/mconf-white-transp.png', :size => '231x120'
.access-links
  = image_tag('icons/my-home-16x16.png', :size => '16x16', :class => 'icon')
  = link_to "Go back to your home", home_path
