%h1.title
  - if flash[:error]
    = flash[:error]
  - else
    = t("error.e403.title")

.error-description
  %p
    - if @error_message
      = @error_message.html_safe
    - else
      = t("error.e403.description")
