<div class="dialog">
	<div id="alert"><h2 class="yellow"><%= t('error.vcc_warning') %></h2></div>
    <h2 class="yellow"><%= t('error.e500') %></h2>
    <p><%= t('error.mistyped_or_moved') %></p>
</div>
