#error-wrapper
  = page_title t("error.e404.title")

  .error-description
    %p
      - if @error_message
        = @error_message.html_safe
      - else
        .ops-text
          = t("error.e404.ops")
        .description-text
          = t("error.e404.description", :url => @route)

  #error404-logo
