%h1.title.error-mild
  - if flash[:error]
    = flash[:error]

.error-description
  %p
    - if @error_message
      = @error_message.html_safe
    - else
      = t("error.e403.description")

#error403-logo
