#public-spaces

  .section-title
    %h2= t('frontpage.spaces.title')
    .subtitle
      %span
        = t('frontpage.spaces.subtitle').html_safe

  #most-active-spaces
    %ul
      - spaces.each do |space|
        %li
          = link_to space_path(space) do
            - options = { :size => 'h96', :title => sanitize(space.name), :class => 'tooltipped-label downwards' }
            = logo(space, options).html_safe
