<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>global-project</title>
    <link href="/favicon.ico" rel="shortcut icon" />
    
		<link rel="stylesheet" href="frontpage.css" type="text/css" media="screen, projection" title="Screen" charset="utf-8">
  </head>

  <body>
    <div id="site" class="showgrid">
	  <div id="global">
	    <div id="global-header">
	      <span id="global-logo"><img src="images/icons/world.png"><a href="#">global-project</a></span>
	      <span id="feedback"><a href="#">Send us feedback!</a></span>
	    </div>
	  </div>
		  
	  <div id="space">
	    <div id="space-header">
          <div id="space-logo"><img src="images/logos/sxsw.png" width="125" height="54"/></div>
          
          <div id="search"><input type="text" /> <button>Search</button></div>
          
          <div id="prefs">
  	        <ul>
  	        	<li><a href="#">Profile</a></li>
  	        	<li><a href="#" class="new">Inbox (3)</a></li>
  	        	<li><a href="#">Preferences</a></li>
  	        	<li><a href="#">Logout (info@marze.es)</a></li>	
  	        </ul>
          </div>
		</div>
     
		<div id="main">
		  <div class="wrapper">
			<h3>Popular Spaces <a href="#"><img class="icon" src="images/icons/feed.png"/></a></h3>
			
			<ul><li><a href="#">Show all the popular spaces >></a></li></ul>
			
			<div class="spc">
			  <a href="#"><img src="images/demo/belief.png"/></a>
			  <p>Belief Brazil Symposium</p>
			</div>
				
			<div class="spc">
			  <a href="#"><img src="images/demo/terena.png"/></a>
			  <p>Terena Malaga 2009</p>
			</div>
			
			<div id="end" class="spc">
			  <a href="#"><img src="images/demo/sxsw.png"/></a>
			  <p>Austin SXSW</p>
			</div>		  		
		  </div>        

		  <div class="wrapper">
			<h3>Recent Spaces <a href="#"><img class="icon" src="images/icons/feed.png"/></a></h3>
			
			<ul><li><a href="#">Show all the recent spaces >></a></li></ul>
			
			<div class="spc">
			  <a href="#"><img src="images/demo/sonar.png"/></a>
			  <p>Sonar 2009 Barcelona</p>
			</div>
			
			<div class="spc">
			  <a href="#"><img src="images/demo/summercase.png"/></a>
			  <p>Summercase 2009</p>
			</div>
			
			<div id="end" class="spc">
			  <a href="#"><img src="images/demo/ted.png"/></a>
			  <p>Ted talks 2009</p>
			</div>		  		
		  </div>
			
		  <div class="wrapper">
			<h3>Incoming Events <a href="#"><img class="icon" src="images/icons/feed.png"/></a></h3>
			<ul><li><a href="#">Show all incoming events >></a></li></ul>
			<ul id="list-events">
			  <li><a href="#"><img class="icon" src="images/icons/date.png"/> 27/03/2009 meeting with Topanga @NYC Centre <span>I am attending to the conference but i don't know...</span></a></li>
			  <li><a href="#"><img class="icon" src="images/icons/date.png"/> 27/03/2009 meeting with Topanga @NYC Centre <span>I am attending to the conference but i don't know...</span></a></li>
			</ul>  
		  </div>
		
		</div>
     
	    <div id="sidebar">
		  <div class="join">
			<h2>Start now!</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<button>Create new Space</button> 	
		  </div>

		  <div class="rel-users">
			<h5><img class="icon" src="images/icons/user.png" alt="icon"/> Relevant Users</h5>
			
			<p>Sidebar! we can see the more relevant users</p>
			
			<div>
			  <a href="#"><img src="images/models/48/user.png"/></a>
			  <a href="#"><img src="images/models/48/user.png"/></a>
			  <a href="#"><img src="images/models/48/user.png"/></a>
			  <a href="#"><img src="images/models/48/user.png"/></a>
			</div>
			
			<a href="#"> Show more users >></a>
		  </div>

		  <div class="rcnt-posts">
			<h5><img class="icon" src="images/icons/comment.png"/> Recent comments </h5>
			
			<ul>
			  <li><a href="#"><strong>Jason Pollack</strong><span class="updated"> 5 minutes ago</span>
			  <p>I'm attending to the conference but i don't know how to get there, is there any metro station around?</p>
			  </a></li>
			  <li class="last"><a href=""><strong>Martha Stuart</strong><span class="updated"> 2 minutes ago</span>
			  <p>The station is called Opera Station, line 5</p>
			  </a></li>
			</ul>
			
			<a href="#">Show more comments >></a>
		  </div>
         </div>
       </div>
            
	   <div id="footer"><p>© 2009 global-project.eu</p></div>
	  
	  </div>
	</div>
  </body>
</html>