<div class="left column span-11 borde">         
		<div id="left_espacio"></div>
		<div id="left_contenido">
			<div id="vcc_title">VCC is a Free service for publishing and discovering videoconferences
				<span id="text_bottom_title"><br /> 50 videoconferences organized - 320 videos stored </span>
			</div>
			<br />
	
			<div id="share">
				<span><img src="./images/frontpage/share.gif"></img></span>
				<span>
					<ul class="purple">
						<li><img src="./images/frontpage/purple_sq.png">Videoconference video and streaming</img></li>
						<li><img src="./images/frontpage/purple_sq.png">Documents, video and video repositories</img></li>
						<li><img src="./images/frontpage/purple_sq.png">Your contacts and relations</img></li>
					</ul>
				</span>
			</div>
	
			<div id="meet" class="no_float_left">
				<span><img src="./images/frontpage/meet.gif"></img></span>
				<span class="no_float">
					<ul class="green">
						<li><img src="./images/frontpage/green_sq.png">Discover best online videoconferences</img></li>
						<li><img src="./images/frontpage/green_sq.png">Meet interesting people and groups</img></li>
						<li><img src="./images/frontpage/green_sq.png">Video chat your colleagues</img></li>
					</ul>
				</span>
			</div>
	
			<div id="collaborate" class="no_float_left">
				<span><img src="./images/frontpage/collaborate.gif"></img></span>
				<span>
					<ul class="yellow">
						<li><img src="./images/frontpage/yellow_sq.png">Organize your projects and activities</img></li>
						<li><img src="./images/frontpage/yellow_sq.png">Participate in conferences and events</img></li>
						<li><img src="./images/frontpage/yellow_sq.png">Create your own space and conferences</img></li>
					</ul>
				</span>		
			</div>
	

			<br />
			<div id="join_form" class="no_float_left">								
				
					<%= link_to image_tag("join.gif", :alt=>"register"), signup_path, :class => "register_link" %>
			</div>
		</div>	

</div>

<div class="right column span-12 borde">
	<div id="caracteristics" >
				<span><img src="images/video.gif" alt="videos online" /></span>
				<br /><br />
				<ul>
				<li><img src="images/right_videoconference.gif" alt="videoconference" />Conferences</li>
				<li><img src="images/right_webcam.gif" alt="participants" />Participants</li>
				<li><img src="images/right_organizers.gif" alt="organizers" />Organizers</li>
				<li><img src="images/right_people.gif" alt="spaces" />Spaces</li>
				<li><img src="images/right_comments.gif" alt="comments" />Comments</li>
				<li><img src="images/right_tags.gif" alt="tags" />Tags</li>
				<li><img src="images/right_social.gif"  alt="social networks" />Social Networks</li>
				</ul>
			</div>

</div>

<div id="espacio_body_bottom"></div>
<div class="idioma">English - Español</div>