- page_title t('.title')

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

#subscription_removed-wrapper
  %h1= t('.title')

  #subscription-removed-logo

  %h3.description
    = t('.description')
