@import "definitions";

body.theme-mconf-com {

  #navbar-logo {
    background: image-url('MconfTec.png') no-repeat left top;
    background-size: 120px 46px;
    width: 120px;
    height: 46px;
    margin: 10px 0 0 0;
  }

  &.frontpage.show {
    #navbar {
      #navbar-logo {
        margin: 48px auto 24px auto;
        background: image-url('MconfTec-w.png') no-repeat left top;
        background-size: 486px 160px;
        width: 486px;
        height: 160px;
      }
    }
  }

  &.navbar_bg {
    #content-middle {
      a:not(.btn) {
        $normal: $m-navbar-font-color;
        $hover: $m-navbar-link-color-hover;
        @include link-colors($normal, $hover, $hover, $normal);
      }
    }
  }

}
