$m-com-purple: #8D74C0; //rgb(51, 19, 42); //rgb(72, 34, 61);
$m-com-purple-dark: #481E9D;
$m-com-purple-light: #8D74C0;
$m-com-red: #D5455A;
$m-com-orange: #eb8039;
$m-color-primary: $m-com-purple-dark;
$m-color-primary-hover: darken($m-color-primary, 5);
$m-color-primary-soft: $m-com-purple;
$m-color-primary-heavy: $m-com-purple-dark;
$m-color-primary-soft-hover: $m-com-purple-dark;
$m-color-secondary: $m-com-red;
$m-color-secondary-hover: darken($m-color-secondary, 5);
$m-link-color: $m-com-purple;
$m-link-color-hover: $m-com-purple-dark;
$m-link-color-active: $m-link-color-hover;
$m-active-item-border-color: $m-color-primary;
$m-active-item-border: 4px solid $m-active-item-border-color;
/* $m-link-color-active: $m-link-color; */
$m-focus-border-color: $m-color-secondary;
$m-navbar-font-color-hover: $m-link-color-hover;
$m-navbar-bg-color-light: #fff; //$m-com-purple;
$m-navbar-bg-color-dark: $m-navbar-bg-color-light;
$m-navbar-border-color: darken($m-navbar-bg-color-dark, 5);
$m-navbar-internal-border-color: lighten($m-navbar-bg-color-dark, 5);
$m-navbar-font-highlight: lighten($m-navbar-bg-color-dark, 10);
$m-navbar-btn-bg: #fff;
$m-navbar-btn-bg-hover: $m-com-purple-dark;
$m-navbar-btn-color: $m-com-purple;
$m-navbar-link-color: $m-link-color;
$m-navbar-link-color-hover: $m-navbar-link-color;
$m-navbar-link-color-active: $m-navbar-link-color;
$m-tooltip-color: #fff;
$m-tooltip-bg: $m-com-purple-dark;
$m-tooltip-arrow-color: $m-com-purple-dark;
$m-font-h-color: $m-color-primary;
$m-font-h-color-hover: $m-link-color-hover;
$m-font-h-color-active: $m-link-color-active;
$m-logo-border: #fff;
$m-logo-initials-bg: $m-com-purple $m-com-purple-dark $m-com-red $m-com-orange $m-com-purple $m-com-purple-dark $m-com-red $m-com-orange darken($m-com-red, 5);
// bootstrap
$brand-primary: $m-com-purple;
$btn-primary-bg: $m-color-primary;
$btn-primary-border: $btn-primary-bg;
$btn-info-bg: $m-color-primary;
$btn-info-border: $btn-primary-bg;
$tooltip-color: $m-tooltip-color;
$tooltip-bg: $m-tooltip-bg;
$tooltip-arrow-color: $m-tooltip-arrow-color;
$link-color: $m-link-color;
$link-color-hover: $m-link-color-hover;
// mailer colors
$m-mail-main-title: #696969;
$m-mail-text: $m-mail-main-title;
$m-mail-secondary-title: #BA3A46;
$m-mail-background: #EBEBEB;
$m-mail-message-background: #FFFFFF;
$m-mail-inner-box-background: #fafafa;
$m-mail-inner-box-border: #CCCCCC;
$m-mail-message-border: #DDDDDD;
$m-mail-action-btn-bg: $m-color-secondary;
$m-mail-action-btn-font-color: #fff;
