@import "compass/typography";
@import "definitions";

$login-box-width: 440px;
$right-side-width: $contents-width - $login-box-width - 50px;

body.sessions.new, body.sessions.create {

  #login-wrapper {
    @include mconf-clearfix;
    margin: 40px 0;

    form {
      @include mconf-clearfix;
      float: left;
      width: $login-box-width;

      // every field is required, we don't need to show it
      abbr[title=required] { display: none; }

      input[type=text], input[type=password], input[type=email] {
        width: 250px;
      }

      input[type=submit] {
        float: right;
      }

      .remember-me {
        float: right;

        label { margin-top: 0; }

        input[type=checkbox] {
          margin-top: 3px;
          margin-right: 5px;
        }
      }
    }

    .extra-links {
      max-width: $right-side-width;
      float: left;
      margin: 5px 0 0 50px;
      padding: 0;
      ul {
        list-style: disc;
      }
    }

  }

}

// Custom UFRGS's sign in page

body.sessions.new, body.sessions.create {

  #login-shibboleth {
    max-width: $right-side-width;
    float: left;
    text-align: center;

    h3 {
      text-align: center;
      margin-bottom: 30px;
    }

    .logo-ufrgs {
      font-size: 10px;
      width: 230px;
      height: 174px;
      margin-bottom: 15px;
    }
  }

  #login-wrapper {
    margin: 0;
    float: right;

    > h3 {
      text-align: center;
      margin-bottom: 30px;
    }

    .extra-links {
      float: none;
      clear: both;
      text-align: right;

      li {
        float: right;
        clear: both;
      }
    }
  }

}
