@import "compass/typography";
@import "definitions";

@import "app/shared/social_login";

body.sessions.new, body.sessions.create {

  #headline {
    @include make-sm-column(12);
    @include make-md-column(5);

    h1 {
      font-size: 46px;
      text-align: left;
      margin-top: 0;
      font-weight: 700;
      color: $m-titles;
    }

    h3 {
      font-size: 25px;
      text-align: justify;
      font-weight: 200;
      color: $m-titles;
    }

    #signin-logo {
      @include make-row;

      margin: 50px auto 0 auto;
      float: left;
      padding: 36%;
      overflow: visible;

      background: image-url('logos/Mobile_conection.png') no-repeat left top;
      background-size: contain;
      height: 70%;
      width: 90%;
    }
  }

  #login-wrapper {
    @include make-sm-column(12);
    @include make-md-column(5);
    @include make-md-column-offset(2);

    h1 {
      font-weight: $m-font-weight-bold;
      text-align: center;
      color: $m-titles;
      margin-bottom: 36px;
      margin-top: 0;
    }

    form {
      // every field is required, we don't need to show it
      abbr { display: none; }

      .form-control {
        font-size: $m-font-big;
        padding: 15px;
      }

      .form-group {
        margin-bottom: 18px;
      }

      .remember-me {
        float: left;

        label { margin-top: 0; }

        input[type=checkbox] {
          margin-top: 3px;
          margin-right: 5px;
        }
      }

      .forgot-password {
        float: right;
        margin: 10px 0;

        a { display: block; }
      }

      .form-actions {
        border: none;

        .btn {
          font-size: $m-font-big;
          padding: 15px;
          width: 100%;
        }
      }
    }
  }
}
