  <p>
    <%= form_doc.file_field :uploaded_data, :size => 15 %>
  </p>
  <div>Add a Caption</div>
  
  <p>
    <label for="Text">Title</label><br/>
    <%= form_doc.text_area :text, :class => "span-6"%>
  </p>