<div id="h_join" class="span-6 last">
	<h3>Join the Dialogue</h3>
	<p>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	<input type="button" name="reg" value="Register Today"/> 	
</div>
<div id="rel_users" class="span-6 last">
<p><%=image_tag("user.png")%> Relevant Users</p>
<p>
  Sidebar! we can see the more relevant users
</p>
</div>
