<h3>New Thread</h3>

<div id="actions">
  <ul>
    <li><%= link_to "Comment" %></li>
    <li><%= link_to "Photos" %></li>
    <li><%= link_to "Doc" %></li>
  </ul>
</div>

<form id= "thread_form" method="post" enctype="text/plain" action="">
<label for="idtitle">Title</label><br/>
<input type="text" name="Title" class="span-6 last" value="">

<b>Description</b><br/>
<textarea name="description" rows="10" cols="27"> </textarea>
<input type="button" name="send_post" value="Post Now!!" />
</form>
