<form action="_new_thread_submit" method="get" accept-charset="utf-8">

  <p>
    <label for="yeah">Yeah</label><br/>
    <input type="text"/>
  </p>
  
   <p><input type="submit" value="Post!"></p>
</form>