<input type="button" name="join-space" value="Join this space"/>
<div id="about">
	<h5>About SXSW</h5>
	<p><%=image_tag("test_small.jpg")%> In this 22 years, SXSW has grown from a tiny music festival in the Texas capital into a massive, unavoidable media beast that reflects, discusses and showcases trends in culture and media but also often creates them.</p>
</div>

<div id="new-thread">
	<h3>New Thread</h3>
	<form id= "thread_form" method="post" enctype="text/plain" action="">
	<label for="idtitle">Title</label><br/>
	<input type="text" name="Title" class="span-6 last" value="">
	
	<div id="actions">
	  <ul>
	    <li><%= link_to "Comment" %></li>
	    <li><%= link_to "Photos" %></li>
	    <li><%= link_to "Doc" %></li>
	  </ul>
	</div>
	
	<textarea class="span-6" name="description" rows="10"> </textarea>
	<input type="button" name="send_post" value="Post Now!!" />
	</form>
</div>