<% content_for :sidebar do  %>
  <%= render :partial => "home_sidebar" %>
<% end %>

	<b><%=link_to "Titulo"%></b> Updated 3 minutes ago <a class="prueba1" href="ui/posts">Reply</a> <%=link_to "Delete"%> <%=link_to "Edit"%>
	<p> Lorem ipsummmmmmmmmmmmmmmmmmmmmmm </p>