<% content_for :sidebar do  %>
	<div id="Create_new_group">
		<h3>Create new group</h3>
	</div>
		<form action="" method="post"><input name="authenticity_token" type="hidden" />
	
			<p>
    			<label for="Name">Name</label><br/>
    			<input id="group_name" name="group[name]" size="25" type="text" />
  			</p>
			<p>
				<input id="group_user_ids_" name="group[user_ids][]" type="checkbox" value="12" /><label for="checkbox_Monty Becker ">Monty becker </label><br />
				<input id="group_user_ids_" name="group[user_ids][]" type="checkbox" value="14" /><label for="checkbox_Deondre Jerde ">Deondre jerde </label><br />
				<input id="group_user_ids_" name="group[user_ids][]" type="checkbox" value="10" /><label for="checkbox_Lupe Goodwin ">Lupe goodwin </label><br />
				<input id="group_user_ids_" name="group[user_ids][]" type="checkbox" value="7" /><label for="checkbox_Heath Conn ">Heath conn </label><br />
				<input id="group_user_ids_" name="group[user_ids][]" type="checkbox" value="4" /><label for="checkbox_Lexie Mosciski PhD ">Lexie mosciski phd </label><br />	
			</p>
			<input name="commit" type="submit" value="Create" />
		</form>
<% end %>

<div id="list_by">
	<span>List by </span><a href="">Groups</a>Name
</div>
<div id="results_count">
	<h3>People, 5 results</h3>
</div>

<div class="user">
	<p>
		<a>Send a message</a><br/>
		<a>e-mail</a>
	</p>
	<img src="/images/legacy/avatar.png?1236876068" alt="Avatar"/>
	<h5>King Spinka </h5>
	Organization<br/>
	City, Country
</div>

<div class="user">
	<p>
		<a>Send a message</a><br/>
		<a>e-mail</a>
	</p>
	<img src="/images/legacy/avatar.png?1236876068" alt="Avatar"/>
	<h5>Deondre Jerde </h5>
	Organization<br/>
	City, Country
</div>

<div class="user">
	<p>
		<a>Send a message</a><br/>
		<a>e-mail</a>
	</p>
	<img src="/images/legacy/avatar.png?1236876068" alt="Avatar"/>
	<h5>Cynthia Buckridge </h5>
	Organization<br/>
	City, Country
</div>

<div class="user">
	<p>
		<a>Send a message</a><br/>
		<a>e-mail</a>
	</p>
	<img src="/images/legacy/avatar.png?1236876068" alt="Avatar"/>
	<h5>Miss Mary Metz </h5>
	Organization<br/>
	City, Country
</div>

<div class="user">
	<p>
		<a>Send a message</a><br/>
		<a>e-mail</a>
	</p>
	<img src="/images/legacy/avatar.png?1236876068" alt="Avatar"/>
	<h5>Zaria Boyle </h5>
	Organization<br/>
	City, Country
</div>