<% content_for :search do  %>
	<form action="" method="get">
      <input id="query" name="query" type="text" />
	  <input class="go" src="/images/legacy/magnify2.png?1236860097" type="image" />
  	</form>
<%end%>

<% content_for :sidebar do  %>
	<div id="Edit_group">
		<h3>Edit group</h3>
		<form id="edit_group_106" class="edit_group" >
		<div >
			<input type="hidden" value="put" name="_method"/>
			<input type="hidden" value="2d126e05d3cba41c3467359c81badc33d810be90" name="authenticity_token"/>
		</div>
		<p>
			<label for="Name">Name</label><br/>
			<input id="group_name" type="text" value="Consequatur" size="25" name="group[name]"/>
		</p>
		<p>
			<input id="group_user_ids_" type="checkbox" value="15" name="group[user_ids][]" checked="checked"/><label for="checkbox_King Spinka ">King spinka </label><br/>
			<input id="group_user_ids_" type="checkbox" value="14" name="group[user_ids][]"/><label for="checkbox_Deondre Jerde ">Deondre jerde </label><br/>
			<input id="group_user_ids_" type="checkbox" value="6" name="group[user_ids][]" checked="checked"/><label for="checkbox_Cynthia Buckridge ">Cynthia buckridge </label><br/>
			<input id="group_user_ids_" type="checkbox" value="13" name="group[user_ids][]"/><label for="checkbox_Miss Mary Metz ">Miss mary metz </label><br/>
			<input id="group_user_ids_" type="checkbox" value="8" name="group[user_ids][]" checked="checked"/><label for="checkbox_Zaria Boyle ">Zaria boyle </label><br/>
		</p>
		<input type="submit" value="Update" name="commit"/>
		</form>
	</div>
<% end %>

<div id="list_by">
	<span>List by </span>Groups<a href="">Names</a>
</div>

<div id="results_count">
	<h3>Groups, 2 results</h3>	
</div>

<div class="group">
	<ul class="group_links">
		<li><a>Send a message</a></li>
		<li><a>e-mail</a></li>

		<li><a>Join</a></li>
		<li><a href="">Edit</a></li>
		<li><a href="" >Delete</a></li>
	</ul>
	<h4>Quis Illo Alias</h4>
</div>

<div class="group">
	<ul class="group_links">
		<li><a>Send a message</a></li>
		<li><a>e-mail</a></li>
		<li><a>Join</a></li>
		<li><a >Edit</a></li>
		<li><a >Delete</a></li>
	</ul>
	<h4>Aut Tempore</h4>
	<div class="user">
		<img alt="Avatar" src="/images/legacy/avatar.png?1236876068" />
		<h5>Deondre Jerde </h5>
	</div>
	<div class="user">
		<img alt="Avatar" src="/images/legacy/avatar.png?1236876068" />
		<h5>Lupe Goodwin </h5>
	</div>
</div>
<div class="group">
	<ul class="group_links">
		<li><a>Send a message</a></li>
		<li><a>e-mail</a></li>
	</ul>
	<h4>People without group</h4>
	<div class="user">
		<img alt="Avatar" src="/images/legacy/avatar.png?1236876068" />
		<h5>Monty Becker </h5>
	</div>
	<div class="user">
		<img alt="Avatar" src="/images/legacy/avatar.png?1236876068" />
		<h5>Heath Conn </h5>
	</div>
	<div class="user">
		<img alt="Avatar" src="/images/legacy/avatar.png?1236876068" />
		<h5>Lexie Mosciski PhD </h5>
	</div>
</div>


