<li>
  <div class="progress progress-striped active">
    <div class="upload-progress-bar bar"></div>
  </div>
  <span class="upload-spinner"></span>
  <span class="qq-upload-finished"></span>
  <p><span class="upload-file"></span></p>
  <span class="qq-upload-size"></span>
  <a class="qq-upload-cancel" href="#">{cancelButtonText}</a>
  <a class="qq-upload-retry" href="#">{retryButtonText}</a>
  <a class="qq-upload-delete" href="#">{deleteButtonText}</a>
  <span class="qq-upload-status-text">{statusText}</span>
 </li>