<div class="qq-uploader">
  <div class="upload-button">
    <i class="fa fa-upload icon"></i><span>{uploadButtonText}</span>
  </div>
  {{#if dragAndDrop}}
    <div class="drag-files">
      <span>{dragZoneText}</span>
    </div>
  {{/if}}
  <div class="qq-upload-drop-area upload-drag-and-drop">
  </div>
  <span class="qq-drop-processing">
    <span>{dropProcessingText}</span>
    <span class="qq-drop-processing-spinner"></span>
  </span>
  <ul class="upload-list qq-upload-list"></ul>
</div>
