<% base_language_only do -%>
<div id="language"><h1>Please choose language for translation</h1></div>
<% end -%>

<% not_base_language do -%>
<div id="language"><h1><%= "Language: " + Locale.language.native_name %></h1></div>
<div>
<% @view_translations.each do |tr| -%>
  <%= render :partial => 'translation_form', :locals => {:tr => tr}%>
<% end -%>
</div>
<% end  -%>

