@import "app/events/event_logo";

body.events {

  #events-upcoming, #events-all, #events-past, #events-current {
    clear: both;
  }

  #past-events-menu {
    float: right;
  }

  .event_options {
    text-align: center;
  }

}
