body.events.index {

  .logo-in-thread {
    margin-right: 10px;
  }

  #events_content {
    h3 {
      padding-top: 30px;
    }
  }

  #past-events-men {
    #order {
      float: right;
    }
  }

}