@import "app/spaces/sidebar";

body.events.index {

  #events-filters {
    float: left;
    margin-bottom: 15px;
  }

  #events-toolbar {
    float: right;
    margin-bottom: 15px;
  }

  .more-events-links {
    float: right;
  }

}