@import "app/spaces/sidebar";

body.events.new, body.events.edit {

  .simple_form .input {

    input {
      width: 95%;
    }

    textarea {
      width: 95%;
      resize: none;
    }

    select {
      width: 15%;
    }
  }

}