@import "app/spaces/sidebar";
@import "app/events/event_logo";

body.events.show {

  .events-hapenning-now {
    .thread-text {
      margin-left: 70px; // the width of the logo
    }
  }

  #events-participants-confirm {
    text-align: center;
    background: $light-gray;
    padding: 8px;
    @include border-radius(4px);

    span {
      margin-right: 10px;
    }
  }

  #events-participants-attending, #events-participants-not-attending {
    padding: 10px 0 0 15px;

    .subtitle {
      h4 { display: inline-block; }

      .view-as-links {
        display: inline-block;
        padding-left: 5px;
        margin: 5px 0 0 5px;
        background: $light-gray;
        padding: 3px 8px;
        @include border-radius(4px);
      }
    }

    .attendee-thumbs, .attendee-list {
      .thread {
        padding: 0;
      }
    }

  }

}
