<div id="yui-main">
<div class="yui-b main_column">
	<% rounded(:class => "tips") do %>	
<% @page_title = "Roles" %>
&nbsp;
<h1>Roles</h1>
<table>
	
<%@role.each do |role|%>
<tr><td>
Name: <%= link_to role.name , edit_role_path(role)%>

<%= link_to 'Show' , role_path(role),   :method=> 'get' %>

<%= link_to 'Destroy', role_path(role), :confirm => 'Are you sure?', :method =>  :delete %>
</td>
</tr>

<%end%>
<tr>
<td><%= link_to 'New Role', new_role_path%></td></tr>

</table>
<%end%>
</div>
</div>