@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

body {
  padding: 5px;
  color: $m-gray-email-color;
  line-height: 1.5em;
  background: $m-background;
  font-family: $m-font-family-label;
  word-wrap: break-word;

  .header-logo {
    text-align: center;
  }
  .header_image{
    .feedback_image{
      background: image-url("mailer/feedback.png");
      @include mailer_images;
    }

    .app_by_admin{
      background: image-url("mailer/approved_by_admin.png");
      @include mailer_images;
    }

    .app_email{
      background: image-url("mailer/approval_email.png");
      @include mailer_images;
    }

    .waiting_app{
      background: image-url("mailer/waiting_approval.png");
      @include mailer_images;
    }

    .accept{
      background: image-url("mailer/accept.png");
      @include mailer_images;
    }
    .invoice{
      background: image-url("mailer/invoices.png");
      @include mailer_images;
    }
    .subs_created{
      background: image-url("mailer/registration.png");
      @include mailer_images;

    }
    .subs_cancel{
      background: image-url("mailer/assign_cancelation.png");
      @include mailer_images;
    }
    .trial_ended{
      background: image-url("mailer/trial.png");
      @include mailer_images;

    }
    .trial_ending{
      background: image-url("mailer/trial_ending_soon.png");
      @include mailer_images;
    }
    .reg_by_admin{
      background: image-url("mailer/registration_by_admin.png");
      @include mailer_images;
    }
    .reg_notification{
      background: image-url("mailer/registration_by_admin.png");
      @include mailer_images;
    }
    .invitation{
      background: image-url("mailer/invitation.png");
      @include mailer_images;
    }

  }

  .header_message {
    color: $m-mail-header-footer-color;
    text-align: center;
    font-size: $m-mail-header-footer-font-size;
    font-weight: $m-font-weight-bold;
  }
  .message-body {
    margin: 39px auto;
    background: $m-site-content-bg-color;
    padding: 32px;
    width: 30%;
    border-radius: 8px;
  }
  .image_footer {
    margin-top: 10px;
    text-align: center;
    image_icon {
      margin: 0 10px;
    }
  }
  .footer {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    label{
      font-size: $m-mail-footer-label-font-size;
      color: $m-gray-email-color;
      display: block;
    }
    .cancel {
      color: $m-mail-header-footer-color;
      font-size: $m-mail-footer-cancel-font-size;
    }
  }
  .footer_message {
    display: block;
    color: $m-gray-email-color;
    text-align: center;
    line-height: 1.5em;
    font-size: $m-mail-header-footer-font-size;
    margin-top: 30px;
    .contact {
      color: $m-mail-header-footer-color;
      font-weight: $m-font-weight-bold;
      font-size: $m-mail-footer-contact-font-size;
    }
  }
  .feedback_text {
    font-style: italic;
  }
  .button {
    a {
      color: $m-mail-link-color;
      cursor: pointer;
      background-color: $m-mail-header-footer-color;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: $m-mail-button-font-size;
      max-width: 250px;
      margin: 30px auto 30px auto;
      margin-right: auto;
      margin-left: auto;
      border-radius: 5px;
      font-weight: $m-font-weight-bold;
    }
  }
}