@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

$mail-font-color: $font-color;
$mail-header-font-color: $navbar-bg-color-dark;
$mail-font-size: $font-normal;

body {
  padding: 0;
  @include font-size($mail-font-size);
  color: $mail-font-color;

  a {
    @include link-colors($link-color, $link-color-hover, $link-color-active);
    text-decoration: none;
  }
}

/* .navbar { */
/*   padding: 10px; */
/*   border-bottom: 1px solid $gray; */
/*   margin-bottom: 10px; */
/*   color: $mail-header-font-color; */
/*   @include font-size($mail-font-size); */
/*   font-weight: bold; */

/*   a { */
/*     $normal: $mail-header-font-color; */
/*     $light: lighten($mail-header-font-color, 10); */
/*     @include link-colors($normal, $light, $light, $normal); */
/*     text-decoration: none; */
/*   } */
/* } */

.footer {
  margin-top: 10px;
  padding: 5px 10px;
  border-top: 1px solid lighten($gray, 10);
  color: lighten($mail-font-color, 10);
}

.mail-highlight-block {
  background: $light-gray;
  @include border-radius(2px);
  margin: 10px 0;
  padding: 10px;
  @include font-size($mail-font-size);
}

.mail-event-block {
  border: 1px solid $gray;
  @include border-radius(2px);
  margin: 10px 0;
  padding: 10px;
  @include font-size($mail-font-size);
}
