@import "compass/css3";
@import "definitions";

#space-join-request-mail, #space-invitation-email, #space-processed-join-request-email {

  .invite-message {
    margin: 10px 0;
    padding: 5px 10px;
    border-left: 4px solid #ddd;
  }

}
