@import "compass/css3";
@import "definitions";

#webconference-invitation-mail {

  .field {
    display: block;
    margin: 3px 0;

    label {
      color: $m-dark-gray;
      display: inline;
      font-weight: bold;
      margin-right: 3px;
    }

    span {
      display: inline;
    }
  }

}
