@import "compass/css3";
@import "definitions";

.web_conference_mailer.invitation_email {

  .field {
    display: block;
    margin: 3px 0;

    label {
      color: $m-gray-email-color;
      display: inline;
      font-weight: $m-font-weight-bold;
      margin-right: 3px;
    }

    span {
      display: inline;
    }
  }
}
