<h1>New profile</h1>

<%= error_messages_for :profile %>

<% form_for(@profile) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>&nbsp;&nbsp;&nbsp;&nbsp;<input onclick=document.location="/" type="button" value="Back" />
  </p>
<% end %>

