Hello 
     
   You have recieved a message from "<%= @mail_info["from_name"] %>" asking for  more machines
     
   His message reads thus:
     
    <%= @mail_info["message"] %>
     
    Please consider it and reply to:
	SIR User Email <%= @mail_info["user_email"] %>
	Email used in contact form:  <%= @mail_info["from_email"] %>
  
  


