@import "definitions";
@import "compass/css3";

#webconference-invitation {

  .meeting-url {
    font-weight: bold;
  }

  .invitation-header {
    background: $light-gray;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    @include border-radius(4px);
  }

  .simple_form .input {
    width: 100%;

    .invite_message {
      margin-bottom: 0;
    }

    abbr {
      display: none;
    }

    textarea {
      height: 50px;
      resize: vertical;
      margin: 0;
    }
  }

  .invitation-dates {
    @include mconf-clearfix;
    clear: both;
  }

  #invite_starts_on, #invite_starts_on_time, #invite_ends_on, #invite_ends_on_time {
    display: inline-block;
    width: auto;
  }

  .simple_form.single-column .input.invite_starts_on_time,
  .simple_form.single-column .input.invite_ends_on_time {
    margin: 0;

    select {
      width: 60px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  #invite_duration {
    clear: both;
    margin: 0;

    .error {
      color: $red;
    }
    .duration {
      font-weight: bold;
    }
  }

  .invitation-message {
    position: relative;
    clear: both;
    margin: 0;

    .icon-mconf-help {
      float: right;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  #invite_timezone {
    display: inline-block;
    color: $dark-gray;
    padding: 2px;
    text-align: center;
  }

  #invite_starts_on_label {
    display: inline-block;
  }
}
