@import "definitions";
@import "compass/css3";

body.custom_bigbluebutton_rooms.invite,
body.custom_bigbluebutton_rooms.invite_userid,
body.custom_bigbluebutton_rooms.auth {

  #content {
    padding: 0;
  }

  #webconf-room-invite-header {
    @include border-radius($m-border-radius-base);

    text-align: left;
    background-color: transparent;
    color: $m-white;
    padding: 16px 95px;
    width: 50%;

    .room-welcome {
      font-size: $m-font-title;
      margin-bottom: 8px;
    }

    .room-name {
      font-weight: $m-font-weight-bold;
      display: inline-block;
    }

    .room-status {
      display: block;
      font-size: $m-font-medium;
      margin: 16px 0;

      .status {
        display: inline-block;
        font-weight: $m-font-weight-bold;
        background: $m-red;
        border-radius: $m-border-radius-base;
        padding: 4px 8px;
        margin-left: 8px;
        color: $m-white;

        &.running {
          background-color: $m-green;
          cursor: pointer;
        }

        &.not-running {
          background-color: $m-red;
          cursor: pointer;
        }
      }
    }

    .description {
      font-size: $m-font-medium;
    }

  }

}
