@import "definitions";
@import "compass/css3";

body.custom_bigbluebutton_rooms.invite,
body.custom_bigbluebutton_rooms.invite_userid,
body.custom_bigbluebutton_rooms.auth {

  #webconf-room-invite-header {
    text-align: center;
    @include border-radius($m-border-radius-base);
    background-color: $m-alert-bg;
    @include font-size($m-font-medium);
    padding: 10px;

    .room-name {
      @include font-size($m-font-bigger);
      margin-bottom: 5px;
      font-weight: bold;
    }

    .room-type {
      text-align: center;

      em {
        font-style: normal;
        font-weight: bold;
      }
    }

    .room-status {
      text-align: center;

      .label {
        display: inline-block;
      }
      .refresh {
        float: right;
      }
    }

    .steps {
      float: right;
      margin-top: 5px;

      .text {
        float: left;
        margin-top: 5px;
        margin-right: 5px;
      }

      .step {
        float: left;
        margin: 0 5px;
        @include font-size($m-font-big);
        color: #666;
        font-weight: bold;
        background: white;
        width: 40px;
        padding: 4px 0;
        @include border-radius($m-border-radius-base);
        display: block;

        &.active {
          background: $m-alert-info-font;
          color: white;
        }
      }
    }

  }

}
