@import "definitions";
@import "compass/css3";

#webconference-invitation {

  #invite-dates-wrapper {
    background: $m-light-gray;
    @include mconf-clearfix;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
  }

  .invitation-date {
    @include mconf-clearfix;
    clear: both;

    // divs with the dates
    #invite_starts_on, #invite_ends_on {
      max-width: 200px;
      float: left;
    }

    // divider between date and time inputs
    .date-time-divider {
      float: left;
      margin: 7px 10px 0 10px;
    }

    // divs with the times
    #invite_starts_on_time, #invite_ends_on_time {
      float: left;
      margin-left: 10px;

      select {
        display: inline-block;
        width: 70px;
      }
    }
  }

  #invite_timezone {
    color: lighten($m-dark-gray, 10);
    margin: 0 10px 0 0;
    float: right;

    .icon-mconf-info {
      float: none;
      margin: 0 1px 0 0;
    }
  }

  #invite_duration {
    float: left;
    margin: 0;
    margin-bottom: 5px;

    .error {
      color: $m-red;
    }
    .duration {
      font-weight: bold;
    }
  }

  .invitation-message {
    position: relative;
    clear: both;
    margin: 0;

    .icon-mconf-help {
      float: right;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  textarea {
    resize: vertical;
  }
}
