@import "definitions";
@import "compass/css3";

body.custom_bigbluebutton_servers,
body.custom_bigbluebutton_rooms {

  .webconf-room {
    @include mconf-clearfix;
    padding: 15px 0;

    .room-links {
      float: right;
      width: 17%;
      a { display: block; }
    }

    form {
      width: 80%;
    }
  }

}