@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";
@import "app/shared/social_login";

body.custom_bigbluebutton_rooms.invite_userid {

&.running {
  background: linear-gradient(90deg, #85AE98 50%, #F2F2F2 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_online.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

&:not(.running) {
  background: linear-gradient(90deg, #2B2D41 50%, #F2F2F2 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_offline.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

  #webconf-room-userid {
    width: 42%;
    float: right;
    padding-right: 8%;
    margin-top: -13%;

    #webconf-room-userid-member {
    }

    #webconf-room-userid-non-member {
      @include make-row;
    }

    .identify {
      text-align: center;
    }

    h3.title {
      text-align: center;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 22px;
    }

    .form-actions {
      border: none;
      margin-top: 0;
      padding-top: 0;

      input {
        padding: 15px;
        width: 100%;
      }
    }
  }
}
