@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";

body.custom_bigbluebutton_rooms.invite,
body.custom_bigbluebutton_rooms.auth {

#content #error-wrapper {
  #error404-logo {
    @include make-sm-column(6);

    margin: 120px -117px 0 -5px;
    float: none;
    padding: 11%;
    overflow: visible;

    background: image-url('logos/404_Conference_Error.png') no-repeat top;
    background-size: contain;
    height: 70%;
    width: 70%;
  }

  #error500-logo {
    @include make-sm-column(6);

    margin: 120px -117px 0 -5px;
    float: none;
    padding: 11%;
    overflow: visible;

    background: image-url('logos/500_Error.png') no-repeat top;
    background-size: contain;
    height: 70%;
    width: 70%;
  }

  .error-description {
    max-width: 40%;
    float: right;
    padding-top: 265px;
    padding-right: 10%;
  }
}

&.running {
  background: linear-gradient(90deg, $m-background-meeting-on 50%, $m-site-bg-color 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_online.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

&:not(.running) {
  background: linear-gradient(90deg, $m-background-meeting-off 50%, $m-site-bg-color 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_offline.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

  #webconf-room-invite {
    width: 42%;
    float: right;
    padding-right: 8%;
    margin-top: -12%;

    .form-group {
      h3 {
        text-align: left;
        margin-bottom: 16px;
        font-weight: $m-font-weight-bold;
        font-size: $m-font-title;
      }

      .change-name {
        font-size: $m-font-normal;
        display: block;
        text-align: right;

        a {
          $normal: $m-link-color-hover;
          $hover: darken($normal, 5);
          @include link-colors($normal, $hover, $hover, $normal);
        }
      }
    }

    .form-password {
      h4 {
        color: $m-text;
        font-size: $m-font-medium;
      }

      .form-control {
        margin: 40px 0;
      }
    }

    .description-status {
      color: $m-text;
      font-size: $m-font-medium;
      text-align: left;
    }

    .form-actions {
      border: none;
      padding-top: 0;
      margin-top: 30px;
      margin-bottom: 30px;

      input {
        padding: 15px;
        width: 100%;
        font-size: $m-font-subtitle;
      }
    }
  }
}
