@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";

body.custom_bigbluebutton_rooms.invite,
body.custom_bigbluebutton_rooms.auth {

&.running {
  background: linear-gradient(90deg, #85AE98 50%, #F2F2F2 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_online.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

&:not(.running) {
  background: linear-gradient(90deg, #2B2D41 50%, #F2F2F2 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_offline.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

  #webconf-room-invite {
    width: 42%;
    float: right;
    padding-right: 20%;
    margin-top: -13%;
    margin-right: -6%;

    .form-group {
      h3 {
        color: $m-titles;
        margin-top: 8px;
        margin-bottom: 30px;
        padding: 8px 4px;
        border-radius: $m-border-radius-base;
        font-size: 46px;
        font-weight: 700;
        text-align: center;
      }

      .welcome {
        color: $m-purple-soft;
        font-size: 22px;
        text-align: center;
      }

      .change-name {
        font-size: $m-font-normal;
        display: block;
        text-align: right;

        a {
          $normal: $m-link-color-hover;
          $hover: darken($normal, 5);
          @include link-colors($normal, $hover, $hover, $normal);
        }
      }

      .form-password {
        margin-top: 32px;
      }
    }

    .form-actions {
      border: none;
      padding-top: 0;
      margin-top: 15%;

      input {
        padding: 15px;
        width: 100%;
        font-size: 20px;
      }
    }
  }
}
