@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";
@import "app/shared/social_login";

body.custom_bigbluebutton_rooms.invite_userid {

#content #error-wrapper {
  #error404-logo {
    @include make-sm-column(6);

    margin: 120px -117px 0 -5px;
    float: none;
    padding: 11%;
    overflow: visible;

    background: image-url('logos/404_Conference_Error.png') no-repeat top;
    background-size: contain;
    height: 70%;
    width: 70%;
  }

  .error-description {
    max-width: 40%;
    float: right;
    padding-top: 265px;
    padding-right: 10%;
  }
}

&.running {
  background: linear-gradient(90deg, $m-background-meeting-on 50%, $m-site-bg-color 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_online.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

&:not(.running) {
  background: linear-gradient(90deg, $m-background-meeting-off 50%, $m-site-bg-color 50%);

  #login_page {
    @include make-sm-column(6);
    margin: 90px -70px 0 70px;
    float: none;
    padding: 10%;
    overflow: visible;

    background: image-url('logos/Notebook_offline.png') no-repeat left;
    background-size: contain;
    height: 70%;
    width: 70%;
  }
}

  #choose-login {
    width: 42%;
    float: right;
    padding-right: 8%;

    .identify {
      text-align: center;
    }

    h3 {
      text-align: left;
      margin: 0 0 16px 0;
      font-weight: $m-font-weight-bold;
      font-size: $m-font-title;
    }

    h4 {
      font-size: $m-font-medium;
      margin-bottom: 30px;
    }

    .form-actions {
      border: none;
      margin-top: 0;
      padding-top: 0;

      input {
        padding: 15px;
        width: 100%;
      }
    }

    .social-btns {
      @include mconf-clearfix;

      .btn {
        @include link-colors(#fff, #fff, #fff, #fff);
        width: 100%;
        font-size: $m-font-normal;
        padding: 12px;
        display: block;
      }

      .btn-facebook {
        $bg-normal: $m-facebook;
        $bg-hover: $m-facebook-hover;

        background: $bg-normal;
        padding: 0;
        border: 0;
        margin-bottom: 22px;

        &:hover {
          background: $bg-hover;
        }

        span {
          padding: 15px;
          display: block;
          padding-right: 51px;
        }

        img {
          float: left;
          border-right: 1px solid $m-dark-blue;
          height: 50px;
          width: 51px;
        }
      }

      .btn-google {
        $bg-normal: $m-google;
        $bg-hover: $m-google-hover;

        background: $bg-normal;
        padding: 0;
        border: 0;
        margin-bottom: 22px;

        &:hover {
          background: $bg-hover;
        }

        span {
          padding: 15px;
          display: block;
          padding-right: 51px;
        }

        img {
          float: left;
          border-right: 1px solid $m-dark-red;
          height: 50px;
          width: 51px;
        }
      }

      .btn-guest {
        $bg-normal: $m-color-primary-soft;
        $bg-hover: $m-color-primary-soft-hover;

        background: $bg-normal;
        border: 0;
        padding: 15px;
        margin-bottom: 22px;

        &:hover {
          background: $bg-hover;
        }

        span {
          padding: 15px;
          display: block;
        }
      }
    }
  }

  #guest-login {
    width: 42%;
    float: right;
    padding-right: 8%;

    h3 {
      text-align: left;
      margin-bottom: 0 0 16px 0;
      font-weight: $m-font-weight-bold;
      font-size: $m-font-title;
    }

    .form-actions {
      border: none;
      padding-top: 0;
      margin-top: 30px;
      margin-bottom: 30px;

      input {
        padding: 15px;
        width: 100%;
        font-size: $m-font-subtitle;
      }
    }
  }
}
