@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";

body.custom_bigbluebutton_rooms.invite,
body.custom_bigbluebutton_rooms.auth {

  #webconf-room-invite {
    @include mconf-clearfix;
    padding: 30px 0;
    min-height: 200px;
  }

  #webconf-room-status {
    @include font-size($font-medium);
    text-align: center;

    .label {
      display: inline-block;
    }
    .refresh {
      float: right;
    }
  }

  #webconf-room-join {
    form {
      clear: both;
      margin: 0 auto;
      width: 45%;

      input[type=submit] {
        padding-left: 20px;
        padding-right: 20px;
        float: right;
      }
    }
  }

}
