@import "definitions";
@import "compass/css3";

#webconference-invitation {

  #invite_timezone {
    color: $m-dark-gray;
    text-align: center;
    margin: 0 0 16px 0;
    text-align: center;
    background: $m-light-gray;
    padding: 4px;

    .icon-info {
      float: none;
      margin: 0 1px 0 0;
    }
  }

  .starts-at-wrapper {
    margin-bottom: 16px;

    .form-group {
      width: 100%;

      .icon.icon-date{
        margin-right: 10px;
      }
    }
  }

  textarea {
    resize: vertical;
  }
}
