@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";

body.custom_bigbluebutton_rooms.invite_userid {

  #webconf-room-userid {
    @include mconf-clearfix;
    padding: 30px 0;
    min-height: 200px;

    #webconf-room-userid-member, #webconf-room-userid-non-member {
      margin: 0;
      padding: 0;
      width: 49%;
      float: left;

      .container {
        float: left;
        max-width: 350px;
        margin: 0 40px;

        .title {
          margin-bottom: 20px;
          display: block;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    #webconf-room-userid-member {
      border-right: 1px solid #ddd;

      .container {
        float: right;
      }

      #shib-login {
        float: left;
        width: 100%;
        padding: 25px 0;
        text-align: center;

        #login-button {
          min-width: 300px;
        }

        .observation {
          color: #666;
          padding-top: 30px;
        }
      }
    }

    input[type=text], input[type=password] {
      width: 95%;
    }

    input[type=submit] {
      padding-left: 20px;
      padding-right: 20px;
      float: right;
    }
  }
}