@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";

body.custom_bigbluebutton_rooms.invite_userid {

  #webconf-room-userid {
    clear: both;
    @include make-row;

    #webconf-room-userid-member {
      @include make-xs-column(12);
      @include make-sm-column(4);
      @include make-sm-column-push(2);
      padding-right: 48px;
      border-right: 1px solid $m-navbar-internal-border-color;

      &.only {
        @include make-sm-column(4);
        @include make-sm-column-push(4);
        border: none;
      }
    }

    #webconf-room-userid-non-member {
      @include make-xs-column(12);
      @include make-sm-column(4);
      @include make-sm-column-push(2);
      padding-left: 48px;
    }

    .identify {
      text-align: center;
      border-bottom: 1px solid $m-navbar-internal-border-color;
    }

    h3.title {
      text-align: center;
      margin-bottom: 16px;
    }

    .form-actions {
      border: none;
      margin-top: 0;
      padding-top: 0;

      input {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
