@import "definitions";
@import "compass/css3";

@import "app/custom_bigbluebutton_rooms/_invite_header";

body.custom_bigbluebutton_rooms.invite_userid {

  #webconf-room-userid {
    @include mconf-clearfix;
    padding: 30px 0;
    min-height: 200px;

    #webconf-room-userid-member, #webconf-room-userid-non-member {
      margin: 0;
      padding: 0;
      width: 49%;
      float: left;

      .container {
        float: left;
        max-width: 350px;
        margin: 0 40px;

        .title {
          margin-bottom: 20px;
          display: block;
          font-weight: bold;
        }
      }
    }

    #webconf-room-userid-member {
      border-right: 1px solid #ddd;

      .container {
        float: right;
      }

      .shibboleth-container {
        font-size: $font-medium;
        clear: both;
        max-width: 300px;
        float: right;
        margin: 5px 40px 0 0;
        text-align: center;

        a { display: block; }
        img {
          width: 240px;
          height: 41px;
          margin: 10px 0;
        }
      }
    }

    input[type=text], input[type=password] {
      width: 95%;
    }

    input[type=submit] {
      padding-left: 20px;
      padding-right: 20px;
      float: right;
    }
  }
}