@import "compass/css3";
@import "definitions";

body.custom_bigbluebutton_rooms.join_mobile {

  #page-header-wrapper .current-page-title {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .sub-title {
      margin-top: 10px;
    }
  }

  #content-wrapper {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .download-block {
      margin: 20px 0;

      .download-image {
        margin-top: 10px;
        text-align: center;
      }
    }

    .additional-option {
      margin: 10px 0;
      clear: both;
    }
  }

  #footer-wrapper {
    display: none;
  }

}
