@import "compass/css3";
@import "definitions";

#webconference-join-mobile-dialog {
  text-align: center;

  .join-options {
    background: #f6f6f6;
    @include border-radius(4px);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;

    .download-application {
      @include mconf-clearfix;

      .mobile-download-image {
        text-align: center;
      }

      span {
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }

  .qr-code {
    float: left;
    margin-left: 10px;

    img {
      width: 150px;
      height: 150px;
      border: 1px solid #ccc;
      @include border-radius(4px);
    }
  }

  .sip-number {
    max-width: 150px;
    float: right;
    margin-right: 10px;
  }
}