@import "compass/css3";
@import "definitions";

body.custom_bigbluebutton_rooms.join_mobile {

  #content {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;

    .download-images {
      margin: 32px 0;

      .download-image {
        margin: 8px;
        text-align: center;
        display: inline-block;
      }
    }

    .additional-options {
      border-top: 1px solid $m-border-color-normal;

      .additional-option {
        padding: 8px 0;
        clear: both;
        border-bottom: 1px solid $m-border-color-normal;
      }
    }
  }

}
