@import "compass/css3";
@import "definitions";

#edit-webconference-room {
  textarea {
    height: 80px;
  }

  .room-visibility {
    span {
      display: block;
    }

    .room-visibility-options {

      .btn-group {
        white-space: nowrap;
        display: inline-block;
        width: 1%;

        > .btn {
          float: none;
          font-size: $m-font-big;

          &:last-child {
            margin-left: -5px;
          }
        }
      }

      .form-group.showable_password {
        display: inline-block;
        float: right;
        width: 50%;
      }

      .form-group {
        display: table-cell;
        width: 100%;
        padding-left: 8px;
      }
    }
  }
}
