<div id="shibboleth_need_activation_area">
  <div id="shibboleth_need_activation_text">
    <%= t('shibboleth.need_activation.title', :name => @user.name).html_safe %><br/><br/>
    <%= t('shibboleth.need_activation.message').html_safe %><br/><br/>
    <%= t('shibboleth.need_activation.activation_email', :url => new_user_confirmation_path).html_safe %><br/><br/>
    <%= t('shibboleth.need_activation.password_email', :url => new_user_password_path).html_safe %><br/><br/>
  </div>
</div>
