<div class="newAttachment">
  <%= f.file_field :uploaded_data, :class => "file file_1", :size => 14 %>
	   <div><span><%=t('tag.new')%>:</span></div>
     <div><%= f.select(:_tags, @space.tags.map{|u| u.name}, {}, {:multiple=>"multiple"})%></div>
</div>