<div class="newAttachment">
  <%= f.file_field :uploaded_data, :class => "file file_1", :size => 14 %>
  <div id="newTag">
    <span>
      <%=t('tag.new')%>:
      <%=image_tag("icons/help.png",:title=>t("tooltip.tag"),:size=>"16x16",:class=>"icon tooltipped upwards",:style=>"cursor:pointer")%>
    </span>
  </div>
  <div>
    <%= f.select(:_tags, @space.tags.map{|u| u.name}, {}, {:multiple=>"multiple"})%>
  </div>
</div>
