<% content_for :javascript do %>
 $(".edit_reply_options").click(function(){
 	$(".edit_reply_options").removeClass("selected");
	$(this).addClass("selected");});
<% end %>

<div id="edit_reply">
	
	<h3><%=link_to image_tag("arrow_right_up.png", :size=>"16x16",:title=>"Show Advanced Editor"), edit_space_post_path(@space, post), :id => "big_edit_thread", :class => "extract_form" %><%= t('comment.edit') %></h3>
	<% form_for(prepare_for_form(post), :html => { :id => "edit-form"}) do |f| -%>
   	<%= small_post_text_area(@post.text) %>
    <button type="submit" class="basic_button blue_button"><%=t("button.update")%></button>
  <% end -%>
</div>
