<% content_for :headers do  -%>
  <%= javascript_include_tag 'si.files'%>
<% end -%>

<% content_for :javascript do %>
SI.Files.stylizeAll();
<% end %>

<input class="file_1" value="Add a Doc">
<div class="cabinet">   
  <%= file_field_tag :uploaded_data,:class=>"file" %>
</div>

<div id="caption">Add a Caption</div>

