<div id="cabinet">  
  <% form_attachments.fields_for :last_version_attachments do |form| %>
    <%= form.file_field :uploaded_data, :class => "file_1" %>
  <% end -%>
</div>
<div id="caption"><%= t('caption.add') %></div>

