<% content_for :headers do  -%>
  <%= javascript_include_tag 'jquery.filestyle'%>
<% end -%>


<div id="cabinet">  
<%= file_field_tag :uploaded_data, :class=>"file_1"%>
</div>
<div id="caption">Add a Caption</div>

