- if @show_view
  .parent-post-logo
    - if post.author
      = link_logo_image(post.author, size: '32', title: post.author.name, url: user_path(post.author), class: "logo logo-user")

.post-content
  %ul
    - if @show_view
      %li
        = link_to(post.author.name, user_path(post.author),:class=>"unified_user")
        %span.updated
          = formatted_time_ago post.updated_at

    %li.main_text
      = sanitize(auto_link(post_format(post.text)))
