<!-- this partial render a post with their links -->
<%div_for (post) do%>
  <p><%= link_author(post, :size => 48) %></p>
  <p>
   <%for attachment in post.attachments%>
      <%=image_tag(space_attachment_path(@space,attachment.post_thumbnail())) if attachment.post_thumbnail%>
   <%end%> 
   <%=post.text%>
   <%if current_user = post.author%><%=link_to "edit", get_route(post)%><%end%>
   </p>
<%end%>
