<% content_for :javascript do %>
  title = "<%=t('search.posts.dots')%>"
  $("#query").click(function(){
    if(this.value == title){
      this.value="";
    }
  });
  $("#query").blur(function(){
    if(this.value == ""){
      this.value= title;
    }
  });
<%end%>

<% form_tag(@space.nil? ? search_posts_path : space_search_posts_path(@space), :method => 'get') do %>
  <%= text_field_tag 'query',(params[:query] ? params[:query] : t('search.posts.dots'))%>
  <button type="submit" class="basic_button blue_button"><%=t("button.go")%></button>
<% end %>