
<% rounded() do %>
  <h1>New Post</h1>
  <% unless error_messages_for(:post).blank? -%>
    <div>
      <%= error_messages_for :post %>
    </div>
  <% end -%>

  <% form_for(:post, :url => space_posts_path(@space), :html => { :multipart => true }) do |f| -%>
	<%= render :partial => "form", :object => f %>
    <%= submit_tag "Create" %>
  <% end -%>
<% end -%>

<%= render :partial =>'shared/sidebar' %>