- spaces_menu_at :posts

- if can?(:create_post, @space)
  = content_for :sidebar do
    - if params[:edit]
      = render :partial => "edit_post", :locals => { :post => Post.find(params[:edit]) }

= render :partial => 'post_with_children'

= page_navigation_links @posts
