- page_title t('spaces.sidebar.posts'), in: @space.name
- spaces_menu_at :posts
= render "spaces/sidebar", space: @space, full: false

= render partial: 'post_with_children', locals: { post: @post, posts: @posts }
- nav = page_navigation_links @posts
- unless nav.nil?
  .content-block-footer= nav
