<%if request.xhr?%>
  <div id="lightbox-logo"><span><%= image_tag("bola_global_peque.png",:class=>"icon")%>Virtual Conference Centre</span></div>
<%else%>
  <h3 id="spam_no_lightbox">Report Spam</h3>
<%end%>

<%form_tag(spam_space_post_path(@space,@post)) do -%>
  <div id="spam_form">
	<p>
    <label for="subject">Subject: New Spam Detected</label>
  </p>
	
	<p>
    <label for="body">Comments:</label>
    <%= text_area_tag 'body', params[:body].present? ? params[:body] : nil,:id => "spam_textarea" %>
  </p>	
  <%= submit_tag "Report Spam" %>
	</div>
<% end -%>
