@import "compass/css3";
@import "definitions";

body.custom_bigbluebutton_servers.activity {

  .meeting-wrapper {
    padding: 1px 10px;

    .meeting-title .label {
      float: right;
      margin-top: 2px;
    }

    .meeting-links {
      float: right;
      margin: 0 10px;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }

    .meeting-time {
      margin-top: 5px;
      padding: 0 10px;
    }

    .meeting-attendees {
      margin-top: 5px;
      padding: 0 10px;
    }

  }
}
