<div id="confirmation-dialog" class="modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <a class="btn btn-default confirmation-dialog-confirm">{{confirm}}</a>
          <a href="#" class="btn btn-default" data-dismiss="modal">{{cancel}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
