<div id="copy-to-clipboard-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <div id="copy-to-clipboard-title">
      <h3>{{title}}</h3>
    </div>
    <div id="copy-to-clipboard-message">
      <h3>{{message}}</h3>
    </div>
  </div>
  <div class="modal-body">
    <input autofocus="autofocus" class="form-control" id="copy-to-clipboard-field" name="copy-to-clipboard-field" value="" type="text">
  </div>
</div>
