# This file contains configurations used in the deployment.
#
# deploy.rb loads this file and deploy/production.rb or deploy/staging.rb will
# load the configurations. "staging" and "production" are the two stages defined
# by default in deploy.rb. We use "staging" as a test server before deploying to
# "production"
# To add another stage simply copy staging.rb, rename it and add the new stage to
# deploy.rb (search for "set :stages")
#
# You can redefine here pretty much any variable available to Capistrano and it will
# override the default values set in deploy.rb.
# The variables we left here (commented or not) were already tested and you can use
# them in this file.
#
# For more about Capistrano see: https://github.com/capistrano/capistrano
# Available variables: https://github.com/capistrano/capistrano/wiki/2.x-Significant-Configuration-Variables
# For more about multistage see: https://github.com/capistrano/capistrano/wiki/2.x-Multistage-Extension

staging:
  server: "127.0.0.1"                                 # Deployment server IP or domain
  application: "mconf-web"                            # Application name, do not use spaces
  user: "mconf"                                       # User (in the server) used to deploy
  repository: "git://github.com/mconf/mconf-web.git"  # Repository to get the app from
  scm: "git"                                          # Repository scm
  branch: "master"                                    # Branch or tag to be deployed
#  scm_username: "scm-username"                        # Username to access the scm
#  scm_password: "scm-pass"                            # Password to access the scm
#  deploy_to: "/home/myuser/deploy_folder/"            # Folder where the app will be in the server
#  use_sudo: true                                      # Use sudo when running commands in the server?
#  rvm_ruby_string: '1.9.2@my_gemset'                  # Ruby version and gemset used in rvm

production:
  server: "127.0.0.1"
  application: "mconf-web"
  user: "mconf"
  repository: "git://github.com/mconf/mconf-web.git"
  scm: "git"
  branch: "v0.7"
