# This file contains configurations used in the deployment.
#
# deploy.rb loads this file and deploy/production.rb or deploy/staging.rb will
# load the configurations. "staging" and "production" are the two stages defined
# by default in deploy.rb. We use "staging" as a test server before deploying to
# "production"
# To add another stage simply copy staging.rb, rename it and add the new stage to
# deploy.rb (search for "set :stages")
#
# You can redefine here pretty much any variable available to Capistrano and it will
# override the default values set in deploy.rb.
# The variables we left here (commented or not) were already tested and you can use
# them in this file.
#
# For more about Capistrano see: https://github.com/capistrano/capistrano
# Available variables: https://github.com/capistrano/capistrano/wiki/2.x-Significant-Configuration-Variables
# For more about multistage see: https://github.com/capistrano/capistrano/wiki/2.x-Multistage-Extension

staging:
  server: "my-server-domain-or-ip"                    # Deployment server IP or domain
  application: "mconf-web"                            # Application name, do not use spaces
  user: "mconf"                                       # User (in the server) used to deploy
  group: "www-data"                                   # Group (in the server) for the application files
  repository: "git://github.com/mconf/mconf-web.git"  # Repository to get the app from
  scm: "git"                                          # Repository scm
  branch: "master"                                    # Branch or tag to be deployed

production:
  server: "my-server-domain-or-ip"
  application: "mconf-web"
  user: "mconf"
  group: "www-data"
  repository: "git://github.com/mconf/mconf-web.git"
  scm: "git"
  branch: "latest"
