@import "definitions";

@import "app/shared/social_login";

body.registrations.new, body.registrations.create {

  #headline {
    @include make-sm-column(12);
    @include make-md-column(5);
    @include make-md-column-offset(1);

    h1 {
      font-size: 46px;
      text-align: left;
      margin-top: 0;
      font-weight: 700;
      color: $m-titles;
    }

    h3 {
      font-size: 25px;
      text-align: justify;
      font-weight: 200;
      color: $m-titles;
    }

    #registration-logo {
      @include make-row;

      margin: 50px auto 0 auto;
      float: none;
      padding: 36%;
      overflow: visible;

      background: image-url('logos/Notebook_video_play.png') no-repeat left top;
      background-size: contain;
      height: 70%;
      width: 70%;
    }
  }

  #register-wrapper {
    @include make-sm-column(12);
    @include make-md-column(5);
    @include make-md-column-offset(1);

    h1 {
      font-weight: $m-font-weight-bold;
      text-align: center;
      margin-bottom: 36px;
      margin-top: 0;
      color: #2B2D42;
    }

    #register-mconf {
      text-align: center;
    }

    form {
      // every field is required, we don't need to show it
      abbr { display: none; }

      .form-control {
        font-size: $m-font-big;
        padding: 15px;
      }

      .form-group {
        margin-bottom: 18px;
      }

      .form-actions {
        border: none;

        .btn {
          font-size: $m-font-big;
          padding: 15px;
          width: 100%;
        }
      }
    }

    .alert {
      clear: both;
      text-align: center;
      margin-bottom: 32px;
      background: $m-navbar-internal-border-color;
      color: $m-navbar-font-color;

      .icon-info {
        color: $m-yellow;
        &:hover, &:focus { color: $m-yellow; }
      }
    }
  }

  .captcha {
    float: right;
    margin-bottom: 10px;
  }
}

