@import "definitions";

body.registrations.new, body.registrations.create {

  #register-wrapper {
    margin: 40px auto;
    width: 50%;
    @include mconf-clearfix;

    form {
      // every field is required, we don't need to show it
      abbr { display: none; }

      .form-actions {
        border: none;
      }

      .user_username .input-group {
        padding: 0 14px;
      }
    }

    .alert {
      clear: both;
      text-align: center;
      margin-bottom: 32px;
      background: $m-navbar-internal-border-color;
      color: $m-navbar-font-color;

      .icon-mconf-info {
        color: $m-yellow;
        &:hover, &:focus { color: $m-yellow; }
      }
    }
  }

  .captcha {
    float: right;
    margin-bottom: 10px;
  }
}

