@import "definitions";

body.registrations.new, body.registrations.create {

  $register-box-width: 550px;
  $right-side-width: $contents-width - $register-box-width - 50px;

  #register-wrapper {
    @include mconf-clearfix;
    margin: 20px 0;

    form {
      @include mconf-clearfix;
      float: left;
      width: $register-box-width;
      margin: 0;
      padding: 0 5px 5px 0;

      input[type=text], input[type=password], input[type=email] {
        width: 290px;
      }
    }

   .extra-links {
     max-width: $right-side-width;
     float: left;
     margin: 5px 0 0 30px;
     padding: 0;
     ul {
       list-style: disc;
     }

     .comments {
       font-style: italic;
       margin-bottom: 20px;
       span { display: block; }
     }
   }

  }

  .captcha {
    float: right;
    margin-bottom: 10px;
  }

}
