@import "definitions";

body.registrations.new, body.registrations.create {

  #register-wrapper {
    margin: 40px auto;
    width: 50%;
    @include mconf-clearfix;

    form {
      .form_accept_terms {
        float: right;
        margin-right: 15px;
      }

      .form-actions {
        border: none;
        margin-top: 0px;
        padding-top: 0px;
      }
    }

    .alert {
      clear: both;
      text-align: center;
      margin-bottom: 32px;
      background: $m-navbar-internal-border-color;
      color: $m-navbar-font-color;

      .icon-mconf-info {
        color: $m-yellow;
        &:hover, &:focus { color: $m-yellow; }
      }
    }
  }

  .captcha {
    float: right;
    margin-bottom: 10px;
  }
}

