@import "definitions";

@import "app/shared/social_login";

body.registrations.new, body.registrations.create {

  #headline {
    @include make-sm-column(12);
    @include make-md-column(6);

    h1 {
      text-align: left;
      margin-bottom: 30px;
    }

    h3 {
      text-align: justify;
    }

    #registration-logo {
      @include make-row;

      margin: 50px auto 0 auto;
      float: left;
      padding: 44%;
      overflow: visible;

      background: image-url('logos/Notebook_video_play.png') no-repeat top;
      background-size: contain;
      height: 70%;
      width: 70%;
    }
  }

  #register-wrapper {
    @include make-sm-column(12);
    @include make-md-column(5);
    @include make-md-column-offset(1);

    #register-mconf {
      text-align: center;
    }

    form {
      // every field is required, we don't need to show it
      abbr { display: none; }

      .form-actions {
        .btn {
          width: 100%;
          font-size: $m-font-normal;
          height: 51px;
        }
      }
    }

    .alert {
      clear: both;
      text-align: center;
      margin-bottom: 32px;
      background: $m-navbar-internal-border-color;
      color: $m-navbar-font-color;

      .icon-info {
        color: $m-yellow;
        &:hover, &:focus { color: $m-yellow; }
      }
    }
  }

  .captcha {
    float: right;
    margin-bottom: 10px;
  }
}

