@import "compass/utilities/general";

// fonts
$font-small: 11px;
$font-normal: 12px;
$font-medium: 14px;
$font-big: 16px;
$font-gigantic: 28px;
$font-section-title: 32px;
$font-color: #333;
$font-color-gray: #888;

// standard colors
$green: #509F00;
$blue: #005fca;
$red: #C23321;
$orange: #C47322;
$yellow: #BB9403;
$green-logo: #27535C;
$gray: #ccc;
$light-gray: #f6f6f6;
$very-light-gray: #fcfcfc;
$bright-blue: #49afcd;
$transparent: rgba(255,255,255,0);

// alert colors, like the ones in bootstrap alerts
$alert-bg: #FCF8E3;
$alert-font: #C09853;
$alert-success-bg: #DFF0D8;
$alert-success-font: #468847;
$alert-info-bg: #D9EDF7;
$alert-info-font: #3A87AD;
$alert-danger-bg: #F2DEDE;
$alert-danger-font: #B94A48;
$alert-gray-bg: #f6f6f6;
$alert-gray-font: #666;

$site-bg-color: #fff;
$main-color: $green-logo;
$second-color: $bright-blue;

// color for elements highlighted using rails' highlight() view helper.
$highlight-bg: #ffff81;

// width of the central container and standard sidebar
$contents-width: 980px;
$sidebar-width: 240px;

// links
$link-color: lighten($main-color, 10);
$link-color-hover: $second-color;
$link-color-active: darken($link-color-hover, 15);

// headers
$navbar-bg-color: darken($green-logo, 3);
$subnav-bg-color: #eee;

// global footer
$footer-bg-color: $light-gray;

// h1, h2, h3, ...
$h-font-color: #404040;
$h-font-color-alternative: $green-logo;

// titles in the page headers
$page-title-color: #505050;

// z-indexes
// TODO: not being used yet
$z-index-navbar: 100;
$z-index-dialog: 200;
$z-index-tooltip: 999999;

// In some browsers (e.g. firefox) when an image is not found it is replaced by the alternative
// text set to it, and the dimensions of the image won't respect the width/height set by the css.
// This might break the layout in some cases.
// So, if an element might have a broken image inside it, it can include this mixin to deal with it.
// The image will still be replaced by the text, but it shouldn't break the layout anymore.
// In some cases the element that includes this might also have to specify its own width and height.
@mixin broken-img-parent($float:left) {
  overflow: hidden;

  img:-moz-broken {
    float: $float;
    font-size: 8px;
    word-wrap: break-word;
    background: white;
  }
}

// user logos in a thread with several snippets
// e.g. list of posts, list of recent users, etc.
@mixin logo-in-thread {
  float: left;
  margin-right: 10px;

  img.logo {
    margin: 2px 0;
    padding: 2px;
    border: 1px solid #ddd;
    @include border-radius(2px);
    &:hover { border: 1px solid desaturate(lighten($second-color, 20), 10); }

    // default dimensions for logos inside threads
    &.logo-space {
      width: 40px;
      height: 30px;
    }
    &.logo-user {
      width: 32px;
      height: 32px;
    }
    &.logo-user-big {
      width: 48px;
      height: 48px;
    }
    &.logo-removed {
      width: 32px;
      height: 32px;
    }
  }

  @include broken-img-parent;
}

@mixin mconf-clearfix {
  @include clearfix;
  @include pie-clearfix;
}

// to 'hide' it and move it off the screen
// we can't just hide it because it won't be clickable
@mixin hide-input-file {
  opacity: 0;
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 0;
  height: 0;

  label { display: none; }
  input[type=file] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
}

@mixin danger-text {
  color: $red;
  @include link-colors($red, lighten($red, 10), darken($red, 10));
}

@mixin space-visibility {
  font-size: $font-small;
  display: block;
  color: #666;

  .icon-awesome {
    float: none;
    font-size: $font-small;
    margin-right: 2px;
  }
}

@mixin sidebar-position($pos) {
  @if $pos == 'left' {
    #sidebar {
      float: left;
    }
    #content-middle {
      float: right;
    }
  }
}
