@import "compass/utilities/general";

// import bootstrap's default variables so we have access to them
// especially important when using bootstrap's mixins (wherever we
// import bootstrap/mixins)
@import "bootstrap/variables";

// colors library, better default colors
// use it with $blue, $red, $yellow, etc.
@import "../../../vendor/assets/stylesheets/colors";


@font-face {
  font-family: 'Roboto';
  src: url('/assets/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// fonts
$m-font-mini: 10px;
$m-font-small: 11px;
$m-font-normal: 13px;
$m-font-medium: 14px;
$m-font-big: 16px;
$m-font-bigger: 21px;
$m-font-biggest: 25px;
$m-font-gigantic: 28px;
$m-font-section-title: 28px;
$m-font-color: #333;
$m-font-strong: #000;
$m-font-color-gray: #888;
$m-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; //Arial, Helvetica, sans-serif;
$m-font-family2: "Roboto","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;

//$m-font-family-titles: Verdana, Geneva, sans-serif;
$m-font-family-titles: $m-font-family;
$m-font-family-mono: Consolas, Monaco, "Lucida Console", monospace;
$m-base-line-height: 1.5;

// standard colors
$m-green: $olive; //#509F00;
$m-blue: #2186DE; //#005fca
$m-red: #d9534f; // bootstrap's bg red   // #C23321;
$m-orange: #C47322;
$m-yellow: #BB9403;
$m-green-logo: #27535C;
$m-gray: #ccc;
$m-dark-gray: #666;
$m-light-gray: #f6f6f6;
$m-very-light-gray: #fcfcfc;
$m-bright-blue: #49afcd;
$m-transparent: rgba(255,255,255,0);
// site colors
$m-site-bg-color: #fff;
$m-main-color: $m-green-logo;
$m-second-color: $m-bright-blue;
$m-focus-border-color: $m-second-color;
$m-font-h-color: $m-green-logo;
// link colors
$m-link-color: #3e7294; //$olive; //#187aca //#4183C4; //darken($m-bright-blue, 10); //#1C774D; //#1a925b; //lighten($m-green-logo, 10); //lighten($m-main-color, 15);
$m-link-color-hover: lighten($m-link-color, 10); //$green; //$m-bright-blue; //m-orange;
$m-link-color-active: darken($m-link-color-hover, 15);
$m-link-color-2: #111;
$m-link-color-2-hover: $m-link-color;
$m-link-color-2-active: $m-link-color-active;
$m-link-color-3: $m-link-color; //$olive;
$m-link-color-3-hover: $m-link-color-hover;
$m-link-color-3-active: $m-link-color-active;
// borders
$m-border-color-normal: #ddd;
$m-border-color-medium: #e6e6e6;
$m-border-color-light: #eee;
$m-border-radius-base: 3px;
$m-border-radius-small: 2px;
$m-border-radius-large: 4px;

// alert colors, like the ones in bootstrap alerts
$m-alert-bg: #FCF8E3;
$m-alert-font: #C09853;
$m-alert-success-bg: #DFF0D8;
$m-alert-success-font: #468847;
$m-alert-info-bg: #D9EDF7;
$m-alert-info-font: #3A87AD;
$m-alert-danger-bg: #F2DEDE;
$m-alert-danger-font: #B94A48;
$m-alert-warn-bg: #feeba6;
$m-alert-warn-font: #BB9403;
$m-alert-gray-bg: #f6f6f6;
$m-alert-gray-font: #666;

// color for elements highlighted using rails' highlight() view helper.
$m-highlight-bg: #ffff81;

// width of the central container and standard sidebar
$m-contents-width: 980px;
$m-contents-max-width: 1180px;
$m-sidebar-width: 240px;
$m-sidebar-border: $m-border-color-normal; //darken($m-light-gray, 15);
$m-sidebar-bg-color: $m-site-bg-color;

// headers
$m-navbar-menu-open-bg: $m-site-bg-color;
$m-navbar-menu-open-link: $m-link-color;
$m-navbar-menu-open-link-hover: $m-link-color-hover;
$m-page-menu-font-color: #808080;
$m-page-menu-font-color-hover: darken($m-second-color, 5);
$m-page-menu-selected-font-color: darken($m-second-color, 20);
$m-page-menu-selected-border-color: $m-second-color;
$m-page-menu-selected-border-width: 1px;
$m-page-header-link-color: $m-link-color;
$m-page-header-link-color-hover: $m-link-color-hover;
$m-page-title-bg: $m-light-gray;
$m-page-title-border-color: $m-border-color-normal;
$m-navbar-border-width: 0px;
// the height is dynamic but we set it here because it's used by some components
// for positioning
$m-navbar-height: 42px;

// for a dark green navbar:
$m-navbar-bg-color-light: $m-green-logo;
$m-navbar-bg-color-dark: $m-navbar-bg-color-light; //darken($m-green-logo, 3);
$m-subnav-bg-color: #eee;
$m-navbar-font-color: #ddd;//$m-font-color;
$m-navbar-font-color-hover: white; //$m-link-color-hover;
$m-navbar-border-color: darken($m-navbar-bg-color-dark, 5);
$m-navbar-font-highlight: #f6f6f6;

// for a light/white navbar:
/* $m-navbar-bg-color-dark: white; */
/* $m-navbar-bg-color-light: white; */
/* $m-navbar-border-color: $m-green-logo; */
/* $m-navbar-border-width: 1px; */
/* $m-navbar-font-color: $m-font-color; */
/* $m-navbar-font-color-hover: $m-link-color-hover; */
/* $m-navbar-font-highlight: #f6f6f6; */

// for a light/gray navbar:
/* $m-navbar-bg-color-dark: $m-light-gray; */
/* $m-navbar-bg-color-light: $m-light-gray; */
/* $m-navbar-border-color: #ccc; */
/* $m-navbar-font-color: $m-font-color; */
/* $m-navbar-font-color-hover: $m-link-color-hover; */

// transparent header
/* $m-page-header-background: $m-site-bg-color; */
/* $m-page-header-border-width: 0; */
/* $m-page-header-border-color: #fff; */
// light gray header
$m-page-header-background: #fafafa;
$m-page-header-border-width: 1px;
$m-page-header-border-color: #e6e6e6; //#d9d9de;

// footer
$m-footer-height: 75px;
$m-footer-bg-color: white;
$m-footer-font-color: $m-font-color;
$m-footer-link-color: $m-link-color;
$m-footer-link-color-hover: $m-link-color-hover;
$m-footer-link-color-active: $m-link-color-active;
$m-footer-border-color: #888;

// dark gray footer:
$m-footer-bg-color: $m-light-gray;
$m-footer-border-color: darken($m-light-gray, 15);

// dark green bg footer:
/* $m-footer-bg-color: darken($m-green-logo, 3);// $m-navbar-bg-color-dark; */
/* $m-footer-font-color: #bbb; */
/* $m-footer-border-color: darken($m-footer-bg-color, 10); */
/* $m-footer-link-color: #bbb; */
/* $m-footer-link-color-hover: #fff; */
/* $m-footer-link-color-active: $m-link-color-active; */

// dark gray footer:
/* $m-footer-bg-color: #1B212A; */
/* $m-footer-font-color: #E5EBF1; */
/* $m-footer-border-color: darken($m-footer-bg-color, 10); */
/* $m-footer-link-color: #E5EBF1; */
/* $m-footer-link-color-hover: #fff; */
/* $m-footer-link-color-active: $m-link-color-active; */

// h1, h2, h3, ...
$m-h-font-color: #404040;
$m-h-font-color-alternative: $m-green-logo;

// titles in the page headers
$m-page-title-color: #555; //505050;

// z-indexes
// TODO: not being used yet
$m-z-index-navbar: 100;
$m-z-index-dialog: 200;
$m-z-index-tooltip: 999999;

// mailers
$m-mail-font-color: $m-font-color;
$m-mail-header-font-color: $m-navbar-bg-color-dark;
$m-mail-font-size: $m-font-normal;

// notifications
$m-notifications-top: 6px;

// Bootstrap variables
// See all available at http://getbootstrap.com/customize/#less-variables
// Some are definef here with their default values because we might need them when using
// bootstrap's mixins in other files (where we import bootstrap/mixins).
/* $input-color: #666; */
/* $grid-columns:              12; */
/* $grid-gutter-width:         30px; */
/* $grid-float-breakpoint:     768px; */

/*
 * Customized variables for bootstrap
 */
// $brand-primary: $blue;
$brand-primary: #4589C4;//#2186DE;
$border-radius-base: $m-border-radius-base;
$border-radius-small: $m-border-radius-small;
$border-radius-large: $m-border-radius-large;
$brand-success: $olive;
$brand-info: $blue;
$brand-danger: $red; //#d9534f; //$red;
$brand-warning: $orange;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $btn-primary-bg;
$btn-success-bg: $brand-success;
$btn-success-border: $btn-success-bg;
$btn-info-bg: $brand-info;
$btn-info-border: $btn-info-bg;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $btn-danger-bg;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $btn-warning-bg;
$state-primary-bg: $brand-primary;
$state-success-bg: $brand-success;
$state-info-bg: $brand-info;
$state-danger-bg: $brand-danger;
$state-warning-bg: $brand-warning;
$label-primary-bg: $brand-primary;
$label-success-bg: $brand-success;
$label-info-bg: $brand-info;
$label-danger-bg: $brand-danger;
$label-warning-bg: $brand-warning;
// $btnPrimaryBackgroundHighlight: #2f96b4;
$navbar-default-bg: #0a3138;
// $navbarBackgroundHighlight: #27535C;
//$link-color: $m-link-color; //#1e9a50; //#187d41;
$link-color: #1e9a50; //#187d41;
$link-color-hover: $m-link-color-hover;//$m-bright-blue; //#2BDE73;

// Important: have to be imported after customizing bootstrap's variables
@import "bootstrap/mixins";
@import "mixins";
@import "mixins-columns-height";
