@import "compass/utilities/general";

// import bootstrap's default variables so we have access to them
// especially important when using bootstrap's mixins (wherever we
// import bootstrap/mixins)
@import "bootstrap/variables";

// colors library, better default colors
// use it with $blue, $red, $yellow, etc.
@import "../../../vendor/assets/stylesheets/colors";

@font-face {
  font-family: 'Roboto';
  src: url('/assets/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// link colors
$m-link-color: #2274A5;
$m-link-color-hover: lighten($m-link-color, 15);
$m-link-color-active: darken($m-link-color-hover, 20);

// standard colors
$m-green-mconf: #004956; // #27535C
$m-green: $olive;
$m-blue: #337ab7;
$m-red: #ff5b5b;
$m-orange: #e98300; //#C47322;
$m-yellow: #f3a712; //#BB9403;
$m-cyan: #00ffff;
$m-gray: #ccc;
$m-dark-gray: #666;
$m-light-gray: #f6f6f6;
$m-very-light-gray: #fcfcfc;
$m-bright-blue: #49afcd;
$m-transparent: rgba(255,255,255,0);

// site colors
$m-site-bg-color: #f2f2f2;
$m-site-content-bg-color: #fff;
$m-color-primary: $m-green-mconf;
$m-color-primary-light: lighten($m-green-mconf, 12);
$m-color-secondary: #337ab7; //#4589c4; //$m-bright-blue;
$m-focus-border-color: $m-color-secondary;
$m-logo-initials-bg: red blue yellow green orange purple magenta $m-color-primary $m-color-secondary;
$m-logo-bg: lighten($m-color-primary, 15);

// fonts
$m-font-normal: 14px; //0.85rem; /* 14px, base size for all fonts */
$m-font-mini: $m-font-normal * 0.8;
$m-font-small: $m-font-normal * 0.9;
$m-font-medium: $m-font-normal * 1.2;
$m-font-big: $m-font-normal * 1.4;
$m-font-bigger: $m-font-normal * 1.6;
$m-font-double: $m-font-normal * 2;
/* multipliers over the standard font size */
$m-font-h1-multiplier: 2.5;
$m-font-h2-multiplier: 2;
$m-font-h3-multiplier: 1.4;
$m-font-h4-multiplier: 1.2;
$m-font-h5-multiplier: 1;
$m-font-h6-multiplier: 1;
$m-font-color: #444; //desaturate($m-color-primary, 25%);
$m-font-strong: darken($m-font-color, 10%); //#000;
$m-font-light: lighten($m-font-color, 10%); //#666;
$m-font-color-gray: #888;
$m-font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; //Arial, Helvetica, sans-serif;
$m-font-family-label: "Roboto","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
$m-font-family-mono: Consolas, Monaco, "Lucida Console", monospace;
$m-font-family-h: $m-font-family;
$m-font-h-color: $m-color-primary; //#111;
$m-font-h-color-hover: $m-link-color-hover;
$m-font-h-color-active: $m-link-color-active;
$m-base-line-height: 1.5;
$m-link-decoration: none;
$m-link-decoration-hover: underline;

// borders
$m-border-color-normal: #ddd;// #e8e8e8;/* #ddd; */
$m-border-color-medium: #e6e6e6;
$m-border-color-light: #eee;
$m-border-color-dark: #ccc;
$m-border-color-highlight: $m-bright-blue;
$m-border-radius-base: 2px;
$m-border-radius-small: 1px;
$m-border-radius-large: 3px;

// inputs
$m-input-bg: #fff;
$m-input-border-color: $m-border-color-normal; //$m-border-color-medium;
$m-input-focus-bg:  #fff; //#fafafa;
$m-input-focus-border-color: $m-color-secondary; //lighten($m-color-primary-light, 5); // #999999;
$m-input-disabled-bg: #f6f6f6;

// alert colors, like the ones in bootstrap alerts
$m-alert-bg: #FCF8E3;
$m-alert-font: #C09853;
$m-alert-success-bg: #DFF0D8;
$m-alert-success-font: #468847;
$m-alert-info-bg: #D9EDF7;
$m-alert-info-font: #3A87AD;
$m-alert-danger-bg: #F2DEDE;
$m-alert-danger-font: #B94A48;
$m-alert-warn-bg: #feeba6;
$m-alert-warn-font: #BB9403;
$m-alert-gray-bg: #f6f6f6;
$m-alert-gray-font: #666;

// color for elements highlighted using rails' highlight() view helper.
$m-highlight-bg: #ffff81;

// width of the central container in case we're using a maximum size
// see `set-max-width`
$m-contents-max-width: 1180px;
$m-contents-width: 980px; // TODO: deprecated now that the site is responsive

// sidebar
$m-sidebar-width-lg: 350px;
$m-sidebar-width-md: 300px;
$m-sidebar-width-sm: 300px;
$m-sidebar-padding: 25px;
$m-sidebar-border: $m-border-color-normal;
$m-sidebar-bg-color: #fafafa; //#f3f6f9;

// sidebar menu
$m-sidebar-menu-hover-bg: darken($m-sidebar-bg-color, 5);
$m-sidebar-menu-color: #666;
$m-sidebar-menu-color-hover: $m-link-color;
$m-sidebar-menu-font: $m-font-medium;
$m-sidebar-menu-active-bg: $m-site-bg-color; // #dae3ec;
$m-sidebar-menu-active-hover-bg: $m-sidebar-menu-active-bg;
$m-sidebar-menu-active-border: $m-sidebar-border; //#d9e2ec;
$m-sidebar-menu-active-color: $m-sidebar-menu-color-hover;
$m-sidebar-menu-active-color-hover: $m-sidebar-menu-active-color;

// sidenav
$m-sidenav-width-md: 300px;
$m-sidenav-padding: 20px;
$m-sidenav-border: #fff;
$m-sidenav-bg-color: #fff;
$m-sidenav-box-shadow: 5px 0 9px 0px rgba(0, 0, 0, 0.05);

// navbar
$m-navbar-menu-open-bg: $m-site-bg-color;
$m-navbar-menu-open-link: $m-link-color;
$m-navbar-menu-open-link-hover: $m-link-color-hover;
$m-navbar-bg-color-light: $m-color-primary;
$m-navbar-bg-color-dark: $m-navbar-bg-color-light; //darken($m-green-mconf, 3);
$m-navbar-border-width: 0px;
$m-navbar-border-color: darken($m-navbar-bg-color-dark, 5);
$m-navbar-internal-border-color: lighten($m-navbar-bg-color-dark, 3);
$m-navbar-font: $m-font-medium;
$m-navbar-font-color: #fff;//$m-font-color;
$m-navbar-font-color-hover: #fff; //$m-link-color-hover;
$m-navbar-font-highlight: lighten($m-navbar-bg-color-dark, 8);
$m-navbar-link-color: lighten($m-link-color, 15);
$m-navbar-link-color-hover: lighten($m-navbar-link-color, 8);
$m-navbar-link-color-active: $m-navbar-link-color;
$m-navbar-height: 84px;

// for a light/white navbar:
/* $m-navbar-bg-color-dark: white; */
/* $m-navbar-bg-color-light: white; */
/* $m-navbar-border-color: $m-green-mconf; */
/* $m-navbar-border-width: 1px; */
/* $m-navbar-font-color: $m-font-color; */
/* $m-navbar-font-color-hover: $m-link-color-hover; */
/* $m-navbar-font-highlight: #f6f6f6; */

// page menu, the secondary menu
$m-page-menu-bg-color: #fafafa;
$m-page-menu-font-color: #666;
$m-page-menu-font-color-hover: $m-sidebar-menu-active-color;
$m-page-menu-active-bg: $m-page-menu-bg-color; //darken($m-sidebar-bg-color, 3);
$m-page-menu-active-color: $m-sidebar-menu-active-color;
$m-page-menu-active-color-hover: $m-sidebar-menu-active-color-hover;
$m-page-menu-active-border: $m-sidebar-border;

// footer
$m-footer-height: 56px;
$m-footer-font-color: $m-font-color;
$m-footer-link-color: $m-link-color;
$m-footer-link-color-hover: $m-link-color-hover;
$m-footer-link-color-active: $m-link-color-active;
$m-footer-bg-color: #fff;
$m-footer-border-color: $m-sidebar-border;

// dark green bg footer:
/* $m-footer-bg-color: darken($m-green-mconf, 3);// $m-navbar-bg-color-dark; */
/* $m-footer-font-color: #bbb; */
/* $m-footer-border-color: darken($m-footer-bg-color, 10); */
/* $m-footer-link-color: #bbb; */
/* $m-footer-link-color-hover: #fff; */
/* $m-footer-link-color-active: $m-link-color-active; */

// dark gray footer:
/* $m-footer-bg-color: #1B212A; */
/* $m-footer-font-color: #E5EBF1; */
/* $m-footer-border-color: darken($m-footer-bg-color, 10); */
/* $m-footer-link-color: #E5EBF1; */
/* $m-footer-link-color-hover: #fff; */
/* $m-footer-link-color-active: $m-link-color-active; */

// z-indexes
// TODO: not being used yet
$m-z-index-navbar: 100;
$m-z-index-sidenav: 101;
$m-z-index-dialog: 200;
$m-z-index-tooltip: 999999;

// mailers
$m-mail-font-color: $m-font-color;
$m-mail-header-font-color: $m-navbar-bg-color-dark;
$m-mail-font-size: $m-font-normal;

// notifications
$m-notifications-top: 6px;

// tags
$m-tags-font-color: #fff; //#39739d;
$m-tags-bg-color: #4b9ace; //#E1ECF4;
$m-tags-bg-color-hover: darken($m-tags-bg-color, 10);

// Bootstrap variables
// See all available at http://getbootstrap.com/customize/#less-variables
// Some are definef here with their default values because we might need them when using
// bootstrap's mixins in other files (where we import bootstrap/mixins).
/* $input-color: #666; */
/* $grid-columns:              12; */
/* $grid-gutter-width:         30px; */
/* $grid-float-breakpoint:     768px; */

/*
 * Customized variables for bootstrap
 */
$brand-primary: $m-color-primary-light; //$m-color-primary; //$m-link-color; //#4589C4;//#2186DE;
$border-radius-base: $m-border-radius-base;
$border-radius-small: $m-border-radius-small;
$border-radius-large: $m-border-radius-large;
$brand-success: $olive;
$brand-info: $blue;
$brand-danger: $red; //#d9534f; //$red;
$brand-warning: $orange;
//$btn-default-bg:
$btn-default-border: $m-border-color-normal;
$btn-primary-bg: $m-color-secondary;
$btn-primary-border: $btn-primary-bg;
$btn-success-bg: $brand-success;
$btn-success-border: $btn-success-bg;
$btn-info-bg: $brand-info;
$btn-info-border: $btn-info-bg;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $btn-danger-bg;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $btn-warning-bg;
$state-primary-bg: $brand-primary;
$state-success-bg: $brand-success;
$state-info-bg: $brand-info;
$state-danger-bg: $brand-danger;
$state-warning-bg: $brand-warning;
$label-primary-bg: $brand-primary;
$label-success-bg: $brand-success;
$label-info-bg: $brand-info;
$label-danger-bg: $brand-danger;
$label-warning-bg: $brand-warning;
// $btnPrimaryBackgroundHighlight: #2f96b4;
$navbar-default-bg: $m-navbar-bg-color-dark;
// $navbarBackgroundHighlight: #27535C;
//$link-color: $m-link-color; //#1e9a50; //#187d41;
$link-color: $m-link-color; //#1e9a50; //#187d41;
$link-color-hover: $m-link-color-hover;//$m-bright-blue; //#2BDE73;
$input-bg: $m-input-bg;
$input-bg-disabled: $m-input-disabled-bg;
$input-border: $m-input-border-color;
$input-border-focus: $m-input-focus-border-color;
$input-border-radius-base: $m-border-radius-base;
$input-border-radius-large: $m-border-radius-base;
$input-border-radius-small: $m-border-radius-base;
$input-group-addon-border-color: $input-border;
$btn-border-radius-base: $m-border-radius-base;
$btn-border-radius-large: $m-border-radius-base;
$btn-border-radius-small: $m-border-radius-base;
$cursor-disabled: default;

// Themes: if using a theme, import it here!
// @import "../themes/theme-name/stylesheets/variables";

// Important: have to be imported after customizing bootstrap's variables
@import "bootstrap/mixins";
@import "mixins";
@import "mixins-columns-height";
