@import "compass/utilities/general";

// import bootstrap's default variables so we have access to them
// especially important when using bootstrap's mixins (wherever we
// import bootstrap/mixins)
@import "bootstrap/variables";

// colors library, better default colors
// use it with $blue, $red, $yellow, etc.
@import "../../../vendor/assets/stylesheets/colors";

// link colors
$m-link-color: #2274A5;
$m-link-color-hover: lighten($m-link-color, 15);
$m-link-color-active: $m-link-color-hover; //darken($m-link-color-hover, 20);

// standard colors
$m-green-mconf: #004956; // #27535C
$m-green-soft: #81B29A;
$m-green: $olive;
$m-blue: #337ab7;
$m-red: #ff5b5b;
$m-orange: #e98300; //#C47322;
$m-yellow: #f3a712; //#BB9403;
$m-cyan: #00ffff;
$m-gray: #ccc;
$m-dark-gray: #666;
$m-light-gray: #f6f6f6;
$m-very-light-gray: #fafafa;
$m-bright-blue: #49afcd;
$m-transparent: rgba(255,255,255,0);
$m-titles: #2B2D42;
$m-text: #2B2D42;
$m-text-shadow: #B4BBBC;
$m-background: #F4F4F4;
$m-disabled-placeholder-text: #B4BBBC;
$m-field-border: #B4BBBC;
$m-bold-by-shadow: 0 0 .65px $m-text-shadow, 0 0 .65px $m-text-shadow;
$m-success-notification: #7AB29B;
$m-success-notification-border: 5px solid #396554;
$m-error-notification: #D5455A;
$m-error-notification-border: 5px solid #6A232D;

// simple-form custom
$m-sf-placeholder-color: $m-disabled-placeholder-text;
$m-sf-field-border: 1px solid $m-field-border;
$m-sf-field-border-focused: 1px solid $m-green-soft;

// header and footer colors
$m-footer-header-link-color: $m-text;
$m-footer-header-link-color-hover: $m-green-mconf;
$m-footer-header-link-color-active: $m-green-mconf;

// site colors and global configs
$m-site-bg-color: #f2f2f2;
$m-site-content-bg-color: #fff;
$m-color-primary: $m-green-mconf;
$m-color-primary-hover: darken($m-color-primary, 5);
$m-color-primary-soft: $m-green-soft;
$m-color-primary-heavy: #2A535C;
$m-color-primary-soft-hover: $m-green-mconf;
$m-color-secondary: #337ab7;
$m-color-secondary-hover: darken($m-color-secondary, 5);
$m-focus-border-color: $m-color-secondary;
$m-logo-initials-bg: red blue yellow green orange purple magenta $m-color-primary $m-color-secondary;
$m-logo-border-size: 2px;
$m-logo-font-size: 19.6px;
$m-logo-btn-size: 48px;
$m-logo-initials-padding: (($m-logo-btn-size - $m-logo-font-size)/2 - $m-logo-border-size) 0;
$m-logo-bg: lighten($m-color-primary, 15);
$m-logo-border: #fff;
$m-site-horizontal-padding: 160px;
$m-site-vertical-padding: 160px;
$m-content-vertical-padding: 60px;
$m-active-item-border-color: $m-color-primary;
$m-active-item-border: 4px solid $m-active-item-border-color;
$m-active-item-border-off: 4px solid $m-transparent;

// fonts
$m-font-normal: 14px; //0.85rem; /* 14px, base size for all fonts */
$m-font-mini: $m-font-normal * 0.8;
$m-font-small: $m-font-normal * 0.9;
$m-font-medium: 16px;
$m-font-fields: 22px;
$m-font-big: $m-font-normal * 1.4;
$m-font-bigger: $m-font-normal * 1.8;
$m-font-double: $m-font-normal * 2;
$m-font-triple: $m-font-normal * 3;
/* multipliers over the standard font size */
$m-font-h1-multiplier: 2.71;
$m-font-h2-multiplier: 2.28;
$m-font-h3-multiplier: 1.4;
$m-font-h4-multiplier: 1.2;
$m-font-h5-multiplier: 1;
$m-font-h6-multiplier: 1;
$m-font-weight-thin: 300;
$m-font-weight-normal: 400;
$m-font-weight-bold: 700;
$m-font-weight-bolder: 900;
$m-font-color: #444; //desaturate($m-color-primary, 25%);
$m-font-strong: darken($m-font-color, 10%); //#000;
$m-font-light: lighten($m-font-color, 10%); //#666;
$m-font-color-gray: #888;
$m-font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; //Arial, Helvetica, sans-serif;
$m-font-family-label: "Roboto","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
$m-font-family-mono: Consolas, Monaco, "Lucida Console", monospace;
$m-font-family-h: $m-font-family;
$m-font-h-color: $m-color-primary; //#111;
$m-font-h-color-hover: $m-link-color-hover;
$m-font-h-color-active: $m-link-color-active;
$m-base-line-height: 1.5;
$m-link-decoration: none;
$m-link-decoration-hover: underline;
$m-font-color-default: $m-text;

// borders
$m-border-color-normal: #CBCBCB; //#ddd;// #e8e8e8;/* #ddd; */
$m-border-color-medium: #e6e6e6;
$m-border-color-light: #eee;
$m-border-color-dark: #ccc;
$m-border-color-highlight: $m-bright-blue;
$m-border-radius-base: 2px;
$m-border-radius-small: 1px;
$m-border-radius-large: 4px;

// inputs
$m-input-bg: #fff;
$m-input-color: #4d4d4d;
$m-input-color-placeholder: #cbcbcb;
$m-input-border-color: $m-border-color-normal; //$m-border-color-medium;
$m-input-focus-bg:  #fff; //#fafafa;
$m-input-focus-border-color: $m-color-secondary; //lighten($m-color-primary-light, 5); // #999999;
$m-input-disabled-bg: #e5e5e5; //#f6f6f6;

// alert colors, like the ones in bootstrap alerts
$m-alert-bg: #FCF8E3;
$m-alert-font: #C09853;
$m-alert-success-bg: #DFF0D8;
$m-alert-success-font: #468847;
$m-alert-info-bg: #D9EDF7;
$m-alert-info-font: #3A87AD;
$m-alert-danger-bg: #F2DEDE;
$m-alert-danger-font: #B94A48;
$m-alert-warn-bg: #feeba6;
$m-alert-warn-font: #BB9403;
$m-alert-gray-bg: #f6f6f6;
$m-alert-gray-font: #666;

// modal
$m-modal-bg: #fff;
$m-modal-buttons: #888;

// color for elements highlighted using rails' highlight() view helper.
$m-highlight-bg: #ffff81;

// width of the central container in case we're using a maximum size
// see `set-max-width`
$m-contents-max-width: 1280px;
$m-contents-width: 1080px; // TODO: deprecated now that the site is responsive

// sidebar
$m-sidebar-width-lg: 300px;
$m-sidebar-width-md: 300px;
$m-sidebar-width-sm: 250px;
$m-sidebar-padding: 25px;
$m-sidebar-margin-top: 120px;
$m-sidebar-border: $m-border-color-normal;
$m-sidebar-bg-color: #fff; //#fafafa; //#f3f6f9;

// sidebar menu
$m-sidebar-menu-hover-bg: darken($m-sidebar-bg-color, 5);
$m-sidebar-menu-color: #fff;
$m-sidebar-menu-color-hover: $m-link-color;
$m-sidebar-menu-font: $m-font-medium;
$m-sidebar-menu-active-bg: #B3CFC1;
$m-sidebar-menu-active-hover-bg: darken($m-sidebar-menu-active-bg, 5);
$m-sidebar-menu-active-border: $m-sidebar-border; //#d9e2ec;
$m-sidebar-menu-active-color: $m-sidebar-menu-color-hover;
$m-sidebar-menu-active-color-hover: $m-sidebar-menu-active-color;

// sidenav
$m-sidenav-width-md: 300px;
$m-sidenav-padding: 20px;
$m-sidenav-border: #fff;
$m-sidenav-bg-color: #fff;
$m-sidenav-box-shadow: 5px 0 9px 0px rgba(0, 0, 0, 0.05);

// navbar
$m-navbar-menu-open-bg: $m-site-bg-color;
$m-navbar-menu-open-link: $m-link-color;
$m-navbar-menu-open-link-hover: $m-link-color-hover;
$m-navbar-bg-color-light: #fff; //$m-color-primary;
$m-navbar-bg-color-dark: #fff; //$m-navbar-bg-color-light; //darken($m-green-mconf, 3);
$m-navbar-border-width: 0px;
$m-navbar-border-color: darken($m-navbar-bg-color-dark, 5);
$m-navbar-internal-border-color: $m-border-color-normal; //lighten($m-navbar-bg-color-dark, 3);
$m-navbar-font: $m-font-big;
$m-navbar-font-color: $m-footer-header-link-color;
$m-navbar-font-color-hover: $m-active-item-border-color;
$m-navbar-font-highlight: #fff; //lighten($m-navbar-bg-color-dark, 8);
$m-navbar-font-family: $m-font-family-h;
$m-navbar-link-color: lighten($m-link-color, 15);
$m-navbar-link-color-hover: $m-active-item-border-color;
$m-navbar-link-color-active: $m-navbar-link-color-hover;
$m-navbar-height: 70px;
$m-navbar-btn-size: 48px;
/* $m-navbar-height: 90px; */
/* $m-navbar-btn-size: 46px; */
$m-navbar-btn-bg: #fff;
$m-navbar-btn-bg-hover: $m-color-primary-soft-hover;
$m-navbar-btn-color: $m-color-primary-soft;
$m-navbar-conf-panel-bg: $m-color-primary-soft;
$m-navbar-box-shadow: 5px 0 9px 0px rgba(0, 0, 0, 0.15);

// for a light/white navbar:
/* $m-navbar-bg-color-dark: white; */
/* $m-navbar-bg-color-light: white; */
/* $m-navbar-border-color: $m-green-mconf; */
/* $m-navbar-border-width: 1px; */
/* $m-navbar-font-color: $m-font-color; */
/* $m-navbar-font-color-hover: $m-link-color-hover; */
/* $m-navbar-font-highlight: #f6f6f6; */

// page menu, the secondary menu
$m-page-menu-bg-color: #fafafa;
$m-page-menu-font-color: #666;
$m-page-menu-font-color-hover: $m-sidebar-menu-active-color;
$m-page-menu-active-bg: $m-page-menu-bg-color; //darken($m-sidebar-bg-color, 3);
$m-page-menu-active-color: $m-sidebar-menu-active-color;
$m-page-menu-active-color-hover: $m-sidebar-menu-active-color-hover;
$m-page-menu-active-border: $m-sidebar-border;

// footer
$m-footer-height: 56px;
$m-footer-font-color: $m-font-color;
$m-footer-link-color: $m-footer-header-link-color;
$m-footer-link-color-hover: $m-footer-header-link-color-hover;
$m-footer-link-color-active: $m-footer-header-link-color-active;
$m-footer-bg-color: #fff;
$m-footer-border-color: $m-sidebar-border;

// dark green bg footer:
/* $m-footer-bg-color: darken($m-green-mconf, 3);// $m-navbar-bg-color-dark; */
/* $m-footer-font-color: #bbb; */
/* $m-footer-border-color: darken($m-footer-bg-color, 10); */
/* $m-footer-link-color: #bbb; */
/* $m-footer-link-color-hover: #fff; */
/* $m-footer-link-color-active: $m-link-color-active; */

// dark gray footer:
/* $m-footer-bg-color: #1B212A; */
/* $m-footer-font-color: #E5EBF1; */
/* $m-footer-border-color: darken($m-footer-bg-color, 10); */
/* $m-footer-link-color: #E5EBF1; */
/* $m-footer-link-color-hover: #fff; */
/* $m-footer-link-color-active: $m-link-color-active; */

// z-indexes
// TODO: not being used yet
$m-z-index-navbar: 100;
$m-z-index-sidenav: 101;
$m-z-index-dialog: 200;
$m-z-index-tooltip: 999999;

// mailers
$m-mail-font-color: $m-font-color;
$m-mail-header-font-color: $m-navbar-bg-color-dark;
$m-mail-font-size: $m-font-normal;

// notifications
$m-notifications-top: 6px;

// tags
$m-tags-font-color: #fff; //#39739d;
$m-tags-bg-color: #4b9ace; //#E1ECF4;
$m-tags-bg-color-hover: darken($m-tags-bg-color, 10);

// tooltips
$m-tooltip-color: #fff;
$m-tooltip-bg: $m-color-primary;
$m-tooltip-opacity: .9;
$m-tooltip-arrow-width: 8px;
$m-tooltip-arrow-color: $m-color-primary;


// Bootstrap variables
// See all available at http://getbootstrap.com/customize/#less-variables
// Some are definef here with their default values because we might need them when using
// bootstrap's mixins in other files (where we import bootstrap/mixins).
/* $input-color: #666; */
/* $grid-columns:              12; */
/* $grid-gutter-width:         30px; */
/* $grid-float-breakpoint:     768px; */


/*
 * Customized variables for bootstrap
 */
$brand-primary: lighten($m-green-mconf, 12);
$border-radius-base: $m-border-radius-base;
$border-radius-small: $m-border-radius-small;
$border-radius-large: $m-border-radius-large;
$brand-success: $olive;
$brand-info: $blue;
$brand-danger: $red; //#d9534f; //$red;
$brand-warning: $orange;
//$btn-default-bg:
$btn-default-border: $m-border-color-normal;
$btn-primary-bg: $m-color-primary-soft;
$btn-primary-border: $btn-primary-bg;
$btn-success-bg: $brand-success;
$btn-success-border: $btn-success-bg;
$btn-info-bg: $brand-info;
$btn-info-border: $btn-info-bg;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $btn-danger-bg;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $btn-warning-bg;
$state-primary-bg: $brand-primary;
$state-success-bg: $brand-success;
$state-info-bg: $brand-info;
$state-danger-bg: $brand-danger;
$state-warning-bg: $brand-warning;
$label-primary-bg: $brand-primary;
$label-success-bg: $brand-success;
$label-info-bg: $brand-info;
$label-danger-bg: $brand-danger;
$label-warning-bg: $brand-warning;
// $btnPrimaryBackgroundHighlight: #2f96b4;
$navbar-default-bg: $m-navbar-bg-color-dark;
// $navbarBackgroundHighlight: #27535C;
//$link-color: $m-link-color; //#1e9a50; //#187d41;
$link-color: $m-link-color; //#1e9a50; //#187d41;
$link-color-hover: $m-link-color-hover;//$m-bright-blue; //#2BDE73;
$link-color-active: $m-link-color-hover;
$input-bg: $m-input-bg;
$input-color: $m-input-color;
$input-color-placeholder: $m-input-color-placeholder;
$input-bg-disabled: $m-input-disabled-bg;
$input-border: $m-input-border-color;
$input-border-focus: $m-input-focus-border-color;
$input-border-radius-base: $m-border-radius-base;
$input-border-radius-large: $m-border-radius-base;
$input-border-radius-small: $m-border-radius-base;
$input-group-addon-border-color: $input-border;
$btn-border-radius-base: $m-border-radius-base;
$btn-border-radius-large: $m-border-radius-base;
$btn-border-radius-small: $m-border-radius-base;
$cursor-disabled: default;
$tooltip-color: $m-tooltip-color;
$tooltip-bg: $m-tooltip-bg;
$tooltip-opacity: $m-tooltip-opacity;
$tooltip-arrow-width: $m-tooltip-arrow-width;
$tooltip-arrow-color: $m-tooltip-arrow-color;
$padding-base-vertical: 8px;
$padding-base-horizontal: 16px;
$padding-large-vertical: 12px;
$padding-large-horizontal: 18px;
$padding-small-vertical: 6px;
$padding-small-horizontal: 12px;
$font-size-base: $m-font-normal;
$font-size-large: $m-font-big;
$font-size-small: $m-font-small;

// Themes: if using a theme, import it here!
// @import "../themes/theme-name/stylesheets/variables";

// Important: have to be imported after customizing bootstrap's variables
@import "bootstrap/mixins";
@import "mixins";
@import "mixins-columns-height";
