@import "compass/utilities/general";

// fonts
$font-mini: 10px;
$font-small: 11px;
$font-normal: 13px;
$font-medium: 14px;
$font-big: 16px;
$font-bigger: 21px;
$font-biggest: 25px;
$font-gigantic: 28px;
$font-section-title: 28px;
$font-color: #333;
$font-color-gray: #888;
$font-family: Arial, sans-serif;
$base-line-height: 1.5;

// standard colors
$green: #509F00;
$blue: #005fca;
$red: #C23321;
$orange: #C47322;
$yellow: #BB9403;
$green-logo: #27535C;
$gray: #ccc;
$dark-gray: #666;
$light-gray: #f6f6f6;
$very-light-gray: #fcfcfc;
$bright-blue: #49afcd;
$transparent: rgba(255,255,255,0);
// site colors
$site-bg-color: #fff;
$main-color: $green-logo;
$second-color: $bright-blue;
$focus-border-color: $second-color;
$font-h-color: $green-logo;
// link colors
$link-color: lighten($main-color, 15);
$link-color-hover: $second-color;
$link-color-active: darken($link-color-hover, 15);

// alert colors, like the ones in bootstrap alerts
$alert-bg: #FCF8E3;
$alert-font: #C09853;
$alert-success-bg: #DFF0D8;
$alert-success-font: #468847;
$alert-info-bg: #D9EDF7;
$alert-info-font: #3A87AD;
$alert-danger-bg: #F2DEDE;
$alert-danger-font: #B94A48;
$alert-gray-bg: #f6f6f6;
$alert-gray-font: #666;

// color for elements highlighted using rails' highlight() view helper.
$highlight-bg: #ffff81;

// width of the central container and standard sidebar
$contents-width: 980px;
$sidebar-width: 240px;

// headers
$navbar-bg-color: darken($green-logo, 3);
$subnav-bg-color: #eee;
$navbar-height: 35px;
$navbar-font-color: #bbb;
$navbar-font-color-hover: white;
$navbar-menu-open-bg: $site-bg-color;
$navbar-menu-open-link: $link-color;
$navbar-menu-open-link-hover: $link-color-hover;
$page-menu-font-color: #808080;
$page-header-link-color: $link-color;
$page-header-link-color-hover: $link-color-hover;

// global footer
$footer-bg-color: $light-gray;

// h1, h2, h3, ...
$h-font-color: #404040;
$h-font-color-alternative: $green-logo;

// titles in the page headers
$page-title-color: #505050;

// z-indexes
// TODO: not being used yet
$z-index-navbar: 100;
$z-index-dialog: 200;
$z-index-tooltip: 999999;

// In some browsers (e.g. firefox) when an image is not found it is replaced by the alternative
// text set to it, and the dimensions of the image won't respect the width/height set by the css.
// This might break the layout in some cases.
// So, if an element might have a broken image inside it, it can include this mixin to deal with it.
// The image will still be replaced by the text, but it shouldn't break the layout anymore.
// In some cases the element that includes this might also have to specify its own width and height.
@mixin broken-img-parent($float:left) {
  overflow: hidden;

  img:-moz-broken {
    float: $float;
    font-size: 8px;
    word-wrap: break-word;
    background: white;
  }
}

// user logos in a thread with several snippets
// e.g. list of posts, list of recent users, etc.
@mixin logo-in-thread {
  float: left;
  margin-right: 10px;

  img.logo {
    margin: 2px 0;
    padding: 2px;
    border: 1px solid #ddd;
    @include border-radius(2px);
    &:hover { border: 1px solid desaturate(lighten($second-color, 20), 10); }

    // default dimensions for logos inside threads
    &.logo-space {
      width: 40px;
      height: 30px;
    }
    &.logo-user {
      width: 32px;
      height: 32px;
    }
    &.logo-user-big {
      width: 48px;
      height: 48px;
    }
    &.logo-removed {
      width: 32px;
      height: 32px;
    }
  }

  @include broken-img-parent;
}

@mixin mconf-clearfix {
  @include clearfix;
  @include pie-clearfix;
}

// to 'hide' it and move it off the screen
// we can't just hide it because it won't be clickable
@mixin hide-input-file {
  opacity: 0;
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 0;
  height: 0;

  label { display: none; }
  input[type=file] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
}

@mixin danger-text {
  color: $red;
  @include link-colors($red, lighten($red, 10), darken($red, 10));
}

@mixin set-sidebar-width($new-width) {
  #sidebar {
    width: $new-width;
  }
  #content-middle {
    width: $contents-width - $new-width - 20px; // less right-margin
  }
}

@mixin sidebar-position($pos) {
  @if $pos == 'left' {
    #sidebar {
      float: left;
    }
    #content-middle {
      float: right;
    }
  }
}

@function lighten-or-darken($bg, $color, $amountToLighten, $amountToDarken) {
  @if (lightness( $bg ) > 40) {
    $color: darken($color, $amountToDarken);
  }
  @else {
    $color: lighten($color, $amountToDarken);
  }
  @return $color;
}

//
// Methods below from: https://github.com/stubbornella/oocss
//
// Function for converting a px based font-size to rem.
@function calculate-rem($size) {
  $remSize: $size / 16px;
  // Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}
// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}
