/*
 * Vendored stylesheets
 *= require ./app/application/bootstrap-custom
 *= require font-awesome
 *= require jquery/jquery.Jcrop
 *= require toastr
 *= require bootstrap/bootstrap-modal
 *= require select2
 *= require bootstrap/select2-bootstrap
 *= require bootstrap/bootstrap-datetimepicker
 *= require fineuploader
 *= require mconf-web-font
 *
 * Note: the order matters!
 *= require ./app/application/typography
 *= require ./app/application/base
 *= require ./app/application/sidebar-size
 * require ./app/application/set-max-width # disabled for now
 *= require ./app/application/icons
 *= require ./app/application/simple_form
 *= require ./app/application/dropdown-menu
 *= require ./app/application/modal
 *= require ./app/application/notifications
 *= require ./app/application/tooltips
 *= require ./app/application/tags
 *= require ./app/application/input-placeholder
 *= require ./app/application/in_place_edit
 *= require ./app/application/resource_filter
 *= require ./app/application/logo_images
 *= require ./app/application/footer-pusher
 *= require ./app/application/lists-and-tables
 *= require ./app/application/select2
 *= require ./app/application/copy-clipboard
 *= require ./app/application/page-menu-js
 *= require ./app/application/jcrop
 *
 * Some partials are necessary everywhere
 *= require ./app/feedback/new
 *= require ./app/join_requests/new
 *
 * Themes: if using a theme, import it here!
 * require theme-name/stylesheets/base
 */
