/*
 * Vendored stylesheets
 *= require ./app/application/bootstrap-custom
 *= require font-awesome
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.Jcrop
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.noty
 *= require ../../../vendor/assets/stylesheets/bootstrap/bootstrap-modal
 *= require select2
 *= require ../../../vendor/assets/stylesheets/bootstrap/select2-bootstrap
 *= require bootstrap-datetimepicker
 *= require fineuploader
 *
 * Note: the order matters!
 *= require ./app/application/typography
 *= require ./app/application/base
 *= require ./app/application/set-max-width
 *= require ./app/application/font-awesome
 *= require ./app/application/simple_form
 *= require ./app/application/dropdown-menu
 *= require ./app/application/notifications
 *= require ./app/application/tooltips
 *= require ./app/application/input-placeholder
 *= require ./app/application/in_place_edit
 *= require ./app/application/resource_filter
 *= require ./app/application/logo_images
 *= require ./app/application/chat
 *= require ./app/application/footer
 *= require ./app/application/lists
 *= require ./app/application/select2
 *= require ./app/application/copy-modal
 *
 * Some partials are necessary everywhere
 *= require ./app/feedback/_new
 *
 */
