/*
 *= require application/reset
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.fancybox
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.jcrop
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.qtip.2.0.0pre
 *= require ../../../vendor/assets/stylesheets/calendar
 *= require ../../../vendor/assets/stylesheets/token-input-facebook
 *= require application/tooltips
 *
 * TODO: Remove the old styles below
 * require application/old/common
 *= require application/old/bigbluebutton_rails
 *= require application/old/lightbox
 * require application/old/screen
 * require application/old/new_style_compat
 *
 */

@import "compass/css3";
@import "compass/utilities/general";
@import "partials/definitions";
@import "partials/base";

//
// Redefining or adjusting some styles from partials/_base
//

$global-header-height: 30px;
$page-header-height: 70px;

#global-header {
  padding: 0;
  height: $global-header-height;
  a { @include link-colors(#bbb, white, $site-link-active); }
}

#footer-wrapper {
  background: $site-bg-color;
}

#main-logo {
  float: left;
  width: 100px;
  white-space: nowrap;
  margin-top: 2px;

  a { text-decoration: none; }

  .title {
    color: white;
    font-weight: bold;
    font-size: 20px;
    @include text-shadow(darken($header-bg-color, 30) 1px 1px 4px);
    &:hover {
      color: #ddd;
    }
  }

  .subtitle {
    color: white;
    font-size: 12px;
    @include text-shadow(darken($header-bg-color, 30) 1px 1px 4px);
  }
}

#page-header {
  padding: 5px;
  height: $page-header-height;
}


//
// Unique styles, defined only here
//

ul#global-header-user-links {
  list-style-type: none;
  margin: 0;
  float: right;
  margin-top: 7px;

  li {
    margin-left: 8px;
    display: inline;

    &.divider {
      border-right: 1px solid lighten($header-bg-color, 10);
    }
  }
}

#page-header-left {
  float: left;

  .current-page-logo {
    float: left;
    border: 1px #ccc solid;
    padding: 1px;
    height: 64px;
    background-color: white;
    &.clean { background-color: $sub-header-bg-color; border: 0; }
  }

  .current-page-title {
    float: left;
    margin-left: 10px;
    margin-top: 14px;
    font-size: $font-section-title;
    color: $section-title-color;
    font-weight: bold;
    @include text-shadow(lighten($sub-header-bg-color, 15) 1px 1px 10px);

    .small-title {
      font-size: $font-section-title - 10px;
      margin-top: 5px;
    }
  }
}

#page-header-right {
  float: right;

  .user-avatar {
    float: right;
    margin-left: 10px;
    border: 1px #ccc solid;
    padding: 1px;
    height: 64px;
    background-color: white;
    position: relative;
  }

  .user-info {
    float: right;
    text-align: right;
    margin-top: 7px;
    .main-info {
      font-size: $font-medium;
    }
  }

  .superuser-icon {
    width: 16px;
    height: 16px;
    background: url(asset_path("icons/superuser-16x16.png", image)) no-repeat scroll left top;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  span {
    display: block;
  }
}



#content {
  width: $contents-width;
  margin: 0 auto;
  padding: 0;
}

#content-middle {
  float: left;
  padding: 10px;
  width: $contents-width - $sidebar-width - 20px; // - padding x2
}

#sidebar {
  float: right;
  padding: 5px;
  width: $sidebar-width - 10px; // - padding x2
}