/*
 *= require ./app/custom_bigbluebutton_rooms/index
 *= require ./app/custom_bigbluebutton_rooms/invite
 *= require ./app/custom_bigbluebutton_rooms/invite_userid
 *= require ./app/custom_bigbluebutton_rooms/join
 *= require ./app/custom_bigbluebutton_rooms/join_mobile
 *= require ./app/custom_bigbluebutton_rooms/edit
 *= require ./app/custom_bigbluebutton_rooms/show
 */
