/*
 *= require application
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.anythingslider
 *= require ../../../vendor/assets/stylesheets/jquery/jquery.anythingslider.theme-minimalist-round
 */

@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

// TODO: some styles that are here can be put in application/base.scss

$navbar-height: 110px;
$sub-header-height: 80px;

#navbar {
  width: $contents-width;
  margin: 0 auto;
  padding: 25px;
  height: $navbar-height;
  @include clearfix;
}

#sub-header-wrapper {
  background: $sub-header-bg-color;
  border-bottom: 1px solid #ddd;
}

#main-logo {
  width: 230px;

  .title {
    @include link-colors(#bbb, #ddd, #ddd, #bbb);
    font-weight: bold;
    font-size: 66px;
    @include text-shadow(darken($navbar-bg-color, 30) 1px 1px 4px);
  }

  .subtitle {
    margin-left: 5px;
    font-size: 18px;
    margin-top: 50px;
    @include text-shadow(darken($navbar-bg-color, 30) 1px 1px 4px);
  }
}

#login-box {
  float: right;
  color: #eee;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-right: 30px;

  a { @include link-colors(#bbb, white, $site-link-active); }

  .action-links {
    float: right;
    padding-top: 10px;
    margin-right: 5px;
  }

  input[type=text], input[type=password] {
    width: 200px;
    font-size: 14px;
    float: right;
    clear: both;
    margin-top: 3px;
    @include border-radius(3px);
    background: #eee;
    @include background(linear-gradient(top, #ccc, #eee));

    &:focus {
      background: #fff;
      border: 1px solid white;
    }
  }

  label {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
  }

  input[type=submit] {
    font-size: 14px;
    float: right;
    clear: both;
    margin-top: 5px;
  }

  abbr[title=required] { display: none; }

  .shibboleth_login {
    border-left: 1px solid #888;
    padding-left: 7px;
    margin-left: 5px;
  }
}

#registration-box {
  float: right;
  color: #eee;
  width: 250px;
  font-size: $font-normal + 2px;
  text-align: center;
  padding-right: 30px;
  //@include background(linear-gradient(left, darken($navbar-bg-color, 8), $navbar-bg-color));

  .register_button {
    margin-top: 20px;
  }
}

#sub-header {
  padding: 20px;
  height: $sub-header-height;
  width: $contents-width;
  margin: 0 auto;
  @include mconf_clearfix;

  .headline {
    float: left;
    font-size: $font-normal + 2px;
    text-align: right;
    width: 510px;
    @include text-shadow(white 1px 1px 2px);
    padding: ($sub-header-height - 60px)/2 0;
  }

  div.links {
    text-align: left;
    margin-left: 15px;
    border-left: 1px dashed darken($sub-header-bg-color, 25);
    padding: ($sub-header-height - 60px)/2 0;
    padding-left: 15px;
    float: left;

    h3 {
      text-align: left;
      color: #444;
      font-size: $font-big;
    }

    ul { margin: 0; }

    li {
      display: inline;
      list-style-type: none;
      margin-right: 25px;
      float: left;
      text-align: center;
    }

    .link-title {
      font-size: $font-gigantic;
      color: #555;
      font-weight: bold;
      @include text-shadow(white 2px 2px 4px);
      &:hover {
        color: $site-link-hover;
        text-decoration: none;
      }
    }

    .link-description {
      font-size: $font-small;
      color: #666;
      @include text-shadow(white 2px 2px 4px);
    }

  }
}

#content {
  width: $contents-width;
  margin: 0 auto;

  h2 {
    color: #244974;
  }
}

#content-mconf {
  padding: 20px 0;
  margin: 0 auto;

  .section-title {
    clear: both;
    display: block;
    margin: 10px 0;

    h2 {
      text-align: left;
      @include text-shadow(darken($site-bg-color, 15) 1px 1px 4px);
      margin: 0;
      float: left;
      clear: both;
    }
    .subtitle {
      padding-left: 8px;
      border-left: 4px solid #ddd;
      float: left;
      margin-top: 5px;
      margin-left: 8px;
    }
  }

}

#components {
  @include mconf_clearfix;
  margin: 20px auto;
  float: left;

  // fix for anythingSlider. the #components-images will be the slider
  .anythingSlider {
    padding: 0;
    margin: 0;
    float: left;
    background: $sub-header-bg-color;
    padding: 30px;
    @include background(linear-gradient(left, darken($sub-header-bg-color, 5), $sub-header-bg-color));
    @include border-radius(4px);

    .anythingWindow { border: 0; }
  }
}

$components-images-width: 530px;
#components-images {
  width: $components-images-width;
  margin: 0;
  float: left;
  width: 470px;
  height: 300px;
  list-style: none;

  .caption { display: none; }
}

#components-menu {
  text-align: left;
  margin: 0;
  padding: 0;
  float: right;
  width: $contents-width - $components-images-width - 10px;

  h2 {
    @include border-radius(5px);
    @include text-shadow(darken($site-bg-color, 20) 1px 1px 4px);
    margin-bottom: 5px;
  }

  .content-block {
    height: 40px;
    padding: 5px 15px;
    @include border-radius(4px);
    text-align: left;
    border: 1px solid white;

    &:hover {
      cursor: pointer;
      background: $sub-header-bg-color;
      //@include background(linear-gradient(left, darken($sub-header-bg-color, 8), white));
    }

    .link-title {
      font-size: $font-big;
      color: #555;
      font-weight: bold;
      display: block;
      @include text-shadow(white 2px 2px 4px);
    }
  }

  .content-block-selected, .content-block-selected:hover {
    $selected-color: $navbar-bg-color;

    @extend .content-block;
    @include background(linear-gradient(left, $selected-color, lighten($selected-color, 5)));
    border: 1px solid $selected-color;
    color: #ddd;
    position: relative;

    .link-title {
      color: #ddd;
      @include text-shadow(darken($selected-color, 5) 2px 2px 4px);
    }

    &:before {
      border: solid transparent;
      content: ' ';
      height: 0;
      left: -35px;
      position: absolute;
      width: 0;
    }
    &:before {
      border-width: 20px;
      border-right-color: $selected-color;
      top: 5px;
    }
  }

}

#components-description {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  float: right;
  width: $contents-width - $components-images-width - 15px;

  ul { list-style-type: disc; margin-top: 10px; }
}

#content-searching-for {
  @include mconf_clearfix;
  margin: 20px 0;
  margin-left: 20px;

  .section-title h2 {
    margin-top: 20px;
    margin-right: 15px;
  }

  .content-block {
    padding: 5px;
    @include border-radius(4px);
    clear: none;
    float: left;
    margin-right: 30px;
    width: 200px;
    text-align: center;

    .link-title {
      font-size: $font-medium;
      color: #555;
      font-weight: bold;
      display: block;
      padding: 2px 5px;
      background: #f6f6f6;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
      @include text-shadow(darken($site-bg-color, 10) 2px 2px 4px);
      a { @include link-colors(#555,  $site-link-hover, $site-link-active) }
    }

  }
}

#content-current-site {
  @extend #content-mconf;
  border-top: 1px dashed darken($site-bg-color, 14);
}

#content-spaces {
  clear: both;

  .section-title {
    @include mconf_clearfix;
  }

  #most-active-spaces {
    @include mconf_clearfix;
    clear: both;
    margin-top: 10px;

    ul {
      @include mconf_clearfix;
      margin: 5px 0;
    }
    li {
      float: left;
      display: inline;
      margin-right: 5px;
    }
  }

  img {
    margin: 3px;
    @include border-radius(2px);
    border: 1px solid #ccc;

    &:hover {
      border: 1px solid $orange;
      @include box-shadow(0 0 15px $orange);
    }
  }
}
