/*
 *= require ../../../vendor/assets/stylesheets/anythingslider/anythingslider
 *= require ../../../vendor/assets/stylesheets/anythingslider/theme-minimalist-round
 */

@import "compass/css3";
@import "compass/utilities/general";
@import "partials/base";

// TODO: some styles that are here can be put in base.scss

$global-header-height: 110px;
$page-header-height: 80px;

body {
  background-color: $site-bg-color;
}

#site {
  background-color: $site-bg-color;
  margin: 0px auto;
  width: 100%;
}

#global-header {
  padding: 0;
  background-color: $header-bg-color;
  @include background(linear-gradient(bottom, darken($header-bg-color, 5), $header-bg-color));
  //@include background(linear-gradient(top, #333, #222));
}

#global-header-content {
  width: $contents-width;
  margin: 0 auto;
  padding: 25px;
  height: $global-header-height;
  @include clearfix;
}

#main-logo {
  float: left;
  width: 200px;
  white-space: nowrap;
  margin-top: 10px;

  a { text-decoration: none; }

  .title {
    color: white;
    font-weight: bold;
    font-size: 66px;
    @include text-shadow(darken($header-bg-color, 30) 1px 1px 4px);
    &:hover {
      color: #ddd;
    }
  }

  .subtitle {
    margin-left: 5px;
    color: white;
    font-size: 16px;
    @include text-shadow(darken($header-bg-color, 30) 1px 1px 4px);
  }
}

#login-box {
  float: right;
  color: #eee;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-right: 30px;
  //@include background(linear-gradient(right, darken($header-bg-color, 8), $header-bg-color));

  a { @include link-colors(#ddd, white, $site-link-active); }

  .action-links {
    float: right;
    padding-top: 10px;
    margin-right: 5px;
  }

  input[type=text], input[type=password] {
    width: 200px;
    font-size: 14px;
    float: right;
    clear: both;
    margin-top: 3px;
    @include border-radius(3px);
    background: #eee;
    @include background(linear-gradient(top, #ccc, #eee));

    &:focus {
      background: #fff;
      border: 1px solid white;
    }
  }

  label {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
  }

  button {
    font-size: 14px;
    float: right;
    clear: both;
    margin-top: 5px;
  }

  .shibboleth_login {
    border-left: 1px solid #888;
    padding-left: 7px;
    margin-left: 5px;
  }
}

#registration-box {
  float: right;
  color: #eee;
  width: 250px;
  font-size: $font-normal + 2px;
  text-align: center;
  padding-right: 30px;
  //@include background(linear-gradient(left, darken($header-bg-color, 8), $header-bg-color));

  .register_button {
    margin-top: 20px;
  }
}

#page-header {
  padding: 0;
  background-color: $sub-header-bg-color;
  // @include background(linear-gradient(top, darken($sub-header-bg-color, 5), $sub-header-bg-color));
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

#page-header-content {
  width: $contents-width;
  margin: 0 auto;
  padding: 20px;
  height: $page-header-height;
  color: #444;

  .headline {
    float: left;
    font-size: $font-normal + 2px;
    text-align: right;
    width: 510px;
    @include text-shadow(white 1px 1px 2px);
    padding: ($page-header-height - 60px)/2 0;
  }

  div.links {
    text-align: left;
    margin-left: 15px;
    border-left: 1px dashed darken($sub-header-bg-color, 25);
    padding: ($page-header-height - 60px)/2 0;
    padding-left: 15px;
    float: left;

    h3 {
      text-align: left;
      color: #444;
      font-size: $font-big;
    }

    ul { margin: 0; }

    li {
      display: inline;
      list-style-type: none;
      margin-right: 25px;
      float: left;
      text-align: center;
    }

    .link-title {
      font-size: $font-gigantic;
      color: #555;
      font-weight: bold;
      @include text-shadow(white 2px 2px 4px);
      &:hover {
        color: $site-link-hover;
        text-decoration: none;
      }
    }

    .link-description {
      font-size: $font-small;
      color: #666;
      @include text-shadow(white 2px 2px 4px);
    }

  }
}

#content-mconf {
  width: $contents-width;
  padding: 20px 0;
  margin: 0 auto;

  .section-title {
    clear: both;
    display: block;
    margin: 10px 0;

    h2 {
      text-align: left;
      @include text-shadow(darken($site-bg-color, 15) 1px 1px 4px);
      margin: 0;
      float: left;
      clear: both;
    }
    .subtitle {
      padding-left: 8px;
      border-left: 4px solid #ddd;
      float: left;
      margin-top: 5px;
      margin-left: 8px;
    }
  }

}

#components {
  width: $contents-width;
  margin: 20px auto;
  float: left;

  // fix for anythingSlider. the #components-images will be the slider
  .anythingSlider {
    padding: 0;
    margin: 0;
    float: left;
    background: $sub-header-bg-color;
    padding: 30px;
    @include background(linear-gradient(left, darken($sub-header-bg-color, 5), $sub-header-bg-color));
    @include border-radius(4px);

    .anythingWindow { border: 0; }
  }
}

$components-images-width: 560px;
#components-images {
  width: $components-images-width;
  margin: 0;
  float: left;
  width: 500px;
  height: 320px;
  list-style: none;

  .caption { display: none; }
}

#components-menu {
  text-align: left;
  margin: 0;
  padding: 0;
  float: right;

  h2 {
    @include border-radius(5px);
    @include text-shadow(darken($site-bg-color, 20) 1px 1px 4px);
    margin-bottom: 5px;
  }

  .content-block {
    clear: both;
    width: $contents-width - $components-images-width - 40px;
    height: 50px;
    float: left;
    padding: 5px 15px;
    @include border-radius(4px);
    text-align: left;
    border: 1px solid white;

    &:hover {
      cursor: pointer;
      background: $sub-header-bg-color;
      @include background(linear-gradient(left, darken($sub-header-bg-color, 8), white));
    }

    .link-title {
      font-size: $font-big;
      color: #555;
      font-weight: bold;
      display: block;
      @include text-shadow(white 2px 2px 4px);
    }
  }

  .content-block-selected, .content-block-selected:hover {
    @extend .content-block;
    @include background(linear-gradient(left, #222, #444));
    border: 1px solid #222;
    color: #ddd;
    position: relative;

    .link-title {
      color: #ddd;
      @include text-shadow(#222 2px 2px 4px);
    }

    &:before {
      border: solid transparent;
      content: ' ';
      height: 0;
      left: -35px;
      position: absolute;
      width: 0;
    }
    &:before {
      border-width: 20px;
      border-right-color: #222;
      top: 10px;
    }
  }

}

#components-description {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  float: right;
  width: $contents-width - $components-images-width - 15px;

  ul { list-style-type: disc; margin-top: 10px; }
}

#content-searching-for {
  margin: 20px 0;

  .section-title h2 {
    margin-top: 20px;
    margin-right: 15px;
  }

  .content-block {
    padding: 5px;
    @include border-radius(4px);
    clear: none;
    float: left;
    margin-right: 20px;
    width: 200px;

    &:hover {
      background: $sub-header-bg-color;
      @include background(linear-gradient(left, $sub-header-bg-color, white));
    }

    img {
      float: left;
      margin-right: 10px;
      margin-top: 7px;
    }

    .text {
      margin-left: 50px;
    }

    .link-title {
      font-size: $font-medium;
      color: #555;
      font-weight: bold;
      display: block;
      @include text-shadow(white 2px 2px 4px);
      a { @include link-colors(#555,  $site-link-hover, $site-link-active) }
    }

  }
}

#content-current-site {
  @extend #content-mconf;
  border-top: 1px dashed darken($site-bg-color, 14);
}

#content-spaces {
  clear: both;

  #most-active-spaces {
    clear: both;
    margin-top: 10px;

    ul { margin: 5px 0; }
    li {
      float: left;
      display: inline;
      margin-right: 5px;
    }

  }

  img {
    @include box-shadow(0px 0px 5px #777);
    margin: 4px;
    @include border-radius(2px);

    &:hover { @include box-shadow(0px 0px 15px $header-bg-color); }
  }
}

.qtip, .qtip-content, .qtip-wrapper, .qtip-contentWrapper, .qtip-title, .qtip-tip {
  background: #000;
  color: #fff;
  // @include opacity(0.9);
}