/*
 *= require application
 */

@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography";
@import "definitions";

// TODO: some styles that are here can be put in application/base.scss

$navbar-height: 110px;
$subnav-height: 25px;
$more-about-mconf-bg-color: #ddd; //#BFCDDD;//#d4d4d4;


/* the footer is a bit different in the frontpage */
#upper-footer-wrapper {
  background: $site-bg-color;
  border: 0;
  @include box-shadow(none);
}
#lower-footer-wrapper {
  background: $subnav-bg-color;
  border: 1px solid darken($subnav-bg-color, 10);
}
/*****/


#navbar {
  width: $contents-width;
  margin: 0 auto;
  padding: 25px;
  height: $navbar-height;
  @include clearfix;
}

#main-logo {
  width: 250px;

  .title {
    @include link-colors(#bbb, #ddd, #ddd, #bbb);
    font-weight: bold;
    font-size: 66px;
    @include text-shadow(darken($navbar-bg-color, 30) 1px 1px 4px);
  }

  .subtitle {
    margin-left: 5px;
    font-size: 18px;
    margin-top: 50px;
    @include text-shadow(darken($navbar-bg-color, 30) 1px 1px 4px);
  }
}

#login-box {
  float: right;
  color: #eee;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-right: 30px;

  a { @include link-colors(#bbb, white, $site-link-active); }

  .action-links {
    float: right;
    padding-top: 8px;
    margin-right: 5px;
  }

  input[type=text], input[type=password] {
    width: 200px;
    font-size: 14px;
    float: right;
    clear: both;
    margin-top: 3px;
    @include border-radius(3px);
    background: #eee;
    @include background(linear-gradient(top, #ccc, #eee));

    &:focus {
      background: #fff;
      border: 1px solid white;
    }
  }

  label {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
  }

  input[type=submit] {
    float: right;
    clear: both;
    margin-top: 5px;
  }

  abbr[title=required] { display: none; }

  .shibboleth_login {
    border-left: 1px solid #888;
    padding-left: 7px;
    margin-left: 5px;
  }
}

#subnav-wrapper {
  background: $subnav-bg-color;
  border-bottom: 1px solid darken($subnav-bg-color, 7);
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.1));

  &.is-sticky {
    left: 0;
    width: 100%;
    z-index: $z-index-navbar;

    // change the visible divs when the subnav becomes sticky
    ul.register-and-login { display: block; }
    .registration-area { display: none; }
  }
}

#subnav {
  padding: 7px;
  height: $subnav-height;
  width: $contents-width;
  margin: 0 auto;

  ul.nav, ul.register-and-login {
    margin: 0;
    padding: 0;
    float: left;

    li {
      float: left;
      display: inline;
      margin-top: 4px;
      font-size: $font-medium;
      padding: 2px 10px;
      margin: 0;

      &.active {
        @include border-radius(4px);
        background: darken($subnav-bg-color, 7);
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.1));
        a { color: #222; }
      }
    }
  }

  // hidden links, will be shown when the subnav becomes sticky
  ul.register-and-login {
    float: right;
    display: none;
  }

  .registration-area {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    span {
      margin-right: 5px;
      margin-top: 2px;
    }
  }
}

#content {
  width: $contents-width;
  margin: 0 auto;

  h2 { color: $h-font-color-alternative; }

  .section-title {
    @include mconf_clearfix;
    clear: both;
    display: block;
    margin: 10px 0;

    h2 {
      text-align: left;
      @include text-shadow(darken($site-bg-color, 15) 1px 1px 4px);
      margin: 0;
      float: left;
      clear: both;
    }
    .subtitle {
      padding-left: 8px;
      border-left: 4px solid #ddd;
      float: left;
      margin-top: 5px;
      margin-left: 8px;
    }
  }
}

#introduction-container {
  @include mconf_clearfix;
  padding: 30px 0;
  margin: 0 auto;

  $left-col-width: 700px;
  .left-column {
    width: $left-col-width;
    float: left;
  }
  .right-column {
    width: $contents-width - $left-col-width - 20px;
    float: right;
  }
}

#what-is-it {
  @include mconf_clearfix;
  margin-bottom: 20px;

  .headline {
    float: left;
    font-size: $font-normal + 2px;
    text-align: left;
    width: 550px;
    @include text-shadow(white 1px 1px 2px);
    color: #555;
    h3 {
      color: #777;
    }
    .text {
      clear: both;
      margin-top: 5px;
    }
  }
}

#public-spaces {
  clear: both;

  #most-active-spaces {
    @include mconf_clearfix;
    clear: both;
    margin-top: 10px;

    ul {
      @include mconf_clearfix;
      margin: 5px 0;
    }
    li {
      float: left;
      display: inline;
      margin-right: 5px;
    }
  }

  img {
    margin: 3px;
    @include border-radius(2px);
    border: 1px solid #ccc;

    &:hover {
      border: 1px solid $orange;
      @include box-shadow(0 0 15px $orange);
    }
  }
}

#searching-for {
  float: right;
  @include mconf_clearfix;

  // so the box-shadow in .content can be seen
  padding-right: 5px;
  padding-bottom: 10px;

  .content {
    padding: 10px;
    background: lighten($subnav-bg-color, 5);
    border: 1px solid darken($subnav-bg-color, 5);
    @include border-radius(4px);
    @include box-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
  }

  .content-block {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;

    .link-title {
      font-size: $font-medium;
      text-align: left;
      color: #555;
      font-weight: bold;
      display: block;
      background: darken($subnav-bg-color, 5);
      @include border-radius(4px);
      padding: 2px 10px;
      margin-bottom: 10px;
      @include text-shadow(darken($site-bg-color, 10) 2px 2px 4px);
    }

    .more { margin-top: 5px; }
  }
}



//
// begins the bottom section: More about Mconf
//

#more-about-mconf-wrapper {
  background: $more-about-mconf-bg-color;
  border-top: 1px solid darken($more-about-mconf-bg-color, 5);
  border-bottom: 1px solid darken($more-about-mconf-bg-color, 5);
  @include box-shadow(inset 2px 0 10px rgba(0, 0, 0, 0.2));
  margin-top: 30px;
  padding: 30px 0;
}

#more-about-mconf {
  @extend #content;
  @include mconf_clearfix;

  h2 { color: darken($h-font-color-alternative, 10); }

  .section-title {
    .subtitle {
      border-left: 4px solid #aaa;
    }
  }

  a { @include link-colors(darken($site-link, 10), darken($site-link-hover, 5), $site-link-active); }

  .content-block {
    margin: 20px 5px;
    background: lighten($more-about-mconf-bg-color, 7);
    @include border-radius(4px);
  }
}

#mconf-links {
  @include mconf_clearfix;

  div.links {
    @include mconf_clearfix;
    padding: 15px;
    @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));

    ul { margin: 0; }

    li {
      display: inline;
      list-style-type: none;
      margin-left: 80px;
      float: left;
      text-align: center;
      white-space: nowrap;

      .link-title {
        font-size: $font-gigantic;
        color: #555;
        font-weight: bold;
        @include text-shadow(white 2px 2px 4px);
        &:hover {
          color: $site-link-hover;
          text-decoration: none;
        }
      }

      .link-description {
        display: block;
        color: #666;
        @include text-shadow(white 2px 2px 4px);
      }

      img {
        float: left;
        margin-right: 15px;
        margin-top: 5px;
      }
    }
  }
}

#components {
  margin: 20px auto;

  .component {
    @include mconf_clearfix;
    clear: both;
    padding: 30px 10px;

    &.first {
      @include box-shadow(none);
      border-top: none;
    }

    .picture {
      float: left;
      margin: 5px;
      margin-right: 20px;
      @include border-radius(4px);
      @include box-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
      height: 200px;
      position: relative;

      img { @include border-radius(4px); }
      .overlay {
        position: absolute;
        right: -10px;
        bottom: -10px;
        padding: 3px;
        background: white;
        @include border-radius(4px);
        border: 1px solid darken($more-about-mconf-bg-color, 5);
      }
    }

    .description-container {
      font-size: $font-medium;
      float: left;
      width: $contents-width - 380px;
      color: #444;

      .component-title {
        margin-bottom: 10px;
        color: #222;

        h3 {
          font-size: $font-big;
          font-weight: bold;
          display: block;
          @include text-shadow(lighten($more-about-mconf-bg-color, 5) 2px 2px 4px);
        }

        .subtitle {
          display: block;
          font-size: $font-normal;
          font-style: italic;
          font-weight: normal;
        }
      }

      .description { margin-left: 10px; }

      ul {
        list-style-type: disc;
        margin-top: 10px;
        li { margin-left: 15px; }
      }
    }

  }
}
