/*
 *= require ./app/spaces/index
 *= require ./app/spaces/new
 *= require ./app/spaces/show
 *= require ./app/spaces/edit
 *= require ./app/spaces/webconference
 *= require ./app/spaces/recordings
 *= require ./app/spaces/user_permissions
 */
