@import "compass/css3";
@import "compass/typography";
@import "definitions";

$logo-top: -50px;
$logo-rot-pos1: rotate(-100deg);
$logo-rot-pos2: rotate(-160deg);

// so the footer is always behind the content if they overlap
$m-z-index-content: 1;
$m-z-index-footer: 0;

/* TODO: No more animations for now, need to update compass */
/* @include keyframes(hang) { */
/*   to { @include transform($logo-rot-pos1); } */
/* } */

/* @include keyframes(fall) { */
/*   0% { */
/*     opacity: 1; */
/*     top: $logo-top; */
/*   } */
/*   10% { */
/*     opacity: 1; */
/*     top: $logo-top - 50px; */
/*   } */
/*   100% { */
/*     top: 5000px; */
/*     opacity: 0; */
/*   } */
/* } */

#content {
  z-index: $m-z-index-content;
  margin-top: 80px;
  h1 {
    font-weight: bold;

    &.error-mild {
      color: $orange;
    }
    &.error-grave {
      color: $red;
    }
  }

  position: relative;
  background: $m-light-gray;
  max-width: 100%;
  width: 100%;

  .title {
    border: 0;
    text-align: center;
    max-width: 80%;
    margin: 30px auto;
  }

  .error-description {
    max-width: 70%;
    margin: 30px auto;
    text-align: center;
    @include font-size($m-font-bigger);
    line-height: calculate-px($m-font-bigger) + 6px;
    color: darken($m-gray, 25);
    p {
      @include font-size($m-font-bigger);
      line-height: calculate-px($m-font-bigger) + 6px;
    }
  }

  @include breakpoint(xs) {
    .title, .error-description {
      max-width: 95;
    }
  }

 .logo {
    display: none;
    /* position: absolute; */
    /* right: 0; */
    /* top: $logo-top; */
    /* @include transform-origin(right, 90%); */
    /* @include transform($logo-rot-pos2); */
    /* @include animation-name(hang); */
    /* @include animation-duration(1s); */
    /* @include animation-direction(alternate); */
    /* @include animation-timing-function(ease-in-out); */
    /* @include animation-delay(0s); */
    /* @include animation-iteration-count(infinite); */

    /* .text { */
    /*   padding-left: 15px; */
    /*   display: block; */
    /*   color: $m-transparent; */
    /*   @include transform(rotate(180deg)); */
    /* } */

    /* &.fall { */
    /*   opacity: 0; */
    /*   @include animation-name(fall, hang); */
    /*   @include animation-duration(6s, 1s); */
    /*   @include animation-timing-function(ease-in-out, ease-in-out); */
    /*   @include animation-delay(0s, 1s); */
    /*   @include animation-iteration-count(1, infinite); */

    /*   .text { color: #B94A48; } */
    /* } */
  }

}
