@import "compass/css3";
@import "compass/typography";
@import "definitions";

$logo-top: -50px;
$logo-rot-pos1: rotate(-100deg);
$logo-rot-pos2: rotate(-160deg);

// so the footer is always behind the content if they overlap
$z-index-content: 1;
$z-index-footer: 0;

@include keyframes(hang) {
  to { @include transform($logo-rot-pos1); }
}

@include keyframes(fall) {
  0% {
    opacity: 1;
    top: $logo-top;
  }
  10% {
    opacity: 1;
    top: $logo-top - 50px;
  }
  100% {
    top: 5000px;
    opacity: 0;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}

#site {
  height: 100%;
  background: none;
  @include box-shadow(none);
}

#content-wrapper {
  z-index: $z-index-content;
  background: $subnav-bg-color;
  border-top: 1px solid #EED3D7;
  border-bottom: 1px solid #EED3D7;
  margin-top: 80px;
  color: #B94A48;

  h1 {
    color: #B94A48;
  }
}

#content {
  position: relative;

  .title {
    border: 0;
    text-align: center;
    font-size: 68px;
    line-height: 80px;
  }

  .error-description {
    margin: 30px 0;
    text-align: center;
    font-size: $font-gigantic;
    line-height: $font-gigantic + 6px;
    p {
      font-size: $font-gigantic;
      line-height: $font-gigantic + 6px;
    }
  }

  .access-links {
    font-size: $font-big;

    .icon {
      margin-top: 3px;
    }
  }

 .logo {
    position: absolute;
    right: -70px;
    top: $logo-top;
    @include transform-origin(right, 90%);
    @include transform($logo-rot-pos2);
    @include animation-name(hang);
    @include animation-duration(1s);
    @include animation-direction(alternate);
    @include animation-timing-function(ease-in-out);
    @include animation-delay(0s);
    @include animation-iteration-count(infinite);

    .text {
      padding-left: 15px;
      display: block;
      color: $transparent;
      @include transform(rotate(180deg));
    }

    &.fall {
      opacity: 0;
      @include animation-name(fall, hang);
      @include animation-duration(6s, 1s);
      @include animation-timing-function(ease-in-out, ease-in-out);
      @include animation-delay(0s, 1s);
      @include animation-iteration-count(1, infinite);

      .text { color: #B94A48; }
    }
  }

}

#upper-footer {
  position: fixed;
  bottom: 15px;
  right: 0;
  left: 0;
  z-index: $z-index-footer;
}
