@import "compass/css3";
@import "definitions";

// for the partials used in this page
@import "app/users/user_spaces";
@import "app/users/recent_activity";

body.homes.show {

  #sidebar-inbox {
    .message-wrapper {
      clear: both;
      margin-bottom: 10px;
      margin-top: 5px;

      .message-text { margin-left: 45px; }
      .message-title { display: block; }
      .message-body { display: block; }
    }
  }

  #webconference-room {

    .in-progress-icon {
      float: left;
      margin-top: 4px;
      margin-right: 10px;
    }

    .webconference-footer {
      @include mconf-clearfix;
      clear: both;
      margin-top: 5px;
      padding: 5px;
      background: $light-gray;
      @include border-radius(5px);

      &.active { border: 2px solid #C0D7A9; }

      .action-buttons {
        float: right;
        margin: 4px;

        .button {
          float: left;

          text-align: center;
          margin-right: 5px;
        }

        .webconf-start-link, .webconf-join-mobile-link {
          min-width: 90px;
        }
      }

      .invite-url {
        float: left;
        margin-left: 5px;
        position: relative;

        input[type=text] {
          width: 300px;
          padding: 5px;
          margin-left: 5px;
          background: $site-bg-color;
          color: #444;
        }

        .clippy {
          position: absolute;
          top: 8px;
          right: 6px;
        }
      }
    }

  }

  #users-user-spaces {
    .content-block-footer {
      margin-top: 5px;
      padding: 10px;

      .all-spaces {
        float: left;
      }
    }
  }

  #recent-activity {
    margin-top: 20px;
  }

  #recent-activity-options {
    background: $site-bg-color;
    float: right;
    font-size: $font-normal;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
  }
}