= t('devise.mailer.confirmation_instructions.welcome', email: @email)

%p
  - unless Site.current.require_registration_approval?
    = t('devise.mailer.confirmation_instructions.confirmation_ok')
    %p
      - url = confirmation_url(@resource, confirmation_token: @token)
      = link_to url, url

  - else
    = t('devise.mailer.confirmation_instructions.confirmation_pending')
