
- unless Site.current.require_registration_approval?
  .header_image
    =image_tag URI.join(root_url, "assets/mailer/approval_email.png"), size: '544x263'
- else
  .header_image
    =image_tag URI.join(root_url, "assets/mailer/waiting_approval.png"), size: '544x263'
.header_message
  = t('devise.mailer.confirmation_instructions.welcome_name', name: @user.full_name)
%p
  - unless Site.current.require_registration_approval?
    = t('devise.mailer.confirmation_instructions.confirmation_ok')
    %p
      - url = confirmation_url(@resource, confirmation_token: @token)
      = link_to url, url
  - else
    =t('devise.mailer.confirmation_instructions.confirmation_pending')