
- unless Site.current.require_registration_approval?
  .header_image
    .app_email
- else
  .header_image
    .waiting_app

.header_message
  = t('devise.mailer.confirmation_instructions.welcome_name', name: @user.full_name)
%p
  - unless Site.current.require_registration_approval?
    = t('devise.mailer.confirmation_instructions.confirmation_ok')
    %p
      - url = confirmation_url(@resource, confirmation_token: @token)
      = link_to url, url
  - else
    =t('devise.mailer.confirmation_instructions.confirmation_pending')