- if Site.current.require_registration_approval?
  .centralized
    %h1.title= t('devise.mailer.confirmation_instructions.welcome', email: @resource.first_name)
    %p
      .subtitle= t('devise.mailer.confirmation_instructions.confirmation_pending')
      %p= t('devise.mailer.confirmation_instructions.confirmation_pending2')

- else
  = render 'shared/welcome', user: @user, confirm: true
