@import "definitions";
@import "compass/css3";

// the view is called 'associate' but the action is 'login'
body.shibboleth.login {

  text-align: center;

  #shibboleth-associate {
    h3 {
      margin-bottom: 20px;
    }

    #shibboleth-existent-account {
      .shibboleth-block {
        text-align: left;
      }
    }

    #shibboleth-new-account {
      .shibboleth-block {
        text-align: left;
      }
    }
  }
}
