@import "definitions";
@import "compass/css3";

// the view is called 'associate' but the action is 'login'
body.shibboleth.login {

  #shibboleth-associate {
    @include make-row;
    text-align: center;
    padding: 10px;

    h3 {
      margin-bottom: 20px;
    }

    #shibboleth-existent-account {
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(5);
      @include make-md-column-offset(1);
      @include make-lg-column(4);
      @include make-lg-column-offset(2);
      margin-bottom: 20px;

      .shibboleth-block {
        text-align: left;
      }
    }

    #shibboleth-new-account {
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(5);
      @include make-lg-column(4);

      .shibboleth-block {
        text-align: left;
      }
    }
  }
}
