<% div_for invitation do %>
  <div>
    <%= invitation.candidate ? link_logo(invitation.candidate, :url => user_profile_path(invitation.candidate),:size => 32) : invitation.email %>
  </div>
  <div>
    <%= invitation.role && invitation.role.name %>
    <%=link_to image_tag ("icons/cancel.png",:alt=>"delete",:class=>"icon"),invitation, :method => :delete,:confirm=>"Are you sure?"%>
    
  </div>
<% end %>
