<div id="maquinas">
<%@machines = current_user.machines%>
<table border=0 align=center class=resources_info>
<td class=resources_title>Name</td>-->
<%for machine in @machines%>
<tr>
<td>-
<%=machine.name%>
</td>


</td>
</tr>
<%end%>
</table>
</div>