<h1>Editing machine</h1>

<%= error_messages_for :machine %>

<% form_for(@machine) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @machine %> |
<%= link_to 'Back', machines_path %>
