@import "compass/css3";
@import "definitions";

#webconference-invite {

  #room_invite_url {
    cursor: text;
    width: 95%;
    background: white;
    color: #444;
    margin: 0;
  }

  .section-header {
    font-weight: bold;
    margin: 15px 0 5px 0;
    font-size: $font-medium;

    .help-icon {
      float: left;
      margin: 2px 5px 0 0;
    }
  }

  input[type=checkbox] {
    margin-left: 5px;
  }

  textarea {
    height: 100px;
  }

}
