#content {
  padding: 0;
  background-color: #E1EEF5;

  .title {
    background: #BDD8EB none repeat scroll 0 0;
    border-bottom: 1px solid #A8C0D1;

    h3 {
      color: #244974;
      margin: 0;
      padding: 3px 6px;
    }
  }
}

.profile_center {
  width: 460px;
}