/** Add css rules here for your application. */

.clearfix:after 
{
	line-height: 0; 
	display:block;
	height: 0px;
	visibility:hidden;
	clear: both; 
	font-size: 0px; 
	content: ".";
}

.clearfix
{
	display:block;
}

.ie6 .clearfix 
{
	ZOOM: 1
}
.ie7 .clearfix 
{
	ZOOM: 1
}
.ie8 .clearfix 
{
	ZOOM: 1
}

#ijab_loginbox_container
{
	padding:0px !important;
	padding-bottom:1px !important;
	border-top:1px solid #333333 !important;
	border-left:1px solid #333333 !important;
	border-right:1px solid #333333 !important;
	border-bottom:1px solid #333333 !important;
	bottom:30px;
	_bottom:30px;
	position:absolute !important;
	display:block;
	z-index:30;
	background:#ffffff;
	left:0px;
}

#ijab_loginbox_container .button_container
{
	clear:both;
	height:33px;
	margin-right:70px;
	padding-top:10px;
}

#ijab_loginbox_container button
{
	cursor:pointer;
}

#ijab_loginbox_container input
{
	border:1px solid #6A9ED2;
	color:#868686;
	width:155px;
}

#ijab_loginbox_container .button_container div
{
	width:auto !important;
	display:block;
	float:right;
}

#ijab_loginbox_container .x-btn 
{
	-x-system-font:none;
	cursor:pointer;
	font-family:tahoma,verdana,helvetica;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	white-space:nowrap;
}

#ijab_loginbox_container .x-btn-tl{
	width:3px;
	height:3px;
	background:no-repeat 0 0;
}
#ijab_loginbox_container .x-btn-tr{
	width:3px;
	height:3px;
	background:no-repeat -3px 0;
}
#ijab_loginbox_container .x-btn-tc{
	height:3px;
	background:repeat-x 0 -6px;
}

#ijab_loginbox_container .x-btn-tr i, .x-btn-tl i, .x-btn-mr i, .x-btn-ml i, .x-btn-br i, .x-btn-bl i{
	font-size:1px;
    line-height:1px;
    width:3px;
    display:block;
    overflow:hidden;
}
#ijab_loginbox_container .x-btn-tr i, .x-btn-tl i, .x-btn-br i, .x-btn-bl i{
	height:3px;
}


#ijab_loginbox_container .x-panel-body 
{
    overflow:hidden;
    position: relative;  
	overflow:hidden;
    zoom:1;
}

#ijab_loginbox_container .x-panel-bwrap 
{
	left:0;
	overflow:hidden;
	top:0;
}

#ijab_debug_box
{
	top:0;
	font-size:12px;
	position:fixed;
	right:0px;
	z-index:10;
	_position:  absolute;
	border:1px solid #333333 !important;
	_top:expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop+15 :
            document.body.scrollTop);
}

#ijab_debug_box .x-panel-header,#ijab_loginbox_container .x-panel-header
{
	background:#526EA6 none repeat scroll 0 0;
	border:medium none;
	padding:4px;
	color:#ffffff;
	font-weight:bold;
}

.me {
	color: #385e79;
}

.peer {
	color: #d58248;
}

#ijab_mainbar
{
	bottom:0;
	color:#111111;
	font-size:12px;
	height:25px;
	position:fixed;
	right:0;
	width:100%;
	z-index:99;
	padding:0px !important;
	_position:  absolute;
	_top:expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop+15 :
            document.body.scrollTop +
            (document.body.clientHeight
            -this.clientHeight));
}

.ie6 #ijab_mainbar
{
	margin-bottom:-1px;
}

.ijab_mainbar_ui
{
	margin-left:15px;
	margin-right:15px;
	overflow:visible !important;
	position:relative;
}


.presencebar
{
	border-left:1px solid #B5B5B5;
	background:transparent url(images/bgrepeat.gif);
	background-position:left top;
	background-repeat:repeat-x;
	height:25px;
	padding:0;
	display:block;
}

.ijab_mainbar_right
{
	height:25px;
}

#ijab_mainbar_right .x-item-disabled 
{
    cursor: default;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
	color: gray;
}

#ijab_mainbar_right  .x-item-disabled * 
{
	cursor: default !important;
	color: gray !important;
}

#ijab_mainbar_left
{
	display:inline;
}

#ijab_mainbar_left .ijab_abutton
{
	float:left;
}

#ijab_mainbar_left .ijab_abutton_tooltip
{
	background:transparent url(images/tip.gif) no-repeat scroll left bottom;
	bottom:27px;
	display:none;
	padding-bottom:4px;
	position:absolute;
	z-index:20;
	left:0px;
	right:none;
}

.ijab_menubutton
{
	cursor:pointer;
	height:25px;
	padding:0 6px;
	margin-top:1px;
	position:relative;
}

.ijab_menubutton-over
{
	background-color:#FFFFFF;
}

.ijab_menubutton-focus
{
	background-color:#FFFFFF;
	border-color:#333333 !important;
	border-style:solid !importnat;
	border-width:0 1px 1px 1px !important;
	border-bottom:1px solid #333333;
	color:#333333;
	margin-bottom:1px !important;
	margin-top:-1px !important;
}

.ijab_barmenu
{
	padding:0px !important;
	padding-bottom:1px !important;
	border-top:1px solid #333333 !important;
	border-left:1px solid #333333 !important;
	border-right:1px solid #333333 !important;
	border-bottom:none !important;
	bottom:26px;
	_bottom:26px;
	position:absolute !important;
	display:block;
	z-index:14;
	/*position:fixed !important;*/
}

.ijab_barmenu_header
{
	background:#526EA6 none repeat scroll 0 0;
	border:none;
}

.ijab_barmenu_header_text
{
	margin-left:5px;
	color:#FFFFFF;
	font-weight:700;
	padding:3px 0 4px;
}

.ijab_barmenu_header_buttons
{
	cursor:pointer;
	float:right;
	margin-right:2px;
	margin-top:2px;
	width:32px;
}

.ijab_barmenu_header_min
{
	background:transparent url(images/minimize.png) no-repeat scroll center top;
	display:block;
	float:right;
	height:15px;
	width:15px;
}

.ijab_barmenu_header_min-over
{
	background:transparent url(images/minimize-over.png) no-repeat scroll center top;
}

.ijab_barmenu_header_close
{
	background:transparent url(images/close.png) no-repeat scroll center top;
	display:block;
	float:right;
	height:15px;
	width:15px;
}

.ijab_barmenu_header_close-over
{
	background:transparent url(images/close-over.png) no-repeat scroll center top;
}

.ijab_presencebutton
{
	border-left:1px solid #B5B5B5;
	border-right:1px solid #E0E0E0;
	color:#333333;
	padding-right:5px;
	width:178px;
	_width:191px;
	float:right;
	white-space: nowrap;
}

.ijab_presencebutton-focus
{
	_margin-top:0px !important;
}

.ijab_presencebutton_menu
{
	/*
	width:219px !important;
	_width:221px !important;
	*/
	bottom:24px;
	_bottom:25px;
	background:#FFFFFF url(images/buddy_list_menu_bg.gif) no-repeat scroll 1px bottom !important;
	right:0px;

	_right:15px;
	z-index:14;
}

.ijab_abutton
{
	float:right;
	color:#333333;
	width:15px;
	white-space: nowrap;
	display:block;
}

#ijab_mainbar_right .ijab_abutton_tooltip
{
	background:transparent url(images/tip.gif) no-repeat scroll right bottom;
	bottom:27px;
	display:none;
	padding-bottom:4px;
	position:absolute;
	right:6px;
	z-index:20;
}

.ijab_abutton_tooltip strong
{
	background:#282828 none repeat scroll 0 0;
	color:#FFFFFF;
	display:block;
	font-weight:normal;
	padding:3px 8px;
	text-align:center;
	white-space:nowrap;
}

.ijab_error_button
{
	border-left:1px solid #B5B5B5;
}

.ijab_optionsbutton
{
	float:right;
	border-left:1px solid #B5B5B5;
	border-right:1px solid #B5B5B5;
	color:#333333;
	width:15px;
	white-space: nowrap;
	display:block;
}

.ijab_optionsbutton-focus
{
	_margin-top:0px !important;
}
.ijab_optionsbutton_img
{
	border:none;
	width:16px;
	height:16px;
}

.ijab_optionsbutton_menu
{
	background:#FFFFFF url(images/notify_menu_bg.gif) no-repeat scroll  right bottom !important;
	bottom:24px;
	_bottom:23px;
	width:219px !important;
	_width:221px !important;
	/*
	width:219px !important;
	_width:221px !important;
	*/
	right:-1px;
	_right:-1px;
	z-index:14;
}

.inner_button
{
	border-top:1px solid white;
	padding:3px 0;
} 

.buddy_icon
{
	border:0 none !important;
	height:16px !important;
	margin-right:4px;
	width:16px !important;
	float:left;
	margin:0px 2px 5px 0;
}

.ijab_chatpanel
{
	float:right;
	height:26px;
	padding:0;
}

.ijab_chatpanel_wrap
{
	float:left;
}


.ijab_chatpanel_button
{
	border-left:1px solid #B5B5B5;
	border-right:1px solid #E0E0E0;
	color:#333333;
	float:left;
}

.ijab_chatpanel_button-focus
{
	margin-top:0px !important;
	color:#555555;
}

.ijab_chatpanel_button-focus .ijab_chatpanel_button_hit
{
	margin-top:0;
	padding-bottom:5px;
	padding-top:4px;
}

.ijab_chatpanel_button_ie
{
	width:135px !important;
}

.ijab_chatpanel_button_maindiv
{
	height:24px;
}
.ijab_chatpanel_button_hit
{
	cursor:pointer;
	float:left;
	overflow:hidden;
	padding:6px 4px 6px 6px;
	position:relative;
	width:110px;
}

.ijab_chatpanel_button_status
{
	height:7px;
	margin:0 0 1px 4px;
	width:7px;
}

.ijab_chatpanel_button_name
{
	background-position:right 5px;
	background-repeat:no-repeat;
	float:left;
	font-weight:bold;
	padding-right:12px;
	padding-top:0px;
	white-space:nowrap;
	font-size:12px;
}


.ijab_chatpanel_button_nametext
{
}

.ijab_chatpanel_button_menu
{
	background:#FFFFFF url(images/chat_menu_bg.gif) no-repeat scroll  bottom !important;
	/*z-index:12;*/
	margin-left:-87px;
	_margin-left:-197px;
	bottom:24px;
	_bottom:25px;
}

.ijab_chatpanel_button_menu .x-panel-header
{
	background:none !important;
	border:none !important;
	padding:0px;
}

.ijab_chatpanel_button_menu .x-panel-body
{
	border:none !important;
}

.ijab_chatpanel_button_menu .x-panel-body-noheader, .x-panel-mc .x-panel-body
{
	border-top:none;
}

.ijab_chatpanel_button_menu_wrap
{
	height:228px !important;
}

.ijab_chatpanel_scroll
{
	width:16px;
	float:right;
}

.ijab_x_button
{
	background:transparent url(images/chat-close.png) no-repeat scroll center top;
	color:#666666;
	cursor:pointer;
	font-weight:bold;
	height:10px;
	margin:9px 4px 0 0;
	text-align:center;
	width:9px;
	float:right;
}

.ijab_x_button-over
{
	background:transparent url(images/chat-close-over.png) no-repeat scroll center top !important;
}




/*for chat box*/

.message_view
{
	/*height:187px !important;*/
	border-bottom:1px solid #93A2C1 !important;
}

.message_view h5
{
	border-top:1px solid #EEEEEE;
	font-size:12px;
	margin:2px 0 0;
	padding:3px 6px 1px;
}

h5.self
{
	color:#777777;
}

.message_view p
{
	color:#000000;
	line-height:14px;
	margin:0 4px;
	padding:2px 3px;
	font-size:12px;
}

.time_stamp
{
	color:#999999;
	float:right;
	font-size:10px;
	font-weight:normal;
	padding:1px 0;
}

.other
{
	color:#3B5998;
}

.chat_input
{
	background:transparent url(images/chat.gif) no-repeat scroll;
	height:24px;
	width:100% !important;
	border:none;
	margin:0;
	padding:4px 4px 4px 24px;
	font-size:12px;
}

.chat_input_overflowhidden
{
	overflow-y:hidden;
}

/* for contactview */
#ijab_contactview .x-panel-tbar
{
	color:#444444;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	outline-style:none;
	outline-width:medium;
	padding:4px;
	background: #CCCCCC;
}

.ijab_contactview_searchbox
{
	background:url(images/search.png) no-repeat left center;
	padding-left:20px;
	font-size:11px;
}

#ijab_contactview .x-grid3-row
{
	cursor:pointer;
	border:0px solid #ededed;
	border-top-color:#fff;
	width:100%;
	padding:2px;
}

#ijab_contactview .x-grid3-row-over
{
	border:0px solid #ddd;
	background:#efefef url(images/contactview/row-over.gif) repeat-x left top;
}

#ijab_contactview .x-grid3-row-selected
{
	background:#DFE8F6!important;
	border:0px dotted #a3bae9;
}

#ijab_contactview .x-grid-group-hd
{
	/*border-bottom:2px solid #99bbe8;*/
	cursor:pointer;
	padding-top:0px;
}

#ijab_contactview .x-grid-group-hd div
{	
	background:transparent url(images/contactview/group-expand-sprite.png) no-repeat 3px -47px;
	padding:5px 4px 4px 20px;
	color:#000000;
	font:12px tahoma,arial,helvetica,sans-serif;
	text-align:left !important;
}

#ijab_contactview .x-panel-body-noheader, .x-panel-mc .x-panel-body 
{
	border:none;
}

#ijab_contactview .x-panel-body 
{
	background-color:#FFFFFF;
	border-color:#99BBE8;
	overflow:hidden;
	border:none;
	position:relative;
}

#ijab_contactview .x-livegrid-scroller
{
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	right:0;
	width:18px;
	z-index:1;
}

/*copy from extjs*/
.x-hide-display {
    display:none !important;
}
#ijab_contactview .x-hide-visibility {
    visibility:hidden !important;
}


/* for x-panel */
#ijab_contactview .x-panel-bwrap 
{
	left:0;
	zoom:1;
	overflow:hidden;
	top:0;
}


#ijab_contactview .x-grid3 {
  position: relative;
  overflow: hidden;
}

#ijab_contactview .x-grid-panel .x-panel-body {
  overflow: hidden !important;
}

#ijab_contactview .x-grid-panel .x-panel-mc .x-panel-body {
  border: 1px solid;
}

#ijab_contactview .x-grid3 .x-grid3-row-table {
  table-layout: fixed;
}

#ijab_contactview .x-grid3-viewport {
  overflow: hidden;
}

#ijab_contactview .x-grid3-hd-row .x-grid3-hd,.x-grid3-row .x-grid3-hd,.x-grid3-summary-row .x-grid3-hd {
  -moz-outline: none;
  -moz-user-focus: normal;
}

#ijab_contactview .x-grid3-row,.x-grid3-summary-row{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: ignore;
}

#ijab_contactview .x-grid3-row td.x-grid3-cell,.x-grid3-summary-row td.x-grid3-cell {
  line-height: 13px;
  vertical-align: top;
  padding-left: 1px;
  padding-right: 1px;
  -moz-outline: none;
}

#ijab_contactview .x-grid3-hd-row .x-grid3-hd {
  line-height: 15px;
  vertical-align: middle;
  border-left: 1px solid;
  border-right: 1px solid;
}

#ijab_contactview .x-grid3-hd-row .x-grid3-marker-hd {
  padding: 3px;
}

#ijab_contactview .x-grid3-row .x-grid3-marker {
  padding: 3px;
}

#ijab_contactview .x-grid3-cell-inner,.x-grid3-hd-inner 
{
  float: left;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 3px 3px 3px 5px;
  white-space: nowrap;
}

#ijab_contactview .x-grid3-hd-inner {
  position: relative;
  cursor: inherit;
  padding: 4px 3px 4px 5px;
  vertical-align: middle;
}

#ijab_contactview .ext-ie .x-grid3-hd-inner {
  position: static;
}

#ijab_contactview .x-grid3-row-body {
  white-space: normal;
  font-size: 11px;
}

#ijab_contactview .x-grid3-body-cell {
  -moz-outline: 0 none;
  outline: 0 none;
}

#ijab_contactview .ext-ie .x-grid3-cell-inner,.ext-ie .x-grid3-hd-inner {
  width: 100%;
}

#ijab_contactview .ext-strict .x-grid3-cell-inner,.ext-strict .x-grid3-hd-inner {
  width: auto;
}

#ijab_contactview .x-grid-row-loading {
  background: no-repeat center center;
}

#ijab_contactview .x-grid-page {
  overflow: hidden;
}

#ijab_contactview .x-grid3-resize-proxy {
  width: 1px;
  left: 0;
  cursor: e-resize;
  cursor: col-resize;
  position: absolute;
  top: 0;
  height: 100px;
  overflow: hidden;
  visibility: hidden;
  border: 0 none;
  z-index: 7;
}

#ijab_contactview .x-grid3-resize-marker {
  width: 1px;
  left: 0;
  position: absolute;
  top: 0;
  height: 100px;
  overflow: hidden;
  visibility: hidden;
  border: 0 none;
  z-index: 7;
}

#ijab_contactview .x-grid3-focus {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  -moz-outline: 0 none;
  outline: 0 none;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: ignore;
}

#ijab_contactview .x-grid3-header {
  background: repeat-x 0 bottom;
  cursor: default;
  zoom: 1;
  padding: 0px 0 0 0;
}

#ijab_contactview .x-grid3-header-pop {
  border-left: 1px solid;
  float: right;
  clear: none;
}

#ijab_contactview .x-grid3-header-pop-inner {
  border-left: 1px solid;
  width: 14px;
  height: 19px;
  background: transparent no-repeat center center;
}

#ijab_contactview .ext-ie .x-grid3-header-pop-inner {
  width: 15px;
}

#ijab_contactview .ext-strict .x-grid3-header-pop-inner {
  width: 14px;
}

#ijab_contactview .x-grid3-header-inner {
  overflow: hidden;
  zoom: 1;
  float: left;
}

#ijab_contactview .x-grid3-header-offset {
  padding-left: 1px;
}

#ijab_contactview td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open {
  border-left: 1px solid;
  border-right: 1px solid;
}

#ijab_contactview td.x-grid3-hd-over .x-grid3-hd-inner,td.sort-desc .x-grid3-hd-inner,td.sort-asc .x-grid3-hd-inner,td.x-grid3-hd-menu-open .x-grid3-hd-inner
  {
  background: repeat-x left bottom;
}

#ijab_contactview .x-grid3-sort-icon {
  background-repeat: no-repeat;
  display: none;
  height: 4px;
  width: 13px;
  margin-left: 3px;
  vertical-align: middle;
}

#ijab_contactview .sort-asc .x-grid3-sort-icon,.sort-desc .x-grid3-sort-icon {
  display: inline;
}

#ijab_contactview .ext-strict .ext-ie .x-grid3-header-inner,.ext-strict .ext-ie6 .x-grid3-hd {
  position: relative;
}

#ijab_contactview .ext-strict .ext-ie6 .x-grid3-hd-inner {
  position: static;
}

#ijab_contactview .x-grid3-body {
  zoom: 1;
}

#ijab_contactview .x-grid3-scroller {
  overflow: auto;
  zoom: 1;
  position: relative;
}

#ijab_contactview .x-grid3-cell-text,.x-grid3-hd-text {
  display: block;
  padding: 3px 5px 3px 5px;
}

#ijab_contactview .x-grid3-split {
  background-position: center;
  background-repeat: no-repeat;
  cursor: e-resize;
  cursor: col-resize;
  display: block;
  font-size: 1px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  width: 6px;
  z-index: 3;
}

#ijab_contactview .x-dd-drag-proxy .x-grid3-hd-inner {
  background: repeat-x left bottom;
  width: 120px;
  padding: 3px;
  border: 1px solid;
  overflow: hidden;
}

#ijab_contactview .col-move-top,.col-move-bottom {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
  visibility: hidden;
  z-index: 20000;
  background: transparent no-repeat left top;
}

#ijab_contactview .x-grid3-locked td.x-grid3-row-marker,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker
  {
  background: repeat-x 0 bottom !important;
  vertical-align: middle !important;
  padding: 0;
  border-top: 1px solid;
  border-bottom: none !important;
  border-right: 1px solid !important;
  text-align: center;
}

#ijab_contactview .x-grid3-locked td.x-grid3-row-marker div,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker div
  {
  padding: 0 4px;
  text-align: center;
}

#ijab_contactview .x-grid3-dirty-cell {
  background: transparent no-repeat 0 0;
}

#ijab_contactview .x-grid3-topbar,.x-grid3-bottombar {
  overflow: hidden;
  display: none;
  zoom: 1;
  position: relative;
}

#ijab_contactview .x-grid3-topbar .x-toolbar {
  border-right: 0 none;
}

#ijab_contactview .x-grid3-bottombar .x-toolbar {
  border-right: 0 none;
  border-bottom: 0 none;
  border-top: 1px solid;
}

#ijab_contactview .x-props-grid .x-grid3-cell {
  padding: 1px;
}

#ijab_contactview .x-props-grid .x-grid3-td-name .x-grid3-cell-inner {
  background: transparent repeat-y -16px !important;
  padding-left: 12px;
}

#ijab_contactview .x-props-grid .x-grid3-body .x-grid3-td-name {
  padding: 1px;
  padding-right: 0;
  border: 0 none;
  border-right: 1px solid;
}

#ijab_contactview .x-grid3-col-dd {
  border: 0 none;
  padding: 0;
  background: transparent;
}

#ijab_contactview .x-dd-drag-ghost .x-grid3-dd-wrap {
  padding: 1px 3px 3px 1px;
}

#ijab_contactview .x-grid3-hd {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: ignore;
}

#ijab_contactview .x-grid3-hd-btn {
  display: none;
  position: absolute;
  width: 14px;
  background: no-repeat left center;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

#ijab_contactview .x-grid3-hd-over .x-grid3-hd-btn,.x-grid3-hd-menu-open .x-grid3-hd-btn {
  display: block;
}

#ijab_contactview a.x-grid3-hd-btn:hover {
  background-position: -14px center;
}

#ijab_contactview .x-grid3-body .x-grid3-td-expander {
  background: transparent repeat-y right;
}

#ijab_contactview .x-grid3-body .x-grid3-td-expander .x-grid3-cell-inner {
  padding: 0 !important;
  height: 100%;
}

#ijab_contactview .x-grid3-row-expander {
  width: 100%;
  height: 18px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
  background-color: transparent;
}

#ijab_contactview .x-grid3-row-collapsed .x-grid3-row-expander {
  background-position: 4px 2px;
}

#ijab_contactview .x-grid3-row-expanded .x-grid3-row-expander {
  background-position: -21px 2px;
}

#ijab_contactview .x-grid3-row-collapsed .x-grid3-row-body {
  display: none !important;
}

#ijab_contactview .x-grid3-row-expanded .x-grid3-row-body {
  display: block !important;
}

#ijab_contactview .x-grid3-body .x-grid3-td-checker {
  background: transparent repeat-y right;
}

#ijab_contactview .x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner,.x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner {
  padding: 0 !important;
  height: 100%;
}

#ijab_contactview .x-grid3-row-checker,.x-grid3-hd-checker {
  width: 100%;
  height: 18px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-color: transparent;
}
#ijab_contactview .x-grid3-hd-checker {
  padding-bottom: 0px !important; 
}
#ijab_contactview .x-grid3-row .x-grid3-row-checker {
  background-position: 2px 2px;
}

#ijab_contactview .x-grid3-row-selected .x-grid3-row-checker,.x-grid3-hd-checker-on .x-grid3-hd-checker,.x-grid3-row-checked .x-grid3-row-checker
  {
  background-position: -23px 2px;
}

#ijab_contactview .x-grid3-hd-checker {
  background-position: 2px 3px;
}

#ijab_contactview .x-grid3-hd-checker-on .x-grid3-hd-checker {
  background-position: -23px 3px;
}

#ijab_contactview .x-grid3-body .x-grid3-td-numberer {
  background: transparent repeat-y right;
}

#ijab_contactview .x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {
  padding: 3px 5px 0 0 !important;
  text-align: right;
}

#ijab_contactview .x-grid3-body .x-grid3-td-row-icon {
  background: transparent repeat-y right;
  vertical-align: top;
  text-align: center;
}

#ijab_contactview .x-grid3-body .x-grid3-td-row-icon .x-grid3-cell-inner {
  padding: 0 !important;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  margin-top: 3px;
}

#ijab_contactview .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander
  {
  background: transparent repeat-y right;
}

#ijab_contactview .x-grid3-body .x-grid3-check-col-td .x-grid3-cell-inner {
  padding: 1px 0 0 0 !important;
}

#ijab_contactview .x-grid3-check-col {
  width: 100%;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

#ijab_contactview .x-grid3-check-col-on {
  width: 100%;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

#ijab_contactview .x-grid-group,.x-grid-group-body,.x-grid-group-hd {
  zoom: 1;
}

#ijab_contactview .x-grid-group-collapsed .x-grid-group-hd div {
  background-position: 3px 3px;
}

#ijab_contactview .x-grid-group-collapsed .x-grid-group-body {
  display: none;
}

#ijab_contactview .x-grid-empty {
  padding: 10px;
}

#ijab_contactview .ext-ie7 .x-grid-panel .x-panel-bbar {
  position: relative;
}

#ijab_contactview .x-grid-with-col-lines .x-grid3-row td.x-grid3-cell {
  padding-right: 0;
  border-right: 1px solid;
}

#ijab_contactview .ext-ie6 .x-grid3-header {
  position: relative;
}

#ijab_contactview .x-grid3-check-col-disabled {
  width: 100%;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

.avatarimg
{
	/*background:#FFFFFF url(../images/default_avatar.png) no-repeat scroll center center;*/
	width:32px;
	height:32px;
	border:1px solid #599CE0;
	display:block;
	overflow:hidden;
	padding:1px;
}

.offline
{
	filter:Gray;
	opacity:0.4;
}

/* for options box*/
.options_heading
{
	background-color:#EEEEEE;
	/*color:#666666;*/
	color:red;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:9px;
	padding:5px;
}

.optionsbox_container
{
	margin:2px;
}

.optionsbox_status_textarea
{
	border:1px solid #CCCCCC;
	color:#444444;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	margin-bottom:3px;
	margin-top:3px;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	overflow-x:hidden;
	overflow-y:auto;
	padding:4px;
}

.ijab_login_label,.ijab_login_field
{
	float:left;
	
}

.ijab_login_label
{
	width:70px;
	text-align:right;
	white-space:nowrap;
	margin-right:5px;
	padding-top:10px;
	display:block;
}

.ijab_login_field
{
	width:auto !important;
	padding-top:10px;
}

/* css for info, copy from gxt and modifyed by zhongfanglin@anzsoft.com*/
.x-info {
  border-style: solid;
  border-color: #99bbe8;
  border-width: 0;
  z-index: 99999999;
}

.x-info-header {
  overflow: hidden;
  zoom: 1;
  color: black;
  font: bold 13px tahoma, arial, verdana, sans-serif;
  padding: 5px 3px 4px 5px;
  line-height: 15px;
  background: transparent url(images/white-top-bottom.gif) repeat-x 0 -1px;
}

.x-info-body {
  border-top: 0 none;
  overflow: hidden;
  background: white;
  position: relative; /* added for item scroll positioning */
}

.x-info-header {
  overflow: hidden;
  zoom: 1;
}

.x-info-tl .x-info-header {
  color: #555555;
  font-family: tahoma, arial, sans-serif;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
  padding: 5px 0 4px 0;
  border: 0 none;
  background: transparent;
}

.x-info-tl .x-info-icon,.x-window-tl .x-info-icon {
  padding-left: 20px !important;
  background-repeat: no-repeat;
  background-position: 0 4px;
  zoom: 1;
}

.x-info-inline-icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.x-info-tc {
  background: transparent url(images/info/top-bottom.gif) repeat-x 0 0;
  overflow: hidden;
}

/* fix ie7 strict mode bug */
.ext-ie7 .x-info-tc {
  overflow: visible;
}

.x-info-tl {
  background: transparent url(images/info/corners-sprite.gif) no-repeat 0 0;
  padding-left: 6px;
  zoom: 1;
}

.x-info-tr {
  background: transparent url(images/info/corners-sprite.gif) no-repeat right 0;
  zoom: 1;
  padding-right: 6px;
}

.x-info-bc {
  background: transparent url(images/top-bottom.gif) repeat-x 0 bottom;
  zoom: 1;
  font-size: 0px;
}

.x-info-bc .x-info-footer {
  zoom: 1;
}

.x-info-bl {
  background: transparent url(images/corners-sprite.gif) no-repeat 0 bottom;
  padding-left: 6px;
  zoom: 1;
}

.x-info-br {
  background: transparent url(images/corners-sprite.gif) no-repeat right bottom;
  padding-right: 6px;
  zoom: 1;
}

.x-info-mc {
  border: 0 none;
  padding: 0;
  margin: 0;
  font: normal 11px tahoma, arial, helvetica, sans-serif;
  background: #dfe8f6;
}

.x-info-mc .x-info-body {
  background: transparent;
  border: 0 none;
}

.x-info-ml {
  background: #fff url(images/left-right.gif) repeat-y 0 0;
  padding-left: 6px;
  zoom: 1;
}

.x-info-mr {
  background: transparent url(images/left-right.gif) repeat-y right 0;
  padding-right: 6px;
  zoom: 1;
}

.x-info-bc .x-info-footer {
  padding-bottom: 6px;
}

.x-info-nofooter .x-info-bc,.x-panel-nofooter .x-info-bc {
  height: 6px;
  font-size: 0;
  line-height: 0;
}

.x-info-bwrap {
  overflow: hidden;
  zoom: 1;
}

.x-info-body {
  overflow: hidden;
  zoom: 1;
  color: #555555;
  font-family: tahoma, arial, sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}


/* copy from ext css for datalist */
.ijab_barmenu .my-list {
  border: 1px solid #99BBE8;
  -moz-outline: none;
  -moz-user-focus: normal;
  background-color: white;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
}


.ijab_barmenu .my-list-flat {
  border: 1px solid #6593cf;
  -moz-outline: none;
  -moz-user-focus: normal;
  background-color: white;
  cursor: default;
}

.ijab_barmenu .my-list-item {
  cursor: pointer;
  -moz-outline: none;
  -moz-user-focus: normal;
}

.ijab_barmenu .my-list-flat .my-list-item {
  height: 19px;
  border: 1px solid white;
}

.ijab_barmenu .my-list-flat .my-list-item-over {
  background-color: #F1F1F1;
  border: 1px dotted #B5B4B4;
}

.ijab_barmenu .my-list-flat .my-list-item-sel {
  background-color: #DFE8F6;
  border: 1px dotted #9EB8ED;
}

.ijab_barmenu .my-list-flat .my-list-item-over .my-list-item-l {
  background: none;
}

.ijab_barmenu .my-list-flat .my-list-item-over .my-list-item-icon,.my-list-flat .my-list-item-over .my-list-item-ml,.my-list-flat .my-list-item-over .my-list-item-c
  {
  background: none;
}

.ijab_barmenu .my-list-flat .my-list-item-over .my-list-item-r {
  background: none;
}

.ijab_barmenu .my-list-flat .my-list-item-sel .my-list-item-l {
  background: none;
}

.ijab_barmenu .my-list-flat .my-list-item-sel .my-list-item-icon,.my-list-flat .my-list-item-sel .my-list-item-ml,.my-list-flat .my-list-item-sel .my-list-item-c
  {
  background: none;
}

.ijab_barmenu .my-list-flat .my-list-item-sel .my-list-item-r {
  background: none;
}

.ijab_barmenu .my-list-item-text {
  font-size: 11px;
  padding-top: 3px;
  padding-left: 2px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 19px;
}

.ijab_barmenu .my-list-item-l div {
  width: 5px;
}

.ijab_barmenu .my-list-item-ml {
  width: 18px;
}

.ijab_barmenu .my-list-item-c {
  width: 100%;
}

.ijab_barmenu .my-list-item-r div {
  width: 3px;
}

.ijab_barmenu .my-list-item-over .my-list-item-l {
  background: url(images/select-19-bg.gif) no-repeat left -57px;
}

.ijab_barmenu .my-list-item-over .my-list-item-icon,.my-list-item-over .my-list-item-check,.my-list-item-over .my-list-item-c
  {
  background: url(images/select-19-bg.gif) repeat-x left -95px;
}

.ijab_barmenu .my-list-item-over .my-list-item-r {
  background: url(images/select-19-bg.gif) no-repeat right -76px;
}

.ijab_barmenu .my-list-item-sel .my-list-item-l {
  background: url(images/select-19-bg.gif) no-repeat left 0px;
}

.ijab_barmenu .my-list-item-sel .my-list-item-icon,.my-list-item-sel .my-list-item-check,.my-list-item-sel .my-list-item-c
  {
  background: url(images/select-19-bg.gif) left -38px;
}

.ijab_barmenu .my-list-item-sel .my-list-item-r {
  background: url(images/select-19-bg.gif) no-repeat right -19px;
}

.emobig 
{
	color:#FF7B7A;
	font-family:'Georgia','Serif';
	font-size:16px;
	font-weight:bold;
	margin-right:0;
}

.notify_button
{
	background:url(images/options.png) no-repeat center center;
	width:16px;
	height:16px;
}
