/* @import "definitions"; */

/* // This is shown in too many pages, the selector below should be */
/* // enough, so the body selectors are not really necessary here */

/* #space-admin-tabs { */
/*   text-align: center; */
/* } */
