@import "compass/typography/links";
@import "definitions";

@import "app/custom_bigbluebutton_rooms/invitation_form";

// This is shown in too many pages, the selector below should be
// enough, so the body selectors are not really necessary here

#space-sidebar {

  #latest-news {

    .news-title {
      h4 {
        float: left;
        color: black;
        font-weight: bold;
      }
    }

    .news-content {
      clear: both;
      margin-top: 5px;
    }

  }

  #sidebar-leave-space {
    text-align: center;
    padding: 5px 0;
  }

  #sidebar-webconference {
    .description {
      text-align: center;
    }

    .buttons {
      text-align: center;
      margin: 5px 0;

      .btn-group {
        margin: 4px 2px;
      }
    }

    .icon-mconf-in-progress {
      float: left;
      margin-left: 10px;
    }
  }

  #sidebar-space-admins {
  }

  #sidebar-pageviews {
    text-align: center;
    .value {
      font-weight: bold;
      color: $blue;
    }
  }

  .sidebar-top-action-button {
    .alert {
      margin-bottom: 5px;
      span, a { display: block; }
    }
  }

}
