@import "compass/css3";
@import "definitions";

.space-thumbnail-wrapper {
  background: $light-gray;
  padding: 5px;
  margin: 0px 10px 5px 0px;
  @include border-radius(4px);
  @include mconf-clearfix;
  float: left;

  .space-thumbnail {
    @include mconf-clearfix;
    border: 1px solid darken($light-gray, 12);
    @include border-radius(4px);
    background: white;

    .space-logo {
      background: darken($light-gray, 7);
      padding: 4px;
      width: 80px;
      float: left;

      img {
        @include border-radius(4px);
        border: 1px solid darken($light-gray, 12);
        width: 78px;
        height: 61px;
      }
    }

    .space-description {
      margin: 5px;
      overflow: hidden;
      width: 115px;
      float: left;

      .visibility {
        font-size: $font-small;
        display: block;

        &.public { color: $alert-success-font };
        &.private { color: $alert-danger-font };
      }

      .space-title {
        display: block;
        white-space: nowrap;
      }
    }
  }
}
