@import "definitions";

#space-title {
  padding: 10px 0 20px 10px;
  @include make-row;

  &.simplified {
    .current-page-title {
      @include make-xs-column(10);
      .sub-title {
        display: none;
        height: 0;
      }
    }
    .current-page-logo {
      @include make-xs-column(2);
      max-width: 150px;
    }
  }
}
