@import "compass/css3";
@import "definitions";


.thread-space {

  .thread-content {

    .is-member {
      @include font-size($m-font-small);
      color: $m-alert-success-font;
      margin-left: 5px;
      background: lighten($m-alert-success-bg, 5);
      padding: 1px 3px;
      @include border-radius(3px);
    }

  }

}
