@import "compass/css3";
@import "definitions";


.thread-space {

  .thread-content {

    .is-member {
      font-size: $font-small;
      color: $green;
      margin-right: 10px;
      float: right;
    }

    .space-description {
      @include space-visibility;
    }

  }

}
