@import "definitions";
@import "compass/css3";

body.spaces.edit {

  // need this because the right column has an absolute position, see below
  #content-middle {
    position: relative;
  }

  .left-column {
    width: 425px;
  }

  .right-column {
    position: absolute;
    right: 50px;
    z-index: $z-index-navbar;
  }

  #new-space-basic-info {
    input[type=text], textarea {
      width: 98%;
    }
  }

  #edit-space {
    clear: both;
  }

  #change_logo {
    text-align: center;
    .input.file.optional {
      display: none;
    }
  }

  #logo_image {
    @include logo-in-thread; // in _definitions
    img {
      height: 128px;
      width: 168px;
    }
  }

}
