@import "definitions";
@import "compass/css3";

@import "app/spaces/admin_tabs";

body.spaces.edit {

  #edit-space {
    clear: both;
  }

  // need this because the right column has an absolute position, see below
  #content-middle {
    position: relative;
  }

  .left-column {
    width: 425px;

    #space_name, #space_description {
      width: 98%;
    }
  }

  .right-column {
    position: absolute;
    right: 50px;
    z-index: $z-index-navbar;

    form {
      text-align: center;
      .input.file.optional {
        display: none;
      }
    }
  }

  #edit-space-current-logo {
    @include logo-in-thread; // in _definitions
    img {
      height: 128px;
      width: 168px;
    }
  }

  #edit-space-other-options {
    text-align: center;
    .btn { margin-left: 5px; }
  }

  #space-logo-uploader {
    .upload-button {
      display: block;
    }

    .progress {
      width: 150px;
    }

    .upload-spinner {
      display: none !important;
    }

    .upload-list {
      padding-top: 5px;
      font-size: 14px;
    }
  }

}
