@import "compass/css3";
@import "definitions";

@import "app/spaces/_unified_space";
@import "app/spaces/_space_thumbnail";

body.spaces.index {

  #content-middle {
    min-height: 450px;
  }

  #space-filter-wrapper {
    @include mconf-clearfix;
    margin-bottom: 10px;
    padding: 10px 5px;
    background: $light-gray;
    @include border-radius(5px);
    text-align: center;

    .view-types {
      float: right;
      margin-top: 1px;
      margin-right: 10px;
    }

    .btn-group {
      margin-left: 15px;
      float: left;

      .select2-container {
        margin: 0;
      }
      .select2-choice {
        @include border-radius(0 4px 4px 0);
      }

      #space-filter-text {
        border-left: 0;
        margin: 0;
        @include border-left-radius(0);
      }
    }
  }

  // the results for the filter by name are added to <body>, this is why
  // this selector is here and not nested
  .select2-results, .select2-container {
    i {
      float: right;
      font-size: 11px;
      margin: 6px 0 0 0;
    }
  }

  #space-description-wrapper {
    width: 230px;

    .content-block-middle {
      .space-logo-wrapper {
        text-align: center;
        @include broken-img-parent;

        img {
          padding: 20px;
          background: $light-gray;
          width: 169px;
          height: 128px;
          margin-bottom: 5px;
        }
      }
    }

    .details {
      font-style: italic;
      color: #888;
      span { display: block; }
      .is-member {
        color: $green;
        float: right;
        font-style: normal;
      }
    }

    .action-links {
      text-align: right;
    }
  }

  #spaces {

    .space-item.space-list {
      .thread {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-right: 5px;
      }

      &.selected .thread {
        border-right: 5px solid #aaa;
        padding-right: 0;
      }
    }

    .space-thumbnail-list {
      margin: 0;
      padding: 0;
      clear: both;
      @include mconf-clearfix;

      li {
        margin: 0;
        padding: 0;
      }

      .space-item.selected {
        .space-thumbnail {
          border-color: $second-color;
          @include box-shadow(0 0 5px lighten($second-color, 10));
        }
      }
    }

  }

}