@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

body.spaces.index {

  #space-filter-wrapper {
    @include mconf-clearfix;
    margin-bottom: 10px;
    padding: 10px 10px;
    background: $m-light-gray;
    @include border-radius(5px);
    text-align: left;

    .filters, .list-types, .list-order {
      @include mconf-clearfix;
      float: left;
      margin-top: 8px;
      width: 33.3%;

      span {
        margin-right: 5px;
      }
    }

    .list-types, .list-order {
      text-align: right;
    }

    .search {
      clear: both;
      width: 100%;

      .select2-container {
        max-width: 100% !important;
        min-width: 100%;
      }
    }
  }

  #space-order-wrapper {
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  // adjust how the select2 search input looks in this page
  // note: exactly the same we have in mweb_events-events/index.css.scss
  .select2-container .select2-choice {
    border-right-width: 1px;
  }
  // the results for the filter by name are added to <body>, this is why
  // this selector is here and not nested
  .select2-results, .select2-container {
    .select2-result, .select2-chosen {
      text-align: left;

      i {
        float: right;
        @include font-size($m-font-small);
        margin: 4px 0 0 0;
      }

      a {
        @include font-size($m-font-normal);
        text-align: left;
        @include link-colors($m-font-color, $m-font-color, $m-font-color, $m-font-color);
        @include transition(none);
      }

      &.select2-highlighted {
        i { color: #eee }
        a { @include link-colors(#eee, #eee, #eee, #eee); }
      }
    }
  }

  #space-description-wrapper {

    // When the description is floating over the page, it has to be restricted
    // to the exact size of the sidebar. So we set it to be the min size of the sidebar
    // minus paddings+margings+borders.
    &.is-sticky {
      min-width: 260px;
      width: 260px;
    }

    .content-block-middle {
      //word-break: break-all;

      .empty-space-description {
        margin-top: 20px;
        text-align: center;
      }

      .space-logo-wrapper {
        margin: 10px 0;
        padding: 0 0 10px 0;
        text-align: center;
        @include broken-img-parent;

        img {
          width: 100%;
          height: 100%;
          max-width: 300px;
          max-height: 300px;
          border: 1px solid darken($m-light-gray, 10);
          padding: 0;
          background: $m-site-bg-color;
          padding: 3px;
        }
      }
    }

    .is-member {
      width: 100%;
      color: $m-alert-success-font;
      background: lighten($m-alert-success-bg, 5);
      padding: 1px 3px;
      @include border-radius(3px);
      text-align: center;
      margin: 5px 0 10px 0;
    }

    .details {
      font-style: italic;
      color: #888;
      span { display: block; }
    }

    .action-links {
      text-align: right;
    }
  }

  #spaces {

    .list-text {
      .thread {
        margin: 0;
        // tighter than the default
        padding: 10px;
      }

      &.selected .thread {
        background: $m-light-gray;
        .logo-in-thread img {
          border-color: $m-bright-blue;
        }
      }
    }

    .list-thumbnail {
      .resource-visibility {
        color: $m-dark-gray;
      }
    }

    .list-text {
      .resource-visibility {
        color: $m-dark-gray;
      }
    }
  }

}
