@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

@import "app/spaces/_unified_space";

body.spaces.index {

  #content-middle {
    min-height: 450px;
  }

  #space-filter-wrapper {
    @include mconf-clearfix;
    margin-bottom: 10px;
    padding: 10px 5px;
    background: $light-gray;
    @include border-radius(5px);
    text-align: center;

    .view-types {
      float: right;
      margin-top: 1px;
      margin-right: 10px;
    }

    .btn-group {
      margin-left: 15px;
      float: left;

      .select2-container {
        margin: 0;
      }
      .select2-choice {
        @include border-radius(0 4px 4px 0);
      }

      #space-filter-text {
        border-left: 0;
        margin: 0;
        @include border-left-radius(0);
      }
    }
  }

  // adjust how the select2 search input looks in this page
  // note: exactly the same we have in mweb_events-events/index.css.scss
  .select2-container .select2-choice {
    border-right-width: 1px;
  }
  // the results for the filter by name are added to <body>, this is why
  // this selector is here and not nested
  .select2-results, .select2-container {
    .select2-result, .select2-chosen {
      text-align: left;

      i {
        float: right;
        @include font-size($font-small);
        margin: 4px 0 0 0;
      }

      a {
        @include font-size($font-normal);
        text-align: left;
        @include link-colors($font-color, $font-color, $font-color, $font-color);
        @include transition(none);
      }

      &.select2-highlighted {
        i { color: #eee }
        a { @include link-colors(#eee, #eee, #eee, #eee); }
      }
    }
  }

  #space-description-wrapper {
    width: 230px;

    .content-block-middle {
      word-break: break-all;

      .space-logo-wrapper {
        margin: 5px 0;
        text-align: center;
        @include broken-img-parent;

        img {
          padding: 20px;
          background: $light-gray;
          width: 169px;
          height: 128px;
          margin-bottom: 5px;
        }
      }
    }

    .details {
      font-style: italic;
      color: #888;
      span { display: block; }
      .is-member {
        color: $green;
        float: right;
        font-style: normal;
      }
    }

    .action-links {
      text-align: right;
    }
  }

  #spaces {

    .list-text {
      .thread {
        margin: 0;
        // tighter than the default
        padding: 15px 8px;
      }

      &.selected .thread {
        background: $light-gray;
        .logo-in-thread img {
          border-color: $bright-blue;
        }
      }
    }

    .list-thumbnail {
      .resource-visibility {
        color: $dark-gray;
      }
    }

    .list-text {
      .resource-visibility {
        color: $dark-gray;
      }
    }

  }

}