@import "compass/css3";
@import "definitions";

@import "app/spaces/_unified_space";

body.spaces.index {

  #content-middle {
    min-height: 450px;
  }

  #space-filter-wrapper {
    @include mconf-clearfix;
    margin-bottom: 10px;
    padding: 10px 5px;
    background: $light-gray;
    @include border-radius(5px);
    text-align: center;

    .view-types {
      float: right;
      margin-top: 1px;
      margin-right: 10px;
    }

    .btn-group {
      margin-left: 15px;
      float: left;

      .select2-container {
        margin: 0;
      }
      .select2-choice {
        @include border-radius(0 4px 4px 0);
      }

      #space-filter-text {
        border-left: 0;
        margin: 0;
        @include border-left-radius(0);
      }
    }
  }

  // the results for the filter by name are added to <body>, this is why
  // this selector is here and not nested
  .select2-results, .select2-container {
    i {
      float: right;
      @include font-size($font-small);
      margin: 6px 0 0 0;
    }
  }

  #space-description-wrapper {
    width: 230px;

    .content-block-middle {
      word-break: break-all;

      .space-logo-wrapper {
        margin: 5px 0;
        text-align: center;
        @include broken-img-parent;

        img {
          padding: 20px;
          background: $light-gray;
          width: 169px;
          height: 128px;
          margin-bottom: 5px;
        }
      }
    }

    .details {
      font-style: italic;
      color: #888;
      span { display: block; }
      .is-member {
        color: $green;
        float: right;
        font-style: normal;
      }
    }

    .action-links {
      text-align: right;
    }
  }

}