@import "compass/css3";
@import "definitions";

body.spaces.index {

  #content-middle {
    min-height: 450px;
  }

  #space-filter-wrapper {
    @include mconf-clearfix;
    margin-bottom: 20px;
    padding: 10px 5px;
    background: $light-gray;
    @include border-radius(5px);
    text-align: center;

    .action-button {
      float: right;
      margin-top: 1px;
      margin-right: 10px;
    }

    .btn-group {
      margin-left: 15px;
      float: left;

      #space-filter-text {
        border-left: 0;
        margin: 0;
        margin-bottom: 1px;
        @include border-left-radius(0);
      }
    }
  }

  #space-description-wrapper {
    width: 230px;

    .content-block-middle {
      .space-logo {
        text-align: center;
        img {
          padding: 20px;
          background: $light-gray;
        }
      }
    }

    .details {
      font-style: italic;
      color: #888;
      span { display: block; }
      .is_member {
        color: #509F00;
        float: right;
        font-style: normal;
      }
    }

    .action-links {
      text-align: right;
    }
  }

  #public-spaces, #private-spaces {

    .space-item {
      float: left;
      padding: 2px;
      margin: 5px;
      border: 1px solid #ccc;
      height: 64px;
      @include border-radius(2px);

      &.selected {
        border: 1px solid $second-color;
        background: lighten($second-color, 35);
        @include box-shadow(0 0 15px $second-color);
      }
    }

  }

}