@import "compass/css3";
@import "definitions";

@import "app/shared/recording_list";

body.spaces.meetings {

  .recordedonly-buttons{
    float: right;
    margin-bottom: 10px;
  }

  #space-meetings-fetch {
    float: right;
    @include font-size($m-font-medium);

    #space-meetings-error {
      padding: 3px 6px;
      @include border-radius($m-border-radius-base);
      background: $m-red;
      color: white;
      .icon { color: white; }
    }

    #space-meetings-success {
      padding: 3px 6px;
      @include border-radius($m-border-radius-base);
      background: $m-green;
      color: white;
      .icon { color: white; }
    }

    #space-meetings-loading {
      padding: 3px 6px;
      @include border-radius($m-border-radius-base);
      background: $m-light-gray;
      color: $m-font-color;
    }

    // all divs for the status start hidden
    > * {
      display: none;
    }

    .icon {
      margin-top: 2px;
      float: none;
    }
  }

}
