@import "compass/css3";
@import "definitions";

@import "app/shared/recording_list";

body.spaces.meetings {

  .recordedonly_buttons{
    text-align: right;
  }

  #space-recordings-fetch {
    float: right;
    @include font-size($m-font-medium);

    #space-recordings-error {
      padding: 3px 6px;
      @include border-radius($m-border-radius-base);
      background: $m-red;
      color: white;
      .icon-awesome { color: white; }
    }

    #space-recordings-success {
      padding: 3px 6px;
      @include border-radius($m-border-radius-base);
      background: $m-green;
      color: white;
      .icon-awesome { color: white; }
    }

    #space-recordings-loading {
      padding: 3px 6px;
      @include border-radius($m-border-radius-base);
      background: $m-light-gray;
      color: $m-font-color;
    }

    // all divs for the status start hidden
    > * {
      display: none;
    }

    .icon-awesome {
      margin-top: 2px;
      float: none;
    }
  }

}
