@import "definitions";
@import "compass/css3";

body.spaces.new, body.spaces.create {

  #space-new {
    width: 98%;

    input[type=text], textarea {
      width: 98%;
    }

    textarea {
      resize: vertical;
      max-height: none;
      height: 150px;
    }
  }

  .content-block-wrapper {

    .content-block-middle {
      .space-logo {
        text-align: center;
        overflow: hidden; // for when the image is not found
        width: 42px;
        height: 32px;
        float: right;
        margin: 0 0 5px 5px;
        border: 1px solid #ddd;
        padding: 2px;
        @include border-radius(4px);

        img {
          background: $light-gray;
        }
      }
    }

    .visibility {
      @include space-visibility; // in _definitions
    }

  }
}
