@import "definitions";
@import "compass/css3";

body.spaces.new, body.spaces.create {


  #space-new {
    margin: 40px auto;
    width: 50%;

    form {
      // every field is required, we don't need to show it
      abbr { display: none; }

      .form-actions {
        border: none;
      }

      .form-group.boolean {
        float: right;
        margin-right: 5px;
      }
    }
  }
}
