@import "definitions";
@import "compass/css3";

body.spaces.new, body.spaces.create {

  // slightly wider sidebar
  @include set-sidebar-width($sidebar-width + 100px);

  #space-new {
    width: 98%;

    input[type=text], textarea {
      width: 98%;
    }

    textarea {
      resize: vertical;
      max-height: none;
      height: 150px;
    }
  }

  #sidebar .content-block-wrapper {

    .content-block-header {
      .space-logo {
        text-align: center;
        overflow: hidden; // for when the image is not found
        width: 42px;
        height: 32px;
        float: left;
        margin: 0 5px 5px 0;
        border: 1px solid #ddd;
        padding: 2px;
        @include border-radius(4px);

        img {
          background: $light-gray;
        }
      }

      h4 {
        float: none;
        margin: 0;
      }
    }

    .resource-visibility {
      margin-top: 2px;
      color: $dark-gray;

      .icon-awesome {
        float: none;
      }
    }

  }
}
