@import "compass/css3";
@import "definitions";

/* @import "app/spaces/sidebar"; */
@import "app/mweb_events-events/_unified_event";

@import "app/spaces/title";
@import "app/shared/webconference_join";

body.spaces.show {

  // date of comments, news, posts, etc.
  // TODO: maybe move to _base
  .updated-at {
    font-style: italic;
    margin-left: 10px;
    color: #777;
  }

  #latest-posts {
    .post-wrapper {
      clear: both;
      margin-bottom: 15px;
      margin-top: 10px;

      .post-title {
        font-weight: bold;
      }
    }
  }

  #latest-users {
    .user-wrapper {
      clear: both;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }

  #latest-news {
    .news-title {
      margin-bottom: 5px;
    }
    .updated-at {
      @include font-size($m-font-normal);
      font-weight: normal;
    }
  }

  #events-current {
    margin-bottom: 15px;
  }

}
