@import "compass/css3";
@import "definitions";

@import "app/events/_unified_event";

@import "app/spaces/title";
@import "app/shared/webconference_join";

body.spaces.show {

  // date of comments, posts, etc.
  // TODO: maybe move to _base
  .updated-at {
    font-style: italic;
    margin-left: 10px;
    color: #777;
  }

  #latest-posts {
    .post-wrapper {
      clear: both;
      margin-bottom: 15px;
      margin-top: 10px;

      .post-title {
        font-weight: bold;
      }
    }
  }

  #latest-users {
    .user-information {
      clear: both;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }

  #events-current {
    margin-bottom: 15px;
  }

}
