@import "compass/css3";
@import "definitions";

@import "app/spaces/sidebar";

body.spaces.show {

  // date of comments, news, posts, etc.
  // TODO: maybe move to _base
  .updated-at {
    font-style: italic;
    margin-left: 10px;
    color: #777;
  }

  #latest-posts {
    .post-wrapper {
      clear: both;
      margin-bottom: 10px;
      margin-top: 5px;

      .post-title {
        font-weight: bold;
      }
    }
  }

  #latest-news {
    .news-title {
      margin-bottom: 5px;
    }
    .updated-at {
      font-size: $font-normal;
      font-weight: normal;
    }
  }

  #current-events {
    background: $alert-bg;
    padding: 15px;
    border: 1px solid darken($alert-bg, 15);
    @include border-radius(4px);
    @include box-shadow(2px 3px 3px rgba(0, 0, 0, 0.1));
    margin-right: 3px;

    .current-event {
      margin-top: 10px;
      @include mconf-clearfix;
      clear: both;

      .event-title {
        float: left;
        font-size: $font-medium;
        font-weight: bold;
        img { margin-right: 5px; }
      }

      .event-date {
        float: left;
        margin: 2px 0 0 10px;
        color: #777;
        font-style: italic;
      }
    }
  }

}
