@import "definitions";
@import "compass/css3";

body.spaces.user_permissions {

  #user-permission {
    clear: both;
  }

  select {
    width: auto;
  }

  form {
    .input {
      margin: 0;
      padding: 0;
      float: left;
    }

    .btn {
      margin: 4px 0 0 5px;
    }
  }

  .thread .thread-text {
    float: right;
  }

}
