@import "definitions";
@import "compass/css3";

@import "app/spaces/admin_tabs";

body.spaces.user_permissions {

  #user-permission {
    clear: both;
  }

  select {
    width: auto;
  }

  form {
    .input {
      margin: 0;
      padding: 0;
      float: left;
    }

    .btn {
      margin-left: 5px;
    }
  }

  .thread .thread-text {
    float: right;
  }

  .user-remove {
    float: right;
    margin: 2px 0 0 15px;

    .icon-awesome {
      margin: 0;
    }
  }
}
