@import "definitions";
@import "compass/css3";

@import "app/spaces/admin_tabs";

body.spaces.webconference_options {

  #webconference-options {
    clear: both;
  }

  #space_name, #space_description {
    width: 98%;
  }

}
