<tr id="resource_extra">
<td>
<%= text_field("resource", "name" + @index.to_s) %>
</td>
<td>
<%= text_field("resource", "nickname" + @index.to_s) %>
</td>
<td>
<%= button_to_function "Add", "add_resource("+@index.to_s+")" %>
</td>
</tr>