- page_title t('.title')
- home_navbar_menu_at(:activity)

= content_for :navbar_menu do
  = render "my/navbar_menu", user_spaces: @user_spaces

= render "users/recent_activity", :content => @all_contents, :paginate => true
