= page_title t('.title')

#approval-pending-wrapper

  %h1= t('.title')

  #profile-logo

  %h3.description
    = t('.description')

  - has_open_section = mod_enabled?('spaces') || mod_enabled?('events')
  - if has_open_section
    %span= t('.interesting_links')
