- page ||= 1

#webconf-room-invite-header
  .room-welcome
    = t(".welcome")
    .room-name= room.name

    .room-status{ "data-url": running_bigbluebutton_room_url(@room, format: "json") }
      .status= t(".not_running")

  .identify
    = t('.identify')
