- page ||= 1

#webconf-room-invite-header
  .room-welcome
    .room-name= room.name

    .room-status{ "data-url": running_bigbluebutton_room_url(@room, format: "json") }

  - if current_user.try(:username) == params[:id] || current_user.try(:superuser?)
    .description
      = t('.create', name: (room.name).upcase)

  - else
    .description
      = t('.identify', name: (room.name).upcase)
      .status-text
        = t('.webconference_not_running')
