= content_for :sidebar do
  = render 'custom_bigbluebutton_rooms/room_links', :room => @room

%h3= t('.editing_room', :room => @room.name)
= render 'custom_bigbluebutton_rooms/form', :editing => true, :room => @room
