<div id="identification">
  <div class="title">
    <span><%= t('rooms.identification.title', :room => @room.name).html_safe %></span>
  </div>

  <div id="body">
    <div id="left">
      <div class="title"><%= t('rooms.identification.member') %></div>
    </div>
    <div id="right">
      <div class="title"><%= t('rooms.identification.not_member') %></div>
    </div>
  </div>
</div>
