- bbb_server_admin_menu_at :recordings
= render 'shared/webconf_index_links'

%h3= t('.list_of_recordings', :server => @server.name)
= render 'custom_bigbluebutton_recordings/recordings', :recordings => @recordings
