- bbb_server_admin_menu_at :recording_list
= render 'admin_tabs'

%h3= t('.list_of_recordings', :server => @server.name)
= render 'custom_bigbluebutton_recordings/recordings', :recordings => @recordings
