@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links";
@import "fancy-buttons";
@import "definitions";


//
// General tags
//

body {
  background-color: $site-bg-color;
}

p {
  margin-bottom: 0.4em;
}


//
// Forms, buttons, inputs
//

input[type=password], input[type=text], input[type=email], textarea, ul.token-input-list-facebook {
  border: 1px solid #ccc;
  font-size: $font-normal;
  padding: 3px;
  @include border-radius(3px);
}

input[type=checkbox] {
  margin: 5px 2px 0 2px;
}

input, textarea {
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}

input:focus {
  border: 1px solid $orange; //#275b8a;
  border-color: $light-blue;
  outline: thin dotted 9;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px lighten($light-blue, 10));
}

$fb-allow-disabled: true;
$fb-gradient-style: matte;
button, input[type=submit], input[type=button], .button {
  @include fancy-button(#ddd);
  @include fancy-button-size(12px, 4px, 1px);
  @include fancy-button-padding(4px, 8px, 1px);
  border: 0;
  font-weight: normal;
  cursor: pointer;

  &.bordered { border: 1px solid #ddd; }
  &:hover { text-decoration: none; }

  // colors
  &.red {
    @include fancy-button-colors($red);
    &.bordered { border-color: $red; }
  }
  &.blue {
    @include fancy-button-colors($blue);
    &.bordered { border-color: $blue; }
  }
  &.green {
    @include fancy-button-colors($green);
    &.bordered { border-color: $green; }
  }
  &.orange {
    @include fancy-button-colors($orange);
    &.bordered { border-color: $orange; }
  }
  &.yellow {
    @include fancy-button-colors($yellow);
    &.bordered { border-color: $yellow; }
  }
  &.dark-gray {
    @include fancy-button-colors(#666);
    &.bordered { border-color: #666; }
  }

  // sizes
  &.big {
    @include fancy-button-size($font-big, 5px, 1px);
    @include fancy-button-padding(8px, 15px, 1px);
  }
  &.small {
    @include fancy-button-size($font-small, 3px, 1px);
    @include fancy-button-padding(3px, 8px, 1px);
  }
}

.simple_form {

  .input {
    margin-bottom: 5px;

    label { display: block; }
    abbr { border: 0; }
  }

  .field_with_errors {
    input {
      border-color: $red;
    }

    .error {
      margin-left: 5px;
      color: $red;
      font-style: italic;
    }
  }

}


//
// Components used site-wide, in any layout
//

.help-icon {
  float: right;
  cursor: pointer;
  background: url(asset_path("icons/help-16x16.png", image)) no-repeat 0 0;
  width: 16px;
  height: 16px;
  &:hover { background-position: -16px 0; }
}

.info-icon {
  float: right;
  cursor: pointer;
  background: url(asset_path("icons/information-16x16.png", image)) no-repeat 0 0;
  width: 16px;
  height: 16px;
  &:hover { background-position: -16px 0; }
}

.feed-icon {
  float: left;
  cursor: pointer;
  background: url(asset_path("icons/feed.png", image)) no-repeat bottom;
  width: 16px;
  height: 16px;
}

.webconf-join-mobile-link {
  span {
    padding-left: 20px;
    background: url(asset_path('icons/mobile-white-16x16.png', image)) bottom left no-repeat;
  }
}

// user logos in a thread with several snippets
// e.g. list of posts, list of recent users, etc.
.logo-in-thread {
  @include logo-in-thread; // in _definitions
}

.clearfix {
  @include mconf_clearfix; // in _definitions
}

.icon {
  width: 16px;
  height: 16px;
}

//
// Page containers, redefined in the layouts
// Here we define the basic styles used in all layouts
//

#site {
  background-color: $site-bg-color;
  margin: 0px auto;
  width: 100%;
}

#navbar-wrapper {
  margin: 0;
  padding: 0;
  background-color: $navbar-bg-color;
  @include background(linear-gradient(top, lighten($navbar-bg-color, 10), $navbar-bg-color));
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1));
}

#navbar {
  width: $contents-width;
  margin: 0 auto;
  @include mconf_clearfix;
}

#content-wrapper {
  padding-bottom: 20px;
}

#upper-footer-wrapper {
  border-top: 1px solid darken($upper-footer-bg-color, 7);
  border-bottom: 1px solid darken($upper-footer-bg-color, 7);
  //@include background(linear-gradient(top, $upper-footer-bg-color, $upper-footer-bg-color 30%, $site-bg-color));
  background: $upper-footer-bg-color;
  color: #444;
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  @include box-shadow(inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.1));
  margin-bottom: 3px;
}

#upper-footer {
  @include mconf_clearfix;
  width: $contents-width;
  margin: 0 auto;
  padding: 0;
  color: #666;
  a { @include link-colors(desaturate($site-link, 20), $site-link-hover, $site-link-active); text-decoration: none;}

  h3 {
    font-size: 12px;
    color: #888;
    margin-bottom: 7px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid darken($upper-footer-bg-color, 7);
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: block;
      position: relative;
      margin-bottom: 5px;
    }
  }

  .link-group {
    float: left;
    margin-right: 35px;
  }

  .link-group2 {
    @extend .link-group;
    float: right;
    margin-right: 0;
    margin-left: 20px;
    text-align: right;
    h3 { text-align: right; }
  }

  .footer-sponsors {
    width: 200px;
    li { margin-bottom: 15px; }
    img {
      float: right;
      margin-left: 10px;
    }
  }

  .languages {
    img.help-translate-icon { float: right; }
    ul { float: left; margin-right: 20px; }
  }

  .copyright {
    margin-top: 10px;
    padding-top: 10px;
    text-align: left;
    float: left;
  }

}

#footer-logo {
  float: left;
  color: #888;

  a { @include link-colors(#bbb, #bbb, #bbb); }

  .title {
    font-weight: bold;
    font-size: 28px;
  }

  span { display: block; }
}

#lower-footer-wrapper {
  padding: 10px 0;
  background: $lower-footer-bg-color;
}

#lower-footer {
  @include mconf_clearfix;
  width: $contents-width;
  margin: 0 auto;
  color: #888;
  a { @include link-colors(#777, $site-link-hover, $site-link-active); }

  .current-version {
    float: left;
    font-size: $font-small;
  }

  .version-info {
    float: right;
    font-size: $font-small;
  }
}



/*
 * .ribbon {
 *   text-align: center;
 *   position: relative;
 *   color: #fff;
 *   margin: 0; // -10px 10px -10px;
 *   padding: 10px 0;
 *   text-shadow: 0 1px rgba(0,0,0,.8);
 *   background: #5c5c5c;
 *   background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
 *   background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
 *   background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
 *   background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
 *   background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
 *   -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
 *   -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
 *   box-shadow: 0 2px 0 rgba(0,0,0,.3);
 *
 *   &:before, &:after {
 *     content: '';
 *     position: absolute;
 *     border-style: solid;
 *     border-color: transparent;
 *     bottom: -10px;
 *   }
 *
 *   &:before {
 *     border-width: 0 10px 10px 0;
 *     border-right-color: #222;
 *     left: 0;
 *   }
 *
 *   &:after {
 *     border-width: 0 0 10px 10px;
 *     border-left-color: #222;
 *     right: 0;
 *   }
 * }
 */
