@import "../partials/definitions";

.ui-tooltip-mconf {
  .ui-tooltip-content {
    font-size: $font-normal;
    text-align: center;
    line-height: 1.3em;
  }
}

.ui-tooltip-mconf-label {
  .ui-tooltip-content {
    font-size: $font-medium;
    text-align: center;
  }
}
