@import "compass/typography/links/link-colors";
@import "definitions";

body {
  font-size: $font-normal;
  color: $font-color;
  background-color: $site-bg-color;
  font-family: "Lucida Grande", Helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

@mixin headers_base {
  font-weight: bold;
  color: $h-font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  a { color: $h-font-color; }
}
h1 {
  @include headers_base;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-size: 26px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}
h2 {
  @include headers_base;
  font-size: $font-big; //2em;
}
h3 {
  @include headers_base;
  font-size: 1.4em;
  line-height: 1.3846;
}
h5 {
  @include headers_base;
  font-size: 0.9166em;
  line-height: 1.6363;
  margin-bottom: 0.75em;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

strong {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}
dfn {
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0 1.5em;
}
ul, ol {
  margin: 0 1.5em 1.5em 1.5em;
}

a {
  @include link-colors($site-link, $site-link-hover, $site-link-active);
  text-decoration:none;
}
