@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

.thread.unified-event {
  .sub-title {
    color: $dark-gray;
  }

  .logo-in-thread {
    width: 80px;
  }

  .thread-content {
    margin-left: 85px;
  }
}
