@import "compass/css3";
@import "definitions";

body.mweb_events-events.show {

  #page-header {
    .resource-visibility {
      // the private icon is smaller, so we add a margin for it to look bigger
      &.private .icon-awesome { margin-left: 3px; }
    }
  }

  .event-container {
    padding: 0;
    margin: 0;
  }

  .well {
    @include box-shadow(none);
    padding: 12px;
  }

  .event-registration {
    @include mconf-clearfix;
    background: $site-bg-color;
    border: none;
    @include border-radius(0);
    margin-bottom: 0;

    h2 {
      margin-top: 0;
      text-align: center;
    }

    .event-register {
      text-align: center;
    }
  }

  .event-description {
    @include mconf-clearfix;
    background: $site-bg-color;
    border: none;
    @include border-radius(0);
    padding-top: 0;
  }

}
