@import "compass/css3";
@import "definitions";

body.mweb_events-events.show {

  .event-container {
    padding: 0;
    margin: 0;
  }

  .well {
    @include box-shadow(none);
    padding: 12px;
  }

  .event-registration {
    @include mconf-clearfix;
    background: $site-bg-color;
    border: none;
    @include border-radius(0);
    margin-bottom: 0;

    h2 {
      float: left;
      margin: 0;
    }

    .event-register {
      float: right;
    }
  }

  .event-description {
    @include mconf-clearfix;
    background: $site-bg-color;
    border: none;
    @include border-radius(0);
    padding-top: 0;
  }

}
