- exists = Site.table_exists?
- not_blank = current_site.respond_to?(:analytics_code) and !current_site.analytics_code.blank?
- if exists and not_blank
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{current_site.analytics_code}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
