- if content_for? :"page-header"
  #page-header
    = yield :"page-header"
- else
  - if space && space.id != nil
    #page-header
      .current-page-logo
        = link_logo(space, :size => "h64", :title => space.name).html_safe
      .current-page-title
        - if space.name.size > 20
          .small-title
            = link_to(sanitize(first_words(space.name, 30)), space_path(space))
        - else
          = link_to(sanitize(space.name), space_path(space))

