#footer-wrapper.simple-footer
  #footer
    .link-group
      #footer-logo.link-group
        = link_to current_site.name, "/", :class => 'title'
        %span= t('.copyright', :site => current_site.name)
    .link-group.languages
      %h3= t('.translate.change')
      %ul
        - available_locales.each do |locale|
          %li
            - flag = image_tag("flags/" + locale.to_s + ".png", :title => locale.to_s)
            - text = t('locales.' + locale.to_s)
            - link = link_to(text, main_app.session_locale_path(:l => locale.to_s), :method => :post)
            = (flag + " " + link).html_safe
