
<div id="footer">
  <ul>
  	<li id="trade_mark"><%=image_tag("bola_global_peque.png",:class=>"icon")%> global-project.eu</li>
	<li>-</li>
	<li>All rights reserved</li>
	<li>-</li>
	<li><%=link_to("Help")%></li>
	<li>-</li>
	<li><%=link_to("Support")%></li>
	<li>-</li>
	<li><%=link_to("Admin")%></li>	
  </ul>
</div>
