
<div id="footer">
  <ul>
  	<li id="trade_mark"><%=image_tag("bola_global_peque.png",:class=>"icon")%> Virtual Conference Centre</li>
	<li>-</li>
	<li>All rights reserved</li>
	<li>-</li>
	<li><%=link_to("Help", root_path)%></li>
	<li>-</li>
	<li><%=link_to("Support", root_path)%></li>
	<li>-</li>
	<li><%=link_to("Admin", root_path)%></li>	
  </ul>
</div>
