<div class="div_busqueda">
          <div id="subtexto_busqueda">
            <%=link_to t("find.browse"), spaces_path,:class => "show_all_link"%> 
            |
            <a href="help">Help</a>
        </div>      
       <%= yield :search%>
       
</div>
<br class="clearfloat" />
  
