<%= render :partial => 'homes/special_message'%> <!--Cuando quite este mensaje descomentar de frontpage.html el espacio_busqueda-->

<div class="div_busqueda">     
       <%= yield :search%>
</div>

  
<!--<%=link_to ("<span>" + t("find.browse") + "</span>"), spaces_path,:class => "show_all_link"%>-->