<div class="banner_busqueda">
    <div id="espacio_busqueda"></div> 
    <div class="div_busqueda">
              <div id="subtexto_busqueda">
                <%=link_to t("find.browse"), spaces_path,:class => "show_all_link"%> 
                |
                <a href="#">Help</a>
            </div>      
           
           <%= render :partial => 'search/form_frontpage' %>
    </div>
    <br class="clearfloat" />
  </div>
