<div id="global-wrapper">
  <div id="global">
    <span id="global-logo">
      <span class="title"><%= t('mconf') %></span>
      <span class="small"><%= t('beta') %></span>
    </span>
  </div>
</div>
