<div id="global-wrapper">
  <div id="global">
    <span id="global-logo"><%= image_tag "icons/world.png" %><a href="/">global-project</a></span>
    <span id="feedback"><a href="#">Send us feedback!</a></span>
  </div>
</div>
