

 <div id="logo">
	<% if space %>
	    <%= link_logo(space, :size => 64) %>
	<%else%>
		<%= image_tag("logo_small2.png",:size=>"255x68") %>
	<% end %>
</div>

<div id="search">
  <%= yield :search %>
</div>

