<div id="header_logo2">
  <a href="http://www.rnp.br">
    <%= image_tag "logos/rnp_header.jpg", :alt => t('rnp'), :title => t('rnp') %>
  </a>
</div>
<div id="header_logo1">
  <a href="http://www.inf.ufrgs.br/prav">
    <%= image_tag "logos/prav_header.png", :alt => t('prav'), :title => t('prav') %>
  </a>
</div>
