<div id="logo">
  <% if @space %>
    <%= link_icon(@space, :size => 48) %>
  <% else %>
    <h1>Logo</h1>
  <% end %>
	<ul>
		<li id="name_app">global-project</li>
		<% if logged_in? %>
		<li id="user_account"><%= current_user.login %></li>
		<% end %>
	</ul>
</div>

<div id="prefs">
	<ul>
	  	<% if logged_in? %>
		    <li>Inbox(3)</li>
		    <li>Profile</li>
		    <li>Preferences</li>
		    <li><%= link_to 'Logout', logout_path %></li>	
		<% else %>
			<li><%= link_to 'Log in', login_path %></li>
		<% end %>
	</ul>
</div>

