<% if space %>
 	  <div id="logo">
	    <%= link_logo(space, :size => "h64") %>
	  </div>
<%else%>
	<div id="vcc-logo">
		<%= link_to image_tag("logo_small2.png",:size=>"255x68"), root_path %>
	</div>
<% end %>


<div id="search">
  <%= yield :search %>
</div>

