<%content_for :javascript do%>
        
        $("a.new_space_link").fancybox({
          'hideOnContentClick' : false
        }); 
<%end%>

<span><%= link_to "Create space", new_space_path, :class => "new_space_link" %></a></span>

<br/><br/>
<h5>All Spaces</h5>
<ul>
  <% Space.all(:order => :name).select{|s| s.authorizes?([:read, :content], :to => current_user)}.each do |space| %>
  	<% if @space and @space.name == space.name %>
   		<li><%= link_to space.name, space_path(space), :class => "selected" %></li>
  	<% else %>
  		<li><%= link_to space.name, space_path(space) %></li>
  	<% end %>	
  <% end %>
</ul>
