<span><a href="#">Create space</a></span>

<br/><br/>

<ul>
  <% Space.all.select{|s| s.authorizes?([:read, :content], :to => current_user)}.each do |space| %>
  	<% if @space and @space.name == space.name %>
   		<li><%= link_to space.name, space_path(space), :class => "selected" %></li>
  	<% else %>
  		<li><%= link_to space.name, space_path(space) %></li>
  	<% end %>	
  <% end %>
</ul>
