<div id="join"><button><%= t('space.join') %></button></div>

<h5><%= t('about_sxsw') %></h5>
<p>
  <img src="test_small.jpg" alt="thumbnail" align="left"/>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ligula.
  Donec condimentum magna sit amet nunc. Pellentesque lacinia.
  Donec neque nisl, malesuada ut, aliquam a, suscipit a, justo.
  Nullam iaculis eros a sapien. Duis ultricies dui sed nibh. Phasellus consectetur.
  Morbi erat. Mauris est. Sed diam. Nulla facilisi. Nam sed mi nec neque ultrices pharetra. 
  Phasellus a odio. In laoreet mollis felis. Nulla porttitor.
</p>