<div id="sponsor">
  <ul>
	<li id="trade_mark"><%=image_tag("UE.gif",:class=>"icon")%></li>
	<li id="trade_mark"><a href="http://cordis.europa.eu/fp7/ict/e-infrastructure/"><%=image_tag("infrastructure.gif",:class=>"icon")%></a></li>	
	<li id="footer_right"><%= t('eu_commision') %><br /> <%= t('society_media') %></li>
  </ul>
</div>



