<div id="sponsor">
  <ul>
    <li>
      <div class="logo_and_description">
        <a href="http://www.inf.ufrgs.br/prav"><%= image_tag("prav_logo_small.png") %>
        <span><%= t('sponsors.prav').html_safe %></span></a>
      </div>
    </li>
    <li>
      <div class="logo_and_description">
        <a href="http://www.rnp.br"><%= image_tag("rnp_logo_small.jpg") %>
        <span><%= t('sponsors.rnp').html_safe %></span></a>
      </div>
    </li>
  </ul>
</div>



