<html>
	
<head>
	
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <%= javascript_include_tag("prototype", "effects") %>
  <%= javascript_include_tag("sir") %>
  <%= javascript_include_tag :defaults %>
  <title><%= 'Isabel Server'.t %></title>
  <%= stylesheet_link_tag 'estilosir' %>  
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="-1">
  
</head>

<body>
	<div id="contenedor">
	<!-- Div con el logo-->
	<div id="logo">
		 <!--<%= @page_title || "Isabel Server" %>-->
	</div>
	<!--
	<div id="idioma">
		<%= link_to (image_tag("spain.gif")), {:controller => 'events', :action => 'index', :locale => 'es', :id => params[:id]} %>
		<%= link_to (image_tag("britain.gif")), {:controller => 'events', :action => 'index', :locale => 'en', :id => params[:id]} %>
	</div>
	-->
	<div id="menu_pcipal">
		
	</div>
	
	<div id="menu_secund">
		<%= render :partial => 'home/buttons', :layout => false%>
	</div>
	 <div id="login">
	 	<%= render :partial => 'home/login', :layout => false%>
	 </div>
   
   <div id="main" >

   		
		<div class="superior"><div></div></div>
		<div id="contenido">
        	 <% if flash[:notice] -%>
        	<br><div id="notice" style="color: green"><%= flash[:notice] %></div>
        	<% end -%>
			<% if flash[:error] -%>
        <br><div id="notice" style="color: green"><%= flash[:error] %></div>
        <% end -%>
			<% if flash[:warning] -%>
         	<br><div id="notice" style="color: red"><%= flash[:warning] %></div>
        	<% end -%>
        	<%= @content_for_layout %> 
		
		</div>
		
		<div class="inferior"><div></div></div>
			

   </div>  
   
   
   
   
   
   
   </div> 
</body>


<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">

</html>

